@charset "UTF-8";
body > * {
  font-family: "Palatino Linotype", "Noto Sans Tc";
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: 0 0 5px #00000081;
  border-radius: 15px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #1D1E4C;
  border-radius: 15px;
  width: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #EF4325;
  border-radius: 15px;
  width: 10px;
}

.comShape {
  background-color: #fff;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
}

.comInput {
  border: 1px solid #07082E;
}

.comBtn {
  cursor: pointer;
  outline: none;
  color: #07082E;
  height: 35px;
  border: none !important;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  font-size: 15px;
  background-color: #FFD241;
  padding: 0px 30px;
  line-height: 35px;
}

.comBtn2 {
  cursor: pointer;
  outline: none;
  color: #FFFFFF;
  height: 35px;
  border: none !important;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  font-size: 15px;
  background-color: #07082E;
  padding: 0px 30px;
  line-height: 35px;
}

body {
  margin: 0;
  padding: 0;
}

body header {
  box-sizing: border-box;
  height: 50px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0px 30px;
  width: 100%;
  top: 0px;
  z-index: 5;
}

body header div#SlideNav {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 2000px;
  z-index: 2;
  background-color: rgba(255, 210, 65, 0.7);
}

body header div#All_BgBtnList {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #56daae;
  right: 2000px;
  transition: all .6s;
}

body header div#All_BgBtnList ul {
  list-style-type: none;
  padding: 0px;
  padding-top: 50px;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0;
}

body header div#All_BgBtnList ul li {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 100%;
  background-color: blanchedalmond;
}

body header div#All_BgBtnList ul li:first-child {
  background-image: url("./img/maxResDefault.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body header div#All_BgBtnList ul li:nth-child(2) {
  background-image: url("./img/PeopleFriendsPickingUpTrash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body header div#All_BgBtnList ul li:nth-child(3) {
  background-image: url("./img/plastic234205_128.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
}

body header div#All_BgBtnList ul li:last-child {
  background-image: url("./img/seagull5320726128.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body header div#All_BgBtnList ul li a {
  font-size: 60px;
  color: white;
  text-decoration: none;
  padding: 82px 0px;
}

body header div#All_BgBtnList ul li a:hover {
  color: #FFD241;
}

body header div#All_BgBtnList ul li a:hover span {
  transition: all .3s;
}

body header div#All_BgBtnList ul li a:hover span:last-child {
  border-bottom: 8px solid #FFD241;
}

body header div#All_BgBtnList {
  height: 100vh;
  width: 100vw;
  border: 10px solid ridge;
}

body header nav {
  top: 0;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

body header nav div#All_BgBtn {
  width: 35px;
  height: 50px;
  cursor: pointer;
  z-index: 3;
}

body header nav div#All_BgBtn div {
  width: 30px;
  height: 2px;
  border-radius: 5px;
  background-color: white;
  position: absolute;
}

body header nav div#All_BgBtn div:first-child {
  top: 17px;
}

body header nav div#All_BgBtn div:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

body header nav div#All_BgBtn div:last-child {
  bottom: 16px;
}

body header nav div#All_BgBtn div:nth-child(n) {
  transition: all .4s;
}

body header nav div.BgBtnClickedEffect div:first-child {
  transform: rotate(45deg) translateY(10px);
}

body header nav div.BgBtnClickedEffect div:nth-child(2) {
  transform: translateX(-20px);
  opacity: 0;
}

body header nav div.BgBtnClickedEffect div:last-child {
  transform: rotate(315deg) translateY(-10px);
}

body header nav div#All_Logo {
  height: 50px;
}

body header nav div#All_Logo img {
  height: 50px;
}

body header nav div#All_Logo svg {
  height: 50px;
}

body header nav div#All_Logo svg .st0 {
  transition: all .5s;
}

body header nav div#All_RList {
  display: flex;
  align-items: center;
}

body header nav div#All_RList ul {
  list-style-type: none;
  display: inline-block;
  padding: 0px;
  margin: 0px;
}

body header nav div#All_RList ul li {
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

body header nav div#All_RList ul li:first-child {
  padding-top: 0px;
}

body header nav div#All_RList ul li:last-child {
  padding-right: 0px;
}

body header nav div#All_RList ul li a {
  text-decoration: none;
  cursor: pointer;
}

body header nav div#All_RList ul li a i {
  color: white;
  font-size: 16px;
  line-height: 15px;
}

body header nav div#All_RList ul li img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

body header nav div#All_RList ul li span {
  color: white;
}

body div#Page1Test {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)), url("../img/seagull5320726128.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 50px);
  padding-top: 50px;
}

body div#Page1Test h1 {
  margin-top: 0px;
}

body div#Page2Test {
  height: 100vh;
  background-color: chartreuse;
}

ul#All_BgBtnListIt li {
  position: relative;
  z-index: 2;
}

ul#All_BgBtnListIt li > span {
  color: #FFFFFF;
  writing-mode: vertical-lr;
  font-size: 72px;
  position: absolute;
  left: 13%;
}

ul#All_BgBtnListIt li a {
  font-size: 60px;
}

ul#All_BgBtnListIt li a span:first-child {
  writing-mode: vertical-lr;
  position: absolute;
  left: 15%;
  top: 50%;
  transform: translateY(-50%);
}

ul#All_BgBtnListIt li a span:last-child {
  position: absolute;
  left: 39%;
  top: 50%;
  transform: translateY(-50%);
  line-height: 100%;
}

ul#All_BgBtnListIt li:hover {
  background-image: url("../img/maxResDefault.jpg"), rgba(0, 210, 140, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
}

body.dialogOpen {
  overflow: hidden;
}

div#wholeScreenOverlay, div.wholeScreenOverlay {
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  transition: all .5s;
  z-index: 6;
}

div#wholeScreenOverlay div.LogModalFakeSIze, div.wholeScreenOverlay div.LogModalFakeSIze {
  font-size: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc((1/.6)*290px + 40px);
  background-color: #FFD241;
  padding-right: 30px;
}

div#wholeScreenOverlay div.yellowLeftBar h3 {
  margin: 0px;
  padding: 0px;
}

div#wholeScreenOverlay div.yellowLeftBar p {
  margin-bottom: 0px;
}

div.blackMinorPart {
  width: calc(40% -3 0px);
}

div.blackMinorPart h3 {
  font-size: 28px;
  margin-top: 0px;
}

div.blackMinorPart p {
  font-size: 15px;
}

div.blackMinorPart h4 {
  font-size: 18px;
}

.yellowBotBar {
  border-bottom: 8px solid #FFD241;
}

div.LogCloseBtn {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid black;
  position: absolute;
  right: -30px;
  top: -30px;
  cursor: pointer;
}

div.LogCloseBtn div.LogCloseBtnLine1 {
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 25px;
  height: 3px;
}

div.LogCloseBtn div.LogCloseBtnLine2 {
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(315deg);
  width: 25px;
  height: 3px;
}

div.yellowSidePart {
  position: absolute;
  width: 30px;
  height: 100%;
  background-color: #FFD241;
  top: 0;
  right: 30px;
  z-index: -2;
}

div.blackMinorPart {
  color: white;
  background-color: black;
  width: calc(40% - 30px);
}

div.LogModalTrueSIze {
  font-size: 0px;
  background-color: #fff;
  display: flex;
  color: white;
  height: 100%;
}

@media all and (max-width: 660px) {
  div#wholeScreenOverlay div.LogModalFakeSIze {
    width: 60%;
    top: 51%;
    min-width: 290px;
  }
  div#wholeScreenOverlay div.LogModalTrueSIze {
    flex-direction: column;
    width: 100%;
  }
  div#wholeScreenOverlay div.LogModalTrueSIze div.yellowLeftBar p {
    display: none;
  }
  div#wholeScreenOverlay div.whiteMainPart {
    width: 100% !important;
  }
  div#wholeScreenOverlay div.whiteMainPart h2 {
    font-size: 22px;
    margin: 15px 0px;
  }
  div#wholeScreenOverlay div.whiteMainPart form div label {
    font-size: 15px;
  }
  div#wholeScreenOverlay div.blackMinorPart {
    width: 100%;
    padding-top: 10px;
  }
  div#wholeScreenOverlay h4#RegToLog {
    margin: 10px 0px 15px;
  }
}

@media all and (max-width: 410px) {
  div#wholeScreenOverlay div.LogModalFakeSIze {
    left: 44%;
    min-width: 269px;
  }
  div#wholeScreenOverlay div.whiteMainPart form input {
    padding: 5px 5px;
    width: 200px;
  }
  div#wholeScreenOverlay div.whiteMainPart form input#BirthYear {
    width: 200px !important;
  }
  div#wholeScreenOverlay div.whiteMainPart input#logCertificationNme {
    width: 106px;
    margin-right: 6px;
  }
}

div.blackMinorPart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;
}

div.blackMinorPart h3, div.blackMinorPart p, div.blackMinorPart h4 {
  display: inline-block;
}

.transformLogReg {
  display: inline-block;
  cursor: pointer;
  position: relative;
  z-index: 3;
  overflow: hidden;
  padding: 5px 0px;
}

.transformLogReg div {
  position: absolute;
  width: 100%;
  height: 10px;
  background-color: #FFD241;
  transition: all .5s;
  transform: scaleY(1);
}

.transformLogReg:hover div {
  transform: scaleY(9);
  z-index: -1;
  transform-origin: 0% 50%;
}

div.whiteMainPart {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 0px;
  width: 60%;
}

div.whiteMainPart form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.whiteMainPart form div {
  margin-bottom: 10px;
}

div.whiteMainPart form div label {
  display: block;
}

div.whiteMainPart form div input#logCertificationNme {
  margin-right: 28px;
}

div.whiteMainPart h2 {
  font-size: 28px;
}

div.whiteMainPart label {
  font-size: 18px;
}

label#IAgreeLabel, label.ModalRadioStyle {
  font-size: 13px !important;
  margin-bottom: 10px;
}

button.LogModalLowestBtn {
  border: none;
  outline: none;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  height: 30px;
  cursor: pointer;
  padding: 0px 25px;
  margin-bottom: 15px;
  background-color: #FFD241;
  color: "";
}

button#RegSendCertificationCode {
  border: none;
  outline: none;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  height: 30px;
  cursor: pointer;
  padding: 0px 25px;
  color: white;
  padding: 0 12px;
}

.logRegModalShow {
  display: block !important;
}

div#wholeScreenOverlay2 {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 6;
  z-index: 6;
}

div#wholeScreenOverlay2 div#LogOutCheckModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 320px;
  background-color: #fff;
  transition: all .5s;
}

div#wholeScreenOverlay2 div.LogOutCheckModalBlack {
  width: 100%;
  height: 30px;
}

div.LogOutCheckModalConfirmContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-left: 30px solid #181919;
}

div.LogOutCheckModalConfirmContent p {
  font-size: 22px;
  border-left: 8px solid #FFD241;
}

div.LogOutCheckModalConfirmContent button#LogConfirmY {
  border: none;
  outline: none;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  height: 30px;
  cursor: pointer;
  padding: 0px 25px;
  margin-right: 30px;
  color: #fff;
  padding: 0px 25px;
}

div.LogOutCheckModalConfirmContent button#LogConfirmN {
  border: none;
  outline: none;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  height: 30px;
  cursor: pointer;
  padding: 0px 25px;
  background-color: #FFD241;
  padding: 0px 25px;
}

div#wholeScreenOverlay3 {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 6;
  z-index: 6;
  transition: all .5s;
}

div#wholeScreenOverlay3 div#LogInModal {
  position: absolute;
  left: 47%;
  top: 50%;
  height: 530px;
  transform: translate(-50%, -50%);
  display: flex;
  width: calc((1/0.6)*290px + 35px);
}

div#wholeScreenOverlay3 div.blackMinorPart div.yellowLeftBar h3 {
  margin: 0px !important;
  padding: 0px  !important;
}

div#wholeScreenOverlay3 div.blackMinorPart div.yellowLeftBar p {
  margin: 15px 0px 0px;
}

button.LowestBtn {
  margin-bottom: 10px;
}

button#LogInModalLogInBtn {
  border: none;
  outline: none;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  height: 30px;
  cursor: pointer;
  padding: 0px 25px;
  background-color: #FFD241;
  margin-top: 10px;
}

p#ForgetPsw, p.ModalRedAlert {
  color: #EF4325;
  font-size: 15px;
  margin-bottom: 40px;
}

div.whiteMainPart2 {
  box-sizing: border-box;
}

div.yellowDecoBar {
  position: absolute;
  background-color: #FFD241;
}

div.DecoSide {
  height: 100%;
  width: 20px;
  left: 0px;
  top: 0px;
}

div.DecoBot {
  width: 100%;
  height: 20px;
  bottom: 0px;
  left: 0px;
}

div.whiteMainPart2 {
  position: relative;
}

input {
  padding: 5px 10px;
}

h4#LogToReg {
  font-size: 15px;
}

div#wholeScreenOverlay4 {
  z-index: 6;
}

div#wholeScreenOverlay4 div#ForgetModal {
  display: flex;
  width: calc((1/.6)*290px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 530px;
}

div#wholeScreenOverlay4 div#ForgetModal button#SendPswToMailBtn {
  border: none;
  outline: none;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  height: 30px;
  cursor: pointer;
  padding: 0px 25px;
  background-color: #FFD241;
}

div.blackMinorPart4, div.whiteMainPart4 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

input#ForgetMemId {
  margin-bottom: 15px;
}

.ModalRedAlert {
  cursor: pointer;
}

div#wholeScreenOverlay5 {
  z-index: 6;
}

div#wholeScreenOverlay5 h2 {
  margin-bottom: 0px;
}

div#wholeScreenOverlay5 div#ModifiedModal {
  width: calc((1/.6)*290px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 530px;
  display: flex;
}

div#wholeScreenOverlay5 div#ModifiedModal p.ModalRedAlert {
  margin: 0px;
  cursor: text;
}

div.whiteMainPart5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.whiteMainPart5 p.ModalRedAlert {
  margin: 10px 0px !important;
}

#All_RListUL {
  display: flex;
  align-items: center;
}

#All_RListUL li#LogInMemIdPhoto {
  padding-top: 5px !important;
  border: 1px solid !important;
  margin-bottom: 0px !important;
}

#All_RListUL li#All_RListUL_lastLi {
  position: relative;
}

#All_RListUL li#All_RListUL_lastLi div#notificationDot {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #FFD241;
  top: -5px;
  right: -5px;
}

#All_RListUL i {
  transition: all .5s;
}

@media all and (max-width: 1015px) {
  ul#All_BgBtnListIt li a span {
    font-size: 48px;
  }
}

@media all and (max-width: 975px) {
  ul#All_BgBtnListIt li a span:first-child {
    left: 10%;
  }
}

@media all and (max-width: 845px) {
  ul#All_BgBtnListIt li a span {
    font-size: 38px;
  }
}

@media all and (max-width: 750px) {
  ul#All_BgBtnListIt li a span:last-child {
    left: 37%;
  }
}

@media all and (max-width: 660px) {
  ul#All_BgBtnListIt li a span:last-child {
    left: 32%;
  }
}

@media all and (max-width: 600px) {
  ul#All_BgBtnListIt li a span:last-child {
    left: 26%;
  }
}

@media all and (max-width: 510px) {
  ul#All_BgBtnListIt li a span:first-child {
    left: 5%;
  }
  ul#All_BgBtnListIt li a span:last-child {
    left: 20%;
  }
}

@media all and (max-width: 480px) {
  ul#All_BgBtnListIt li a span:last-child {
    left: 18%;
  }
}

@media all and (max-width: 460px) {
  ul#All_BgBtnListIt li a span {
    font-size: 28px;
  }
  ul#All_BgBtnListIt li a span:last-child {
    left: 25%;
  }
}

@media all and (max-width: 382px) {
  ul#All_BgBtnListIt li a span {
    font-size: 28px;
  }
  ul#All_BgBtnListIt li a span:last-child {
    left: 18%;
  }
}

@media all and (max-width: 382px) {
  ul#All_BgBtnListIt li a span:first-child {
    display: none;
  }
  ul#All_BgBtnListIt li a span:last-child {
    left: 30px;
  }
}

@media all and (max-width: 320px) {
  ul#All_BgBtnListIt li a span:last-child {
    left: 24px;
  }
}

@media all and (max-width: 500px) {
  body header nav div#All_Logo img {
    width: 150px;
  }
  body header {
    padding: 0px 15px;
  }
}

ul#AccountList {
  position: absolute;
  right: 0px;
  opacity: 0;
  list-style-type: none;
  background-color: #fff;
  padding-left: 0px;
  width: 230px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  transition: .5s all;
  border: 1px solid;
}

ul#AccountList li {
  margin-bottom: 10px;
}

ul#AccountList li:last-child, ul#AccountList li:first-child {
  padding-bottom: 0px;
}

ul#AccountList li:first-child {
  margin-top: 20px;
}

ul#AccountList li:first-child {
  margin-bottom: 0px;
}

ul#AccountList a {
  text-decoration: none;
}

ul#AccountList li#LogInMemIdPhoto {
  border: 1px solid;
  display: flex;
  align-items: center;
  padding: 5px 25px;
}

ul#AccountList li#LogInMemIdPhoto img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

ul#AccountList li#LogInMemIdIt span {
  background-color: #000;
  color: white;
}

ul#AccountList li#hrline {
  width: 100%;
  height: 3px;
}

.yellowLeftBar {
  border-left: 8px solid #FFD241;
  padding-left: 6px;
}

div#logCertificationNmeRow {
  display: flex;
  justify-content: space-between;
}

div#logCertificationDis {
  width: 100%;
}

.yellowLeftBar2 {
  border-left: 8px solid #FFD241;
}

div.flexBoxModel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.flexBoxModel h3 {
  margin: 0px;
  border-left: 8px solid #FFD241;
}

div#flexChange {
  justify-content: space-around;
}

div#flexChange h3 {
  margin-bottom: 0px;
}

div.whiteMainPart4 {
  justify-content: center;
}

div.whiteMainPart4 h2 {
  margin-bottom: 0px;
}

div.botEnSmallBar {
  width: 100%;
  height: 8px;
  background-color: #FFD241;
  transform: scaleX(0.35);
}

button#ModfiedPswBtn {
  border: none;
  outline: none;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  height: 30px;
  cursor: pointer;
  padding: 0px 25px;
  background-color: #FFD241;
}

h3.paddingWelcomeJoin {
  padding-left: 6px;
}

button.createNewAcc {
  border: none;
  outline: none;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  height: 30px;
  cursor: pointer;
  padding: 0px 25px;
  background-color: #FFd241;
}

button#AccountListRegBtn, button#AccountListLogBtn {
  border: none;
  outline: none;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  height: 30px;
  cursor: pointer;
  padding: 0px 25px;
  background-color: #FFD241;
}

button#AccountListLogBtn {
  color: white;
}

span#LogInMemId {
  padding-left: 10px;
}

ul.AccountListToggle {
  top: 50px !important;
  opacity: 1 !important;
}

li#GoMemberCenter {
  margin-top: 10px;
}

@media all and (max-width: 350px) {
  div#All_Logo {
    width: 150px;
  }
  svg {
    width: 150px;
  }
}

@media all and (max-width: 620px) {
  div#LogOutCheckModal {
    left: 45% !important;
  }
  div.LogOutCheckModalConfirmContent {
    border-left: 25px solid #181919;
    padding: 15px 0px;
  }
}

@media all and (max-width: 380px) {
  div#wholeScreenOverlay2 div#LogOutCheckModal {
    width: 260px;
  }
}

@media all and (max-width: 380px) {
  div#wholeScreenOverlay2 div#LogOutCheckModal {
    width: 260px;
  }
}

@media all and (max-width: 608px) {
  div#wholeScreenOverlay3 div#LogInModal {
    flex-direction: column;
    width: 80%;
  }
  div#wholeScreenOverlay3 div#LogInModal div#flexChange {
    padding: 15px 0px;
  }
  div#wholeScreenOverlay3 div#LogInModal div.whiteMainPart2, div#wholeScreenOverlay3 div#LogInModal div#flexChange {
    width: 100%;
  }
  div#wholeScreenOverlay3 div#LogInModal div.whiteMainPart2 {
    order: 1;
  }
}

@media all and (max-width: 400px) {
  div#wholeScreenOverlay3 input#LogInModalMemId, div#wholeScreenOverlay3 input#LogInModalMemPsw {
    width: 89%;
  }
  div#wholeScreenOverlay3 div.yellowDecoBar {
    background-color: transparent;
  }
  div#wholeScreenOverlay3 form div {
    padding-left: 2px;
  }
}

@media all and (max-width: 640px) {
  div#wholeScreenOverlay4 div#ForgetModal {
    left: 48%;
  }
}

@media all and (max-width: 550px) {
  div#wholeScreenOverlay4 div#ForgetModal {
    flex-direction: column;
    width: 290px;
  }
  div#wholeScreenOverlay4 div.blackMinorPart4, div#wholeScreenOverlay4 div.whiteMainPart4 {
    width: 100%;
  }
  div#wholeScreenOverlay4 div.whiteMainPart4 {
    order: 1;
  }
  div#wholeScreenOverlay4 div.blackMinorPart {
    padding: 15px 0px 0px;
  }
}

@media all and (max-width: 375px) {
  div#wholeScreenOverlay4 div#ForgetModal {
    left: 45%;
    width: 273px;
  }
}

@media all and (max-width: 695px) {
  div#wholeScreenOverlay5 div#ModifiedModal {
    flex-direction: column;
    width: 350px;
  }
  div#wholeScreenOverlay5 div#ModifiedModal div.blackMinorPart5, div#wholeScreenOverlay5 div#ModifiedModal div.whiteMainPart5 {
    width: 100%;
  }
  div#wholeScreenOverlay5 div#ModifiedModal div.blackMinorPart5 {
    padding: 15px 0px 0px;
  }
}

@media all and (max-width: 455px) {
  div#wholeScreenOverlay5 div#ModifiedModal {
    left: 45%;
  }
}

@media all and (max-width: 404px) {
  div#wholeScreenOverlay5 div#ModifiedModal {
    left: 45%;
    width: 273px;
  }
}

input#checkAccountOccupied {
  width: 90px;
  border: none;
  outline: none;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  height: 30px;
  cursor: pointer;
  padding: 0px 25px;
  padding: 0px;
  color: white;
}

input#logMemId {
  width: 105px;
  margin-right: 28px;
}

body div#page2 {
  height: 100vh;
  background-color: burlywood;
}

/* 切換按鈕 原+方 參考https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* 切換按鈕 原+方 參考https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

button#createAcc2 {
  width: 100%;
  border-radius: 15px;
  background-color: #1d1e4c;
  color: #f2f2f2;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 10%;
}

div#footerTestPage {
  height: 100vh;
  background-color: navy;
}

div.footerTop {
  color: #FFFFFF;
  text-align: center;
  background-image: url("../img/anastasia-taioglou-CTivHyiTbFw-unsplash.jpg");
  background-position: center;
  padding: 30px;
}

div.footerTop h6 {
  margin: 0;
  margin-top: 50px;
}

div.footerTop .h7 {
  margin: 30px;
}

div.footerTop button#FooterRegBtn {
  background-color: #FFD241;
  color: #FFFFFF;
  outline: none;
  border: none;
  cursor: pointer;
  color: #07082E;
  height: 35px;
  padding: 0px 10px;
  line-height: 35px;
  width: 200px;
  margin-bottom: 50px;
}

.blackBg {
  background-color: black;
}

.FooterDarkPattern {
  color: #2A323D;
}

div#footerMiddle {
  display: flex;
  justify-content: space-around;
  padding: 78px 30px 30px;
  position: relative;
}

div#footerMiddle #footerMiddleLeft, div#footerMiddle #footerMiddleRight {
  text-align: center;
  flex-grow: 1;
}

div#footerMiddle #footerMiddleLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5%;
}

div#footerMiddle #footerMiddleLeft h1 {
  font-size: 72px;
  margin: 0;
}

div#footerMiddle #footerMiddleLeft h2 {
  color: #FFFFFF;
  font-size: 45px;
  margin: 20px auto 0px;
}

div#footerMiddle #footerMiddleLeft h2::before {
  content: '01 |';
}

div#footerMiddle #footerMiddleLeft h2:hover {
  color: #FFD241;
}

div#footerMiddle div#footerBackTop {
  position: absolute;
  color: #FFFFFF;
  width: 55px;
  height: 55px;
  background-color: #FFD241;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

div#footerMiddle div#footerBackTop a {
  text-decoration: none;
  color: #FFFFFF;
}

#footerMiddleRight {
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#footerMiddleRight h2 {
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 20px;
}

#footerMiddleRight p {
  width: 70%;
  color: #FFFFFF;
  margin-top: 0px;
}

#footerMiddleRight a {
  padding-right: 20px;
}

#footerMiddleLeft a {
  text-decoration: none;
}

#footerMiddleLeft a:nth-child(3) h2::before {
  content: '02 | ' !important;
}

#footerMiddleLeft a:nth-child(4) h2::before {
  content: '03 | ' !important;
}

#footerMiddleLeft a:nth-child(5) h2::before {
  content: '04 | ' !important;
}

i.fab {
  color: #FFFFFF;
}

div#footerBottom {
  background-color: #000;
  position: relative;
  height: 53px;
}

div#footerBottom div#footerIcon {
  position: absolute;
  left: 80px;
  top: 50%;
  transform: translateY(-50%);
}

div#footerBottom div#footerIcon svg {
  width: 140px;
  font-weight: bold;
  color: #2A323D;
}

div#footerBottom div.FooterDarkPattern {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

div#footerBottom div.FooterDarkPattern p {
  color: #2A323D;
}

@media all and (max-width: 1135px) {
  div#footerMiddle {
    flex-direction: column;
  }
  div#footerMiddle div#footerMiddleLeft, div#footerMiddle div#footerMiddleRight {
    align-items: center;
  }
  div#footerMiddle div#footerMiddleRight {
    width: 100%;
  }
  div#footerMiddle div#footerMiddleRight h2 {
    margin-top: 20px;
  }
  div#footerMiddle div#footerMiddleRight p {
    width: 50%;
  }
  div#footerMiddle div#footerBackTop {
    bottom: 46px;
  }
}

#footerMiddleRight p {
  text-align: initial;
  text-shadow: 2px 2px 2px black;
}

@media screen and (max-width: 800px) {
  div#footerBottom div#footerIcon {
    left: 30px;
  }
}

@media screen and (max-width: 640px) {
  div.footerTop h3 {
    font-size: 38px;
  }
  div.footerTop h4 {
    font-size: 28px;
  }
}

@media screen and (max-width: 565px) {
  div#footerMiddle #footerMiddleLeft h2 {
    font-size: 48px;
  }
  div#footerBottom div#footerIcon svg {
    width: 100px;
  }
}

@media screen and (max-width: 520px) {
  div.footerTop h3 {
    font-size: 28px;
  }
  div.footerTop h4 {
    font-size: 22px;
  }
  div#footerMiddle #footerMiddleLeft h2 {
    font-size: 38px;
  }
}

@media screen and (max-width: 440px) {
  #footerMiddleRight h2 {
    font-size: 28px;
  }
  div#footerMiddle div#footerMiddleRight p {
    width: 65%;
  }
  div#footerMiddle div#footerBackTop {
    width: 43px;
    height: 43px;
  }
}

@media screen and (max-width: 385px) {
  div#footerMiddle #footerMiddleLeft h2 {
    font-size: 28px;
  }
  div.footerTop h3 {
    font-size: 22px;
  }
  div.footerTop h4 {
    font-size: 18px;
  }
  i.fab {
    font-size: 28px;
  }
}
/*# sourceMappingURL=all.css.map */