@charset "UTF-8";
body {
  box-sizing: border-box;
  margin: 0;
  font-size: 0;
  font-family: "Arial", "微軟正黑體";
  background-color: #f2f2f2;
}

section {
  z-index: -4;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 0px;
  text-align: center;
}

section div.title-block {
  display: inline-block;
  vertical-align: top;
  width: 60px;
}

section div.title-block h5.title {
  font-size: 28px;
  display: inline-block;
  white-space: nowrap;
  padding: 10px 0;
  transform: rotate(90deg) translateX(-60px);
  transform-origin: 0% 100%;
  /* transform: rotate(270deg) translateX(-100%); */
  /* transform-origin: 0% 0%; */
  color: #1d1e4c;
}

section div.title-block h5.title span {
  color: #c6c6c6;
}

section div.content {
  text-align: left;
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 60px);
  padding-right: 60px;
}

section div.content div.top_back_img_1 {
  position: relative;
  width: 100%;
  z-index: -5;
}

section div.content div.top_back_img_1 div.top_back_img_2 {
  width: 100%;
  height: 431px;
  position: absolute;
  top: -10px;
  left: 0;
  border-radius: 0 0 15px 15px;
  overflow: hidden;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
}

section div.content div.top_back_img_1 div.top_back_img_2 img {
  width: 105%;
  filter: blur(4px);
}

section div.content h5.title_2 {
  font-size: 28px;
  color: #1d1e4c;
  margin: 0;
  padding: 60px;
  text-align: center;
}

section div.content div.all {
  width: 100%;
  padding: 0 53px;
  display: flex;
}

section div.content div.all div.leftarea {
  width: 65%;
}

section div.content div.all div.leftarea div.leftarea_blockA {
  display: flex;
  width: 100%;
}

section div.content div.all div.leftarea div.leftarea_blockA div.leftarea_blockA_L {
  width: 50%;
  overflow: hidden;
  border-radius: 15px;
  position: relative;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
}

section div.content div.all div.leftarea div.leftarea_blockA div.leftarea_blockA_L img {
  width: 100%;
}

section div.content div.all div.leftarea div.leftarea_blockA div.leftarea_blockA_L div.explain {
  font-size: 15px;
  width: 100px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  border-radius: 15px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: #f2f2f2;
  color: #1d1e4c;
  font-weight: 900;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  background: rgba(255, 255, 255, 0.3);
}

section div.content div.all div.leftarea div.leftarea_blockA div.leftarea_blockA_R {
  width: 50%;
}

section div.content div.all div.leftarea div.leftarea_blockA div.leftarea_blockA_R div.leftarea_blockA_R1 {
  display: inline-block;
  width: 48%;
  overflow: hidden;
  border-radius: 15px;
  margin-left: 2%;
  position: relative;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
}

section div.content div.all div.leftarea div.leftarea_blockA div.leftarea_blockA_R div.leftarea_blockA_R1 img {
  width: 100%;
}

section div.content div.all div.leftarea div.leftarea_blockA div.leftarea_blockA_R div.leftarea_blockA_R1 div.explain {
  font-size: 15px;
  width: 100px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  border-radius: 15px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: #f2f2f2;
  color: #1d1e4c;
  font-weight: 900;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  background: rgba(255, 255, 255, 0.3);
}

section div.content div.all div.leftarea div.leftarea_blockA div.leftarea_blockA_R div.leftarea_blockA_R11 {
  margin-top: 3.2%;
}

section div.content div.all div.leftarea div.leftarea_blockB {
  margin-top: 25px;
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  padding: 40px;
}

section div.content div.all div.leftarea div.leftarea_blockB p.urstyle {
  font-size: 22px;
  color: #1d1e4c;
  font-weight: 900;
  margin: 0;
  padding-top: 10px;
}

section div.content div.all div.leftarea div.leftarea_blockB div.customized_area {
  position: relative;
  border-radius: 15px;
  width: 98%;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: 20px;
  border: 2px solid lightgray;
  text-align: center;
  overflow: hidden;
}

section div.content div.all div.leftarea div.leftarea_blockB div.customized_area img.customized_img {
  width: 100%;
}

section div.content div.all div.leftarea div.leftarea_blockB div.customized_area div.image_front {
  width: 26%;
  height: 35%;
  position: absolute;
  top: 45%;
  left: 16.5%;
}

section div.content div.all div.leftarea div.leftarea_blockB div.customized_area div.image_back {
  width: 13%;
  height: 17%;
  position: absolute;
  top: 45%;
  left: 66%;
}

section div.content div.all div.leftarea div.leftarea_blockB div.customized_area p.front {
  font-size: 15px;
  color: #1d1e4c;
  display: inline-block;
  margin: 0 12% 10px auto;
}

section div.content div.all div.leftarea div.leftarea_blockB div.customized_area p.back {
  font-size: 15px;
  color: #1d1e4c;
  display: inline-block;
  margin: 0 auto 10px 12%;
}

section div.content div.all div.leftarea div.leftarea_blockB p.aboutProducts {
  font-size: 22px;
  color: #1d1e4c;
  font-weight: 900;
  margin: 0;
  padding-top: 40px;
}

section div.content div.all div.leftarea div.leftarea_blockB div.leftarea_blockC {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
}

section div.content div.all div.leftarea div.leftarea_blockB div.leftarea_blockC p.textaboutProducts {
  font-size: 15px;
  color: #1d1e4c;
}

section div.content div.all div.rightarea {
  width: 34%;
  margin-left: 1%;
  border-radius: 15px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  background-color: #f2f2f2;
  background: rgba(255, 255, 255, 0.6);
}

section div.content div.all div.rightarea h5 {
  font-size: 28px;
  color: #1d1e4c;
  margin: 0;
  padding: 30px;
}

section div.content div.all div.rightarea form.inforOfTheForm {
  width: 80%;
  height: 300px;
  margin: 0 10%;
}

section div.content div.all div.rightarea form.inforOfTheForm div.color_block {
  width: 100%;
  border: 1px solid #1d1e4c;
  margin-bottom: 50px;
}

section div.content div.all div.rightarea form.inforOfTheForm div.color_block p.stepExplain {
  font-size: 15px;
  font-weight: 900;
  color: #1d1e4c;
  display: block;
}

section div.content div.all div.rightarea form.inforOfTheForm div.color_block div.color_block1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

section div.content div.all div.rightarea form.inforOfTheForm div.color_block div.color_block1 div.ProductColor {
  width: 30%;
  height: 105px;
  border-radius: 15px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  overflow: hidden;
  margin-bottom: 18px;
}

section div.content div.all div.rightarea form.inforOfTheForm div.color_block div.color_block1 div.ProductColor div.theColor {
  width: 100%;
  height: 68%;
  font-size: 15px;
  color: #1d1e4c;
}

section div.content div.all div.rightarea form.inforOfTheForm div.color_block div.color_block1 div.ProductColor div.theColor .circleBtn {
  margin-top: 105%;
  display: inline-block;
}

section div.content div.all div.rightarea form.inforOfTheForm div.color_block div.color_block1 div.ProductColor div.theColor1 {
  background-color: lightyellow;
}

section div.content div.all div.rightarea form.inforOfTheForm div.color_block div.color_block1 div.ProductColor div.theColor2 {
  background-color: lightblue;
}

section div.content div.all div.rightarea form.inforOfTheForm div.color_block div.color_block1 div.ProductColor div.theColor3 {
  background-color: lightgreen;
}

section div.content div.all div.rightarea form.inforOfTheForm div.color_block div.color_block1 div.ProductColor div.theColor4 {
  background-color: pink;
}

section div.content div.all div.rightarea form.inforOfTheForm div.color_block div.color_block1 div.ProductColor div.theColor5 {
  background-color: #1d1e4c;
}

section div.content div.all div.rightarea form.inforOfTheForm div.picture_block {
  width: 100%;
  border: 1px solid #1d1e4c;
  font-size: 15px;
  color: #1d1e4c;
  font-weight: 800;
  margin-bottom: 50px;
}

section div.content div.all div.rightarea form.inforOfTheForm div.picture_block p.stepExplain1 {
  color: #d71212;
  font-weight: 550;
}

section div.content div.all div.rightarea form.inforOfTheForm div.picture_block div.picture_block2 {
  border: 1px solid red;
  margin: 50px auto;
}

section div.content div.all div.rightarea form.inforOfTheForm div.picture_block div.picture_block2 div.placement_of_product {
  width: 90%;
  border: 1px solid blue;
  padding: 10px;
  margin-top: 25px;
  background-color: #424f5f;
  color: #f2f2f2;
  border-radius: 15px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
}

section div.content div.all div.rightarea form.inforOfTheForm div.qty_block {
  width: 100%;
  border: 1px solid #1d1e4c;
  font-size: 15px;
  color: #1d1e4c;
  font-weight: 800;
  margin-bottom: 50px;
}

section div.content div.all div.rightarea form.inforOfTheForm div.qty_block select.select_qty_pcs {
  width: 100px;
  height: 30px;
  padding-left: 20px;
}

section div.content div.all div.rightarea form.inforOfTheForm div.tal_block {
  width: 100%;
  border: 1px solid #1d1e4c;
  font-size: 15px;
  color: #1d1e4c;
  font-weight: 800;
  margin-bottom: 50px;
}

section div.content div.bottomarea {
  margin-bottom: 112px;
  width: 100%;
  border-radius: 15px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  margin-top: 25px;
  padding-bottom: 25px;
}

section div.content div.bottomarea div.recommendProductBox {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

section div.content div.bottomarea div.recommendProductBox div.recommendProduct {
  width: 22%;
  border-radius: 15px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

section div.content div.bottomarea div.recommendProductBox div.recommendProduct img {
  width: 100%;
}

section div.content div.bottomarea div.recommendProductBox div.recommendProduct div.productInfo {
  width: 100%;
  height: 43%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #f2f2f2;
  background: rgba(255, 255, 255, 0.4);
  padding: 5%;
}

section div.content div.bottomarea div.recommendProductBox div.recommendProduct div.productInfo p.NameAndPrice {
  font-size: 15px;
  font-weight: 900;
  color: #1d1e4c;
  display: inline-block;
  margin: 3% 10% 3% 0;
}

section div.content div.bottomarea div.recommendProductBox div.recommendProduct div.productInfo p.text {
  font-size: 15px;
  color: #1d1e4c;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

section div.content div.bottomarea div.recommendProductBox div.recommendProduct div.productInfo img.cart {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
}

section div.content div.bottomarea div.recommendProductBox div.B {
  margin-left: 1.33%;
}

footer {
  width: 100%;
  height: 500px;
  background-color: #161c24;
}
/*# sourceMappingURL=CustomizedBag.css.map */