body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Palatino Linotype", "noto sans tc";
  background-color: #F6F6F6;
}

h5.title {
  margin-top: 66px;
  position: absolute;
  top: calc( 66px + 10px);
  left: 0;
  margin: 0;
  font-size: 28px;
  font-weight: normal;
  display: inline-block;
  white-space: nowrap;
  padding: 10px 0;
  transform: rotate(90deg) translateX(-60px);
  transform-origin: 0% 100%;
  /* transform: rotate(270deg) translateX(-100%); */
  /* transform-origin: 0% 0%; */
  color: #1D1E4C;
}

h5.title span {
  color: #C6C6C6;
}

section {
  letter-spacing: 2px;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 0px;
  text-align: center;
  padding-top: 66px;
}

section div.content_costomizedBag {
  text-align: left;
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

section div.content_costomizedBag div.top_back_img_1 {
  position: relative;
  width: 100%;
  z-index: -5;
}

section div.content_costomizedBag div.top_back_img_1 div.top_back_img_2 {
  width: 100%;
  height: 426px;
  position: absolute;
  top: -5px;
  left: 0;
  border-radius: 0 0 15px 15px;
  overflow: hidden;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
}

section div.content_costomizedBag div.top_back_img_1 div.top_back_img_2 img {
  width: 105%;
  filter: blur(7px);
}

section div.content_costomizedBag h5.title_2 {
  font-size: 28px;
  color: #1D1E4C;
  margin: 0;
  padding: 60px;
  text-align: center;
}

section div.content_costomizedBag div.all {
  width: 100%;
  padding: 0 30px;
  display: flex;
}

section div.content_costomizedBag div.all div.leftarea {
  width: 65%;
}

section div.content_costomizedBag div.all div.leftarea div.leftarea_blockA {
  display: flex;
  width: 100%;
}

section div.content_costomizedBag div.all div.leftarea div.leftarea_blockA div.leftarea_blockA_L {
  width: 50%;
  overflow: hidden;
  border-radius: 15px;
  position: relative;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
}

section div.content_costomizedBag div.all div.leftarea div.leftarea_blockA div.leftarea_blockA_L img {
  width: 100%;
}

section div.content_costomizedBag div.all div.leftarea div.leftarea_blockA div.leftarea_blockA_L div.explain {
  font-size: 15px;
  width: 36%;
  height: 33px;
  line-height: 33px;
  text-align: center;
  border-radius: 15px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: #F6F6F6;
  color: #1D1E4C;
  background: rgba(255, 255, 255, 0.8);
}

section div.content_costomizedBag div.all div.leftarea div.leftarea_blockA div.leftarea_blockA_R {
  width: 50%;
}

section div.content_costomizedBag div.all div.leftarea div.leftarea_blockA div.leftarea_blockA_R div.leftarea_blockA_R1 {
  display: inline-block;
  width: 48%;
  overflow: hidden;
  border-radius: 15px;
  margin-left: 2%;
  position: relative;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
}

section div.content_costomizedBag div.all div.leftarea div.leftarea_blockA div.leftarea_blockA_R div.leftarea_blockA_R1 img {
  width: 100%;
}

section div.content_costomizedBag div.all div.leftarea div.leftarea_blockA div.leftarea_blockA_R div.leftarea_blockA_R1 div.explain {
  font-size: 15px;
  width: 75%;
  height: 33px;
  line-height: 33px;
  text-align: center;
  border-radius: 15px;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #F6F6F6;
  color: #1D1E4C;
  background: rgba(255, 255, 255, 0.8);
}

section div.content_costomizedBag div.all div.leftarea div.leftarea_blockA div.leftarea_blockA_R div.leftarea_blockA_R11 {
  margin-top: 3.2%;
}

section div.content_costomizedBag div.all div.leftarea div.leftarea_blockB {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  padding: 20px;
}

section div.content_costomizedBag div.all div.leftarea div.leftarea_blockB img.customizedBg_img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(5px);
}

section div.content_costomizedBag div.all div.leftarea div.leftarea_blockB h6.urstyle {
  font-size: 22px;
  color: #1D1E4C;
  margin: 0;
  padding-top: 10px;
}

section div.content_costomizedBag div.all div.leftarea div.leftarea_blockB div.customized_area {
  position: relative;
  border-radius: 15px;
  width: 98%;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: 20px;
  text-align: center;
  overflow: hidden;
}

section div.content_costomizedBag div.all div.leftarea div.leftarea_blockB div.customized_area img.customized_img {
  width: 100%;
}

section div.content_costomizedBag div.all div.leftarea div.leftarea_blockB div.customized_area div.image_front {
  width: 26%;
  height: 35%;
  position: absolute;
  top: 45%;
  left: 16.5%;
}

section div.content_costomizedBag div.all div.leftarea div.leftarea_blockB div.customized_area div.image_back {
  width: 13%;
  height: 17%;
  position: absolute;
  top: 45%;
  left: 66%;
}

section div.content_costomizedBag div.all div.leftarea div.leftarea_blockB div.customized_area p.front {
  font-size: 15px;
  color: #1D1E4C;
  display: inline-block;
  margin: 0 12% 10px auto;
  font-weight: 550;
}

section div.content_costomizedBag div.all div.leftarea div.leftarea_blockB div.customized_area p.back {
  font-size: 15px;
  color: #1D1E4C;
  display: inline-block;
  margin: 0 auto 10px 12%;
  font-weight: 550;
}

section div.content_costomizedBag div.all div.leftarea div.leftarea_blockB h6.aboutProducts {
  font-size: 22px;
  color: #1D1E4C;
  margin: 0;
  padding-top: 40px;
}

section div.content_costomizedBag div.all div.leftarea div.leftarea_blockB div.leftarea_blockC {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
}

section div.content_costomizedBag div.all div.leftarea div.leftarea_blockB div.leftarea_blockC p.textaboutProducts {
  font-size: 15px;
  font-weight: 550;
  color: #1D1E4C;
}

section div.content_costomizedBag div.all div.rightarea {
  width: 34%;
  margin-left: 1%;
  border-radius: 15px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  background-color: #F6F6F6;
  background: rgba(255, 255, 255, 0.6);
}

section div.content_costomizedBag div.all div.rightarea h5 {
  font-size: 28px;
  color: #1D1E4C;
  margin: 0;
  padding: 30px;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm {
  width: 80%;
  margin: 0 10%;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.color_block {
  width: 100%;
  border-bottom: 1px solid #C6C6C6;
  margin-bottom: 30px;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.color_block p.stepExplain {
  font-size: 15px;
  font-weight: 900;
  color: #1D1E4C;
  display: block;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.color_block div.color_block1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.color_block div.color_block1 div.ProductColor {
  width: 30%;
  height: 105px;
  border-radius: 15px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  overflow: hidden;
  margin-bottom: 18px;
  margin-right: 3%;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.color_block div.color_block1 div.ProductColor div.theColor {
  width: 100%;
  height: 68%;
  font-size: 15px;
  color: #1D1E4C;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.color_block div.color_block1 div.ProductColor div.theColor input.circleBtn {
  margin-top: 85%;
  display: inline-block;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.color_block div.color_block1 div.ProductColor div.theColor1 {
  background-color: #f5f5dc;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.color_block div.color_block1 div.ProductColor div.theColor2 {
  background-color: #add8e6;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.color_block div.color_block1 div.ProductColor div.theColor3 {
  background-color: #66cdaa;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.color_block div.color_block1 div.ProductColor div.theColor4 {
  background-color: #ffb6c1;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.color_block div.color_block1 div.ProductColor div.theColor5 {
  background-color: #483d8b;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.picture_block {
  width: 100%;
  border-bottom: 1px solid #C6C6C6;
  font-size: 15px;
  color: #1D1E4C;
  margin-bottom: 30px;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.picture_block p.stepExplain1 {
  color: #EF4325;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.picture_block div.picture_block2 {
  margin: 0px auto;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.picture_block div.picture_block2 div.placement_of_product {
  width: 98%;
  margin: 0 auto;
  padding: 10px;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.picture_block div.picture_block2 div.placement_of_product div.placememtOfInput {
  height: 35px;
  line-height: 35px;
  background-color: #C2C2C2;
  color: #F6F6F6;
  border-radius: 5px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.picture_block div.picture_block2 div.placement_of_product div.placememtOfInput input.theFileBtn {
  width: 100%;
  margin-left: 3%;
  height: 32px;
  line-height: 32px;
  border-radius: 5px;
  cursor: pointer;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.qty_block {
  width: 100%;
  font-size: 15px;
  border-bottom: 1px solid #C6C6C6;
  margin-bottom: 30px;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.qty_block div.placememtOfQty {
  width: 98%;
  margin: 0 auto;
  padding: 10px;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.qty_block div.placememtOfQty select.select_qty_pcs {
  width: 100px;
  height: 30px;
  padding-left: 30px;
  border-radius: 5px;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.tal_block {
  width: 100%;
  font-size: 15px;
  color: #1D1E4C;
  margin-bottom: 30px;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.tal_block div.placementOfTal {
  width: 98%;
  text-align: right;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.tal_block div.placementOfTal label.thePrice {
  margin-right: 10%;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.placeOfSubmit {
  text-align: center;
  margin-bottom: 30px;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.placeOfSubmit button.btn_shopping_cart {
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  border-radius: 5px;
  width: 145px;
  height: 35px;
  line-height: 35px;
  background-color: #1D1E4C;
  color: #fafafa;
  position: relative;
  padding-right: 10%;
  margin-top: 10%;
  cursor: pointer;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.placeOfSubmit button.btn_shopping_cart img {
  height: 90%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 8%;
  transform: translateY(-50%);
}

section div.content_costomizedBag div.bottomarea {
  margin-bottom: 70px;
  width: 100%;
  border-radius: 15px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  margin-top: 25px;
  padding-bottom: 25px;
}

section div.content_costomizedBag div.bottomarea div.recommendProductBox {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  cursor: pointer;
}

section div.content_costomizedBag div.bottomarea div.recommendProductBox a.goToProductPage {
  width: 23.5%;
}

section div.content_costomizedBag div.bottomarea div.recommendProductBox a.goToProductPage div.recommendProduct {
  border-radius: 15px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

section div.content_costomizedBag div.bottomarea div.recommendProductBox a.goToProductPage div.recommendProduct img {
  width: 100%;
}

section div.content_costomizedBag div.bottomarea div.recommendProductBox a.goToProductPage div.recommendProduct div.productInfo {
  width: 100%;
  height: 43%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #F6F6F6;
  background: rgba(255, 255, 255, 0.7);
  padding: 5%;
}

section div.content_costomizedBag div.bottomarea div.recommendProductBox a.goToProductPage div.recommendProduct div.productInfo p.NameAndPrice {
  font-size: 15px;
  color: #1D1E4C;
  display: inline-block;
  margin: 3% 10% 3% 0;
}

section div.content_costomizedBag div.bottomarea div.recommendProductBox a.goToProductPage div.recommendProduct div.productInfo p.text {
  font-size: 15px;
  color: #1D1E4C;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

section div.content_costomizedBag div.bottomarea div.recommendProductBox a.goToProductPage div.recommendProduct div.productInfo img.cart {
  position: absolute;
  bottom: 8px;
  right: 8px;
  width: 11.75%;
  border-radius: 50%;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
}

section div.content_costomizedBag div.bottomarea div.recommendProductBox a.goToProductPage div.B {
  margin-left: 1.33%;
}
/*# sourceMappingURL=CustomizedBag.css.map */