@charset "UTF-8";
body > * {
  font-family: "Palatino Linotype", "Noto Sans Tc";
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: 0 0 5px #00000081;
  border-radius: 15px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #1D1E4C;
  border-radius: 15px;
  width: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #EF4325;
  border-radius: 15px;
  width: 10px;
}

.comShape {
  background-color: #fff;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
}

.comInput {
  border: 1px solid #07082E;
}

.comBtn {
  cursor: pointer;
  outline: none;
  color: #07082E;
  height: 35px;
  border: none !important;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  font-size: 15px;
  background-color: #FFD241;
  padding: 0px 30px;
  line-height: 35px;
}

.comBtn2 {
  cursor: pointer;
  outline: none;
  color: #FFFFFF;
  height: 35px;
  border: none !important;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  font-size: 15px;
  background-color: #07082E;
  padding: 0px 30px;
  line-height: 35px;
}

body {
  margin: 0;
  padding: 0;
}

body header {
  box-sizing: border-box;
  height: 50px;
  position: fixed;
  background-color: #fff;
  padding: 0px 30px;
  width: 100%;
  top: 0px;
  z-index: 5;
}

body header div#SlideNav {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 2000px;
  z-index: 2;
  background-color: rgba(255, 210, 65, 0.7);
}

body header div#All_BgBtnList {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #56daae;
  right: 2000px;
  transition: all .6s;
}

body header div#All_BgBtnList ul {
  list-style-type: none;
  padding: 0px;
  padding-top: 50px;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0;
}

body header div#All_BgBtnList ul li {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 100%;
  background-color: blanchedalmond;
}

body header div#All_BgBtnList ul li:first-child {
  background-image: url("../../img/maxResDefault.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body header div#All_BgBtnList ul li:nth-child(2) {
  background-image: url("../../img/PeopleFriendsPickingUpTrash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body header div#All_BgBtnList ul li:nth-child(3) {
  background-image: url("../../img/plastic234205_128.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
}

body header div#All_BgBtnList ul li:last-child {
  background-image: url("../../img/seagull5320726128.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body header div#All_BgBtnList ul li a {
  font-size: 60px;
  color: white;
  text-decoration: none;
  padding: 82px 0px;
}

body header div#All_BgBtnList ul li a:hover {
  color: #FFD241;
}

body header div#All_BgBtnList ul li a:hover span {
  transition: all .3s;
}

body header div#All_BgBtnList ul li a:hover span:last-child {
  border-bottom: 8px solid #FFD241;
}

body header div#All_BgBtnList {
  height: 100vh;
  width: 100vw;
  border: 10px solid ridge;
}

body header nav {
  top: 0;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

body header nav div#All_BgBtn {
  width: 35px;
  height: 50px;
  cursor: pointer;
  z-index: 3;
}

body header nav div#All_BgBtn div {
  width: 30px;
  height: 2px;
  border-radius: 5px;
  background-color: #1D1C4C;
  position: absolute;
}

body header nav div#All_BgBtn div:first-child {
  top: 17px;
}

body header nav div#All_BgBtn div:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

body header nav div#All_BgBtn div:last-child {
  bottom: 16px;
}

body header nav div#All_BgBtn div:nth-child(n) {
  transition: all .4s;
}

body header nav div.BgBtnClickedEffect div:first-child {
  transform: rotate(45deg) translateY(10px);
}

body header nav div.BgBtnClickedEffect div:nth-child(2) {
  transform: translateX(-20px);
  opacity: 0;
}

body header nav div.BgBtnClickedEffect div:last-child {
  transform: rotate(315deg) translateY(-10px);
}

body header nav div#All_Logo {
  height: 50px;
}

body header nav div#All_Logo img {
  height: 50px;
}

body header nav div#All_Logo svg {
  height: 50px;
}

body header nav div#All_Logo svg .st0 {
  transition: all .5s;
}

body header nav div#All_RList {
  display: flex;
  align-items: center;
}

body header nav div#All_RList ul {
  list-style-type: none;
  display: inline-block;
  padding: 0px;
  margin: 0px;
}

body header nav div#All_RList ul li {
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

body header nav div#All_RList ul li:first-child {
  padding-top: 0px;
}

body header nav div#All_RList ul li:last-child {
  padding-right: 0px;
}

body header nav div#All_RList ul li a {
  text-decoration: none;
  cursor: pointer;
}

body header nav div#All_RList ul li a i {
  color: #1d1c4c;
  font-size: 16px;
  line-height: 15px;
}

body header nav div#All_RList ul li img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

body header nav div#All_RList ul li span {
  color: white;
}

body div#Page1Test {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)), url("../img/seagull5320726128.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 50px);
  padding-top: 50px;
}

body div#Page1Test h1 {
  margin-top: 0px;
}

body div#Page2Test {
  height: 100vh;
  background-color: chartreuse;
}

ul#All_BgBtnListIt li {
  position: relative;
  z-index: 2;
}

ul#All_BgBtnListIt li > span {
  color: #FFFFFF;
  writing-mode: vertical-lr;
  font-size: 72px;
  position: absolute;
  left: 13%;
}

ul#All_BgBtnListIt li a {
  font-size: 60px;
}

ul#All_BgBtnListIt li a span:first-child {
  writing-mode: vertical-lr;
  position: absolute;
  left: 15%;
  top: 50%;
  transform: translateY(-50%);
}

ul#All_BgBtnListIt li a span:last-child {
  position: absolute;
  left: 39%;
  top: 50%;
  transform: translateY(-50%);
  line-height: 100%;
}

body.dialogOpen {
  overflow: hidden;
}

div#wholeScreenOverlay, div.wholeScreenOverlay {
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  transition: all .5s;
  z-index: 6;
}

div#wholeScreenOverlay div.LogModalFakeSIze, div.wholeScreenOverlay div.LogModalFakeSIze {
  font-size: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc((1/.6)*290px + 40px);
  background-color: #FFD241;
  padding-right: 30px;
}

div#wholeScreenOverlay div.yellowLeftBar h3 {
  margin: 0px;
  padding: 0px;
}

div#wholeScreenOverlay div.yellowLeftBar p {
  margin-bottom: 0px;
}

div.blackMinorPart {
  width: calc(40% -3 0px);
}

div.blackMinorPart h3 {
  font-size: 28px;
  margin-top: 0px;
}

div.blackMinorPart p {
  font-size: 15px;
}

div.blackMinorPart h4 {
  font-size: 18px;
}

.yellowBotBar {
  border-bottom: 8px solid #FFD241;
}

div.LogCloseBtn {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid black;
  position: absolute;
  right: -30px;
  top: -30px;
  cursor: pointer;
}

div.LogCloseBtn div.LogCloseBtnLine1 {
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 25px;
  height: 3px;
}

div.LogCloseBtn div.LogCloseBtnLine2 {
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(315deg);
  width: 25px;
  height: 3px;
}

div.yellowSidePart {
  position: absolute;
  width: 30px;
  height: 100%;
  background-color: #FFD241;
  top: 0;
  right: 30px;
  z-index: -2;
}

div.blackMinorPart {
  color: white;
  background-color: black;
  width: calc(40% - 30px);
}

div.LogModalTrueSIze {
  font-size: 0px;
  background-color: #fff;
  display: flex;
  color: white;
  height: 100%;
}

@media all and (max-width: 660px) {
  div#wholeScreenOverlay div.LogModalFakeSIze {
    width: 60%;
    top: 51%;
    min-width: 290px;
  }
  div#wholeScreenOverlay div.LogModalTrueSIze {
    flex-direction: column;
    width: 100%;
  }
  div#wholeScreenOverlay div.LogModalTrueSIze div.yellowLeftBar p {
    display: none;
  }
  div#wholeScreenOverlay div.whiteMainPart {
    width: 100% !important;
  }
  div#wholeScreenOverlay div.whiteMainPart h2 {
    font-size: 22px;
    margin: 9px 0px;
  }
  div#wholeScreenOverlay div.whiteMainPart form div label {
    font-size: 15px;
  }
  div#wholeScreenOverlay div.blackMinorPart {
    width: 100%;
    padding-top: 10px;
  }
  div#wholeScreenOverlay h4#RegToLog {
    margin: 9px 0px 9px;
  }
}

@media all and (max-width: 410px) {
  div#wholeScreenOverlay div.LogModalFakeSIze {
    left: 44%;
    min-width: 269px;
  }
  div#wholeScreenOverlay div.whiteMainPart form input {
    padding: 5px 5px;
    width: 200px;
  }
  div#wholeScreenOverlay div.whiteMainPart form input#BirthYear {
    width: 200px !important;
  }
  div#wholeScreenOverlay div.whiteMainPart form input#logMemId {
    width: 106px;
    margin-right: 10px;
  }
  div#wholeScreenOverlay div.whiteMainPart form input#checkAccountOccupied {
    width: 88px;
  }
  div#wholeScreenOverlay div.whiteMainPart form input#logCertificationNme {
    width: 106px;
    margin-right: 6px;
  }
  div#wholeScreenOverlay div.whiteMainPart input#logCertificationNme {
    width: 103px;
    margin-right: 6px;
  }
  div#wholeScreenOverlay div.whiteMainPart button#RegSendCertificationCode {
    width: 95px;
  }
}

div.blackMinorPart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;
}

div.blackMinorPart h3, div.blackMinorPart p, div.blackMinorPart h4 {
  display: inline-block;
}

.transformLogReg {
  display: inline-block;
  cursor: pointer;
  position: relative;
  z-index: 3;
  overflow: hidden;
  padding: 5px 0px;
}

.transformLogReg div {
  position: absolute;
  width: 100%;
  height: 10px;
  background-color: #FFD241;
  transition: all .5s;
  transform: scaleY(1);
}

.transformLogReg:hover div {
  transform: scaleY(9);
  z-index: -1;
  transform-origin: 0% 50%;
}

div.whiteMainPart {
  color: #1D1C4C;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 0px;
  width: 60%;
}

div.whiteMainPart form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.whiteMainPart form div {
  margin-bottom: 10px;
}

div.whiteMainPart form div label {
  display: block;
}

div.whiteMainPart form div input#logCertificationNme {
  margin-right: 28px;
}

div.whiteMainPart h2 {
  font-size: 28px;
}

div.whiteMainPart label {
  font-size: 18px;
}

label#IAgreeLabel, label.ModalRadioStyle {
  font-size: 13px !important;
  margin-bottom: 10px;
}

button.LogModalLowestBtn {
  border: none;
  outline: none;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  height: 30px;
  cursor: pointer;
  padding: 0px 25px;
  margin-bottom: 15px;
  background-color: #FFD241;
  color: #07082E "";
}

button#RegSendCertificationCode {
  border: none;
  outline: none;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  height: 30px;
  cursor: pointer;
  padding: 0px 25px;
  background-color: #07082E;
  color: white;
  padding: 0 12px;
}

.logRegModalShow {
  display: block !important;
}

div#wholeScreenOverlay2 {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 6;
  z-index: 6;
}

div#wholeScreenOverlay2 div#LogOutCheckModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 320px;
  background-color: #fff;
  transition: all .5s;
}

div#wholeScreenOverlay2 div.LogOutCheckModalBlack {
  background-color: #07082E;
  width: 100%;
  height: 30px;
}

div.LogOutCheckModalConfirmContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-left: 30px solid #181919;
}

div.LogOutCheckModalConfirmContent p {
  font-size: 22px;
  border-left: 8px solid #FFD241;
}

div.LogOutCheckModalConfirmContent button#LogConfirmY {
  border: none;
  outline: none;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  height: 30px;
  cursor: pointer;
  padding: 0px 25px;
  margin-right: 30px;
  color: #fff;
  background-color: #1D1C4C;
  padding: 0px 25px;
}

div.LogOutCheckModalConfirmContent button#LogConfirmN {
  border: none;
  outline: none;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  height: 30px;
  cursor: pointer;
  padding: 0px 25px;
  background-color: #FFD241;
  padding: 0px 25px;
}

div#wholeScreenOverlay3 {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 6;
  z-index: 6;
  transition: all .5s;
}

div#wholeScreenOverlay3 div#LogInModal {
  position: absolute;
  left: 47%;
  top: 50%;
  height: 530px;
  transform: translate(-50%, -50%);
  display: flex;
  width: calc((1/0.6)*290px + 35px);
}

div#wholeScreenOverlay3 div.blackMinorPart div.yellowLeftBar h3 {
  margin: 0px !important;
  padding: 0px  !important;
}

div#wholeScreenOverlay3 div.blackMinorPart div.yellowLeftBar p {
  margin: 15px 0px 0px;
}

button.LowestBtn {
  margin-bottom: 10px;
}

button#LogInModalLogInBtn {
  border: none;
  outline: none;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  height: 30px;
  cursor: pointer;
  padding: 0px 25px;
  background-color: #FFD241;
  margin-top: 10px;
}

p#ForgetPsw, p.ModalRedAlert {
  color: #EF4325;
  font-size: 15px;
  margin-bottom: 40px;
}

div.whiteMainPart2 {
  box-sizing: border-box;
}

div.yellowDecoBar {
  position: absolute;
  background-color: #FFD241;
}

div.DecoSide {
  height: 100%;
  width: 20px;
  left: 0px;
  top: 0px;
}

div.DecoBot {
  width: 100%;
  height: 20px;
  bottom: 0px;
  left: 0px;
}

div.whiteMainPart2 {
  position: relative;
}

input {
  padding: 5px 10px;
}

h4#LogToReg {
  font-size: 15px;
}

div#wholeScreenOverlay4 {
  z-index: 6;
}

div#wholeScreenOverlay4 div#ForgetModal {
  display: flex;
  width: calc((1/.6)*290px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 530px;
}

div#wholeScreenOverlay4 div#ForgetModal button#SendPswToMailBtn {
  border: none;
  outline: none;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  height: 30px;
  cursor: pointer;
  padding: 0px 25px;
  background-color: #FFD241;
  color: #1D1C4C;
}

div.blackMinorPart4, div.whiteMainPart4 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

input#ForgetMemId {
  margin-bottom: 15px;
}

.ModalRedAlert {
  cursor: pointer;
}

div#wholeScreenOverlay5 {
  z-index: 6;
}

div#wholeScreenOverlay5 h2 {
  margin-bottom: 0px;
}

div#wholeScreenOverlay5 div#ModifiedModal {
  width: calc((1/.6)*290px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 530px;
  display: flex;
}

div#wholeScreenOverlay5 div#ModifiedModal p.ModalRedAlert {
  margin: 0px;
  cursor: text;
}

div.whiteMainPart5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.whiteMainPart5 p.ModalRedAlert {
  margin: 10px 0px !important;
}

#All_RListUL {
  display: flex;
  align-items: center;
}

#All_RListUL li#LogInMemIdPhoto {
  padding-top: 5px !important;
  border: 1px solid #1D1C4C !important;
  margin-bottom: 0px !important;
}

#All_RListUL li#All_RListUL_lastLi {
  position: relative;
}

#All_RListUL li#All_RListUL_lastLi div#notificationDot {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #FFD241;
  top: -5px;
  right: -5px;
}

#All_RListUL i {
  transition: all .5s;
}

@media all and (max-width: 1015px) {
  ul#All_BgBtnListIt li a span {
    font-size: 48px;
  }
}

@media all and (max-width: 975px) {
  ul#All_BgBtnListIt li a span:first-child {
    left: 10%;
  }
}

@media all and (max-width: 845px) {
  ul#All_BgBtnListIt li a span {
    font-size: 38px;
  }
}

@media all and (max-width: 750px) {
  ul#All_BgBtnListIt li a span:last-child {
    left: 37%;
  }
}

@media all and (max-width: 660px) {
  ul#All_BgBtnListIt li a span:last-child {
    left: 32%;
  }
}

@media all and (max-width: 600px) {
  ul#All_BgBtnListIt li a span:last-child {
    left: 26%;
  }
}

@media all and (max-width: 510px) {
  ul#All_BgBtnListIt li a span:first-child {
    left: 5%;
  }
  ul#All_BgBtnListIt li a span:last-child {
    left: 20%;
  }
}

@media all and (max-width: 480px) {
  ul#All_BgBtnListIt li a span:last-child {
    left: 18%;
  }
}

@media all and (max-width: 460px) {
  ul#All_BgBtnListIt li a span {
    font-size: 28px;
  }
  ul#All_BgBtnListIt li a span:last-child {
    left: 25%;
  }
}

@media all and (max-width: 382px) {
  ul#All_BgBtnListIt li a span {
    font-size: 28px;
  }
  ul#All_BgBtnListIt li a span:last-child {
    left: 18%;
  }
}

@media all and (max-width: 382px) {
  ul#All_BgBtnListIt li a span:first-child {
    display: none;
  }
  ul#All_BgBtnListIt li a span:last-child {
    left: 30px;
  }
}

@media all and (max-width: 320px) {
  ul#All_BgBtnListIt li a span:last-child {
    left: 24px;
  }
}

@media all and (max-width: 500px) {
  body header nav div#All_Logo img {
    width: 150px;
  }
  body header {
    padding: 0px 15px;
  }
}

ul#AccountList {
  position: fixed;
  top: 50px;
  right: 0px;
  opacity: 0;
  list-style-type: none;
  background-color: #fff;
  padding-left: 0px;
  width: 230px;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  transition: all 1s;
  border: 1px solid #1D1C4C;
}

ul#AccountList li {
  margin-bottom: 10px;
}

ul#AccountList li:last-child, ul#AccountList li:first-child {
  padding-bottom: 0px;
}

ul#AccountList li:first-child {
  margin-top: 20px;
}

ul#AccountList li:first-child {
  margin-bottom: 0px;
}

ul#AccountList a {
  text-decoration: none;
  color: #1D1C4C;
}

ul#AccountList li#LogInMemIdPhoto {
  border: 1px solid #1D1C4C;
  color: #1D1C4C;
  display: flex;
  align-items: center;
  padding: 5px 25px;
}

ul#AccountList li#LogInMemIdPhoto img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

ul#AccountList li#LogInMemIdIt span {
  background-color: #000;
  color: white;
}

ul#AccountList li#hrline {
  width: 100%;
  background-color: #1D1C4C;
  height: 3px;
}

.yellowLeftBar {
  border-left: 8px solid #FFD241;
  padding-left: 6px;
}

div#logCertificationNmeRow {
  display: flex;
  justify-content: space-between;
}

div#logCertificationDis {
  width: 100%;
}

.yellowLeftBar2 {
  border-left: 8px solid #FFD241;
}

div.flexBoxModel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.flexBoxModel h3 {
  margin: 0px;
  border-left: 8px solid #FFD241;
}

div#flexChange {
  justify-content: space-around;
}

div#flexChange h3 {
  margin-bottom: 0px;
}

div.whiteMainPart4 {
  justify-content: center;
}

div.whiteMainPart4 h2 {
  margin-bottom: 0px;
}

div.botEnSmallBar {
  width: 100%;
  height: 8px;
  background-color: #FFD241;
  transform: scaleX(0.35);
}

button#ModfiedPswBtn {
  border: none;
  outline: none;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  height: 30px;
  cursor: pointer;
  padding: 0px 25px;
  background-color: #FFD241;
}

h3.paddingWelcomeJoin {
  padding-left: 6px;
}

button.createNewAcc {
  border: none;
  outline: none;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  height: 30px;
  cursor: pointer;
  padding: 0px 25px;
  background-color: #FFd241;
}

button#AccountListRegBtn, button#AccountListLogBtn {
  border: none;
  outline: none;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  height: 30px;
  cursor: pointer;
  padding: 0px 25px;
  background-color: #FFD241;
}

button#AccountListLogBtn {
  background-color: #1D1C4C;
  color: white;
}

span#LogInMemId {
  padding-left: 10px;
}

ul.AccountListToggle {
  opacity: 1 !important;
  display: inline-flex !important;
  transition: all 1s;
}

li#GoMemberCenter {
  margin-top: 10px;
}

@media all and (max-width: 350px) {
  div#All_Logo {
    width: 150px;
  }
  svg {
    width: 150px;
  }
}

@media all and (max-width: 620px) {
  div#LogOutCheckModal {
    left: 45% !important;
  }
  div.LogOutCheckModalConfirmContent {
    border-left: 25px solid #181919;
    padding: 15px 0px;
  }
}

@media all and (max-width: 380px) {
  div#wholeScreenOverlay2 div#LogOutCheckModal {
    width: 260px;
  }
}

@media all and (max-width: 380px) {
  div#wholeScreenOverlay2 div#LogOutCheckModal {
    width: 260px;
  }
}

@media all and (max-width: 608px) {
  div#wholeScreenOverlay3 div#LogInModal {
    flex-direction: column;
    width: 80%;
  }
  div#wholeScreenOverlay3 div#LogInModal div#flexChange {
    padding: 15px 0px;
  }
  div#wholeScreenOverlay3 div#LogInModal div.whiteMainPart2, div#wholeScreenOverlay3 div#LogInModal div#flexChange {
    width: 100%;
  }
  div#wholeScreenOverlay3 div#LogInModal div.whiteMainPart2 {
    order: 1;
  }
}

@media all and (max-width: 400px) {
  div#wholeScreenOverlay3 input#LogInModalMemId, div#wholeScreenOverlay3 input#LogInModalMemPsw {
    width: 89%;
  }
  div#wholeScreenOverlay3 div.yellowDecoBar {
    background-color: transparent;
  }
  div#wholeScreenOverlay3 form div {
    padding-left: 2px;
  }
}

@media all and (max-width: 640px) {
  div#wholeScreenOverlay4 div#ForgetModal {
    left: 48%;
  }
}

@media all and (max-width: 550px) {
  div#wholeScreenOverlay4 div#ForgetModal {
    flex-direction: column;
    width: 290px;
  }
  div#wholeScreenOverlay4 div.blackMinorPart4, div#wholeScreenOverlay4 div.whiteMainPart4 {
    width: 100%;
  }
  div#wholeScreenOverlay4 div.whiteMainPart4 {
    order: 1;
  }
  div#wholeScreenOverlay4 div.blackMinorPart {
    padding: 15px 0px 0px;
  }
}

@media all and (max-width: 375px) {
  div#wholeScreenOverlay4 div#ForgetModal {
    left: 45%;
    width: 273px;
  }
}

@media all and (max-width: 695px) {
  div#wholeScreenOverlay5 div#ModifiedModal {
    flex-direction: column;
    width: 350px;
  }
  div#wholeScreenOverlay5 div#ModifiedModal div.blackMinorPart5, div#wholeScreenOverlay5 div#ModifiedModal div.whiteMainPart5 {
    width: 100%;
  }
  div#wholeScreenOverlay5 div#ModifiedModal div.blackMinorPart5 {
    padding: 15px 0px 0px;
  }
}

@media all and (max-width: 455px) {
  div#wholeScreenOverlay5 div#ModifiedModal {
    left: 45%;
  }
}

@media all and (max-width: 404px) {
  div#wholeScreenOverlay5 div#ModifiedModal {
    left: 45%;
    width: 273px;
  }
}

input#checkAccountOccupied {
  width: 90px;
  border: none;
  outline: none;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  height: 30px;
  cursor: pointer;
  padding: 0px 25px;
  padding: 0px;
  color: white;
  background-color: #1D1C4C;
}

input#logMemId {
  width: 105px;
  margin-right: 28px;
}

body div#page2 {
  height: 100vh;
  background-color: burlywood;
}

/* 切換按鈕 原+方 參考https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* 切換按鈕 原+方 參考https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

button#createAcc2 {
  width: 100%;
  border-radius: 15px;
  background-color: #1d1e4c;
  color: #f2f2f2;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 10%;
}

div#footerTestPage {
  height: 100vh;
  background-color: navy;
}

div.footerTop {
  color: #FFFFFF;
  text-align: center;
  background-image: url("../../img/anastasia-taioglou-CTivHyiTbFw-unsplash.jpg");
  background-position: center;
  padding: 30px;
}

div.footerTop h6 {
  margin: 0;
  margin-top: 50px;
}

div.footerTop .h7 {
  margin: 30px;
}

div.footerTop button#FooterRegBtn {
  background-color: #FFD241;
  color: #FFFFFF;
  outline: none;
  border: none;
  cursor: pointer;
  color: #07082E;
  height: 35px;
  padding: 0px 10px;
  line-height: 35px;
  width: 200px;
  margin-bottom: 50px;
}

.blackBg {
  background-color: black;
}

.FooterDarkPattern {
  color: #2A323D;
}

div#footerMiddle {
  display: flex;
  justify-content: space-around;
  padding: 78px 30px 30px;
  position: relative;
}

div#footerMiddle #footerMiddleLeft, div#footerMiddle #footerMiddleRight {
  text-align: center;
  flex-grow: 1;
}

div#footerMiddle #footerMiddleLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5%;
}

div#footerMiddle #footerMiddleLeft h1 {
  font-size: 72px;
  margin: 0;
}

div#footerMiddle #footerMiddleLeft h2 {
  color: #FFFFFF;
  font-size: 45px;
  margin: 20px auto 0px;
}

div#footerMiddle #footerMiddleLeft h2::before {
  content: '01 |';
}

div#footerMiddle #footerMiddleLeft h2:hover {
  color: #FFD241;
}

div#footerMiddle div#footerBackTop {
  position: absolute;
  color: #FFFFFF;
  width: 55px;
  height: 55px;
  background-color: #FFD241;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

div#footerMiddle div#footerBackTop a {
  text-decoration: none;
  color: #FFFFFF;
}

#footerMiddleRight {
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#footerMiddleRight h2 {
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 20px;
}

#footerMiddleRight p {
  width: 70%;
  color: #FFFFFF;
  margin-top: 0px;
}

#footerMiddleRight a {
  padding-right: 20px;
}

#footerMiddleLeft a {
  text-decoration: none;
}

#footerMiddleLeft a:nth-child(3) h2::before {
  content: '02 | ' !important;
}

#footerMiddleLeft a:nth-child(4) h2::before {
  content: '03 | ' !important;
}

#footerMiddleLeft a:nth-child(5) h2::before {
  content: '04 | ' !important;
}

i.fab {
  color: #FFFFFF;
}

div#footerBottom {
  background-color: #000;
  position: relative;
  height: 53px;
}

div#footerBottom div#footerIcon {
  position: absolute;
  left: 80px;
  top: 50%;
  transform: translateY(-50%);
}

div#footerBottom div#footerIcon svg {
  width: 140px;
  font-weight: bold;
  color: #2A323D;
}

div#footerBottom div.FooterDarkPattern {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

div#footerBottom div.FooterDarkPattern p {
  color: #2A323D;
}

@media all and (max-width: 1135px) {
  div#footerMiddle {
    flex-direction: column;
  }
  div#footerMiddle div#footerMiddleLeft, div#footerMiddle div#footerMiddleRight {
    align-items: center;
  }
  div#footerMiddle div#footerMiddleRight {
    width: 100%;
  }
  div#footerMiddle div#footerMiddleRight h2 {
    margin-top: 20px;
  }
  div#footerMiddle div#footerMiddleRight p {
    width: 50%;
  }
  div#footerMiddle div#footerBackTop {
    bottom: 46px;
  }
}

#footerMiddleRight p {
  text-align: initial;
  text-shadow: 2px 2px 2px black;
}

@media screen and (max-width: 800px) {
  div#footerBottom div#footerIcon {
    left: 30px;
  }
}

@media screen and (max-width: 640px) {
  div.footerTop h3 {
    font-size: 38px;
  }
  div.footerTop h4 {
    font-size: 28px;
  }
}

@media screen and (max-width: 565px) {
  div#footerMiddle #footerMiddleLeft h2 {
    font-size: 48px;
  }
  div#footerBottom div#footerIcon svg {
    width: 100px;
  }
}

@media screen and (max-width: 520px) {
  div.footerTop h3 {
    font-size: 28px;
  }
  div.footerTop h4 {
    font-size: 22px;
  }
  div#footerMiddle #footerMiddleLeft h2 {
    font-size: 38px;
  }
}

@media screen and (max-width: 440px) {
  #footerMiddleRight h2 {
    font-size: 28px;
  }
  div#footerMiddle div#footerMiddleRight p {
    width: 65%;
  }
  div#footerMiddle div#footerBackTop {
    width: 43px;
    height: 43px;
  }
}

@media screen and (max-width: 385px) {
  div#footerMiddle #footerMiddleLeft h2 {
    font-size: 28px;
  }
  div.footerTop h3 {
    font-size: 22px;
  }
  div.footerTop h4 {
    font-size: 18px;
  }
  i.fab {
    font-size: 28px;
  }
}

@media all and (max-width: 483px) {
  p#footerTurnToBlock {
    word-wrap: break-word;
  }
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 48px;
}

h4 {
  font-size: 38px;
}

h5 {
  font-size: 28px;
}

h6 {
  font-size: 22px;
  margin: 0;
}

.h7 {
  font-size: 18px;
  font-weight: bold;
}

p {
  font-size: 15px;
}

.btnConMemInfo {
  background-image: url("../../img/member-1.jpg");
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}

.btnDisCon2Sty {
  background-image: url("../../img/MemberBgImg.png"), linear-gradient(#EF4325, #07082E);
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 40%, 100%;
}

#memPage {
  max-width: 1200px;
  margin: auto;
  padding: 30px;
}

body {
  background-color: #EEEEEE;
  color: #07082E;
}

body h5 {
  z-index: 2;
  color: #07082E;
  top: 91px;
  left: -26px;
  position: absolute;
  transform: rotate(90deg);
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

body main {
  margin: 0;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  height: 100%;
}

@media (max-width: 1024px) {
  body main {
    flex-direction: column;
  }
}

body main .genInfor {
  min-width: 30%;
}

@media (max-width: 1024px) {
  body main .genInfor {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

body main .genInfor .personBlock {
  background: #181919;
  height: 45vh;
  margin-right: 13px;
  margin-bottom: 13px;
  padding: 10px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  color: #FFFFFF;
  border-bottom: 8px solid #FFD241;
}

@media (max-width: 1024px) {
  body main .genInfor .personBlock {
    height: auto;
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  body main .genInfor .personBlock {
    margin-right: 0;
  }
}

body main .genInfor .personBlock .proTopBlock {
  display: flex;
  align-items: center;
  height: 50%;
  position: relative;
  margin-top: 25px;
}

@media (max-width: 768px) {
  body main .genInfor .personBlock .proTopBlock {
    margin-top: 0;
    flex-direction: column;
  }
}

body main .genInfor .personBlock .proTopBlock img {
  margin: 10px;
  margin-top: 10px;
  border-radius: 50%;
}

body main .genInfor .personBlock .proTopBlock button {
  position: absolute;
  bottom: 0px;
  left: 110px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: #f0f0f0;
}

body main .genInfor .personBlock .proTopBlock button:hover {
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
}

body main .genInfor .personBlock .proTopBlock span {
  font-size: 18px;
}

body main .genInfor .personBlock .proTopBlock span p {
  font-size: 15px;
}

body main .genInfor .personBlock .proBtnBlock {
  width: 317px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  body main .genInfor .personBlock .proBtnBlock {
    width: auto;
  }
}

body main .genInfor .personBlock .proBtnBlock textarea {
  overflow: auto;
  height: 73px;
  width: 250px;
  padding: 5px;
  margin-right: 10%;
  outline: none;
  resize: none;
  border: 1px solid #1D1E4C;
}

@media (max-width: 576px) {
  body main .genInfor .personBlock .proBtnBlock textarea {
    width: 190px;
  }
}

body main .genInfor .personBlock .proBtnBlock button {
  border: none;
  appearance: none;
  background-color: #ffffff00;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #f0f0f0;
  position: absolute;
  right: 0;
  bottom: 0;
}

body main .genInfor .personBlock .proBtnBlock button:hover {
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
}

body main .genInfor .cumulativeBlcok {
  padding: 0 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  height: 40vh;
  margin-right: 13px;
}

@media (max-width: 1024px) {
  body main .genInfor .cumulativeBlcok {
    height: auto;
    width: 300px;
    margin-right: 0;
    padding-right: 0;
  }
}

body main .genInfor .cumulativeBlcok button {
  margin-right: 5px;
  border: 1px solid #07082E;
  padding: 0 10px;
  height: 40px;
  outline: none;
  cursor: pointer;
  background-color: #FFFFFF;
}

@media (max-width: 576px) {
  body main .genInfor .cumulativeBlcok button .btnText {
    display: none;
  }
}

@media (max-width: 375px) {
  body main .genInfor .cumulativeBlcok button .btnDisCon {
    width: auto;
  }
}

@media (max-width: 576px) {
  body main .genInfor .cumulativeBlcok button .btnDisCon span:first-child {
    margin: auto;
  }
}

body main .memberContent {
  width: 100%;
}

body main .memberContent .tab {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #BEBEBE;
  padding-bottom: 30px;
}

body main .memberContent .tab button {
  margin-right: 5px;
  border: 1px solid #1D1E4C;
  padding: 0 15px;
  height: 30px;
  outline: none;
}

body main .memberContent .expContent {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

@media (max-width: 768px) {
  body main .memberContent .expContent {
    flex-direction: column;
  }
}

body main .memberContent .expContent .expDescription {
  font-size: 15px;
  line-height: 35px;
  width: 30%;
  margin-top: 10%;
  margin-right: 30px;
  align-self: flex-start;
}

@media (max-width: 768px) {
  body main .memberContent .expContent .expDescription {
    width: 100%;
    margin-right: 0px;
  }
}

body main .memberContent .expContent .expExchange {
  width: 60%;
  height: 450px;
  margin-top: 5%;
  padding-right: 10px;
  overflow: auto;
}

body main .memberContent .expContent .expExchange .excBlcok {
  background-color: #A2A2A2;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

body main .memberContent .expContent .expExchange .excBlcok::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 20%;
  margin-left: -3px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
}

body main .memberContent .expContent .expExchange .excBlcok .expPart {
  padding: 1px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

body main .memberContent .expContent .expExchange .excBlcok .expPart::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #EF4325;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
}

body main .memberContent .expContent .expExchange .excBlcok .expPart button.comBtn2 {
  background-color: #07082E;
  color: #FFFFFF;
  outline: none;
  cursor: pointer;
}

.expRight {
  left: 20%;
}

.expRight::after {
  left: -16px;
}

#orderRecord .orderBlock {
  color: #07082E;
}

#orderRecord .orderBlock .orderSelect {
  background-color: #CCCCCC;
  padding: 30px;
}

#orderRecord .orderBlock .orderSelect p {
  margin: 0;
}

#orderRecord .orderBlock .orderSelect select {
  border: 1px solid #1D1E4C;
  outline: none;
}

#orderRecord .orderBlock .page3FormBox {
  padding: 30px;
}

#orderRecord .orderBlock .page3FormBox #page3form {
  margin: 0;
  width: 100%;
  text-align: left;
}

#orderRecord .orderBlock .page3FormBox #page3form th, #orderRecord .orderBlock .page3FormBox #page3form td {
  text-align: center;
  vertical-align: center;
}

#orderRecord .orderBlock .page3FormBox #page3form tr {
  height: 40px;
}

table {
  overflow: hidden;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #1D1E4C;
}

table tr:nth-child(odd) {
  background-color: #f1f1f1;
}

#memInfo div.memInfoContent {
  display: block;
  height: 100%;
  font-size: 15px;
}

button.tabLinks div.btnDisCon {
  display: flex;
  justify-content: space-between;
  padding: 0 1%;
}

button.tabLinks span {
  line-height: 35px;
}

button.tabLinks span:active {
  color: #FFFFFF;
}

button.tabLinks span:first-child {
  flex-grow: 0;
}

button.tabLinks span i {
  background-color: black;
  color: #FFFFFF;
  padding: 5px 7px 4px 7px;
  width: 15px;
  margin-right: 5px;
}

button.active {
  background-color: #FFD241 !important;
}

button.active span {
  color: #07082E;
  line-height: 35px;
}

#btnDisCon1 span i, #btnDisCon11 span i {
  background-color: #FF9898;
}

#btnDisCon2 span i, #btnDisCon22 span i {
  background-color: #1654FF;
}

#btnDisCon3 span i {
  background-color: #FF498C;
}

#btnDisCon4 span i {
  background-color: #FFA123;
}

#btnDisCon5 span i {
  background-color: #EF4325;
}

#btnDisCon6 span i {
  background-color: #09E4C7;
}

#underNoBorder {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
}

div#memExp h3 {
  color: #FFFFFF;
  font-size: 22px;
}

div#memExp div.expContent div.expDescription {
  color: #FFFFFF;
  font-size: 15px;
  align-self: flex-start;
}

div#memExp div.expContent div.expDescription h3 {
  color: #FFFFFF;
  font-size: 1.17em;
}

div#memInfo div.memInfoContent {
  padding: 30px;
}

div#memInfo div.memInfoContent h3 {
  text-align: left;
}

div#memInfo div.memInfoContent .memInfoBox {
  background-color: rgba(255, 255, 255, 0.753);
  width: 100%;
}

div#memInfo div.memInfoContent .memInfoBox .infoBtn {
  padding: 0;
  border: 0;
  height: 25px;
  outline: none;
  background: transparent;
  color: #07082E;
  cursor: pointer;
  transition: all 0.3s linear;
}

div#memInfo div.memInfoContent .memInfoBox .infoBtn:hover {
  transform: rotate(90deg);
}

div#memInfo div.memInfoContent .memInfoBox .memInfoTop {
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 15px 15px;
  color: #07082E;
}

div#memInfo div.memInfoContent .memInfoBox .memInfoTop .memrInfoLeft {
  width: 150px;
}

div#memInfo div.memInfoContent .memInfoBox .memInfoTop .memrInfoMiddle {
  width: 100px;
}

div#memInfo div.memInfoContent .memInfoBox .memInfoBottom {
  border-top: 1px solid #fafafa;
  padding: 5px 15px;
  margin-bottom: 15px;
}

button.tabLinks {
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  border: none !important;
}

.cumulativeBlcok {
  padding: 0 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  height: 40vh;
  margin-right: 13px;
}

.cumulativeBlcok button {
  margin-right: 5px;
  border: 1px solid #1D1E4C;
  padding: 0 5px;
  height: 30px;
  outline: none;
  cursor: pointer;
}

.comShape {
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
}

tr#memberTableRowBorder {
  background-color: #ffcccc;
}

#memberTableTitle {
  background-color: #ffcccc !important;
}

thead#memberTableLowBlock {
  background-color: #ffcccc !important;
}

thead#memberTableLowBlock tr {
  background-color: unset;
}

#memberTableTopBorder tr {
  background-color: white;
}

#participateRecord {
  color: #07082E;
}

#participateRecord p {
  text-align: center;
}

#participateRecord table.participateRecordTable {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #07082E;
}

#participateRecord table.participateRecordTable th, #participateRecord table.participateRecordTable td {
  height: 50px;
  text-align: center;
}

.participateTitle {
  height: 50px;
  background-color: #181919;
  color: #FFFFFF;
  padding: 15px 0px 0px 30px;
}

.participateTitle h6 {
  vertical-align: middle;
  margin: auto 0;
  padding-left: 10px;
  border-left: 8px solid #FFD241;
}

#participateRecordRow1 {
  background-color: #ffcccc;
}

.eventManagementRow1 {
  background-color: #ffcccc !important;
}

div.participateRecordCon {
  display: flex;
  justify-content: center;
}

.participateRecordCon {
  width: 90%;
  margin: 30px auto;
}

div#eventManagement {
  color: #07082E;
}

div#eventManagement h3 {
  font-size: 22px;
}

div#eventManagement p {
  font-size: 15px;
  text-align: center;
}

div#eventManagement table.eventManagementTable {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #07082E;
}

div#eventManagement table.eventManagementTable th, div#eventManagement table.eventManagementTable td {
  height: 50px;
  text-align: center;
  width: 20%;
}

div#memPage {
  position: relative;
}

div#memPage div#eventManagementCancelModalCon {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  z-index: 10;
}

div#memPage div#eventManagementCancelModalCon div#eventManagementCancelModal {
  background-color: #FFFFFF;
  color: #07082E;
  font-size: 15px;
  width: 650px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2%;
}

div#memPage div#eventManagementCancelModalCon div#eventManagementCancelModal form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div#memPage div#eventManagementCancelModalCon div#eventManagementCancelModal form label {
  vertical-align: top;
}

div#memPage div#eventManagementCancelModalCon div#eventManagementCancelModal form div#eventManagementBtnCon {
  align-self: flex-end;
  justify-content: space-around;
  width: 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

div#memPage div#eventManagementCancelModalCon div#eventManagementCancelModal form div#eventManagementBtnCon button#eventManagementCancel {
  display: inline-block;
  margin-right: 15%;
  border: 1px solid #07082E;
  outline: none;
  color: #07082E;
  background-color: #FFFFFF;
  cursor: pointer;
  padding: 5%;
}

div#memPage div#eventManagementCancelModalCon div#eventManagementCancelModal form div#eventManagementBtnCon button#eventManagementSubmit {
  display: inline-block;
  border: 1px solid #07082E;
  outline: none;
  padding-right: 5%;
  color: #FFFFFF;
  background-color: #07082E;
  cursor: pointer;
  padding: 5%;
}

div#eventManagementCancelModalCloseBtn {
  position: absolute;
  border-radius: 50%;
  border: 1px solid #07082E;
  background-color: #FFFFFF;
  right: 3%;
  top: 5%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding: 1%;
}

div#eventManagementCancelModalCloseBtn span {
  background-color: #07082E;
  display: inline-block;
  width: 25px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  color: #07082E;
}

div#eventManagementCancelModalCloseBtn span:last-child {
  position: absolute;
  transform: translate(-50%, -50%) rotate(315deg);
}

.eventSaveBox {
  padding: 30px;
}

@media (max-width: 1024px) {
  .eventSaveBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

.page5Card {
  position: relative;
  display: inline-block;
  align-items: flex-end;
  overflow: hidden;
  width: 30.33%;
  height: 260px;
  margin-right: 1.15%;
  margin-left: 1.15%;
  margin-bottom: 2%;
  text-align: center;
  color: #07082E;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1024px) {
  .page5Card {
    width: 180px;
    height: 240px;
  }
}

@media (max-width: 768px) {
  .page5Card {
    width: 135px;
    height: 180px;
  }
}

.page5Card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}

.page5Card::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}

.page5Card .content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition: transform var(--d) var(--e);
  z-index: 1;
  color: #FFFFFF;
}

.page5Card .content .title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.page5Card .content .copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

@media (max-width: 1024px) {
  .page5Card .content .copy {
    margin: 0 !important;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    white-space: normal;
    overflow: hidden;
  }
}

.page5Card .content .btn {
  cursor: pointer;
  margin-top: 1.5rem;
  height: 30px;
  padding: 0 30px;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: #07082E;
  border: none;
}

@media (max-width: 1200px) {
  .page5Card .content .btn {
    margin-top: 0;
  }
}

@media (max-width: 1024px) {
  .page5Card .content .btn {
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .page5Card .content .btn {
    margin-top: 0;
  }
}

.page5Card .content .btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

.page5Card .content > * + * {
  margin-top: 1rem;
}

@media (max-width: 1024px) {
  .page5Card .content > * + * {
    margin-top: 5px;
  }
}

.page5Card:before {
  background-image: url(../../img/act_hist/beach1.jpg);
}

.page5Card:before {
  background-image: url(../../img/act_hist/beach2.jpg);
}

.page5Card:before {
  background-image: url(../../img/act_hist/beach4.jpg);
}

.page5Card:before {
  background-image: url(../../img/act_hist/beach3.jpg);
}

.page5Card:before {
  background-image: url(../../img/act_hist/beach1.jpg);
}

.page5Card:before {
  background-image: url(../../img/act_hist/beach2.jpg);
}

@media (hover: hover) and (min-width: 1200px) {
  .page5Card:after {
    transform: translateY(0);
  }
  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }
  .page5Card:hover,
  .page5Card:focus-within {
    align-items: center;
  }
  .page5Card:hover:before,
  .page5Card:focus-within:before {
    transform: translateY(-4%);
  }
  .page5Card:hover:after,
  .page5Card:focus-within:after {
    transform: translateY(-50%);
  }
  .page5Card:hover .content,
  .page5Card:focus-within .content {
    transform: translateY(0);
  }
  .page5Card:hover .content > *:not(.title),
  .page5Card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }
  .page5Card:focus-within:before,
  .page5Card:focus-within:after,
  .page5Card:focus-within .content,
  .page5Card:focus-within .content > *:not(.title) {
    transition-duration: 0.3s;
  }
}

div#memberContentId {
  color: #07082E;
  width: 70%;
}

@media (max-width: 1024px) {
  div#memberContentId {
    width: 100%;
  }
}

div#memberContentId div.tab2 {
  display: none;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #1D1E4C;
  border-radius: 5px;
}

#memExp .expContent .expExchange .excBlcok .expPartReceived {
  padding: 1px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

#memExp .expContent .expExchange .excBlcok .expPartReceived::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #EF4325;
  border: 4px solid #EF4325;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
}

button:disabled {
  background-color: rgba(250, 250, 250, 0.3);
  color: rgba(29, 30, 76, 0.3);
  outline: none;
  cursor: pointer;
}

.MemberCollectionHide {
  display: none;
}

div#appMemberBriefIntro span {
  display: none;
}

.memInfoBottom {
  display: none;
}

.show-text .memInfoBottom {
  display: block;
}

.minusIcon {
  display: none;
}

.show-text .minusIcon {
  display: block;
}

.show-text .plusIcon {
  display: none;
}

@media all and (max-width: 1024px) {
  main div.genInfor div.personBlock {
    margin-right: 0px;
    margin-bottom: 15px;
  }
  main div.genInfor div.cumulativeBlcok {
    padding-left: 0px;
  }
  main div.genInfor div.cumulativeBlcok button {
    margin-right: 0px;
    width: calc(100%/6);
  }
  main div.genInfor div#underNoBorder {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

@media all and (max-width: 888px) {
  main div.genInfor div.cumulativeBlcok {
    padding-left: 0px;
  }
  main div.genInfor div.cumulativeBlcok button {
    margin-right: 0px;
    width: calc(100%/6);
  }
  main div.genInfor div.cumulativeBlcok button div.btnDisCon {
    justify-content: center;
  }
  main div.genInfor div.cumulativeBlcok button div.btnDisCon > span > span {
    display: none;
  }
  main div.genInfor div.cumulativeBlcok button div.btnDisCon > span:last-child {
    display: none;
  }
}

@media all and (max-width: 630px) {
  div#underNoBorder button.tabLinks {
    padding: 0px 10px;
  }
}

@media all and (max-width: 768px) {
  main div.genInfor div.personBlock div.proTopBlock button {
    bottom: 75px;
    left: 165px;
  }
}

@media all and (max-width: 576px) {
  main div.genInfor div.personBlock div.proTopBlock button {
    left: 135px;
  }
}

@media all and (max-width: 470px) {
  body main .memberContent .expContent .expExchange {
    width: 95%;
  }
  body main .memberContent .expContent .expExchange .excBlcok::after {
    left: 13%;
  }
  body main .memberContent .expContent .expExchange .excBlcok .expPart {
    padding: 1px 0px 6px 20px;
  }
  body main .memberContent .expContent .expExchange .excBlcok .expPart::after {
    left: -31px;
  }
}

@media all and (max-width: 344px) {
  body main .memberContent .expContent .expExchange .excBlcok .expPart {
    width: 60%;
  }
}

@media all and (max-width: 382px) {
  #orderRecord .orderBlock .page3FormBox {
    padding: 30px 15px;
  }
}

@media all and (max-width: 820px) {
  .participateRecordCon {
    width: 95%;
  }
}

@media all and (max-width: 655px) {
  div#participateRecord div.participateRecordCon table.participateRecordTable .comBtn {
    padding: 0px 10px;
  }
  div#eventManagement .comBtn {
    padding: 0px 10px;
  }
}

@media all and (max-width: 470px) {
  div#participateRecord div.participateRecordCon table.participateRecordTable .comBtn {
    padding: 0px 5px;
  }
}

@media all and (max-width: 440px) {
  #memPage {
    padding: 30px 10px;
  }
}

@media all and (max-width: 500px) {
  #participateRecord table.participateRecordTable th, #participateRecord table.participateRecordTable td {
    height: 50px;
    text-align: center;
    font-size: 12px;
  }
  .ActLink {
    font-size: 13px;
  }
}

@media all and (max-width: 500px) {
  .CancelLink {
    font-size: 13px;
  }
  div#eventManagement table.eventManagementTable th, div#eventManagement table.eventManagementTable td {
    font-size: 13px;
  }
}
/*# sourceMappingURL=member.css.map */