@charset "UTF-8";
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: 0 0 5px #00000081;
  border-radius: 15px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #1D1E4C;
  border-radius: 15px;
  width: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #EF4325;
  border-radius: 15px;
  width: 10px;
}

.comShape {
  background-color: #fff;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  border-radius: 15px;
}

.comInput {
  border: 1px solid #1D1E4C;
  border-radius: 15px;
}

.comBtn {
  cursor: pointer;
  outline: none;
  color: white;
  border-radius: 15px;
  height: 30px;
  border: none !important;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  font-size: 15px;
  background-color: #EF4325;
  padding: 0 15px;
}

.comBtn2 {
  cursor: pointer;
  outline: none;
  color: white;
  border-radius: 15px;
  height: 30px;
  border: none !important;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  font-size: 15px;
  background-color: #1D1E4C;
  padding: 0 15px;
}

body {
  margin: 0px;
}

body header {
  background-color: #0D1017;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  position: fixed;
  top: 0;
  font-family: "Palatino Linotype", "Noto Sans TC";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0;
  width: 100%;
  z-index: 50;
}

body header nav {
  height: 66px;
  padding-left: 60px;
  position: relative;
}

body header nav div#lftUl {
  width: calc((100% - 66px)/2);
  display: inline-block;
  vertical-align: top;
  line-height: 66px;
}

body header nav div#lftUl ul {
  display: inline-block;
  list-style: none;
  padding: 0;
  justify-content: space-between;
}

body header nav div#lftUl ul li {
  display: inline-block;
  font-size: 15px;
  vertical-align: bottom;
  transition: all 1s ease;
}

body header nav div#lftUl ul li:nth-child(n+1) {
  margin-left: 40px;
}

body header nav div#lftUl ul li:hover img {
  opacity: 1;
}

body header nav div#lftUl ul li a {
  margin-right: 5px;
  color: #f2f2f2;
}

body header nav div#lftUl ul li img {
  opacity: 0;
  transition: all 1s ease;
  width: 20px;
}

body header nav div#lftUl ul li:first-child {
  margin-left: 0;
}

body header div#navlogo {
  display: inline-block;
  height: 66px;
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body header div#navlogo img {
  height: 66px;
  vertical-align: center;
}

body header div#rgtUl {
  width: calc((100% - 66px)/2);
  display: inline-block;
  line-height: 66px;
  vertical-align: top;
}

body header div#rgtUl ul {
  display: flex;
  flex: row nowrap;
  list-style: none;
  padding: 0;
  justify-content: flex-end;
}

body header div#rgtUl ul li {
  font-size: 15px;
  align-content: center;
  padding-right: 30px;
}

body header div#rgtUl ul li:nth-child(3) {
  padding-right: 60px;
}

body header div#rgtUl ul li i.fwIcon {
  vertical-align: baseline;
}

body header a {
  text-decoration: none;
  cursor: pointer;
  color: #f2f2f2;
}

body header i.fwIcon {
  vertical-align: text-top;
}

body div#page1 {
  height: calc(100vh - 66px);
  position: fixed;
  z-index: 100;
}

body div#page1 div#lightbox {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  white-space: nowrap;
  width: 100%;
  height: 100%;
  position: fixed;
  font-size: 0;
}

body div#page1 div#lightbox div#logWrapper {
  font-size: 0;
  width: 50%;
  height: 70%;
  position: absolute;
  vertical-align: top;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  color: #1d1e4c;
  background-color: #f2f2f2;
  background-image: linear-gradient(#ccb0ac, #8b7b5d);
  overflow: hidden;
}

body div#page1 div#lightbox div#logWrapper button:focus {
  outline: 0;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel {
  width: 160%;
  height: 100%;
  position: relative;
  font-size: 0;
  top: 0;
  left: 0;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signInCon {
  display: inline-block;
  padding: 10px auto;
  width: calc(100%*0.6/1.6);
  margin: 0 auto;
  height: 100%;
  font-size: 0;
  background-image: url(../../img/logo3.png), linear-gradient(#ccb0ac, #8b7b5d);
  background-position: center center, center center;
  background-size: 35%, cover;
  background-repeat: no-repeat, no-repeat;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signInCon h3 {
  text-align: center;
  font-size: 22px;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signInCon form#logForm {
  font-size: 18px;
  padding: 0% 15%;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signInCon form#logForm label input {
  width: 100%;
  margin-bottom: 5%;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signInCon form#logForm label#remember {
  width: 100%;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signInCon form#logForm label#remember input {
  width: auto;
  margin: 10% 5px 10% 0px;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signInCon form#logForm button {
  width: 100%;
  border-radius: 15px;
  background-color: #1d1e4c;
  color: #f2f2f2;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 10%;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signInCon a {
  display: block;
  text-align: center;
  color: #d71212;
  font-size: 15px;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signUpFCon {
  display: inline-block;
  height: 100%;
  width: calc(100%*0.4/1.6);
  font-size: 0;
  vertical-align: top;
  text-align: center;
  color: #f2f2f2;
  background-color: #1d1e4c;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signUpFCon h3 {
  font-size: 22px;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signUpFCon ul {
  padding: 0;
  list-style-type: none;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signUpFCon ul li {
  font-size: 22px;
  margin-bottom: 3%;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signUpFCon button#signRegFake {
  border-radius: 15px;
  background-color: #1d1e4c;
  color: #f2f2f2;
  margin-top: 10%;
  width: 50%;
  cursor: pointer;
  border: 1px solid #f2f2f2;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signUpCon {
  font-size: 0;
  vertical-align: top;
  display: inline-block;
  height: 100%;
  width: calc(100%*0.6/1.6);
  text-align: center;
  background-image: url(../../img/logo3.png), linear-gradient(#ccb0ac, #8b7b5d);
  background-position: center center, center center;
  background-size: 35%, cover;
  background-repeat: no-repeat, no-repeat;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signUpCon h3 {
  font-size: 22px;
  margin-bottom: 1%;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signUpCon form {
  padding: 0% 15%;
  font-size: 18px;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signUpCon form div {
  text-align: left;
  width: 100%;
  margin-bottom: 2%;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signUpCon form div label {
  display: block;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signUpCon form div input {
  width: 100%;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signUpCon div#regBtn {
  width: 100%;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signUpCon div#regBtn label#regAgreeCheck {
  font-size: 15px;
  width: auto;
  display: block;
  margin: 0 auto;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signUpCon div#regBtn label#regAgreeCheck {
  display: inline-block;
  margin: 3% auto;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signUpCon div#regBtn button {
  border-radius: 15px;
  color: #f2f2f2;
  background-color: #EF4325;
  font-size: 15px;
  width: 70%;
  display: block;
  margin: 0 auto;
  margin-top: 1%;
}

body div#page1 div#lightbox div#logWrapper div#closeBtn {
  width: 27px;
  height: 27px;
  background-color: #f2f2f2;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
  cursor: pointer;
}

body div#page1 div#lightbox div#logWrapper div#closeBtn span#closeSpanOne {
  width: calc(27px - 2px);
  height: 2px;
  display: inline-block;
  background-color: #2c2b2b;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  position: absolute;
}

body div#page1 div#lightbox div#logWrapper div#closeBtn span#closeSpanTwo {
  width: calc(27px - 2px);
  height: 2px;
  display: inline-block;
  background-color: #2c2b2b;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

body div#page2 {
  height: 100vh;
  background-color: chartreuse;
}

body div#page3 {
  background-color: cornflowerblue;
  height: 100vh;
}

body footer {
  overflow: hidden;
  position: relative;
  background-color: #0e1018;
  z-index: 1;
  height: 500px;
}

body footer div.frontFooter div#footerSide {
  width: 60px;
  background-color: #424f5f;
  height: 500px;
  display: inline-block;
}

body footer div.frontFooter div.divLine {
  background-color: #bebebe;
  height: 500px;
  width: 5px;
  display: inline-block;
}

body footer div.frontFooter ol {
  list-style: none;
  padding: 0;
  color: #f2f2f2;
  font-size: 48px;
  display: inline-block;
  vertical-align: top;
  margin-left: 10%;
}

body footer div.frontFooter ol li.footerOl span.footerRotate {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  border-bottom: 3px solid white;
  margin-right: 150px;
  padding-top: 5px;
  padding-bottom: 15px;
  margin-top: 10px;
}

body footer div.frontFooter div.social {
  font-size: 48px;
  display: inline-block;
  vertical-align: top;
  margin-top: calc(38px + 93px - 45px);
  margin-left: 10%;
  width: 30%;
}

body footer div.frontFooter div.social span {
  cursor: pointer;
}

body footer div.frontFooter div.social a {
  font-weight: 100;
  display: inline-block;
  margin-bottom: 15%;
  cursor: pointer;
}

body footer div.frontFooter div.social a:nth-child(2n) {
  margin-left: 10%;
}

body footer div.frontFooter div.social a:nth-child(n+3) {
  margin-bottom: 20%;
  margin-left: 10%;
}

body footer div.frontFooter div.social p {
  letter-spacing: 7px;
  font-size: 15px;
  text-align: justify;
  color: #f2f2f2;
  width: 80%;
}

body footer h2#footerMenu {
  font-size: calc(72px*2);
  writing-mode: vertical-lr;
  left: 16%;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
}

body footer h3#footerBrand {
  font-size: calc(60px*2);
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body footer h2#socialMedia {
  font-size: 60px;
  top: 5%;
  right: 13%;
}

body footer p#footerOri {
  font-size: 38px;
  bottom: 30%;
  right: 35%;
  transform: rotate(270deg);
}

body footer p#copyRight {
  font-size: 15px;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  color: #424f5f;
  font-weight: 800;
}

body footer .footerBg {
  position: absolute;
  color: #424f5f;
  z-index: -1;
  margin: 0;
}

body a {
  text-decoration: none;
  color: #f2f2f2;
}

body div#page2 {
  height: 100vh;
  background-color: burlywood;
}

/* 切換按鈕 原+方 參考https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* 切換按鈕 原+方 參考https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Palatino Linotype", "noto sans tc";
  background-color: #F6F6F6;
}

h5.title {
  margin-top: 66px;
  position: absolute;
  top: calc( 66px + 20px);
  left: 0;
  margin: 0;
  left: 0;
  margin: 0;
  font-size: 28px;
  display: inline-block;
  white-space: nowrap;
  padding: 10px 0;
  transform: rotate(90deg) translateX(-60px);
  transform-origin: 0% 100%;
  /* transform: rotate(270deg) translateX(-100%); */
  /* transform-origin: 0% 0%; */
  color: #1D1E4C;
}

h5.title span {
  color: #C6C6C6;
}

section {
  margin-top: 66px;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 0px;
  text-align: center;
}

section div.title-block {
  display: inline-block;
  vertical-align: top;
  width: 30px;
}

section div.content_costomizedBag {
  text-align: left;
  display: inline-block;
  vertical-align: top;
  width: calc(100% - $reserveSide*2);
  margin: 0 30px;
}

section div.content_costomizedBag div.top_back_img_1 {
  position: relative;
  width: 100%;
  z-index: -5;
}

section div.content_costomizedBag div.top_back_img_1 div.top_back_img_2 {
  width: 100%;
  height: 421px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 15px 15px;
  overflow: hidden;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
}

section div.content_costomizedBag div.top_back_img_1 div.top_back_img_2 img {
  width: 105%;
  filter: blur(4px);
}

section div.content_costomizedBag h5.title_2 {
  font-size: 28px;
  color: #1D1E4C;
  margin: 0;
  padding: 60px;
  text-align: center;
}

section div.content_costomizedBag div.all {
  width: 100%;
  padding: 0 53px;
  display: flex;
}

section div.content_costomizedBag div.all div.leftarea {
  width: 65%;
}

section div.content_costomizedBag div.all div.leftarea div.leftarea_blockA {
  display: flex;
  width: 100%;
}

section div.content_costomizedBag div.all div.leftarea div.leftarea_blockA div.leftarea_blockA_L {
  cursor: pointer;
  width: 50%;
  overflow: hidden;
  border-radius: 15px;
  position: relative;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
}

section div.content_costomizedBag div.all div.leftarea div.leftarea_blockA div.leftarea_blockA_L img {
  width: 100%;
}

section div.content_costomizedBag div.all div.leftarea div.leftarea_blockA div.leftarea_blockA_L div.explain {
  font-size: 15px;
  width: 36%;
  height: 33px;
  line-height: 33px;
  text-align: center;
  border-radius: 15px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: #F6F6F6;
  color: #1D1E4C;
  background: rgba(255, 255, 255, 0.8);
}

section div.content_costomizedBag div.all div.leftarea div.leftarea_blockA div.leftarea_blockA_R {
  cursor: pointer;
  width: 50%;
}

section div.content_costomizedBag div.all div.leftarea div.leftarea_blockA div.leftarea_blockA_R div.leftarea_blockA_R1 {
  display: inline-block;
  width: 48%;
  overflow: hidden;
  border-radius: 15px;
  margin-left: 2%;
  position: relative;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
}

section div.content_costomizedBag div.all div.leftarea div.leftarea_blockA div.leftarea_blockA_R div.leftarea_blockA_R1 img {
  width: 100%;
}

section div.content_costomizedBag div.all div.leftarea div.leftarea_blockA div.leftarea_blockA_R div.leftarea_blockA_R1 div.explain {
  font-size: 15px;
  width: 75%;
  height: 33px;
  line-height: 33px;
  text-align: center;
  border-radius: 15px;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #F6F6F6;
  color: #1D1E4C;
  background: rgba(255, 255, 255, 0.8);
}

section div.content_costomizedBag div.all div.leftarea div.leftarea_blockA div.leftarea_blockA_R div.leftarea_blockA_R11 {
  margin-top: 3.2%;
}

section div.content_costomizedBag div.all div.leftarea div.leftarea_blockB {
  margin-top: 25px;
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  padding: 20px;
}

section div.content_costomizedBag div.all div.leftarea div.leftarea_blockB h6.aboutProducts {
  font-size: 22px;
  color: #1D1E4C;
  margin: 0;
  padding-top: 40px;
}

section div.content_costomizedBag div.all div.leftarea div.leftarea_blockB div.leftarea_blockC {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
}

section div.content_costomizedBag div.all div.leftarea div.leftarea_blockB div.leftarea_blockC p.textaboutProducts {
  font-size: 15px;
  color: #1D1E4C;
}

section div.content_costomizedBag div.all div.rightarea {
  width: 34%;
  margin-left: 1%;
  border-radius: 15px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  background-color: #F6F6F6;
  background: rgba(255, 255, 255, 0.6);
}

section div.content_costomizedBag div.all div.rightarea h5 {
  font-size: 28px;
  color: #1D1E4C;
  margin: 0;
  padding: 30px;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm {
  width: 80%;
  height: 300px;
  margin: 0 10%;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.color_block {
  width: 100%;
  border-bottom: 1px solid #C6C6C6;
  margin-bottom: 30px;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.color_block p.stepExplain {
  font-size: 15px;
  font-weight: 900;
  color: #1D1E4C;
  display: block;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.color_block div.color_block1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.color_block div.color_block1 div.ProductColor {
  width: 30%;
  height: 105px;
  border-radius: 15px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  overflow: hidden;
  margin-bottom: 18px;
  margin-right: 3%;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.color_block div.color_block1 div.ProductColor div.theColor {
  width: 100%;
  height: 68%;
  font-size: 15px;
  color: #1D1E4C;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.color_block div.color_block1 div.ProductColor div.theColor input.circleBtn {
  margin-top: 95%;
  display: inline-block;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.color_block div.color_block1 div.ProductColor div.theColor1 {
  background-color: lightyellow;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.color_block div.color_block1 div.ProductColor div.theColor2 {
  background-color: lightblue;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.color_block div.color_block1 div.ProductColor div.theColor3 {
  background-color: lightgreen;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.color_block div.color_block1 div.ProductColor div.theColor4 {
  background-color: pink;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.color_block div.color_block1 div.ProductColor div.theColor5 {
  background-color: #1D1E4C;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.picture_block {
  width: 100%;
  border-bottom: 1px solid #C6C6C6;
  font-size: 15px;
  color: #1D1E4C;
  margin-bottom: 30px;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.picture_block p.stepExplain1 {
  color: #EF4325;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.picture_block div.picture_block2 {
  margin: 0px auto;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.picture_block div.picture_block2 div.placement_of_product {
  width: 98%;
  margin: 0 auto;
  padding: 10px;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.picture_block div.picture_block2 div.placement_of_product div.placememtOfInput {
  height: 35px;
  line-height: 35px;
  background-color: #C2C2C2;
  color: #F6F6F6;
  border-radius: 5px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.picture_block div.picture_block2 div.placement_of_product div.placememtOfInput input.theFileBtn {
  width: 100%;
  margin-left: 3%;
  height: 32px;
  line-height: 32px;
  border-radius: 5px;
  cursor: pointer;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.qty_block {
  width: 100%;
  font-size: 15px;
  border-bottom: 1px solid #C6C6C6;
  margin-bottom: 30px;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.qty_block div.placememtOfQty {
  width: 98%;
  margin: 0 auto;
  padding: 10px;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.qty_block div.placememtOfQty select.select_qty_pcs {
  width: 100px;
  height: 30px;
  padding-left: 30px;
  border-radius: 5px;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.tal_block {
  width: 100%;
  font-size: 15px;
  color: #1D1E4C;
  margin-bottom: 30px;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.tal_block div.placementOfTal {
  width: 98%;
  text-align: right;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.tal_block div.placementOfTal label.thePrice {
  margin-right: 10%;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.placeOfSubmit {
  text-align: center;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.placeOfSubmit button.btn_shopping_cart {
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  border-radius: 5px;
  width: 145px;
  height: 35px;
  line-height: 35px;
  background-color: #1D1E4C;
  color: #fafafa;
  position: relative;
  padding-right: 10%;
  margin-top: 10%;
  cursor: pointer;
}

section div.content_costomizedBag div.all div.rightarea form.inforOfTheForm div.placeOfSubmit button.btn_shopping_cart img {
  height: 90%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 8%;
  transform: translateY(-50%);
}

section div.content_costomizedBag div.bottomarea {
  margin-bottom: 112px;
  width: 100%;
  border-radius: 15px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  margin-top: 25px;
  padding-bottom: 25px;
}

section div.content_costomizedBag div.bottomarea div.recommendProductBox {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  cursor: pointer;
}

section div.content_costomizedBag div.bottomarea div.recommendProductBox a.goToProductPage {
  width: 23.5%;
}

section div.content_costomizedBag div.bottomarea div.recommendProductBox a.goToProductPage div.recommendProduct {
  border-radius: 15px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

section div.content_costomizedBag div.bottomarea div.recommendProductBox a.goToProductPage div.recommendProduct img {
  width: 100%;
}

section div.content_costomizedBag div.bottomarea div.recommendProductBox a.goToProductPage div.recommendProduct div.productInfo {
  width: 100%;
  height: 43%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #F6F6F6;
  background: rgba(255, 255, 255, 0.7);
  padding: 5%;
}

section div.content_costomizedBag div.bottomarea div.recommendProductBox a.goToProductPage div.recommendProduct div.productInfo p.NameAndPrice {
  font-size: 15px;
  color: #1D1E4C;
  display: inline-block;
  margin: 3% 10% 3% 0;
}

section div.content_costomizedBag div.bottomarea div.recommendProductBox a.goToProductPage div.recommendProduct div.productInfo p.text {
  font-size: 15px;
  color: #1D1E4C;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

section div.content_costomizedBag div.bottomarea div.recommendProductBox a.goToProductPage div.recommendProduct div.productInfo img.cart {
  position: absolute;
  bottom: 8px;
  right: 8px;
  width: 11.75%;
  border-radius: 50%;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
}

section div.content_costomizedBag div.bottomarea div.recommendProductBox a.goToProductPage div.B {
  margin-left: 1.33%;
}

section div.NP_showBox_bg {
  display: none;
  position: fixed;
  top: 66px;
  left: 0;
  width: 100%;
  height: calc(100vh - 66px);
  background: rgba(0, 0, 0, 0.75);
}

section div.NP_showBox_bg div.NP_showBox {
  width: 35%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section div.NP_showBox_bg div.NP_showBox img.NP_showHere {
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
}

section div.NP_showBox_bg div.NP_showBox img.NP_turnOffBtn {
  width: 35px;
  position: absolute;
  top: -30px;
  right: -30px;
}
/*# sourceMappingURL=NormalProduct.css.map */