* {
  box-sizing: border-box;
}

div.progress__bar {
  margin-top: 70px;
  margin-bottom: 0px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  position: relative;
  flex: 0 0 83.33333%;
  width: 100%;
  height: 60PX;
  justify-content: flex-start !important;
  background-color: #fafafa;
}

div.progress__bar .progress {
  list-style: none;
  display: flex;
  text-align: center;
  color: #ffffff;
  text-align: center;
  position: relative;
  font-size: 24px;
  text-align: center;
}

div.progress__bar .progress .progress__item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 100px;
  position: relative;
  background-color: #D8D8D8;
  line-height: 30px;
  letter-spacing: 0px;
  margin: 0 auto;
  background-color: #1D1E4C;
  color: #fafafa;
  /* border: 1px solid red; */
}

div.progress__bar .progress .progress__item p.progress__text {
  position: absolute;
  width: 150px;
  top: 50%;
  left: -200%;
  color: #1D1E4C;
  font-size: 18px;
}

div.progress__bar .progress .progress__item .progress__item--active {
  background-color: #1D1E4C;
}

div.progress__bar .progress .progress__item .progress_group_bar {
  height: 12px;
  flex: 1 1 100%;
  margin: auto -5px;
  z-index: 0;
}

div.progress__bar .progress .progress__item .progress_group_bar .progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #1D1E4C;
  text-align: center;
  white-space: nowrap;
  background-color: #007bff;
  transition: width .6s ease;
  width: 30px;
  height: 10px;
}

.paymentSection {
  margin: 0;
}

.paymentSection div.title-block {
  display: inline-block;
  vertical-align: top;
  background-color: #F6F6F6;
}

.paymentSection div.title-block h1.title {
  font-size: 28px;
  color: #1d1e4c;
  display: inline-block;
  white-space: nowrap;
  padding: 10px 0;
  writing-mode: vertical-rl;
  text-orientation: sideways;
}

.paymentSection div.paymentContent {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  border: 1px solid red;
  vertical-align: top;
  position: relative;
}

.paymentSection div.paymentContent div.card {
  margin: 20px auto;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  border-radius: 15px;
}

.paymentSection div.paymentContent div.card .card-header button.btn-link {
  background-color: #1d1e4c;
  border-radius: 15px;
  margin-bottom: 0px;
  width: 100%;
  height: 88px;
  text-align: center;
  align-items: center;
  outline: none;
}

.paymentSection div.paymentContent div.card .card-header button.btn-link h5.btntext {
  margin-top: 0;
  padding: 10px auto;
}

.paymentSection div.paymentContent div.card #collapseOne {
  border: 1px solid #1d1e4c;
  border-radius: 15px;
  margin: 10px;
  width: 60%;
  align-items: center;
}

.paymentSection div.paymentContent div.card #collapseOne div.item_container .item_header {
  display: flex;
  margin: 0 auto;
  height: 30px;
}

.paymentSection div.paymentContent div.card #collapseOne div.item_container .item_header div {
  width: 150px;
  color: #1d1e4c;
  line-height: 30px;
}

.paymentSection div.paymentContent div.card #collapseOne div.item_container .item_header .item_detail {
  width: 60%;
  display: inline-block;
}

.paymentSection div.paymentContent div.card #collapseOne div.item_container .item_body {
  height: 60px;
  align-items: center;
}

.paymentSection div.paymentContent div.card #collapseOne div.item_container .item_detail .name, .paymentSection div.paymentContent div.card #collapseOne div.item_container .item_detail .size {
  margin-left: 30px;
  margin-top: 10px;
  display: inline-block;
}

.paymentSection div.paymentContent div.card #collapseOne div.item_container button.round {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  outline: 0;
  border: 0;
  color: #fff;
  font-size: 18px;
  background: #c3c3c3;
  border-radius: 50%;
  cursor: pointer;
}

.paymentSection div.paymentContent div.card #collapseOne div.item_container button.round-cxl {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  outline: 0;
  border: 0;
  color: #fff;
  font-size: 18px;
  background: #1d1e4c;
  border-radius: 50%;
  cursor: pointer;
}

.paymentSection div.paymentContent div.card div.payment-totalbody {
  position: relative;
  display: inline-block;
  width: 30%;
  position: absolute;
  right: 40;
  top: 130px;
}

.paymentSection div.paymentContent div.card div.payment-totalbody div.row {
  clear: both;
  padding: 10px;
  margin: 5px auto;
}

.paymentSection div.paymentContent div.card div.payment-totalbody div.row span.label {
  float: left;
  width: 160px;
  text-align: left;
}

.paymentSection div.paymentContent div.card div.payment-totalbody div.row div.formw {
  float: right;
  width: 100px;
  text-align: right;
}

.paymentSection div.paymentContent div.card div.payment-totalbody div.row input.formw {
  float: right;
  width: 100px;
  text-align: right;
}

.paymentSection div.paymentContent .form_wrapper {
  vertical-align: top;
  position: relative;
  width: 48%;
  background-color: #F6F6F6;
  border-radius: 15px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
  display: inline-block;
  text-align: center;
  margin: 10px;
  background-color: #ebebeb;
  border: none;
}

.paymentSection div.paymentContent .step_title {
  margin: 10px;
  color: #1D1E4C;
}

.paymentSection div.paymentContent .creadDetail .creadCardimg img, .paymentSection div.paymentContent .consignee .creadCardimg img {
  width: 100px;
  height: 70px;
}

.paymentSection div.paymentContent .creadDetail div.row, .paymentSection div.paymentContent .consignee div.row {
  clear: both;
  padding: 10px;
  margin: 5px auto;
}

.paymentSection div.paymentContent .creadDetail div.row .label, .paymentSection div.paymentContent .consignee div.row .label {
  float: left;
  width: 130px;
  text-align: right;
}

.paymentSection div.paymentContent .creadDetail div.row .form, .paymentSection div.paymentContent .consignee div.row .form {
  float: left;
  width: 100px;
  text-align: left;
  margin: 3px;
  border: none;
  border-radius: 5px;
  background-color: #C2C2C2;
  border-color: #1D1E4C;
  line-height: 30px;
}

.paymentSection div.paymentContent .creadDetail .input-group, .paymentSection div.paymentContent .consignee .input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  width: 100%;
}

.paymentSection div.paymentContent .creadDetail .input-group .form-control, .paymentSection div.paymentContent .consignee .input-group .form-control {
  border: none;
}

.paymentSection div.paymentContent .consignee .member.addAddress {
  padding: 20px 0;
}

.paymentSection div.paymentContent .consignee .member.addAddress div.row {
  clear: both;
  padding: 10px;
  margin: 5px auto;
}

.paymentSection div.paymentContent .consignee .member.addAddress div.row .label {
  float: left;
  width: 130px;
  text-align: right;
}

.paymentSection div.paymentContent .consignee .member.addAddress div.row .form {
  float: left;
  width: 100px;
  text-align: left;
  margin: 3px;
  border: none;
  border-radius: 5px;
  background-color: #C2C2C2;
  border-color: #1D1E4C;
  line-height: 30px;
}

.paymentSection .btn_group {
  display: flex;
  padding: 20px;
  width: 100%;
  margin: 10px auto;
}

.paymentSection .btn_group .btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  border: 1px solid #1D1E4C;
  border-radius: 15px;
  padding: 5px;
  line-height: 30px;
  font-family: "noto sans tc";
  padding: 5px 30px;
  margin: 5px auto;
  outline: none;
}

.paymentSection .btn_group .btn button.cfmpay {
  background-color: #EF4325;
  font-size: 15px;
  color: #1D1E4C;
  color: #fafafa;
}

.paymentSection #finsh_wrapper {
  padding: 60px;
  background-color: #fff;
  border-radius: 15px;
  margin: 20px auto;
  width: 50%;
  text-align: center;
}

.paymentSection #finsh_wrapper .btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  border: 1px solid #1D1E4C;
  border-radius: 15px;
  padding: 5px;
  line-height: 30px;
  font-family: "noto sans tc";
  padding: 5px 30px;
  margin: 20px;
  outline: none;
}
/*# sourceMappingURL=payment.css.map */