@import '../common_backend';

// 結構(右邊部分)
div.bg{
    main#backend{
        div.content{
            section#c7{
                div.flex{
                    width: 100%;
                    justify-content: flex-end !important;
                    height: 80px;
                }
                table{
                    tr{
                        td{
                            &:nth-child(1){width: 60px;}
                            #imgs{
                                width: 100px;
                                display: inline-block;
                                padding: 5px;
                                overflow: auto;
                                -ms-overflow-style: none;
                                overflow: -moz-scrollbars-none;
                                max-height: 120px;
                                div.img{
                                    padding: 5px;
                                }
                            }
                            #imgs::-webkit-scrollbar { width: 0 !important }
                        }
                        td.des{
                            width: 150px;
                            p{
                                margin: 0 10px;
                                text-align: left;
                                max-height: 80px;
                                overflow: auto;
                                overflow: auto;
                                -ms-overflow-style: none;
                                overflow: -moz-scrollbars-none;
                            }
                            p::-webkit-scrollbar { width: 0 !important }
                        }
                    }
                }
                div.alert-block-edit{
                    #ah-edit{
                        text-align: left;
                        label.left,p{
                            display: inline-block;

                        }
                        label.des{
                            margin-top: 5px;
                            vertical-align: top;
                        }
                        label.actimg{
                            margin: 10px 0;
                        }
                        textarea{
                            margin-top: 7px;
                            overflow: auto;
                            -ms-overflow-style: none;
                            overflow: -moz-scrollbars-none;
                            background-color: transparent;
                            resize: none;
                            width: 200px;
                            height: 150px;
                            border: 1px solid map-get($web-color,"input-border");
                        }
                        label.editimg-btn{
                            @extend %add;
                            &:hover{
                                color: map-get($web-color,"blue");
                                background-color: map-get($web-color,"number-bg");
                            }
                        }
                        textarea::-webkit-scrollbar { width: 0 !important }
                        @include upload-img();
                        div.btn-group{
                            width: 100%;
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
}

