@import '../var';
@import '../all.scss';
div.article_container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 66px;
    display: flex;
    padding: 30px;
    @media (max-width: 850px){
        flex-direction: column;

    }
}

@media (max-width: 1212px) {
    div.article_container {
        align-items: center;
        justify-content: center;
    }
}

div.left_part {
    max-width: 800px;
    // border: 1px solid red;
    padding: 30px;
}

div.head_line {
    border-bottom: 3px solid map-get($color-regulation, 'blue' );
    .actDateStyle{
        font-size: 22PX;
        color: map-get($color-regulation, 'blue' );
    }
}

.img_container {
    // margin-left: 20px;
    text-align: center;
}

.img_container>img {
    width: 70%;
}

div.head_line>h4 {
    margin: 10px;
    padding: 0;
}

div.inner_article1 {
    margin-top: 20px;
    max-width: 800px;
    // border: 1px solid orange;
    text-align: center;
}

div.inner_article1>p {
    text-align: left;
    line-height: 35px;
    width: 90%;
}

div.inner_article1>h3:first-child {
    text-align: left;
}

div.inner_article1>img {
    width: 70%;
}

// 熱門精選----------------
div.right_part {
    // border: 1px solid red;
    width: 300px;
    height: 700px;
    position: sticky;
    top: 3.5rem;
    box-shadow: $box-shadow;
    padding: 10px;
}

h1.rp_title {
    text-align: center;
    margin: 0%;
    margin-top: 20px;
    border-bottom: 5px solid map-get($color-regulation, 'blue' );
}

div.rp_pop {
    width: 100%;
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5fr;
    text-decoration: none;
    height: 122px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);
    color: black;
    padding-bottom: 10px;
}

.a {
    text-decoration: none;
}

div.rp_pop>H3 {
    margin: 0;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: 5px;
    margin-bottom: 10px;
    text-decoration: none;
}

div.rp_pop>H4 {
    margin: 0;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-left: 5px;
}

div.rp_pop>img {
    height: 100px;
    width: 150px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
}

div.outer_container {
    width: 100%;
    height: 100%;
    position: relative;
    color: map-get($color-regulation,'blue' );
}

div.bread {
    position: absolute;
    top: -16px;
    left: 0;
    transform: rotate(90deg) translateY(-100%);
    transform-origin: 0 0;
    line-height: 20px;
}

div.bread>ul {
    padding: 10px;
    line-height: 20px;
    text-decoration: none;
    list-style: none;
    margin: 0;
    font-family: 'Palatino Linotype';
}

li.current {
    font-size: 20px;
    line-height: 20px;
    font-weight: bolder;
    color: map-get($color-regulation, 'blue');
}

.rp_pop>button{
border: none;
width: 100px;
margin: 0 auto;
height: 30px;
grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
background-color:map-get($color-regulation, 'yellow');
font-family: 'noto sans tc';
font-weight: 400;
outline: none;
 box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
 margin-left: 10px;
}