body {
    overflow-x: hidden;
}

div.spacing_block {
    // border: 1px solid red;
    width: 100%;
    height: 50vh;
    background-color: black;
    position: relative;
}

div.spacing_block>h1 {
    font-size: 40px;
    position: absolute;
    z-index: 100;
    color: white;
    right: 3%;
    bottom: 50%;
    text-shadow: 1px 1px 10px rgb(0, 0, 0);
}

div.ad_container {
    font-size: 0px;
    position: relative;
    // border: 1px solid red;
}

div.ad_bread {
    position: absolute;
    top: 8%;
    left: 0;
    transform: rotate(90deg) translateY(-100%);
    transform-origin: 0 0;
}

div.ad_bread>ul {
    padding: 10px;
}

div.ad_bread>ul>li {
    font-size: 20px;
    font-weight: bolder;
    color: #C6C6C6;
    display: inline-block;
  
}

div.ad_bread ul li::after {
    content: " / ";
}

div.ad_bread ul li:last-child {
    color: #1D1E4C;
}

div.ad_bread ul li:last-child::after {
    content: "";
}

@media (max-width: 1400px) {
    div.ad_bread {
        top: 20%;
    }
}

@media (max-width: 575px) {
    div.ad_bread ul li {
        font-size: 18px;
    }
}

div.ad_content {
    // border: 1px solid red;
    height: 300px;
    font-family: 'noto sans tc';
    overflow: hidden;
}

.ad_block {
    height: 300px;
    background-color: black;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.ad_inner_content {
    width: 100%;
}

.ad_inner_content>h1 {
    margin: 0;
    margin-left: 10px;
    font-size: 50px;
    color: white;
    // width: 100%;
    padding-top: 10px;
    position: absolute;
    z-index: 100;
    top: 0;
    text-shadow: 1px 1px 10px rgb(0, 0, 0);
}

.ad_inner_content>p {
    color: white;
    font-size: 15px;
    width: 70%;
    margin-left: 30%;
    margin-top: 10%;
    line-height: 30px;
    letter-Spacing: 2px;
}

.ad_block>img {
    margin-left: 15%;
    width: 200px;
    margin-top: 5%;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
}

@media (max-width: 1341px) {
    .ad_block>img {
        margin-left: 10%;
    }
}

@media (max-width: 1240px) {
    .ad_block>img {
        margin-left: 10%;
    }
    .ad_inner_content {
        position: relative;
    }
    .ad_inner_content>p {
        position: absolute;
        top: 0;
        margin-top: 10px;
        width: 50%;
    }
    div.spacing_block{
        height: 65vh;
    }
}

@media (max-width: 997px) {
    .ad_block>img {
        position: absolute;
        top: 16%;
    }
    .ad_inner_content>p {
        width: 40%;
    }
}

@media (max-width: 866px) {
    div.ad_content {
        height: 500px;
        
    }
    .ad_block {
        height: 500px;
        // border: 1px solid red;
    }
    .ad_block>img {
        right: 3%;
        top: 2%;
    }
    .ad_inner_content{
        border: 1px solid red;
        height: 70px;
    }
    .ad_inner_content>p {
        left: 2%;
        top: 150%;
        margin: 0;
    }
}

@media (max-width: 750px) {
    .ad_inner_content>p {
        width: 55%;
        margin: 0 auto;
    }
    .ad_block>img {
        top: 0;
        right: 0;
        margin: 0;
        filter: brightness(.5);
    }
    div.ad_content {
        height: 400px;
    }
    .ad_block {
        height: 400px;
    }
}

@media (max-width: 700px) {
    .ad_inner_content>p {
        width: 45%;
        height: 300px;
    }
}

@media (max-width: 570px) {
    .ad_inner_content>p {
        width: 38%;
        height: 300px;
    }
    div.ad_content {
        height: 450px;
    }
    .ad_block {
        height: 450px;
    }
}

div.ad_inner_content {
    // border: 1px solid green;
    width: 1200px;
    margin: 0 auto;
    // margin-top: 50px;
}

div.ad_grid_content {
    margin: 0 auto;
    display: grid;
    // border: 1px solid orange;
    max-width: 1200px;
    height: 600px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    font-size: 12px;
    text-align: center;
    margin-top: 150px;
    color: #1D1E4C;
    box-sizing: border-box;
}

div.ad_box1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

div.ad_box2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

div.ad_box3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

@media (max-width: 1159px) {
    div.founder {
        right: 0%!important;
    }
    div.ad_grid_content {
        margin-top: 100px;
    }
}

@media (max-width: 980px) {
    div.ad_grid_content {
        height: 670px;
    }
}

@media (max-width: 670px) {
    div.ad_grid_content {
        height: 1200px;
        margin-top: 20px;
        grid-auto-rows: 250px;
    }
    div.ad_box1 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    div.ad_box2 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    div.ad_box3 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    div.ad_box4 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
    }
}

div.ad_grid_content>h1 {
    width: 100px;
}

div.ad_grid_content>div.ad_box4 {
    grid-column-start: 1;
    grid-column-end: 4;
    height: 380px;
    text-align: center;
    // border: 1px solid red;
    position: relative;
}

button.join {
    border: none;
    background-color: #EF4325;
    border-radius: 15px;
    color: white;
    width: 150px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    padding-bottom: 5px;
    margin-top: 50px;
    outline: 0;
}

button.share {
    border: none;
    background-color: #1D1E4C;
    border-radius: 15px;
    color: white;
    width: 150px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    padding-bottom: 5px;
    margin-top: 40px;
    outline: 0;
}

div.founder {
    // border: 1px solid green;
    display: inline-block;
    position: absolute;
    width: 300px;
    right: 8%;
    bottom: 8%;
    margin: 0;
}

div.founder>h1>img {
    width: 20%;
    vertical-align: middle;
}

@media (max-width: 980px) {
    div.founder {
        position: static;
        margin-top: 30px;
    }
    // div.ad_box4{
    //     height: 420px!important;
    // }
}

@media (max-width: 500px) {
    div.founder>h1 {
        font-size: 15px;
    }
}

// 進度條-------------------------------------------------------------------
.progress-bg {
    margin: 0 auto;
    margin-top: 40px;
    width: 65%;
    height: 20px;
    font-weight: bolder;
    text-align: center;
    box-shadow: 0 0 5px #00000081;}

.progress-bg2 {
        margin: 0 auto;
        margin-top: 40px;
        width: 65%;
        height: 20px;
        font-weight: bolder;
        text-align: center;
        box-shadow: 0 0 5px #00000081;}

.progress-bar {
    box-shadow: 0 0 5px #00000081;
    height: 20px;
    float: left;
    background-color: #1D1E4C;
    width: 60%;
}
.progress-bar2 {
    box-shadow: 0 0 5px #00000081;
    height: 20px;
    float: left;
    background-color: #EF4325;
    width: 40%;
}


.progress-bg h3.goal,
.progress-bg h3.raised {
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
    // line-height: px;
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline;
    
}
.progress-bg2 h3.goal,
.progress-bg2 h3.raised {
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
    // line-height: px;
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline;   
}

.progress-bg h3.raised {
    color: #fff;
    padding: 0 25px 0 0;
    padding-bottom: 20px;
    height: 20px;
}

.progress-bg h3.goal {
    color: black;
    text-align: center;
}
.progress-bg2 h3.raised {
    color: #fff;
    padding: 0 25px 0 0;
    padding-bottom: 20px;
    height: 20px;
}

.progress-bg2 h3.goal {
    color: black;
    text-align: center;
}

body .progress-bg h3.raised {
    -webkit-animation: fadein 4s;
    /* Safari and Chrome */
    -moz-animation: fadein 4s;
    /* Firefox */
    -ms-animation: fadein 4s;
    /* Internet Explorer */
    -o-animation: fadein 4s;
    /* Opera */
    animation: fadein 4s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 658px) {
    .progress-bg h3.goal,
    .progress-bg h3.raised {
        font-size: 1em;
    }
    .progress-bg {
        margin-top: 0px;
    }
}

// 進度條-------------------------------------------------------------------
div.fixed_pic {
    box-sizing: border-box;
    width: 100%;
    height: 50vh;
    /* border: 1px solid red; */
    overflow: hidden;
    background-image: url("../../img/act_detail/thalassophobia.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: left;
    position: relative;
    vertical-align: bottom;
    z-index: -1;
    color: white;
    font-size: 20px;
    padding-left: 15px;
    padding-top: 15px;
}

div.fixed_pic>h1 {
    color: white;
    font-size: 60px;
    z-index: 10;
    width: 100%;
    left: 0;
    top: 0;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.9);
    margin-left: 30px;
}

div.fixed_pic>p {
    font-size: 18px;
    width: 80%;
    line-height: 30px;
    margin: 0 auto;
}

@media (max-width: 1516px) {
    div.fixed_pic>h1 {
        margin-top: 20px;
    }
    div.fixed_pic {
        height: 55vh;
    }
}

@media (max-width: 1156px) {
    div.fixed_pic>h1 {
        margin-top: 10px;
    }
    div.fixed_pic {
        height: 55vh;
    }
}

@media (max-width: 931px) {
    div.fixed_pic {
        height: 60vh;
    }
}

@media (max-width: 776px) {
    div.fixed_pic>h1 {
        margin-top: 5px;
    }
    div.fixed_pic {
        height: 70vh;
    }
}

@media (max-width: 600px) {
    div.fixed_pic>h1 {
        margin-top: 0px;
    }
    div.fixed_pic {
        height: 80vh;
    }
}

@media (max-width: 500px) {
    div.fixed_pic {
        height: 120vh;
    }
}

// 留言板-------------------------------------
div.outer_board {
    // border: 1px solid red;
    text-align: center;
    
}

div.outer_board>h1 {
    font-size: 40px;
    color: #1D1E4C;
    
}

div.ad_board {
    margin: 0 auto;
    display: grid;
    // border: 1px solid orange;
    // width: 80%;
    height: 1050px;
    grid-auto-rows: 200px;
    font-size: 12px;
    text-align: center;
    margin-top: 30px;
    background-color: #1D1E4C;
    border-radius: 15px;
    padding-top: 50px;
    grid-auto-rows: 200px;
    max-width: 1200px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
}

div.message_box {
    background-color: white;
    height: 150px;
    width: 80%;
    margin: 0 auto;
    display: inline-block;
    border-radius: 15px;
    text-align: left;
}

div.message_box>h1 {
    margin-top: 10px;
    margin-left: 20px;
}

div.message_box>h2 {
    color: #C2C2C2;
    margin-left: 20px;
}

div.message_box>h3 {
    width: 80%;
    margin-left: 100px;
}

div.chat>img {
    width: 50px;
    margin-right: 20px;
    vertical-align: top;
    float: right;
}

#tt_board {
    margin-bottom: 10px;
    padding: 5px;
    width: 80%;
    height: 300px;
    border: 1px #d1d1d1 solid;
    border-radius: 15px;
    resize: none;
    outline: none;
}

div.chat4>img {
    margin-right: 20px;
    width: 50px;
    vertical-align: top;
}

div.chat4 {
    height: 400px;
    position: relative;
}

button.submmit {
    border: none;
    background-color: #EF4325;
    border-radius: 15px;
    color: white;
    width: 150px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    padding-bottom: 5px;
    position: absolute;
    outline: 0;
    bottom: 6%;
    right: 7%;
}

@media (max-width: 1233px) {
    div.ad_board {
        grid-auto-rows: 300px;
        height: 1350px;
    }
    div.message_box {
        height: 200px
    }
}

@media (max-width: 813px) {
    div.message_box>h3 {
        margin-left: 50px;
    }
}

@media (max-width: 518px) {
    div.message_box {
        height: 250px
    }
    #tt_board {
        margin-bottom: 10px;
        padding: 5px;
        width: 70%;
        height: 300px;
    }
}

// linker------------------------------------------------
@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    --font-sans: "Rubik", sans-serif;
    --font-serif: "Cardo", serif;
}

* {
    box-sizing: border-box;
}

div.linker {
    display: grid;
    place-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

div.linker>h1 {
    font-size: 40px;
    color: #1D1E4C;
}

.page-content {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    max-width: 1024px;
    margin: 0 auto;
    font-family: var(--font-sans);
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1076px) {
    .page-content {
        grid-template-columns: repeat(1, 1fr);
    }
}

.card {
    border-radius: 15px;
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    background-color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

@media (min-width: 600px) {
    .card {
        height: 400px;
    }
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
}

.card:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
}

.card:nth-child(1):before {
    background-image: url(../../img/act_detail/beach2.jpg);
}

.card:nth-child(2):before {
    background-image: url(../../img/act_detail/beach6.jpg);
}

.card:nth-child(3):before {
    background-image: url(../../img/act_detail/diving.jpg);
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform var(--d) var(--e);
    z-index: 1;
}

.content>*+* {
    margin-top: 1rem;
}

.title {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
}

.copy {
    font-family: var(--font-serif);
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.35;
}

.btn {
    cursor: pointer;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
    outline: none;
}

.btn:hover {
    background-color: #0d0d0d;
}

.btn:focus {
    outline-offset: 3px;
}

@media (hover: hover) and (min-width: 1076px) {
    .card:after {
        transform: translateY(0);
    }
    .content {
        transform: translateY(calc(100% - 4.5rem));
    }
    .content>*:not(.title) {
        opacity: 0;
        transform: translateY(1rem);
        transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    }
    .card:hover,
    .card:focus-within {
        align-items: center;
    }
    .card:hover:before,
    .card:focus-within:before {
        transform: translateY(-4%);
    }
    .card:hover:after,
    .card:focus-within:after {
        transform: translateY(-50%);
    }
    .card:hover .content,
    .card:focus-within .content {
        transform: translateY(0);
    }
    .card:hover .content>*:not(.title),
    .card:focus-within .content>*:not(.title) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(var(--d) / 8);
    }
    .card:focus-within:before,
    .card:focus-within:after,
    .card:focus-within .content,
    .card:focus-within .content>*:not(.title) {
        transition-duration: 0s;
    }
}