@import '../common_backend';

%btn{
    border-radius: $border-radius;
    display: inline-block;
    background-color: map-get($web-color,'yellow');
    font-weight: bolder;
    color: map-get($web-color,'blue-dark');
    padding: 5px 20px;
    cursor: pointer;
    border: 1px solid map-get($web-color,'input-border');
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.342);
    // &:hover{
    //     background-color: map-get($web-color,'yellow');
    // }
}


*{
    box-sizing: border-box;
    letter-spacing: $text-letterspacing;
    color:  map-get($web-color,'text');
    font-size: $text-fontSize-small;
}

body{
    margin: 0;
    background-color: map-get($web-color,'blue-dark');
}

img{
    max-width: 100%;
}

header{
    width: 100%;
    height: 66px;
    text-align: center;
    background-color: map-get($web-color,'blue');
    div.logo{
        background-color: map-get($web-color,'blue');
        width: $max-width;
        margin: 0 auto;
        height: 100%;
        padding: 5px;
        img{
            max-height: 100%;
        }
    }
}
div.min-hight{
    text-align: center;
    width: $max-width;
    margin: 0 auto;
    min-height:calc(100vh - 100px);
    padding: 60px 0;   

    div.title{
        text-align: center;
        font-size: $text-fontSize;
        margin-bottom: 15px;
    }
    div.login{
        margin: 0px auto;
        display: inline-block;
        background-color: map-get($web-color,'blue');
        border: 1px solid map-get($web-color,'input-border');
        padding: 30px 0px 30px 0;
        border-radius: $border-radius;
        form{
            text-align: center;
            margin: 0 50px;
            div.group{
                position: relative;
                padding-bottom: 28px;
                label{
                    width: 55px;
                    line-height: $text-lineheight;
                    margin-right: 10px;
                }
                input{
                    background-color: transparent;
                    padding: 5px 8px;
                    line-height: $text-lineheight;
                    border-radius: $border-radius-input;
                    border: 1px solid map-get($web-color,'input-border');
                    
                }
                div#hint-id,div#hint-psw{
                    display: none;
                    font-size: 12px;
                    position: absolute;
                    right: 0;
                    bottom: 8px;
                    text-align: right;
                    color: map-get($web-color,'yellow');
                }
            }
            div.btn{
                @extend %btn;
            }
        }
        div.back{
            width: 100%;
            font-size: $text-fontSize-small;
            text-align: right;
            margin-top: 20px;
            padding: 0 20px;
            a{
                text-decoration: none;
                // color: map-get($web-color,'yellow');
                &:hover{
                    color: map-get($web-color,'yellow');
                }
            }
        }
    }
    div.footer{
        text-align: center;
        margin: 10px auto;
        color: map-get($web-color,'table-title');
        height: 40px;
        line-height: 40px;
    }
}