@import '../var';
@import '../all.scss';

$table-text:15px;
$table-padding:20px 10px;
*{
    letter-spacing: 2px;
    color: map-get($color_regulation,'blue');
}

@mixin btn-module {
    .btn{
        width: 100px;
        text-align: center;
        padding: 10px 30px;
        background-color: map-get($color_regulation ,'blue');
        color:map-get($color_regulation ,'white');
        border: none;
        outline: none;
        border-radius: $borderRadius;
        margin-right: 10px;
        display: inline-block;
        cursor: pointer;
    }
}


.btnColor{
    background-color: map-get($color_regulation, 'yellow' );
}
.tabLinks{
    background-color: map-get($color_regulation, 'white' );
    &:hover{
    background-color: map-get($color_regulation, 'blue' );
    color: map-get($color_regulation, 'white' );
    }
}

@mixin search-module {
    div.search-block{
        margin-bottom: 20px;
        input[name=search]{
            padding: 0 5px;
            line-height: $line-height;
            height: $line-height;
            vertical-align: middle;
            border-radius:$inputRadius;
            border: 1px solid gray;
            outline: none;
        }
    }
}

@mixin table-module {
    table{
        width: 100%;
        text-align: center;
        font-size: $table-text;
        border-collapse: collapse;
        border-radius: $borderBtnRadius;
        box-shadow: $box-shadow;
        background-color: map-get($color_regulation,'white');
        tr{
            
            th,td{
                min-width: 110px;
                padding: $table-padding;
                border: 0px solid #fff;
                i{
                    color: #323987;
                    cursor: pointer;
                }
                &:nth-child(1){
                   min-width: 20px;
                }
            }
        }
        >tbody{
            >tr{
                &:nth-child(2n){
                    background-color:#b2b8f547;
                }
                &:hover{
                    background-color:#4551d645;
                }
            }
        }

    }
}

@mixin toggle-module {
    label.switch{
        width: 36px;
        height: 26px;
        margin: 0 auto;
        span{
            &::before{
                width: 20px;
                height: 20px;
                left: 3px;
                bottom: 3px;
            }
        }
        input:checked + .slider:before{
            left: calc(100% - 3px);
            transform: translateX(-100%);
        }
    }
}

@mixin cirle-default {
    div.circle{
        margin: 0 10px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: map-get($color_regulation,'gray');
    }
}


main{
    background-color: rgb(224, 224, 224);

    nav{
        height: 60px;
        background-color: map-get($color_regulation,'blue');
        h4{
            margin: 0;
            color: white;
            text-align: right;
            line-height: 60px;
            padding-right: 30px;
        }
    }
    .mainContent{
        display: flex;
        .changeBlock{
            height: calc(100vh - 60px);
            width: 20%;
            display: flex;
            border: 2px solid map-get($color_regulation,'blue');
            background-color: #9090a0;
            flex-direction: column;
            justify-content: space-around;
            button{
                cursor: pointer;
                outline: none;
                height: 100%;
                border: 1px solid map-get($color_regulation,'blue');
            }
        }
        .container{
            background-color: rgb(238, 238, 238);
            height: calc(100vh - 60px);
            padding: 30px;
        }
    }
}

.Form1{
    @include table-module();
    form{
        margin-top: 30px;
        button{
            border-radius: 15px;
            border: 1px solid map-get($color_regulation,'blue');
        }
        table{
            
            margin-top: 30px;
            text-align: left;
            width: 100%;
            tr{
                height: 60px;
                button{
                    border:none;
                }
            }
        }
    }
    
}

// 管理員管理CSS
main{
    div.mainContent{
        div.container{
            div.row{
                overflow: auto;
                height: 100%;
                div.col-12{
                    #adMag{
                        div.Form1{
                            form{
                                #AD-delete,#AD-add{
                                    display: none;
                                    box-shadow: $box-shadow;
                                    text-align: center;
                                    padding: 10px 20px 20px 20px;
                                    position: fixed;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%,-50%);
                                    background-color: map-get($color_regulation,'white');
                                    p{
                                        margin: 10px;
                                    }
                                    @include btn-module();
                                }
                                #AD-add{
                                    width: 400px;
                                    padding:30px;
                                    input{
                                        margin-bottom: 10px;
                                        line-height: $line-height;
                                        border-radius: $inputRadius;
                                        border: 1px solid map-get($color_regulation,'blue');
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// 會員管理CSS
main{
    div.mainContent{
        div.container{
            div.row{
                overflow: auto;
                height: 100%;
                div.col-12{
                    #memberMag{
                        div.Form1{
                            form{
                                #M-suspension,#M-delete{
                                    display: none;
                                    box-shadow: $box-shadow;
                                    text-align: center;
                                    padding: 10px 20px 20px 20px;
                                    position: fixed;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%,-50%);
                                    background-color: map-get($color_regulation,'white');
                                    p{
                                        margin: 10px;
                                    }
                                    @include btn-module();
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


// 商品管理CSS
main{
    div.mainContent{
        div.container{
            div.row{
                overflow: auto;
                height: 100%;
                div.col-12{
                    #porMag{
                        h3{
                            font-size: $contentSubTit;
                        }
                        div.P-block-list{
                            @include search-module();
                            div.P-table{
                                height: 400px;
                                overflow: auto;
                                border-radius: $borderBtnRadius;
                                form{
                                    @include table-module();
                                    table{
                                        tr{
                                            th,td{
                                                i{
                                                    color: #225ca4c4;
                                                    cursor: pointer;
                                                }
                                                input,select,textarea{
                                                    padding: 0 5px;
                                                }
                                                input,select,label,button,textarea{
                                                    display: none;
                                                }
                                                input[type=file]{
                                                    width: 70px;
                                                    padding: 0;
                                                }
                                                textarea{
                                                    resize: none;
                                                    border-radius: $inputRadius;
                                                    border: 1px solid map-get($color_regulation,'blue');
                                                    line-height: $line-height;
                                                    width: 150px;
                                                }
                                                button{
                                                    border-radius: 10px;
                                                    border: none;
                                                    background-color: map-get($color_regulation,'blue');
                                                    color: map-get($color_regulation,'white');
                                                    padding: 5px 10px;
                                                    margin: 10px 0 10px 10px;
                                                    outline: none;
                                                }
                                                label.switch{
                                                    display: block;
                                                }
                                                @include toggle-module();
                                                &:nth-child(1){
                                                    min-width: 100px;
                                                 }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// 訂單管理CSS
main{
    div.mainContent{
        div.container{
            div.row{
                overflow: auto;
                height: 100%;
                div.col-12{
                    #ordMag{
                        h3{
                            font-size: $contentSubTit;
                        }
                        div.O-block-list{
                            @include search-module();
                            div.O-table{
                                height: 400px;
                                overflow: auto;
                                border-radius: $borderBtnRadius;
                                form{
                                    @include table-module();
                                    table{
                                        tr{
                                            th,td{
                                                @include cirle-default();
                                                div.new{
                                                    background-color: #4161ff;
                                                }
                                                @include toggle-module();
                                            }
                                        }
                                    }
                                }
                            }
                            div.order-items{
                                background-color: map-get($color_regulation,'white');
                                margin-bottom: 10px;
                                border-radius: $borderBtnRadius;
                                box-shadow: $box-shadow;
                                padding: 20px;
                                div.info{
                                    margin: 0 10px 10px 10px;
                                    p{
                                        margin: 0 0 10px 0;
                                    }
                                }
                                div.items{
                                    table{
                                        width: 100%;
                                        text-align: center;
                                        // border-collapse: collapse;
                                        border: 1px solid map-get($color_regulation,'gray');
                                        border-radius: $borderRadius;
                                        tr{
                                            th,td{
                                                padding: $table-padding;
                                                @include btn-module();
                                                .btn{
                                                    border: 1px solid map-get($color_regulation,'blue');
                                                    background-color: map-get($color_regulation,'white');
                                                    color: map-get($color_regulation,'blue');
                                                }
                                            }
                                        }
                                    }

                                }
                                div.price{
                                    text-align: right;
                                }
                                div.flex{
                                    display: flex;
                                    justify-content: space-between;
                                    div.buyer{
                                        width: 70%;
                                    }
                                    div.btn-block{
                                        align-self: flex-end;
                                        @include btn-module();
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}

// 檢舉留言管理CSS
main{
    div.mainContent{
        div.container{
            div.row{
                overflow: auto;
                height: 100%;
                div.col-12{
                    #reportMag{
                        h3{
                            font-size: $contentSubTit;
                        }
                        div.R-block-list{
                            @include search-module();
                            div.R-table{
                                height: 400px;
                                overflow: auto;
                                border-radius: $borderBtnRadius;
                                form{
                                    @include table-module();
                                    table{
                                        tr{
                                            th,td{
                                                @include cirle-default();
                                                div.new{
                                                    background-color: #4161ff;
                                                }
                                                i{
                                                    color: #225ca4c4;
                                                    cursor: pointer;
                                                }
                                                div.edit{
                                                    display: none;
                                                    input{
                                                        margin: 5px;
                                                    }
                                                    button.edit-btn{
                                                        border-radius: 10px;
                                                        border: none;
                                                        background-color: map-get($color_regulation,'blue');
                                                        color: map-get($color_regulation,'white');
                                                        padding: 5px 10px;
                                                        margin: 10px 0 10px 10px;
                                                        outline: none;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// 活動管理CSS
main{
    div.mainContent{
        div.container{
            div.row{
                overflow: auto;
                height: 100%;
                div.col-12{
                    #actVerifyMag{
                        h3{
                            font-size: $contentSubTit;
                        }
                        div.A-block-list{
                            @include search-module();
                            div.A-table{
                                height: 300px;
                                overflow: auto;
                                border-radius: $borderBtnRadius;
                                @include table-module();
                                table{
                                    >tbody{
                                        >tr{
                                            cursor: pointer;
                                            td{
                                                @include cirle-default();
                                                div.new{
                                                    background-color: map-get($color_regulation,'red');
                                                }
                                                div.cancel{
                                                    background-color: #4161ff;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        div.A-block-review-new{
                            display: flex;
                            padding: 30px 0px;
                            align-items: flex-end;
                            justify-content: space-between;
                            div.info{
                                width: 70%;
                                box-shadow: $box-shadow;
                                padding: 30px;
                                border-radius: $borderRadius;
                                background-color: map-get($color_regulation ,'white');
                                p{
                                    line-height: $lineHeight;
                                    span.red{
                                        color: map-get($color_regulation ,'red');
                                        font-weight: bold;
                                        font-size: $h7;
                                    }
                                }
                            }
                            div.review{
                                form{
                                    div.btn-group{
                                        @include btn-module();
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// 花絮管理CSS
main{
    div.mainContent{
        div.container{
            div.row{
                overflow: auto;
                height: 100%;
                div.col-12{
                    #actHistoryMag{
                        h3{
                            font-size: $contentSubTit;
                        }
                        div.AH-block-list{
                            @include search-module();
                            div.AH-table{
                                height: 400px;
                                overflow: auto;
                                border-radius: $borderBtnRadius;
                                @include table-module();
                                table{
                                    >tbody{
                                        >tr{
                                            cursor: pointer;
                                            td{
                                                @include cirle-default();
                                                div.alert{
                                                    background-color: #4161ff;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        div.AH-block-upload{
                            div.info{
                                box-shadow: $box-shadow;
                                padding: 30px;
                                margin: 30px 0;
                                border-radius: $borderRadius;
                                background-color: map-get($color_regulation ,'white');
                            }
                            div.upload{
                                form{
                                    display: flex;
                                    width: 100%;
                                    p.article{
                                        span{
                                            vertical-align: top;
                                            margin-top: 5px;
                                            margin-right: 5px;
                                            display: inline-block;
                                        }
                                        textarea{
                                            vertical-align: top;
                                            width: 500px;
                                            height: 200px;
                                            resize: none;
                                            box-shadow: $box-shadow;
                                            border-radius: $inputRadius;
                                            border: none;
                                            padding: 10px;
                                            outline: none;
                                            background-color: map-get($color_regulation ,'white');
                                        }
                                    }
                                    div.right{
                                        position: relative;
                                        margin-left: 30px;
                                        input[type=file]{
                                            width: 200px;
                                        }
                                        div.btn-group{
                                            position: absolute;
                                            right: 0;
                                            bottom: 0;
                                            @include btn-module();
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
