@import '../var';
@import '../all.scss';
* {
    box-sizing: border-box;
    // font-family: $chinese;
    
}
@media (min-width:992px) and (max-width:1199px){

}
@media (min-width:768px) and (max-width:991px){
    
}
@media (min-width:576px) and (max-width:767px){
    
}
@media (max-width:575px){
    
}


// 流程// 
div.progress__bar{
    margin-top: 70px ;
    
    margin-bottom: 0px;
    box-shadow: $box-shadow;
    position: relative;
    // padding: 10px 20px 20px 20px;
    flex: 0 0 83.33333%;
    width: 100%;
    height: 60px;
    // justify-content: center;
    background-color: #fafafa;
    // border: 1px solid red;
    
    // margin: 10px auto;
    
    // display: flex !important;
    
    
    .progress{
        margin: 0 auto;
        padding: 0;
        list-style: none;
        display: flex ;
        justify-content: center;
        text-align: center;
        color: #ffffff;
        text-align: center;
        position: relative;
        font-size: 24px;
        width: auto;
        // margin: 0 auto;
        
    
    
    .progress__item{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        // margin: 0 100px;
        position: relative;
        background-color: #1D1E4C;
        line-height: 30px;
        letter-spacing: 0px;
        margin: 0 ;
        // background-color:#1D1E4C ;
        color: #fafafa;
 
        p.progress__text{
            position: absolute;
            width: 150px;
            top: 50%;
            left: -200%;
            color: #1D1E4C;
            font-size: $h7;
            font-family: $chinese;
        
        
        }
        // .progress__item--active{
        //     background-color: #1D1E4C;
    
        //     }
        
    // width:100%;
    // margin: 0 auto;
    // padding-left:16px;
    // padding-right: 16px;
    // text-align: center;
    // margin: 20% auto;
    
    /* border: 1px solid red; */
     }  
     .progress_group_bar {
        height: 12px;
        // -webkit-box-flex: 1;
        // -ms-flex: 1 1 100%;
        // flex: 1 1 100%;
        margin: 10px -5px;
        z-index: 0;
        .progress-bar {
            // display: flex;
            // -webkit-box-orient: vertical;
            // -webkit-box-direction: normal;
            // -ms-flex-direction: column;
            flex-direction: column;
            // -webkit-box-pack: center;
            // -ms-flex-pack: center;
            justify-content: center;
            color: #1D1E4C;
            text-align: center;
            white-space: nowrap;
            background-color: #1D1E4C;
            // -webkit-transition: width .6s ease;
            // -o-transition: width .6s ease;
            transition: width .6s ease;
            width: 500px;
            height: 10px;
            // .active{
            //     background-color: #1D1E4C;
            //     }
            //  .notactive{
            //     background-color: #646464;
            //  }
        }
        @media (min-width:992px) and (max-width:1199px){
            .progress-bar{
                width: 400px;
            }
        }
        @media (min-width:768px) and (max-width:991px){
            .progress-bar{
                width: 300px;
            }  
        }
        @media (min-width:576px) and (max-width:767px){
            .progress-bar{
                width: 200px;
            }  
        }
        @media (max-width:575px){
            .progress-bar{
                width: 150px;
            }
        }
    
   }
    }
}

div.title-block {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    width: $reserveSide;
    //    position: absolute;
    // margin-top: 10px;
    margin-left: 0px;
    h1.title {
        font-size: 20px;
        color: #1d1e4c;
        display: inline-block;
        white-space: nowrap;
        padding: 10px;
        writing-mode: vertical-rl;
        text-orientation: sideways;
    }
}
// .progress__item &:after {
//     content: "";
//     width: 500%;
//     height: 3px;
//     position: absolute;
//     background-color: #D8D8D8;
//     top: 50%;
//     left: -478%;
//     z-index: 1;
// }

    
    
    // a {
    //     text-decoration: none;
    //     color: #B0B0B0;
    //     font-size: 28px;
    //     margin: 10px 20px;
    // }
    // .active {
    //     color: #1d1e4c;
    //     font-weight: bold;
    // }

.Cart{
    margin: 0 auto;
    display: flex;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    // flex: 0 0 83.33333%;
    max-width: $pageW;
    @media (min-width:992px) and (max-width:1199px){

    }
    @media (min-width:768px) and (max-width:991px){
        
    }
    @media (min-width:576px) and (max-width:767px){
        
    }
    @media (max-width:575px){
        
    }
 #new {
    z-index: 1;
    // border: 1px solid red;
    // max-width: $pageW;
    // margin: 0 auto;
    //  margin-top: 110px;
    width: 100%;
    margin-left: 10px;
    letter-spacing: $letter-Spacing;
    // div.title-block {
    //     display: inline-block;
    //     vertical-align: top;
    //     width: $reserveSide;
    //     //    position: absolute;
    //     margin-top: 10px;
    //     margin-left: 10px;
    //     h1.title {
    //         font-size: 28px;
    //         color: #1d1e4c;
    //         display: inline-block;
    //         white-space: nowrap;
    //         padding: 10px 0;
    //         writing-mode: vertical-rl;
    //         text-orientation: sideways;
    //     }
    }
    div.content {
        // border: 1px solid red;
        text-align: left;
        display: inline-block;
        vertical-align: top;
        position: relative;
        // max-width: $pageW;
        width: 100%;
        // padding-right: 60px;
        div.sub-title-block {
            text-align: center;
            h2.sub-title {
                font-size: 28px;
                color: #1D1E4C;
            }
        }
        #app {
            margin: 0 auto;
            font-size: 18px;
            color: #1d1e4c;
            position: relative;

            .item_body {
                // border: 1px solid #1d1e4c;
                border-radius: 15px;
                margin: 5px auto;
                // padding: 30px 20px;
                // margin-bottom: 20px;
                width: 100%;
                // height: 88px;
                align-items: center;
                display: flex;
                box-shadow: $box-shadow;

                .item_body div{
                    border: 1px solid red;
                    width: 400px;
                    color: #1d1e4c;
                    line-height: $lineHeight;
                    @media (min-width:992px) and (max-width:1199px){
                       
                    }
                    @media (min-width:768px) and (max-width:991px){
                        
                    }
                    @media (min-width:576px) and (max-width:767px){
                        font-size: $p;
                    }
                    @media (max-width:575px){
                        font-size: $p;
                    }
                    

                }
                
                    .item_detail {
                        width: 50%;
                        display: inline-block;
                        // padding-left: 40px;
                        // display: flex;
                        // margin: 0 auto;
                        // height: 30px;
                        // background-color: #fff;
                        // padding-left: 10px;

                        div.img {
                            width: 100px;
                            height: 100px;
                            background-image: url(https://images.unsplash.com/photo-1534961880437-ce5ae2033053?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80);
                            // border-radius: 3px;
                            /* margin-top: 10px; */
                            float: left;
                            margin: 10px 30px 10px 30px;
                            background-size: contain;
                            @media (min-width:992px) and (max-width:1199px){

                            }
                            @media (min-width:768px) and (max-width:991px){
                                width: 80px;
                                height: 80px;
                                margin: 10px 30px 10px 30px;
                            }
                            @media (min-width:576px) and (max-width:767px){
                                width: 70px;
                                height: 70px;
                                font-size: $p;
                                margin: 10px 20px 10px 20px;
                            }
                            @media (max-width:575px){
                                width: 65px;
                                height: 65px;
                                margin: 10px 5px 10px 5px;
                            }
                            
                        }
                        .name,.size {
                            margin: 20px auto;
                            padding: 0px 50px 0 200px;
                            // margin-left: 10px;
                            // margin-top: 20px;
                            // display: inline-block;
                            @media (min-width:992px) and (max-width:1199px){
                                margin: 20px auto;
                                padding: 0px 50px 0 200px;
                            }
                            @media (min-width:768px) and (max-width:991px){
                                margin: 20px auto;
                                padding: 0px 40px 0 150px;
                            }
                            @media (min-width:576px) and (max-width:767px){
                                margin: 10px auto;
                                padding: 0px 5px 0 10px;
                                font-size: $p;
                            }
                            @media (max-width:575px){
                                margin: 10px auto;
                                padding: 0px 5px 0 10px;
                                font-size: $p;
                                
                            }
                        }
                    }

                
            .itemcol{
                display: flex;
                // width: 1000px;
                margin: 30px;
                // height: 30px;
                // background-color: #fff;
                padding: 0px 20px;
                @media (min-width:992px) and (max-width:1199px){
                    margin: 15px;
                }
                @media (min-width:768px) and (max-width:991px){
                    margin: 15px;
                }
                @media (min-width:576px) and (max-width:767px){
                    margin: 0px;
                    padding: 0px 10px;
                }
                @media (max-width:575px){
                    margin: 0px;
                    padding: 0px 5px;
                }
            }
            
 
            button.round {
                border-radius: 50%;
                width: 25px;
                height: 25px;
                outline: 0;
                border: 0;
                color: #fff;
                font-size: 18px;
                background: #c3c3c3;
                cursor: pointer;
                @media (min-width:992px) and (max-width:1199px){

                }
                @media (min-width:768px) and (max-width:991px){
                    
                }
                @media (min-width:576px) and (max-width:767px){
                    width: 20px;
                    height: 20px;
                    font-size: $p; 
                    padding: 0px;
                }
                @media (max-width:575px){
                    width: 20px;
                    height: 20px;
                    font-size: $p;
                    padding: 0px;
                    
                }

            }
            button.add {
                background-color: #1d1e4c;
                font-size: 20px;
            }
            button.less {
                background-color: white;
                color: #1d1e4c;
                font-size: 24px;
            }
            button.round-cxl {
                border-radius: 50%;
                width: 28px;
                height: 28px;
                outline: 0;
                border: 0;
                color: #fff;
                font-size: 18px;
                background: #1d1e4c;
                border-radius: 50%;
                cursor: pointer;
                @media (min-width:992px) and (max-width:1199px){

                }
                @media (min-width:768px) and (max-width:991px){
                    
                }
                @media (min-width:576px) and (max-width:767px){
                    font-size: 15px;  
                    padding: 0px;
                    width: 23px;
                    height: 23px;
                }
                @media (max-width:575px){
                    font-size: 15px;
                    padding: 0px;
                    width: 23px;
                    height: 23px;
                }

            }
            } 
        
    
        .total_body {
            border: 1px solid #1d1e4c;
            border-radius: 15px;
            margin-top: 20px;
            margin-bottom: 50px;
            float: right;
            text-align: center;
            right: 0;
            box-shadow: $box-shadow;
            @media (min-width:992px) and (max-width:1199px){

            }
            @media (min-width:768px) and (max-width:991px){
                
            }
            @media (min-width:576px) and (max-width:767px){
                width: 100%;
                margin: 20px auto;
            }
            @media (max-width:575px){
                width: 100%;
                margin: 20px auto;
                
            }

            .total-title {
                width: 100%;
                height: 30px;
                background-color: #1d1e4c;
                border-radius: 15px;
                text-align: center;
                vertical-align: middle;
                .detail {
                    color: white;
                    font-size: 18px;
                }
            }
            div.row {
                clear: both;
                padding: 10px;
                margin: 5px auto;
                span.label {
                    float: left;
                    width: 160px;
                    text-align: left;
                }
                div.formw {
                    float: right;
                    width: 30%;
                    text-align: right;
                }
                input.formw {
                    float: right;
                    width: 40%;
                    text-align: right;
                    // padding: $paddingSide;
                    border: 1px solid #1D1E4C;                    
                }
                input.discount {
                    // width: 30px;
                    // height: 50px;
                    border: 1px solid #CACACA;
                    line-height: $lineHeight;
                    border-radius: $inputRadius;

                }
            }
            div.orderCount {
                p {
                    // text-align: center;
                    font-size: 22px;
                    font-weight: bold;
                    margin: 20px auto 0px;
                    padding: 10px;
                }
            }
        }
        .butSection{
            clear: both;
            margin: 30px auto;
            text-align: center;
            button.button{
                border-radius: $btnRadius;
                font-size: $btnTxt;
                box-shadow: $box-shadow;
                line-height: $lineHeight;
                margin: 20px 50px;
                padding: 10px 30px;
                // background-color: #1D1E4C;
                border: none;
                outline: none;
                @media (min-width:992px) and (max-width:1199px){

                }
                @media (min-width:768px) and (max-width:991px){
                    
                }
                @media (min-width:576px) and (max-width:767px){
                    margin: 20px ;
                }
                @media (max-width:575px){
                    margin: 10px ;
                    
                }
                
            }
            .button-buy{
                border-radius: $btnRadius;
                background-color: #1D1E4C; 
                color:#fafafa

            }
            .button-pay{
                border-radius: $btnRadius;
                background-color: #EF4325; 
                color:#fafafa

            }

        }
      }
    }
 }



