@import '../var';
@import '../all.scss';
* {
    box-sizing: border-box;
    // font-family: $chinese;
    
}
@media (min-width:992px) and (max-width:1199px){

}
@media (min-width:768px) and (max-width:991px){
    
}
@media (min-width:576px) and (max-width:767px){
    
}
@media (max-width:575px){
    
}


// 流程// 
div.progress__bar{
    margin-top: 66px ;
    margin-bottom: 0px;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.171) inset;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.171) inset;
    -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.171) inset;
    position: relative;
    padding: 10px 0 40px 0;
    flex: 0 0 83.33333%;
    width: 100%;
    background-color: map-get($map: $color_regulation, $key: 'white'); 
    
    .progress{
        margin: 0 auto;
        padding: 0;
        list-style: none;
        display: flex ;
        justify-content: center;
        text-align: center;
        color: #ffffff;
        text-align: center;
        position: relative;
        font-size: 24px;
        width: auto;
        
    
    
    .progress__item{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: relative;
        background-color: map-get($map: $color_regulation, $key: 'blue');
        line-height: 30px;
        letter-spacing: 0px;
        margin: 0 ;
        color: map-get($map: $color_regulation, $key: 'white');
        &:first-child{
            color: map-get($map: $color_regulation, $key:'blue' );
            background-color: map-get($map:$color_regulation, $key:'yellow' );
            z-index: 1;
        }
        p.progress__text{
            position: absolute;
            width: 150px;
            top: 50%;
            left: -200%;
            color: map-get($map: $color_regulation, $key: 'blue');
            font-size: $h7;
            font-family: $chinese;
            
        }
     }  
     .progress_group_bar {
        height: 12px;
        margin: 10px -5px;
        z-index: 0;
        .progress-bar {
            flex-direction: column;

            justify-content: center;
            color: map-get($map: $color_regulation, $key: 'blue');
            text-align: center;
            white-space: nowrap;
            background-color: map-get($map: $color_regulation, $key: 'blue');
            transition: width .6s ease;
            width: 500px;
            height: 10px;
        }
        @media (min-width:992px) and (max-width:1199px){
            .progress-bar{
                width: 400px;
            }
        }
        @media (min-width:768px) and (max-width:991px){
            .progress-bar{
                width: 300px;
            }  
        }
        @media (min-width:576px) and (max-width:767px){
            .progress-bar{
                width: 200px;
            }  
        }
        @media (max-width:575px){
            .progress-bar{
                width: 150px;
            }
        }
    
   }
    }
}

div.title-block {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    width: $reserveSide;
    //    position: absolute;
    // margin-top: 10px;
    margin-left: 0px;
    h1.title {
        margin: 0;
        font-size: 20px;
        color: map-get($color_regulation, 'blue' );;
        display: inline-block;
        white-space: nowrap;
        padding: 10px;
        writing-mode: vertical-rl;
        text-orientation: sideways;
    }
}

.Cart{
    margin: 0 auto;
    display: flex;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    // flex: 0 0 83.33333%;
    max-width: $pageW;
    @media (min-width:992px) and (max-width:1199px){

    }
    @media (min-width:768px) and (max-width:991px){
        
    }
    @media (min-width:576px) and (max-width:767px){
        
    }
    @media (max-width:575px){
        
    }
 #new {
    z-index: 1;
    width: 100%;
    letter-spacing: $letter-Spacing;
    }
    div.content {
        text-align: left;
        display: inline-block;
        vertical-align: top;
        position: relative;
        width: 100%;
        div.sub-title-block {
            text-align: center;
            h2.sub-title {
                margin: 0;
                margin-top: 30px;
                font-size: 28px;
                color: map-get($map: $color_regulation, $key: 'blue');
            }
            .sub-title-line{
                margin: 10px auto 30px;
                width: 50px;
                height: 8px;
                background-color:map-get($map: $color_regulation, $key:'yellow' );
            }
        }
        #app {
            margin: 0 auto;
            font-size: 18px;
            color: map-get($color_regulation, 'blue' );;
            position: relative;

            .item_body {
                margin: 15px auto;
                width: 100%;
                align-items: center;
                display: flex;
                box-shadow: $box-shadow;

                .item_body div{
                    border: 1px solid red;
                    width: 400px;
                    color: map-get($color_regulation, 'blue' );;
                    line-height: $lineHeight;
                    @media (min-width:992px) and (max-width:1199px){
                       
                    }
                    @media (min-width:768px) and (max-width:991px){
                        
                    }
                    @media (min-width:576px) and (max-width:767px){
                        font-size: $p;
                    }
                    @media (max-width:575px){
                        font-size: $p;
                    }
                    

                }
                
                    .item_detail {
                        width: 50%;
                        display: inline-block;

                        div.img {
                            width: 100px;
                            height: 100px;
                            // background-image: url(https://images.unsplash.com/photo-1534961880437-ce5ae2033053?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80);
                            // border-radius: 10px;
                            overflow: hidden;
                            /* margin-top: 10px; */
                            float: left;
                            margin: 10px 30px 10px 30px;
                            background-size: contain;
                            @media (min-width:992px) and (max-width:1199px){

                            }
                            @media (min-width:768px) and (max-width:991px){
                                width: 100px;
                                // height: 80px;
                                margin: 10px 30px 10px 30px;
                            }
                            @media (min-width:576px) and (max-width:767px){
                                width: 70px;
                                height: 70px;
                                font-size: $p;
                                margin: 10px 20px 10px 20px;
                            }
                            @media (max-width:575px){
                                width: 65px;
                                height: 65px;
                                margin: 10px 5px 10px 5px;
                            }
                            
                        }
                        .name,.size {
                            margin: 20px auto;
                            padding: 0px 50px 0 200px;
                            align-items: center;
                            @media (min-width:992px) and (max-width:1199px){
                                margin: 20px auto;
                                padding: 0px 50px 0 200px;
                            }
                            @media (min-width:768px) and (max-width:991px){
                                margin: 20px auto;
                                padding: 0px 40px 0 150px;
                            }
                            @media (min-width:576px) and (max-width:767px){
                                margin: 10px auto;
                                padding: 0px 5px 0 10px;
                                font-size: $p;
                            }
                            @media (max-width:575px){
                                margin: 10px auto;
                                padding: 0px 5px 0 10px;
                                font-size: $p;
                                
                            }
                        }
                    }

                
            .itemcol{
                display: flex;
                // width: 1000px;
                margin: 30px;
                padding: 0px  20px;
                @media (min-width:992px) and (max-width:1199px){
                    margin: 15px;
                }
                @media (min-width:768px) and (max-width:991px){
                    margin: 15px;
                }
                @media (min-width:576px) and (max-width:767px){
                    margin: 0px;
                    padding: 0px 10px;
                }
                @media (max-width:575px){
                    margin: 0px;
                    padding: 0px 5px;
                }
            }
            .item-count{
                border: 1px solid map-get($color_regulation, 'blue' );;
                padding: 5px 9px;
                padding-left: 13x;
                text-align: center;
                // margin: 10px;
            }
                
            div.round {
                border-radius: 50%;
                width: 30px;
                height: 30px;
                outline: 0;
                border: 0;
                color: map-get($color_regulation, 'blue' );;
                font-size: 18px;
                background: map-get($color_regulation, 'gray' );
                cursor: pointer;
                margin: 0 10px;
                &:hover{
                    background: map-get($color_regulation, 'yellow' );
                    color: map-get($map: $color_regulation, $key: 'blue');
                }
                
                @media (min-width:992px) and (max-width:1199px){

                }
                @media (min-width:768px) and (max-width:991px){
                    
                }
                @media (min-width:576px) and (max-width:767px){
                    width: 20px;
                    height: 20px;
                    font-size: $p; 
                    padding: 0px;
                }
                @media (max-width:575px){
                    width: 20px;
                    height: 20px;
                    font-size: $p;
                    padding: 0px;
                    
                }

            }
            div.add {
                font-size: 20px;
                text-align: center;
                @media (min-width:576px) and (max-width:767px){
                    font-size: 15px;  
                    padding: 0px;
                    width: 23px;
                    height: 23px;
                }
                @media (max-width:575px){
                    font-size: 15px;
                    padding: 0px;
                    width: 23px;
                    height: 23px;
                }
            }
            div.less {
                font-size: 20px;
                text-align: center;
                @media (min-width:576px) and (max-width:767px){
                    font-size: 15px;  
                    padding: 0px;
                    width: 23px;
                    height: 23px;
                }
                @media (max-width:575px){
                    font-size: 15px;
                    padding: 0px;
                    width: 23px;
                    height: 23px;
                }
            }
            div.round-cxl {
                border-radius: 50%;
                width: 28px;
                height: 28px;
                outline: 0;
                border: 0;
                font-size: 18px;
                cursor: pointer;
                @media (min-width:992px) and (max-width:1199px){

                }
                @media (min-width:768px) and (max-width:991px){
                    
                }
                @media (min-width:576px) and (max-width:767px){
                    font-size: 15px;  
                    padding: 0px;
                    width: 23px;
                    height: 23px;
                }
                @media (max-width:575px){
                    font-size: 15px;
                    padding: 0px;
                    width: 23px;
                    height: 23px;
                }
            }
            
            } 
        
        
    
        .total_body {
            margin-top: 20px;
            margin-bottom: 50px;
            float: right;
            text-align: center;
            right: 0;
            box-shadow: $box-shadow;
            @media (min-width:992px) and (max-width:1199px){

            }
            @media (min-width:768px) and (max-width:991px){
                
            }
            @media (min-width:576px) and (max-width:767px){
                width: 100%;
                margin: 20px auto;
            }
            @media (max-width:575px){
                width: 100%;
                margin: 20px auto;
                
            }

            .total-title {
                box-shadow: $box-shadow;
                width: 100%;
                height: 30px;
                background-color: map-get($color_regulation,'yellow');
                text-align: center;
                vertical-align: middle;
                border: none;
                .detail {
                    color: map-get($map: $color_regulation, $key: 'blue');
                    font-size: 18px;
                }
            }
            div.row {
                clear: both;
                padding: 10px;
                margin: 5px auto;
                span.label {
                    float: left;
                    width: 160px;
                    text-align: left;
                }
                div.formw {
                    float: right;
                    // width: 30%;
                    text-align: right;
                }
                input.formw {
                    float: right;
                    width: 40%;
                    text-align: right;
                    // padding: $paddingSide;
                    border: 1px solid map-get($map: $color_regulation, $key: 'blue');                    
                }
                input.discount {
                    border: 1px solid map-get($map: $color_regulation, $key: 'blue'); 
                    line-height: $lineHeight;
                }
            }
            div.orderCount {
                p {
                    font-size: 22px;
                    font-weight: bold;
                    margin: 20px auto 0px;
                    padding: 10px;
                    color:map-get($map: $color_regulation, $key: 'red'); 
                }
            }
        }
        .butSection{
            clear: both;
            margin: 30px auto;
            text-align: center;
            button.button{
                height: 35px;
                font-size: $btnTxt;
                box-shadow: $box-shadow;
                line-height: $lineHeight;
                margin: 20px 50px;
                padding: 0px 30px;
                border: none;
                outline: none;
                @media (min-width:992px) and (max-width:1199px){

                }
                @media (min-width:768px) and (max-width:991px){
                    
                }
                @media (min-width:576px) and (max-width:767px){
                    margin: 20px ;
                }
                @media (max-width:575px){
                    margin: 10px ;
                    
                }
                
            }
            .button-buy{
                background-color: map-get($map: $color_regulation, $key: 'blue'); 
                color:map-get($map: $color_regulation, $key: 'white');
            }
            .button-pay{
                background-color: map-get($map: $color_regulation, $key: 'yellow');
                color:map-get($map: $color_regulation, $key: 'blue');
            }
        }
      }
    }
 }



