//@import '../var';
//@import '../all.scss';
//=============共用規格設定如下=============
//font-family
//$font-family:'Arial', '微軟正黑體';
$english: 'Palatino Linotype';
$chinese: 'noto sans tc';
//Header
$navH:66px;
$logoW:50px;
//Footer
$footerH:500px;
// Font Size
$p:15px;
$h1:72px;
$h2:60px;
$h3:48px;
$h4:38px;
$h5:28px;
$h6:22px;
$h7:18px;

$contentTxt:15px;   //內文字體大小
$btnTxt:15px;   //按鈕字體大小
$regionTxt:28px;//區域性字體
$contentSubTit:22px;//內文副標題
$navTxt:15px;//導覽列文字
$line-height:30px;//文字行高
$letter-Spacing:2px;//文字間距
$padding-hint:10px;//頁面提示字padding
//Others
$pageW:1200px;//網頁寬
$reserveSide:30px;//左右預留寬度
//Radius
$borderRadius:15px;
$btnRadius:15px;
$inputRadius:5px;
//box-shadow
$box-shadow:1px 1px 6px rgba(0, 0, 0, 0.342);

//敬航
$closeBtn:27px;//關閉紐大小
// header
$navH:66px;
$logoW:50px;
//Footer
$footerH:500px;

//new color
$color_regulation:(
    'btnPink': #FF9898,
    'btnBlue': #1654FF,
    'btnRed': #EF4325,
    'orange':#FFAE41,
    'pink':#FF498C,
    'lake':#09E4C7,
    'black':#1E1E1E,
    'blue':#1D1E4C,//主要色
    'white':#fafafa,//需要(白色)統一用這一個
    'white-bg':#F6F6F6,//背景為暗色需改成白色(背景底色)
    'red':#EF4325,//警示色
    'green':#0e6d41,//環保幣顏色
    'gray-input-hintText':#C2C2C2,//input的提示顏色
    'blue-input-border':#1D1E4C,//input的邊框顏色
    'gray':#C6C6C6,// 頁面提示字顏色(灰色)
    'blackGray':#0D1017,//footer背景: 黑灰色
    'footerGray':#2A323D,//footer背景字體色、nav顏色(黑灰色)
    'footerSide':#161c24,//footer旁邊顏色
    'footerGray2':rgba(66, 79, 95,.1),
);

//=============共用規格設定如上=============
//=========================================

*{
    box-sizing: border-box;
}

body {
    font-family: $english, $chinese;
    background-color: map-get($color_regulation,'white-bg' );
}

//左側 直向 麵包條
h5.title {
    margin-top:$navH;
    position:absolute;
    //top: $navH;
    top: calc( #{$navH} + 10px);
    left:0;
    margin:0;
    font-size: $h5;
    font-weight:500;
    letter-spacing: $letter-Spacing;
    display: inline-block;
    white-space: nowrap;
    padding: 10px 0;
    transform: rotate(90deg) translateX(-60px);
    transform-origin: 0% 100%;
    /* transform: rotate(270deg) translateX(-100%); */
    /* transform-origin: 0% 0%; */
    color:map-get($color_regulation,'blue');
    span {
        color:map-get($color_regulation,'gray' );
    }
    @media (min-width:320px) and (max-width:575px){
        font-size: $h6;
    }
}

section {
    margin:0 auto;
    letter-spacing:$letter-Spacing;
    max-width: $pageW;
    text-align: center;
    padding-top:$navH;
    margin-top:25px;
    margin-bottom: 70px;
    @media (min-width:320px) and (max-width:575px){
        margin-bottom: 25px;
    }

    div.allGuide{
        margin:0 auto;
        width:100%;
        padding: $reserveSide;
        color:map-get($color_regulation,'blue');
        //display:flex;
        //justify-content: space-between;

        div.leftOfGuide{
            font-size: $h6;

            div.titleOfGuide{
                width:100%;
                padding:10% 1%;
                text-align: center;
                border-radius: $borderRadius;
                box-shadow: $box-shadow;
                margin-bottom: 4%;
                cursor: pointer;
                display:inline-block;
                @media (min-width:576px) and (max-width:992px){
                    vertical-align: top;
                    width:49%;
                    height:70px;
                    line-height: 60px;
                    padding:1%;
                    font-size: $h7;
                    margin-bottom:2%;
                }
                @media (min-width:320px) and (max-width:575px){
                    width:100%;
                    height:50px;
                    font-size: $h7;
                    padding: 10px;
                    line-height: 28px;
                    margin-bottom:2.5%;
                }
            }
        }

        div.rightOfGuide{

            div.explainOfGuide{
                width:100%;
                padding:15% 15%;
                text-align: left;
                border-radius: $borderRadius;
                box-shadow: $box-shadow;
                position: relative;
                @media (min-width:320px) and (max-width:575px){
                    padding:15% 7%;
                }

                p.explainTitle1{
                    color: map-get($color_regulation,'gray');
                    font-size: $h3;
                    margin:0;
                    position: absolute;
                    top:7%;
                    right:7%;
                    white-space: nowrap;
                    // position: absolute;
                    // top:30px;
                    // right:25px;
                    // transform: rotate(90deg) translatex(100%);
                    // transform-origin: top right;
                    @media (min-width:461px) and (max-width:1199px){
                        font-size: $h4;
                        position: absolute;
                        top:4%;
                        right:5%;
                    }
                    @media (min-width:320px) and (max-width:460px){
                        font-size: $h6;
                        position: absolute;
                        top:2%;
                        right:2%;
                    }
                }
                p.explainSomething{
                    font-size:$p;
                }
            }
            div#ShowGuide2, div#ShowGuide3, div#ShowGuide4{
                display:none;
            }
        }
    }
}