@import '../var';
@import '../all.scss';

// ------自訂文字大小------------------------------
h1{font-size: 72px;}
h2{font-size: 60px;}
h3{font-size: 48px;}
h4{font-size: 38px;}
h5{font-size: 28px;}
h6{font-size: 22px;}
h7{font-size: 18px;
    font-weight: bold;}
p{font-size: 15px;}


// -----------------------------------------------
@mixin bgImg ($url){
    background-image: url($url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@mixin borbox(){
    border-radius: 15px;
    overflow: hidden;
}

// ------套件class------------------------------

.swiper-container {
    width: 100%;
    height: 100%;
  }
.swiper-slide {
    text-align: center;
    font-size: 18px;
    // background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


// ---------------------------------------
.homeBlock{
    margin: 0 auto;
    width: 1200px;
    padding: 0 30px;
}


.homeAllPage{
    color: #1D1C4C;
    line-height:30px;
    letter-spacing:2px;
    width: 100%;
    background-color:map-get($color_regulation, 'white-bg');
    margin-top: 66px;
    .homeBotLayer1{
        .homeBlock{
            .homePage1{
                display: flex;
                justify-content: center;
                align-items: center;
                color: map-get($color_regulation, 'blue');
                .page1Left{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 30%;
                    height: calc(100vh - 66px);
                    background-image:url(../../img/indexFront/indexfont-img.png);
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-position: center;
                    h5{
                        margin: 0;
                        margin-bottom: 15px;
                    }
                }
                .page1Right{
                    margin-left: 5%;
                    border-radius: 15px;
                    box-shadow:1px 1px 6px rgba(0, 0, 0, 0.342);
                    background-color:#FFFFFF;
                    width: 65%;
                    height: 450px;
                    overflow: hidden;
                    padding: 15px;
                    .swiper-wrapper{
                        .swiper-slide{
                            .page1RightCard{
                                border-radius: 15px;
                                overflow: hidden;
                                width: 310px;
                                height: 380px;
                            }
                            .page1RightText{
                                margin-left: 20px;
                                width: 45%;
                            }
                        }
                    }
                }
            }
        }
    }
}


.homeBotLayer2{
    color: map-get($color_regulation, 'white');
    height: 100vh;
    align-items: center;
    justify-content: center;
    @include bgImg('../../img/indexFront/indexImg5.jpg');
    .frontBlur{
        position: relative;
        z-index: 1; // 不讓毛玻璃掉到最底層
        overflow: hidden; // 超出的毛玻璃裁切掉
        height: 100vh;
        // box-shadow:inset 0 0 20px #fff, 0px 0px 20px rgba(#000,0.5);
        &::before{
            margin: auto;
            position: absolute;
            z-index: -1;
            content:"";
            width: 100vw;
            height: 100vh;
            top: 0; // 要比原本的div大
            bottom: 0; // 毛玻璃邊才不會內縮
            left: 0;
            right: 0;
            opacity: 1; // 透光可控制內部陰影
            @include bgImg('../../img/indexFront/indexImg5.jpg');
            // background-attachment: fixed;
            
            filter: blur(5px);
        }
        .homeBlock{
            color: map-get($color_regulation,'blue');
            .homePage2{
                height: 100%;
                .homePage2Top{
                    margin-bottom: 50px;
                }
                .homePage2Data{
                    display: flex;
                    justify-content: space-around;
                    
                }
            }
        }
    } 
}

.homeBotLayer3{
    height: 50vh;
    background-color:map-get($color_regulation, 'white-bg');
    .homePage3{
        display: flex;
        padding: 5% 0;
        &__left{
            width: 45%;
            padding-right: 50px;
        }
        &__right{
            padding: 30px;
            background: #FFFFFF;
            width: 45%;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 15px;
            box-shadow:1px 1px 6px rgba(0, 0, 0, 0.342);
            h5{
                margin: 0;
                margin-bottom: 10px;
            }
            .rank{
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
            &__no1{
                margin-bottom: 15px;
                border-radius: 15px;
                height: 80px;
                width: 95%;
                background-color:map-get($color_regulation, 'orange');
            }
            &__no2{
                margin-bottom: 10px;
                border-radius: 15px;
                height: 50px;
                width: 90%;
                background-color:map-get($color_regulation, 'pink');
            }
            &__no3{
                border-radius: 15px;
                width: 90%;
                height: 50px;
                background-color:map-get($color_regulation, 'lake');
            }
        }
    }
}


.homeBotLayer4{
    height: 100vh;
    background-color:map-get($color_regulation, 'white-bg');
    .homePage4{
        margin-bottom: calc(100vh - 95vh - 30px);
        @include borbox();
        background: #FFFFFF;
        box-shadow:1px 1px 6px rgba(0, 0, 0, 0.342);
        height: 95vh;
        padding: 30px;
        padding-bottom: 0;
        h5{
            margin: 0;
            text-align: center;
            margin-bottom: 30px;
            &:nth-child(2) {
                margin-top:30px;
            }
        }
        h6{
            margin: 0;
        }
        &__customerBlock{
            background-size: cover;
            margin-bottom: 30px;
            border-radius: 15px;
            overflow: hidden;
            box-shadow:1px 1px 6px rgba(0, 0, 0, 0.342);
            .frontBlur{
                padding: 0 30px;
                position: relative;
                z-index: 1; // 不讓毛玻璃掉到最底層
                overflow: hidden; // 超出的毛玻璃裁切掉
                background-image: url(../../img/indexFront/indexImg8.jpg);
                &::before{
                    margin: auto;
                    position: absolute;
                    z-index: -1;
                    content:"";
                    width: 100vw;
                    height: 35vh;
                    top: 0; // 要比原本的div大
                    bottom: 0; // 毛玻璃邊才不會內縮
                    left: 0;
                    right: 0;
                    opacity: 1; // 透光可控制內部陰影
                    background-image: url(../../img/indexFront/indexImg8.jpg);
                    background-size: cover;
                    background-position: bottom;
                    filter: blur(10px);
                }
            
            }
            .page4LeftCard{
                font-size: 0;
                position: relative;
                cursor: pointer;
                overflow: hidden;
                border-radius: 15px;
                height: 310px;
                width: 300px;

                img{
                    height: 310px;
                    width: 300px;
                    border-radius: 15px;
                    transition: .5s ease-in-out;
                    
                }
                .cusBlock{
                        position: absolute;
                        left: 10px;
                        top: 10px;
                        display: flex;
                        background-color: rgba(255, 255, 255, 0.774);
                        overflow: hidden;
                        line-height: 40px;
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        transition: .5s ease-in-out;

                    .cusIcon{
                        margin: auto 8px;
                        padding-left: 0;
                        
                        width: 30px;
                        height: 30px;
                    }
                    .cusText{  
                        margin: 0;
                        display: none;

                    }
                }
                .page4CardCont{
                    opacity: 0;
                    transition: .5s ease-in-out;

                    overflow: hidden;
                    position: absolute;
                    bottom: 0px;
                    border-radius: 0 0 15px 15px;
                    left: 0;
                    padding: 10px;
                    background-color: rgba(255, 255, 255, 0.774);
                    div{
                        display: flex;
                        justify-content: space-between;
                        
                        h6{
                            font-size: 18px;
                        }
                    }
                    p{  
                        overflow:hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        white-space: normal;
                    }
                    
                }
                &:hover{
                    // transition: .3s ease-in-out;
                    img{
                        transform: scale(1.2);
                        transition: .5s ease-in-out;
                    }
                    .cusBlock{
                        border-radius: 20px;
                        width: 165px;
                        transition: .3s ease-in-out;
                    }
                    .cusText{
                        display: block;
                     
                    }
                    .page4CardCont{
                        opacity: 1;
                        
                        transition: .5s ease-in-out;

                    }
                }
                
                
                
            }
            .page4RightText{
               
                padding: 30px;
                width: 60%;
                text-align: left;
                h5{
                text-align: left;
                }
                a{  
                    height: 30px;
                    padding: 0 30px;
                    float: right;
                }
                .colorAll{
                    margin-top: 30px;
                    display: flex;
                    justify-content: space-between;
                    border-radius: 15px;
                    height: 200px;
                    width: 80%;
                    .colorBox{
                        border-radius: 15px;
                        overflow: hidden;
                        width: 80px;
                        height: 110px;
                        position: relative;
                        &__text{
                          
                            input{
                                cursor: pointer;
                                line-height: 40px;
                                margin-left: 0;
                                label{
                         
                                    line-height: 40px;
                                    // cursor: pointer!important;
                                }
                            }
                            position: absolute;
                            line-height: 40px;
                            height: 40px;
                            width: 80px;
                            bottom: 0;
                            text-align: center;
                            background-color: #fff;
                        }
                        &__Blue{
                            background-color:#94B1EC;
                            position: absolute;
                            height: 70px;
                            width: 80px;
                        }
                        &__Red{
                            background-color: #E4634E;
                            position: absolute;
                            height: 70px;
                            width: 80px;
                        }
                        &__Green{
                            background-color: #40E09F;
                            position: absolute;
                            height: 70px;
                            width: 80px;
                        }
                        &__Black{
                            background-color:#393D49 ;
                            position: absolute;
                            height: 70px;
                            width: 80px;
                        }
                        &__Yellow{
                            background-color: #F9B861;
                            position: absolute;
                            height: 70px;
                            width: 80px;
                        }
                        
                        
                    }
                }
            }
            

        }
        &__generalBlock{
            margin-top: 30px;
            display: flex;
            justify-content: space-around;
            .proDetail{
                width:250px;
                height:280px;
            }
            .pro1{
                background-image: url(../../img/indexFront/bag1.jpg);
                @include borbox();
                background-size: cover;
            }
            .pro2{
                background-image: url(../../img/indexFront/bag1.jpg);
                @include borbox();
                background-size: cover;
            }
            .pro3{
                background-image: url(../../img/indexFront/bag1.jpg);
                @include borbox();
                background-size: cover;
            }
        }
    }
}


// --------------------------------------------------------------

:root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    --font-sans: "Rubik", sans-serif;
    --font-serif: "Cardo", serif;
}

.homeBotLayer5{
    
    color: map-get($color_regulation, 'white');
    height: 50vh;
    align-items: center;
    justify-content: center;
    @include bgImg('../../img/indexFront/indexImg7.jpg');
    .frontBlur{
        position: relative;
        z-index: 1; // 不讓毛玻璃掉到最底層
        overflow: hidden; // 超出的毛玻璃裁切掉
        height: 50vh;
        // box-shadow:inset 0 0 20px #fff, 0px 0px 20px rgba(#000,0.5);
        &::before{
            margin: auto;
            position: absolute;
            z-index: -1;
            content:"";
            width: 100vw;
            // height: 100vh;
            top: 0; // 要比原本的div大
            bottom: 0; // 毛玻璃邊才不會內縮
            left: 0;
            right: 0;
            opacity: 1; // 透光可控制內部陰影
            @include bgImg('../../img/indexFront/indexImg7.jpg');
            background-attachment: fixed;
            filter: blur(5px);
        }
    }
}

.homePage5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
    .homePage5Left{
        width: 40%;
        height: 80%;
    }
    .homePage5Right{
        width: 60%;
        height: 80%;
        
    }
}

.page5Card{
    border-radius: 15px;
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    height: 350px;
    width: 300px;
    text-align: center;
    color:map-get( $color_regulation, 'blue');
    background-color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}


.page5Card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
}
.page5Card:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
}
#swiper4>.swiper-wrapper>.swiper-slide:nth-child(1)>.page5Card:before {
    background-image: url(../../img/act_hist/beach1.jpg);
}
#swiper4>.swiper-wrapper>.swiper-slide:nth-child(2)>.page5Card:before {
    background-image: url(../../img/act_hist/beach2.jpg);
}
#swiper4>.swiper-wrapper>.swiper-slide:nth-child(3)>.page5Card:before {
    background-image: url(../../img/act_hist/beach4.jpg);
}
#swiper4>.swiper-wrapper>.swiper-slide:nth-child(4)>.page5Card:before {
    background-image: url(../../img/act_hist/beach3.jpg);
}
#swiper4>.swiper-wrapper>.swiper-slide:nth-child(5)>.page5Card:before {
    background-image: url(../../img/act_hist/beach1.jpg);
}
#swiper4>.swiper-wrapper>.swiper-slide:nth-child(6)>.page5Card:before {
    background-image: url(../../img/act_hist/beach2.jpg);
}


.page5Card{
    .content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 1rem;
        transition: transform var(--d) var(--e);
        z-index: 1;
        color: map-get($color_regulation, 'white' );
        .title {
            font-size: 1.3rem;
            font-weight: bold;
            line-height: 1.2;
        }
        
        .copy {
            font-family: var(--font-serif);
            font-size: 1.125rem;
            font-style: italic;
            line-height: 1.35;
        }
        
        .btn {
            cursor: pointer;
            margin-top: 1.5rem;
            padding: 0.75rem 1.5rem;
            font-size: 0.65rem;
            font-weight: bold;
            letter-spacing: 0.025rem;
            text-transform: uppercase;
            color: white;
            background-color: black;
            border: none;
        }
        .btn:hover {
            background-color: #0d0d0d;
        }
        .btn:focus {
            outline: 1px dashed yellow;
            outline-offset: 3px;
        }        
    }
    .content>*+* {
        margin-top: 1rem;
    }
}

@media (hover: hover) and (min-width: 600px) {
    .page5Card:after {
        transform: translateY(0);
    }
    .content {
        transform: translateY(calc(100% - 4.5rem));
    }
    .content>*:not(.title) {
        opacity: 0;
        transform: translateY(1rem);
        transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    }
    .page5Card:hover,
    .page5Card:focus-within {
        align-items: center;
    }
    .page5Card:hover:before,
    .page5Card:focus-within:before {
        transform: translateY(-4%);
    }
    .page5Card:hover:after,
    .page5Card:focus-within:after {
        transform: translateY(-50%);
    }
    .page5Card:hover .content,
    .page5Card:focus-within .content {
        transform: translateY(0);
    }
    .page5Card:hover .content>*:not(.title),
    .page5Card:focus-within .content>*:not(.title) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(var(--d) / 8);
    }
    .page5Card:focus-within:before,
    .page5Card:focus-within:after,
    .page5Card:focus-within .content,
    .page5Card:focus-within .content>*:not(.title) {
        transition-duration: 0.3s;
    }
}


.homeBotLayer6{
    height: 50vh;
    .homeBlock{
        .homePage6{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50vh;
            &__left{
                
                h5{
                    margin: 0;
                    
                }
                padding: 0 20px;
                // height: 50vh;
                width: 50%;
                background-color:map-get($color_regulation, 'white-bg');
                color: map-get($color_regulation, 'blue');
            }
            &__right{
                cursor: pointer;
                border-radius: 15px;
                box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
                height: 30vh;
                width: 50%;
                overflow: hidden;
                position: relative;
                border:none;
                #myVideo{
                    height: 120%;
                    width: 100%;
                    //poster裡面的照片填滿
                    object-fit: cover;
                }

                #myBtn{
                    cursor: pointer;
                    outline: none;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    background-color: rgba(255, 255, 255, 0);
                    border:none;
                }
            }
        }
    }
    
}

