@import '../var';
@import '../all.scss';

// ------自訂文字大小------------------------------
h1{font-size: 72px;}
h2{font-size: 60px;}
h3{font-size: 48px;}
h4{font-size: 38px;}
h5{font-size: 28px;}
h6{font-size: 22px;}
.h7{font-size: 18px;
    font-weight: bold;}
p{font-size: 15px;}

// -----------------------------------------------
@mixin pcL {
    @media(max-width:1200px){
        @content;
      }
}
@mixin pc{
    @media(max-width:1024px){
      @content;
    }
}
@mixin pad{
    @media(max-width:768px){
      @content;
    }
}
@mixin mobileL{
    @media(max-width:576px){
        @content;
    }
}
@mixin mobileS{
    @media(max-width:375px){
        @content;
    }
}

// -----------------------------------------------
@mixin bgImg ($url){
    background-image: url($url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@mixin borbox(){
    border-radius: 15px;
    overflow: hidden;
}

// ------套件class------------------------------


  


.swiper-container {
    width: 100%;
    height: 100%;
  }
.swiper-slide {
    text-align: center;
    font-size: 18px;
    // background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


// ---------------------------------------
.homeBlock{
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 30px;
}


.homeAllPage{
    color: #1D1C4C;
    line-height:30px;
    letter-spacing:2px;
    width: 100%;
    background-color:map-get($color_regulation, 'white-bg');
    margin-top: 66px;
    .homeBotLayer1{
        @include pad{
            padding: 30px 0;
        }
        .homeBlock{
            .homePage1{
                display: flex;
                justify-content: center;
                align-items: center;
                color: map-get($color_regulation, 'blue');
                @include pad{
                    flex-direction: column;
                }
                .page1Left{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 35%;
                    height: calc(100vh - 66px);
                    background-image:url(../../img/indexFront/indexfont-img.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    position: relative;
                    @include pad{
                        // height:100%;
                        // padding: 120px 0;
                        width: 100%;
                        height:300px;
                    }
                    div{
                        position: absolute;
                        margin: auto 0;
                        // left:50%
                        @include pad{
                            width: 100%;
                            text-align: center;
                        }
                    }
                    h5{
                        margin: 0;
                        margin-bottom: 15px;
                    }
                }
                .page1Right{
                    margin-left: 5%;
                    border-radius: 15px;
                    box-shadow:1px 1px 6px rgba(0, 0, 0, 0.342);
                    background-color:#FFFFFF;
                    width: 65%;
                    overflow: hidden;
                    padding: 15px;
                    @include pad{
                        height: auto;
                        width: calc(100% - 20px);
                        margin-left:0;
                        padding: 10px;
                    }
                    .swiper-wrapper{
                        .swiper-slide{
                            @include mobileS{
                                flex-direction: column;
                            }
                            .page1RightCard{
                                border-radius: 15px;
                                overflow: hidden;
                                width: 310px;
                                height: 380px;
                                @include pad{
                                    width: calc( 310px * 0.7);
                                    height: calc( 380px * 0.7);
                                }
                                @include mobileL{
                                    width: calc( 310px * 0.5);
                                    height: calc( 380px * 0.5);
                                }
                                // @include mobileS{
                                //     width: calc( 310px * 0.25);
                                //     height: calc( 380px * 0.25);
                                // }
                                img{
                                    @include pad{
                                        width: calc( 310px * 0.7);
                                        height: calc( 380px * 0.7);
                                    }
                                    @include mobileL{
                                        width: calc( 310px * 0.5);
                                        height: calc( 380px * 0.5);
                                    }
                                    // @include mobileS{
                                    //     width: calc( 310px * 0.25);
                                    //     height: calc( 380px * 0.25);
                                    // }
                                }
                            }
                            .page1RightText{
                                pad: 20px;
                                // margin-left: 20px;
                                width: 45%;
                                @include mobileS{
                                width: 100%;
                                margin-left: 0px;

                                }
                                h5{
                                    margin: 0;
                                    @include mobileL(){
                                        margin-top: 10px;
                                    }
                                    @include mobileS{
                                        margin: 0;
                                        margin-top: 10px;
                                    }
                                }
                                p{  
                                    display: block; // 如果不是區塊元素的話，要加這一行
                                    overflow: hidden;
                                    display: -webkit-box;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 4;
                                    @include mobileL(){
                                        margin: 0px;
                                        margin-bottom: 10px;
                                    }
                                   
                                }
                                button{
                                    @include mobileS{
                                        margin-bottom: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// #pre2Img{
//     cursor: pointer;
// }
#homeBotLayer2{
    .page1RightCard{
        img{
            cursor: pointer;
            border-radius: 15px;
            overflow: hidden;
            width: 260px;
            height: 300px;
            box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
            // filter: blur(5px);
            @include pc{
                width: 180px;
                height: 240px;
            }
            @include pad{
                width: 135px;
                height: 180px;
            }
            @include mobileL{
                width: 90px;
                height: 120px;
            }
            @include mobileS(){
                width: 60px;
                height: 90px;
            }
        }
    }

    color: map-get($color_regulation, 'white');
    // height: 100vh;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    @include bgImg('../../img/indexFront/indexImg5.jpg');
    
    .homeBlock{
        color: map-get($color_regulation,'blue');
        .homePage2{
            // color: map-get($color_regulation, 'color' );
            padding: 30px 0;
            height: 100%;
            h5{
                margin-top: 0;
            }
            .homePage2Top{
                margin-bottom: 50px;
            }
            .homePage2Data{
                display: flex;
                justify-content: space-around;
                background-color: rgba(255, 255, 255, 0.7);
                border-radius: 15px;
                padding: 10px;
                .data4{
                    p{
                        margin: 0;
                    }
                }
            }
        }
    }
    
}

.homeBotLayer3{
    height: 50vh;
    background-color:map-get($color_regulation, 'white-bg');
    margin: 30px 0;
    display: flex;
    @include mobileL{
        height: 100%;

    }
    .homePage3{
        display: flex;
        div.toggle{
            margin-top: 30px;
            div.toggle-block{
            box-shadow: $box-shadow;
            width: 400px;
            height: 40px;
            border-radius: 20px;
            padding: 5px;
            background-color: map-get($color-regulation,'blue');
            margin: 0px auto 30px auto;
            position: relative;
            font-size: 0;
            text-align: center;
              div.toggle-btn{
                position: relative;
                top: 0;
                left: 0;
                width: 50%;
                height: 100%;
                border-radius: 20px;
                background-color: map-get($color-regulation,'white');
              }
              div.text{
                position: absolute;
                top: 50%;
                left: 25%;
                transform: translate(-50%,-50%);
                display: inline-block;
                width: 50%;
                font-size: 15px;
              }
              div.text2{
                left: 75%;
              }
              div.toggle-text-effect{
                color: map-get($color-regulation,'white');
                cursor: pointer;
              }
            }
            @media (min-width:430px) and (max-width:575px){
              div.toggle-block{
                width: 300px;
                div.text{
                  font-size: 15px;
                }
              }
            }
            @media (max-width:429px){
              div.toggle-block{
                width: 220px;
              height: 30px;
                div.text{
                  font-size: 12px;
                }
              }
            }
          }
        @include mobileL{
            flex-direction: column;
            align-items: center;
        }
        &__left{
            width: 50%;
            padding-right: 50px;
            @include mobileL{
                padding-right: 0px;
                margin-bottom: 20px;
                width: calc(100% - 60px);
            }
            p{
                display: block; // 如果不是區塊元素的話，要加這一行
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 4; 
            }
            h5{
                @include mobileL{
                    margin: 10px;
                }
            }
        }
        &__right{
            justify-content: center;
            padding: 30px;
            background: #FFFFFF;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 15px;
            box-shadow:1px 1px 6px rgba(0, 0, 0, 0.342);
            @include mobileL{
                width: calc(100% - 20px);
                
            }
            @include pad{
                padding: 10px;
            }
            h5{
                margin: 0;
                margin-bottom: 30px;
            }
            .rank{
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
            &__no1{
                box-shadow: $box-shadow;

                margin-bottom: 25px;
                border-radius: 15px;
                height: 80px;
                width: 95%;
                background-color:map-get($color_regulation, 'orange');
            }
            &__no2{
                margin-bottom: 10px;
                border-radius: 15px;
                height: 50px;
                width: 90%;
                background-color:map-get($color_regulation, 'pink');
                box-shadow: $box-shadow;

            }
            &__no3{
                border-radius: 15px;
                width: 90%;
                height: 50px;
                background-color:map-get($color_regulation, 'lake');
                box-shadow: $box-shadow;

            }
        }
    }
}


.homeBotLayer4{
    background-color:map-get($color_regulation, 'white-bg');
    .homePage4{
        margin-bottom: 30px;
        @include borbox();
        background: #FFFFFF;
        box-shadow:1px 1px 6px rgba(0, 0, 0, 0.342);
        // height: 95vh;
        padding: 30px;
        @include pad{
            padding: 10px;
        }
        h5{
            margin: 0;
            text-align: center;
            margin-bottom: 30px;
            &:nth-child(2) {
                margin-top:30px;
            }
        }
        h6{
            margin: 0;
        }
        &__customerBlock{
            background-size: cover;
            margin-bottom: 30px;
            border-radius: 15px;
            overflow: hidden;
            box-shadow:1px 1px 6px rgba(0, 0, 0, 0.342);
            .frontBlur2{
                padding: 0 30px;
                position: relative;
                z-index: 1; // 不讓毛玻璃掉到最底層
                overflow: hidden; // 超出的毛玻璃裁切掉
                background-image: url(../../img/indexFront/indexImg8.jpg);
                &::before{
                    margin: auto;
                    position: absolute;
                    z-index: -1;
                    content:"";
                    width: 100vw;
                    height: 35vh;
                    top: 0; // 要比原本的div大
                    bottom: 0; // 毛玻璃邊才不會內縮
                    left: 0;
                    right: 0;
                    opacity: 1; // 透光可控制內部陰影
                    background-image: url(../../img/indexFront/indexImg8.jpg);
                    background-size: cover;
                    background-position: bottom;
                    filter: blur(10px);
                }
            
            }
            .page4LeftCard{
                font-size: 0;
                position: relative;
                cursor: pointer;
                overflow: hidden;
                border-radius: 15px;
                height: 310px;
                width: 300px;

                img{
                    height: 310px;
                    width: 300px;
                    border-radius: 15px;
                    transition: .5s ease-in-out;
                    
                }
                .cusBlock{
                        position: absolute;
                        left: 10px;
                        top: 10px;
                        display: flex;
                        background-color: rgba(255, 255, 255, 0.774);
                        overflow: hidden;
                        line-height: 40px;
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        transition: .5s ease-in-out;

                    .cusIcon{
                        margin: auto 8px;
                        padding-left: 0;
                        
                        width: 30px;
                        height: 30px;
                    }
                    .cusText{  
                        margin: 0;
                        display: none;

                    }
                }
                .page4CardCont{
                    opacity: 0;
                    transition: .5s ease-in-out;

                    overflow: hidden;
                    position: absolute;
                    bottom: 0px;
                    border-radius: 0 0 15px 15px;
                    left: 0;
                    padding: 10px;
                    background-color: rgba(255, 255, 255, 0.774);
                    div{
                        display: flex;
                        justify-content: space-between;
                        
                        h6{
                            font-size: 18px;
                        }
                    }
                    p{  
                        overflow:hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        white-space: normal;
                    }
                    
                }
                &:hover{
                    // transition: .3s ease-in-out;
                    img{
                        transform: scale(1.2);
                        transition: .5s ease-in-out;
                    }
                    .cusBlock{
                        border-radius: 20px;
                        width: 165px;
                        transition: .3s ease-in-out;
                    }
                    .cusText{
                        display: block;
                     
                    }
                    .page4CardCont{
                        opacity: 1;
                        
                        transition: .5s ease-in-out;

                    }
                }
                
                
                
            }
            .page4RightText{
               
                padding: 30px;
                width: 60%;
                text-align: left;
                h5{
                text-align: left;
                }
                a{  
                    line-height: 30px;
                    height: 30px;
                    padding: 0 30px;
                    float: right;
                }
                .colorAll{
                    margin-top: 30px;
                    display: flex;
                    justify-content: space-between;
                    border-radius: 15px;
                    height: 200px;
                    width: 80%;
                    .colorBox{
                        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
                        border-radius: 15px;
                        overflow: hidden;
                        width: 80px;
                        height: 110px;
                        position: relative;
                        &__text{
                            input{
                                cursor: pointer;
                                line-height: 40px;
                                margin-left: 0;
                                label{
                                    line-height: 40px;
                                }
                            }
                            position: absolute;
                            line-height: 40px;
                            height: 40px;
                            width: 80px;
                            bottom: 0;
                            text-align: center;
                            background-color: #fff;
                        }
                        &__Blue{
                            background-color:#f5f5dc;
                            position: absolute;
                            height: 70px;
                            width: 80px;
                        }
                        &__Red{
                            background-color: #add8e6;
                            position: absolute;
                            height: 70px;
                            width: 80px;
                        }
                        &__Green{
                            background-color: #66cdaa;
                            position: absolute;
                            height: 70px;
                            width: 80px;
                        }
                        &__Black{
                            background-color:#ffb6c1;
                            position: absolute;
                            height: 70px;
                            width: 80px;
                        }
                        &__Yellow{
                            background-color:  #483d8b;
                            position: absolute;
                            height: 70px;
                            width: 80px;
                        }
                        
                        
                    }
                }
            }
            

        }
        @mixin card(){
            width:260px;
            height:300px;
            position: relative;
            background-size: cover;
            box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
            @include pc{
                width: 180px;
                height: 240px;
            }
            @include pad{
                width: 135px;
                height: 180px;
            }
            @include mobileL{
                width: 90px;
                height: 120px;
                margin-right: 5px;
            }
            @include mobileS(){
                width: 60px;
                height: 90px;
            }
        }
        &__generalBlock{
            margin-top: 30px;
            display: flex;
            justify-content: space-around;
            @include pad{
                margin-bottom: 30px;

            }
            .proDetail{
                .page4Pro1{
                    background-image: url("../../img/indexFront/bag1.jpg");
                    @include borbox();
                    @include card();
                    
                }
                .page4Pro2{
                    background-image: url("../../img/indexFront/bag1.jpg");
                    @include borbox();
                    @include card();
                }
                .page4Pro3{
                    background-image: url("../../img/indexFront/bag1.jpg");
                    @include borbox();
                    @include card();
                }
               
                &:hover{
                    // cursor: pointer;
                    .page4CardCont{
                        opacity: 1;
                        transition: .5s ease-in-out;
                    }
                }
                .page4CardCont{
                    // width:250px;
                    // height:280px;
                    opacity: 0;
                    transition: .5s ease-in-out;
                    overflow: hidden;
                    position: absolute;
                    bottom: 0px;
                    border-radius: 0 0 15px 15px;
                    left: 0;
                    padding: 10px;
                    background-color: rgba(255, 255, 255, 0.774);
                    @include pad(){
                        width: 100%;
                        padding: 0px;

                    }
                    
                    div{
                        display: flex;
                        justify-content: space-between;
                        @include pad{
                            flex-direction: column;
                            align-items: center;
                        }
                        @include mobileL{
                            display: none;
                        }
                        h6{
                            font-size: 18px;
                            @include pad{
                                font-size: 15px;
                            }
                            
                        }
                    }
                    p{  
                        overflow:hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        white-space: normal;
                        @include pad(){
                            display: none;
                        }
                    }
                    button{
                        font-size: 15px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
                        border:none;
                        background-color:#1D1E4C;
                        color:#FFFFFF;
                        width: 150px;
                        height: 30px;
                        // width: 30px;
                        border-radius: 15px;
                        margin: 0 auto ;
                        margin-bottom: 10px;
                        @include pad(){
                            width: 90%;
                        }
                        p{
                            margin: 0 10px;
                        }
                        &:focus{
                            outline: 0;
                        }
                        
                    }
                    
                }
               
            }
            
        }
    }
}

// --------------------------------------------------------------

:root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    --font-sans: "Rubik", sans-serif;
    --font-serif: "Cardo", serif;
}

.homeBotLayer5{
    @include pad{
        height: auto;
    }
    color: map-get($color_regulation, 'white');
    height: 50vh;
    // align-items: center;
    // justify-content: center;
    @include bgImg('../../img/indexFront/indexImg7.jpg');
    .frontBlur{
        position: relative;
        z-index: 1; // 不讓毛玻璃掉到最底層
        overflow: hidden; // 超出的毛玻璃裁切掉
        height: 50vh;
        @include pad{
            height: auto;
        }
        &::before{
            margin: auto;
            position: absolute;
            z-index: -1;
            content:"";
            width: 100vw;
            // height: 100vh;
            top: 0; // 要比原本的div大
            bottom: 0; // 毛玻璃邊才不會內縮
            left: 0;
            right: 0;
            opacity: 1; // 透光可控制內部陰影
            @include bgImg('../../img/indexFront/indexImg7.jpg');
            background-attachment: fixed;
            filter: blur(5px);
        }
    }
}

.homePage5{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 6%;
    @include pad{
        flex-direction: column;
    }
    .homePage5Left{
        width: 40%;
        height: 50%;
        @include pad{
            width: 100%;
        }
        h5{
            margin-top: 0;
            @include pad{
                margin: 0;
            }
        }
        p{
            display: block;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
        }
    }
    .homePage5Right{
        
        width: 60%;
        height: 50%;
        @include pad{
            width: 100%;
            
        }
        @include pc{
            margin-top: 6%;
        }
        @include pad{
            margin-top: 0%;
            padding-bottom: 30px;
        }
        
    }
}
.page5Card{
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    border-radius: 15px;
    // padding: 1rem;
    width: 100%;
    height: 330px;
    width: 300px;
    @include pc{
        width: 180px;
        height: 240px;
    }
    @include pad{
        width: 135px;
        height: 180px;
    }
    @include mobileL{
        width: 90px;
        height: 120px;
        margin-right: 5px;
    }
    @include mobileS(){
        width: 60px;
        height: 90px;
    }
    text-align: center;
    color:map-get( $color_regulation, 'blue');
    background-color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 110%;
        background-size: cover;
        background-position: 0 0;
        transition: transform calc(var(--d) * 1.5) var(--e);
        pointer-events: none;
    }
    &::after{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200%;
        pointer-events: none;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
        transform: translateY(-50%);
        transition: transform calc(var(--d) * 2) var(--e);
    }
    .content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 1rem;
        transition: transform var(--d) var(--e);
        z-index: 1;
        color: map-get($color_regulation, 'white' );
        .title {
            font-size: 1.3rem;
            font-weight: bold;
            line-height: 1.2;
        }
        
        .copy {
            font-family: var(--font-serif);
            font-size: 1.125rem;
            font-style: italic;
            line-height: 1.35;
        }
        
        .btn {
            cursor: pointer;
            margin-top: 1.5rem;
            height: 30px;
            padding: 0 30px;
            font-size: 0.65rem;
            font-weight: bold;
            letter-spacing: 0.025rem;
            text-transform: uppercase;
            color: white;
            background-color: map-get($color_regulation, 'blue' );
            border: none;
            border-radius: 15px;
        }
        .btn:focus {
            outline: 1px dashed yellow;
            outline-offset: 3px;
        }        
    }
    .content>*+* {
        margin-top: 1rem;
    }
}

#swiper4>.swiper-wrapper>.swiper-slide:nth-child(1)>.page5Card:before {
    background-image: url(../../img/act_hist/beach1.jpg);
}
#swiper4>.swiper-wrapper>.swiper-slide:nth-child(2)>.page5Card:before {
    background-image: url(../../img/act_hist/beach2.jpg);
}
#swiper4>.swiper-wrapper>.swiper-slide:nth-child(3)>.page5Card:before {
    background-image: url(../../img/act_hist/beach4.jpg);
}
#swiper4>.swiper-wrapper>.swiper-slide:nth-child(4)>.page5Card:before {
    background-image: url(../../img/act_hist/beach3.jpg);
}
#swiper4>.swiper-wrapper>.swiper-slide:nth-child(5)>.page5Card:before {
    background-image: url(../../img/act_hist/beach1.jpg);
}
#swiper4>.swiper-wrapper>.swiper-slide:nth-child(6)>.page5Card:before {
    background-image: url(../../img/act_hist/beach2.jpg);
}




@media (hover: hover) and (min-width: 600px) {
    .page5Card:after {
        transform: translateY(0);
    }
    .content {
        transform: translateY(calc(100% - 4.5rem));
    }
    .content>*:not(.title) {
        opacity: 0;
        transform: translateY(1rem);
        transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    }
    .page5Card:hover,
    .page5Card:focus-within {
        align-items: center;
    }
    .page5Card:hover:before,
    .page5Card:focus-within:before {
        transform: translateY(-4%);
    }
    .page5Card:hover:after,
    .page5Card:focus-within:after {
        transform: translateY(-50%);
    }
    .page5Card:hover .content,
    .page5Card:focus-within .content {
        transform: translateY(0);
    }
    .page5Card:hover .content>*:not(.title),
    .page5Card:focus-within .content>*:not(.title) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(var(--d) / 8);
    }
    .page5Card:focus-within:before,
    .page5Card:focus-within:after,
    .page5Card:focus-within .content,
    .page5Card:focus-within .content>*:not(.title) {
        transition-duration: 0.3s;
    }
}


.homeBotLayer6{
    height: 50vh;
    .homeBlock{
        .homePage6{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50vh;
            &__left{
                
                h5{
                    margin: 0;
                    
                }
                p{
                    display: block;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 4;
                }
                padding: 0 20px;
                // height: 50vh;
                width: 50%;
                background-color:map-get($color_regulation, 'white-bg');
                color: map-get($color_regulation, 'blue');
            }
            &__right{
                cursor: pointer;
                border-radius: 15px;
                box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
                height: 30vh;
                width: 50%;
                overflow: hidden;
                position: relative;
                border:none;
                #myVideo{
                    height: 100%;
                    width: 100%;
                    //poster裡面的照片填滿
                    object-fit: cover;
                }

                #myBtn{
                    cursor: pointer;
                    outline: none;
                    bottom: 10PX;
                    left: 10PX;
                    height: 34px;
                    width: 34px;
                    position: absolute;
                    border: none;
                    background-color: rgba(255, 255, 255, 0);
                    // border:none;
                    border-radius: 50%;
                    color: map-get($color_regulation, 'blue' );
                    font-size: 18px;
                    font-weight: bold;
                    padding: 0;
                    color: white;
                }
            }
        }
    }
    
}


