@import '../var';
@import '../all.scss';
// ================================================================================================
*{
    box-sizing: border-box;
    font-family: 'Palatino Linotype';
}
body{
    margin: 0;
}
// Font-Family
$english: 'Palatino Linotype';
$chinese: 'noto sans tc';

// Font-Size
$p:15px;
$h1:72px;
$h2:60px;
$h3:48px;
$h4:38px;
$h5:28px;
$h6:22px;
$h7:18px;


$text-linehight: 30px;          //文字行高
$text-letterspacing: 2px;       //文字間距
$text-fontSize: 15px;           //一般文字
$text-fontSize-575:12px;
$text-fontSize-btn: 15px;       //按鈕文字
$text-fontSize-subtitle: 22px;  //內文副標題
$text-fontSize-region: 28px;    //區塊性文字
$text-fontSize-hint-575:18px;   //提示字(bread)575以下

$width-close-btn:27px;

$max-width: 1200px;
$padding-web: 30px;
$padding-btn: 0px 30px;
$padding-hint:10px;

//圓角
$border-radius:0;
$border-radius-btn: 0;
$border-radius-input: 0;

$box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);

$web-color:(
    'red':#EF4325,
    'pink':#FF498C,
    'orange':#FFAE41,
    'lake':#09E4C7,
    'blue':#07082E,
    'black':#1E1E1E,
    'white':#FFFFFF,
    'white-bg':#EEEEEE,
    'gray-hint':#C6C6C6,
    'green-coin':#0e6d41,
    'gray-input-hint':#C2C2C2,
    'blue-input-border':#07082E,
    'blue-activity-nav':#24324B,

    'yellow':#FFD241,
    'rankGray':#E3E3EA,
    'memberGray':#181919,
);

@mixin btn-module-red() {
    div.btn{
        box-shadow: $box-shadow;
        display: inline-block;
        overflow: hidden;
        background-color: map-get( $web-color , 'yellow' );
        cursor: pointer;
        height: 35px;
        a{
        background-color: map-get($web-color, 'yellow' );
        font-weight: bolder;
        font-size: $text-fontSize;
        color: map-get($web-color, 'blue' );
        padding: $padding-btn;
        width: 100%;
        display: inline-block;
        }
    }
}
@mixin btn-module-blue() {
    @include btn-module-red();
    div.btn{
        background-color: map-get( $web-color , 'yellow' );
    }
}
@mixin bg-module() {
    position: relative;
    overflow: hidden;
    div.bg {
        width: 105%;
        height: 110%;
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        img {
            filter: blur(30px);
            width: 100%;
            height: 100%;
            max-width: none;
        }
    }
}
@mixin city($num) {
    @for $i from 0 through $num{
        .M#{$i}{
            cursor: pointer;
        }
    }
};

@mixin center() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@mixin flex() {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@mixin checkbox(){
    input[type=checkbox] {
        appearance: none;
        width: 18px;
        height: 18px;
        background-color: #fff;
        border: 1px solid map-get($web-color,'blue');
        border-radius: 3px;
        outline: none;
        vertical-align: top;
    }
    input[type=checkbox]:checked {
        background-image: url('../../img/event/icon/icon-checkbox.png');
        background-size: cover;
    }
}
// ==================================================================================================================
main.event {
    background-color: map-get($web-color, 'white-bg');
    margin-top: 50px;
    img{
      max-width: 100%;
    }
    ul{
        margin: 0;
        padding: 0;
    }
    li{
        list-style: none;
    }
    a{
        text-decoration: none;
    }
    div,a,p,ul,li{
        font-size: $text-fontSize;
        color: map-get($web-color,"blue");
        letter-spacing: $text-letterspacing;
        line-height: $text-linehight;
    }
    width: 100%;
    position: relative;
    div.bread {
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(90deg) translateY(-100%);
      transform-origin: 0 0;
      line-height: 20px;
      ul{
        padding: $padding-hint;
        white-space: nowrap;
        line-height: 20px;
        li{
          font-size: 20px;
          line-height: 20px;
          font-weight: bolder;
          color: map-get($web-color,'gray-hint');
          display: inline-block;
          &::after{
            content: " / ";
          }
          &:last-child{
            color: map-get($web-color,'blue');
          }
          &:last-child::after{
            content: "";
          }
        }
        @media (max-width:575px) {
          line-height:$text-fontSize-hint-575;
          li{
            line-height:$text-fontSize-hint-575;
            font-size: $text-fontSize-hint-575;
          }
        }
      }
    }
    div.content{
      max-width: $max-width;
      background-color: map-get($web-color, 'white-bg');
      margin: 0 auto;
      section{
        width: calc(100% - $padding-web);
        margin: 0 30px;
        padding-bottom: 60px;
      }
    }
  }
  
// ==================================================================================================================
#section1{
    margin: 0 30px;
    div,a,p,ul,li,input,textarea,select,label{
        font-size: $text-fontSize;
        color: map-get($web-color,"blue");
        letter-spacing: $text-letterspacing;
        line-height: $text-linehight;
    }
}  

// ==================================================================================================================
main.event{
    div.content{
        #section1{
            form{
                div.container{
                    div.row{
                        div.part{
                            margin-top: 30px;
                            @media (max-width:575px){
                                div.info{
                                    padding: 20px 30px;
                                }
                            }
                            div.info{
                                text-align: center;
                                box-shadow: $box-shadow;
                                font-weight: bolder;
                                width: 100%;
                                margin: 0 auto;
                                .infoTitleBox{
                                    padding: 15px 30px;
                                    background-color: map-get($color_regulation, 'memberGray' );
                                    margin-bottom: 30px;
                                    h2{
                                        text-align: left;
                                        margin: 0;
                                        padding-left: 10px;
                                        border-left: 8px solid map-get($color_regulation, 'yellow');
                                        color: map-get($color_regulation, 'white' );
                                        font-size: $text-fontSize-subtitle;
                                    }
                                }
                                @media (max-width:575px){
                                    .infoTitleBox{
                                        padding: 10px;
                                        margin-bottom: 10px;
                                        h2{
                                            padding-left: 5px;
                                            border-left: 6px solid map-get($color_regulation, 'yellow');
                                            font-size: $text-fontSize;
                                        }
                                    }
                                }
                                
                                label,input,textarea,select{
                                    vertical-align: top;
                                    display: inline-block;
                                    margin-bottom: 30px;
                                    option{
                                        span{
                                            display: none;
                                        }
                                    }
                                }
                                input[type=date]{
                                    width: 200px;
                                }
                                label{
                                    margin-right: 20px;
                                    text-align: right;
                                    span{
                                        color: map-get($web-color,'red');
                                    }
                                }
                                @media (max-width:575px){
                                    input,textarea{
                                        display: block;
                                        width: 100%;
                                        margin-bottom: 0px;
                                    }
                                    label{
                                        display: block;
                                        text-align: left;
                                        line-height: 12px;
                                        margin-bottom: 8px;
                                    }
                                }
                                input,select{
                                    height: 30px;
                                }
                                select.location{
                                    width: 96px;
                                }
                                @media (min-width:576px) and (max-width:767px){
                                    select.location{
                                        width: 78px;
                                    }
                                    input[type=date]{
                                        width: 163px;
                                    }
                                }
                                @media (max-width:575px){
                                    select.location{
                                        width: 40%;
                                    }
                                    input[type=date]{
                                        width: 100%;
                                    }
                                }
                                input,textarea,select{
                                    line-height: 30px;
                                    padding: 5px 10px;
                                    outline: none;
                                    border: 1px solid map-get($web-color,'blue');
                                    resize: none;
                                }
                            }
                            @media (min-width:992px) and (max-width:1199px){
                                div.info{
                                    width: 95%;
                                }
                            }
                            @media (min-width:768px) and (max-width:991px){
                                div.info{
                                    width: 100%;
                                }
                            }
                            @media (min-width:576px) and (max-width:767px){
                                div.info{
                                    width: 95%;
                                    h2{
                                        margin-bottom: 15px;
                                        font-size: $h7;
                                    }
                                    input,textarea,select,label{
                                        font-size: $text-fontSize-575;
                                    }
                                }
                            }
                            @media (max-width:575px){
                                div.info{
                                    width: 100%;
                                    text-align: left;
                                    line-height: 20px;
                                    h2{
                                        text-align: center;
                                        margin-bottom: 10px;
                                        font-size: $h7;
                                        line-height: $text-linehight;
                                    }
                                    input,textarea,select,label{
                                        font-size: $text-fontSize-575;
                                    }
                                }
                            }
                            div.description{
                                padding: 30px;
                                text-align: center;
                                box-shadow: $box-shadow;
                                h2,span{
                                    font-size: $h7;
                                    margin: 0 0 20px 0;
                                    span{
                                        color: map-get($web-color,'red');
                                    }
                                }
                                p{
                                    margin: 0;
                                    line-height: $text-linehight;
                                    text-align: left;
                                }
                                div.checkbox-block{
                                    label{
                                        display: inline-block;
                                        margin-top: 24px;
                                        line-height: 21px;
                                    }
                                    input[name=agreement]{
                                        margin: 25px 5px 25px 0;
                                        padding: 5px;
                                    }
                                    @include checkbox();
                                }
                                div.btn{
                                    outline: none;
                                    color: map-get( $web-color ,'blue');
                                    background-color: map-get( $web-color ,'yellow');
                                    font-weight: bolder;
                                    font-size: $text-fontSize;
                                    padding: $padding-btn;
                                    border: none;
                                    box-shadow: $box-shadow;
                                    height: 30px;
                                    display: inline-block;
                                }
                                
                            }
                            @media (min-width:576px) and (max-width:767px){
                                div.description{
                                    width: 95%;
                                    margin: 0 auto;
                                    h2,span{
                                        font-size: 16px;
                                        margin: 0 0 10px 0;
                                    }
                                    p{
                                        margin: 0;
                                        font-size: $text-fontSize-575;
                                        line-height: 25px;
                                    }
                                    div.checkbox-block{
                                        label{
                                            margin-top: 15px;
                                            line-height: 21px;
                                            font-size: $text-fontSize-575;
                                        }
                                        input[name=agreement]{
                                            margin: 15px 5px 25px 0;
                                        }
                                    }
                                    button.btn{
                                        width: 100px;
                                        font-size: $text-fontSize-575;
                                        padding: 5px;
                                    }
                                }
                            }
                            @media (max-width:575px){
                                div.description{
                                    width: 100%;
                                    margin: 0 auto;
                                    padding: 20px 10px 30px 10px;
                                    h2,span{
                                        font-size: 16px;
                                        margin: 0 0 10px 0;
                                    }
                                    h2{
                                        padding: 0 30px;
                                    }
                                    p{
                                        margin: 0;
                                        font-size: $text-fontSize-575;
                                        line-height: 25px;
                                        padding: 0 10px;
                                    }
                                    div.checkbox-block{
                                        label{
                                            margin-top: 15px;
                                            line-height: 21px;
                                            font-size: $text-fontSize-575;
                                        }
                                        input[name=agreement]{
                                            margin: 15px 5px 25px 0;
                                        }
                                    }
                                    button.btn{
                                        width: 100px;
                                        font-size: $text-fontSize-575;
                                        padding: 5px;
                                    }
                                }
                            }
                        }
                        @media (max-width:340px){
                            div.part{
                                padding: 0px;
                            }
                        }
                    }
                }
            }
        }
        
    }
}
