@import '../var';
@import '../all.scss';
//=============共用規格設定如下=============
//font-family
//$font-family:'Arial', '微軟正黑體';
$english: 'Palatino Linotype';
$chinese: 'noto sans tc';
//Header
$navH:66px;
$logoW:50px;
//Footer
$footerH:500px;
// Font Size
$p:15px;
$h1:72px;
$h2:60px;
$h3:48px;
$h4:38px;
$h5:28px;
$h6:22px;
$h7:18px;

p{font-size: $p;}
h1{font-size: $h1;}
h2{font-size: $h2;}
h3{font-size: $h3;}
h4{font-size: $h4;}
h5{font-size: $h5;}
h6{font-size: $h6;}
.h7{font-size: $h7;}


$letter-Spacing:2px;//文字間距
$padding-hint:10px;//頁面提示字padding
//Others
$pageW:1200px;//網頁寬
$reserveSide:30px;//左右預留寬度
//Radius
$contentTxt:15px;   //內文字體大小
$btnTxt:15px;   //按鈕字體大小
$regionTxt:28px;//區域性字體
$contentSubTit:22px;//內文副標題
$navTxt:15px;//導覽列文字
$lineHeight:35px;//文字行高
$borderRadius:0px;
$btnRadius:0px;
$inputRadius:0px;
//box-shadow
$box-shadow:1px 1px 6px rgba(0, 0, 0, 0.342);

//敬航
$closeBtn:27px;//關閉紐大小
// header
$navH:66px;
$logoW:50px;
//Footer
$footerH:500px;

//new color
$color_regulation:(
    'red':#EF4325,
    'pink':#FF498C,
    'orange':#FFAE41,
    'lake':#09E4C7,
    'blue':#07082E,
    'black':#1E1E1E,
    'white':#FFFFFF,
    'white-bg':#EEEEEE,
    'gray-hint':#C6C6C6,
    'green-coin':#0e6d41,
    'gray-input-hint':#C2C2C2,
    'blue-input-border':#07082E,
    'blue-activity-nav':#24324B,
  
    'yellow':#FFD241,
    'rankGray':#E3E3EA,
    'memberGray':#181919,
);
// ==============RWD=======================
@mixin pcL {
    @media(max-width:1200px){
        @content;
      }
}
@mixin pc{
    @media(max-width:1024px){
      @content;
    }
}
@mixin pad{
    @media(max-width:768px){
      @content;
    }
}
@mixin mobileL{
    @media(max-width:576px){
        @content;
    }
}
@mixin mobileS{
    @media(max-width:375px){
        @content;
    }
}
// -----for cusblock------------------------------------------
@mixin customSize{
    @media(max-width:850px){
        @content;
    }
}
//=============共用規格設定如上=============
@mixin cartIcon(){
    color: map-get($color_regulation,'blue');
    background-color: map-get($color_regulation,'yellow');
    height: 35px;
    padding: 0;
    border: none ;
    outline: none;
    cursor: pointer;
    padding: 0 10px;
    width: 150px;
    line-height: 35px;
}

//=========================================
button{
    outline: none;
}
.type.-open{
    transition: all 0.3s ease;
    display: block!important;
    top:0;
    left: 0;
}

//=========================================

body {
    box-sizing: border-box;
    margin: 0;
    font-family: $english, $chinese;
    background-color: map-get($color_regulation,'white');
    position: relative;
}
.titleBlock{
    position: absolute;
    padding: 10px;
    top: 31px;
    left: -31px;
    font-size: 20px;
    transform: rotate(90deg);
}

.sizeBox{
    padding: 0 30px;
    max-width: 1200px;
    margin: auto;
}
.productBlock{
    @include pad{
        position: relative;
        justify-content: center;
    }
    border-bottom: 1px solid map-get($color-regulation, memberGray );
    display: flex;
    .productType{
        @include pad{
            cursor: pointer;
            position: absolute;
            z-index: 1;
            left: -40px;
            top: -10px;
            width: 150px;
            padding-left: 10px;
        }
        width: 18%;
        display: flex;
        flex-direction: column;
        margin-right: 15px;
        .typeTitle{
            @include pc{
                
                padding-left: 20px;
            }
            @include pad{
                span{
                    &:hover{
                        // transition: all 0.3s ease;
                        border-bottom: 2px solid map-get($color-regulation,"yellow" );
                        }
                    }
            }
            height: 50px;
            background-color: map-get($color-regulation, 'memberGray');
            border:1px solid black;
            width: 100%;
            line-height: 50px;
            font-weight: bold;
            padding-left: 30px;
            span{
                font-size: 18px;
                color:map-get($color-regulation, 'white');
                padding-left: 10px;
                border-left: 8px solid map-get($color-regulation, 'yellow');
            }
        }
        button{
            &:hover{
                transition: all 0.3s ease;
                background-color: map-get($color-regulation, 'yellow');
                box-shadow: $box-shadow;
            }
            @include pad{
                transition: all 0.3s ease;
                display: none;
            }
            @include pc{

                padding-left: 30px;
            }
            background-color: map-get($color-regulation, 'white');
            cursor: pointer;
            padding-left: 40px;
            text-align: left;
            width: 100%;
            height: 50px;
            border-radius:0;
            border:none;
            border:1px solid black;
            border-top:none;
        }
    }
    .allProduct{
        @include pad{
            padding-top: 70px;
            width: 100%;
            
        }
        position: relative;
        width: 82%;
        padding-top: 50px;
        .theWayOfSort{
            .select_sort_way{
                box-shadow: $box-shadow;
                width: 150px;
                height: 35px;
                border:none;
                padding: 0 10px;
                background-color: map-get($color-regulation, 'yellow');
                option{
                    font-size: 15px;
                    color: map-get($color-regulation, 'blue');
                background-color: map-get($color-regulation, 'white');
                }
            }
            position: absolute;
            right: 0;
            top: 0;
        }
        .normalBlack{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }
}

.product{
    margin-bottom: 30px;
    // margin-right: 10px;
    width: 275px;
    img{
        width: 275px;
        height: 275px;
    }
    .productInfo{
        color:map-get($color-regulation, 'blue' );
        border-left: 8px solid map-get($color-regulation, "yellow" );
        padding-left: 10px;
        margin-top: 10px;
        p{  
            margin: 0;
            line-height: 36px;
        }
        button{
            overflow: hidden;
            padding: 0;
            margin: 0;
            float: right;
            height: 35px;
            width:35px;
            line-height: 35px;
            color: map-get($color-regulation,'blue');
            background-color: map-get($color-regulation, 'yellow' );
            border:none;
            box-shadow: $box-shadow;
            white-space:nowrap;
            transition: all 0.3s ease 0s;
            i{
                display: inline-block;
            }
            p{  
                opacity: 0;
                margin: 0;
                display: none;
            }
            &:hover{
                transition: all 0.3s ease 0s;
                width: 150px;
                p{
                    opacity: 1;
                    display: inline-block;
                }
            }
        }
    }
}
// -----------------------------------------//

@mixin card(){
    width:260px;
    height:300px;
    position: relative;
    background-size: cover;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
}

.newsPorTitle{
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    p{  
        font-size: $p;
        margin: 0;
        color: map-get($color_regulation , 'blue' );
    }
    h5{
        font-size: $h5;
        margin: 0;
        color: map-get($color_regulation , 'blue' );
    }
    .newProLine{
        margin: auto;
        margin-top: 10px;
        margin-bottom: 30px;
        width:50px;
        height: 8px;
        background-color:map-get($color_regulation , 'yellow' );
    }
}

// -----------------------------------------//

.homePage4__generalBlock{
    padding: 0 30px;
    margin: 30px 0;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    .proDetail{
        margin: 10px;
        .page4Pro1{
            background-image: url("../../img/indexFront/bag1.jpg");
            @include card();
        }
        .page4Pro2{
            background-image: url("../../img/indexFront/bag1.jpg");
            @include card();
        }
        .page4Pro3{
            background-image: url("../../img/indexFront/bag1.jpg");
            @include card();
        }
       
        
        .page4CardCont{
            width: 100%;
            transition: .5s ease-in-out;
            overflow: hidden;
            position: absolute;
            bottom: 0px;
            left: 0;
            padding: 10px;
            background-color: rgba(255, 255, 255, 0.774);
            @include pad(){
                width: 100%;
                padding: 0px;
            }
            div{
                display: flex;
                justify-content: space-between;
                @include pad{
                    flex-direction: column;
                    align-items: center;
                }
                @include mobileL{
                    display: none;
                }
                h6{
                    color:map-get($color_regulation, 'blue');
                    margin: 0;
                    font-size: 18px;
                    @include pad{
                        font-size: 15px;
                    }
                    
                }
            }
            p{  
                color:map-get($color_regulation, 'blue');
                overflow:hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                white-space: normal;
                @include pad(){
                    display: none;
                }
            }
            button{
                font-size: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
                border:none;
                background-color:map-get($color_regulation,'yellow' );
                color:map-get($color_regulation, 'blue');
                width: 150px;
                height: 30px;
                margin: 0 auto ;
                margin-bottom: 10px;
                @include pad(){
                    width: 90%;
                }
                p{
                    margin: 0 10px;
                }
                &:focus{
                    outline: 0;
                }
                
            }
            
        }
       
    }
    
}


.homePage4__customerBlock{
    margin:66px 0 50px 0;
    padding: 50px;
    background-image: url(../../img/mall/mall-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    .cusSwiper{
        display: flex;
    }
    @include customSize{
        .cusSwiper{
            flex-direction: column-reverse;
            align-items: center;
        }
        #cusSwipersBtnR,#cusSwipersBtnL{
            top:75%;
        }
    }
    .page4LeftCard{
        margin: auto;
        font-size: 0;
        position: relative;
        cursor: pointer;
        height: 350px;
        width: 300px;
        background-color: map-get($color-regulation,'yellow' );
        box-shadow: $box-shadow;
        img{
            height: 310px;
            width: 300px;
            transition: .5s ease-in-out;
            
        }
        .cusBlock{
                position: absolute;
                left: 10px;
                top: 10px;
                display: flex;
                background-color: rgba(255, 255, 255, 0.774);
                overflow: hidden;
                line-height: 40px;
                width: 40px;
                height: 40px;
                transition: .5s ease-in-out;

            .cusIcon{
                margin: auto 8px;
                padding-left: 0;
                width: 30px;
                height: 30px;
            }
            .cusText{ 
                color: map-get($color_regulation,'blue' );
                font-size: $p; 
                margin: 0;
            }
        }
        .page4CardCont{
            position: absolute;
            bottom: 0px;
            left: 0;
            padding: 10px;
            background-color: rgba(255, 255, 255, 0.774);
           
            div{
                display: flex;
                justify-content: space-between;
                h6{
                    color: map-get($color_regulation,'blue' );
                    font-size: 18px;
                    margin: 0;
                }
            }
            p{  
                color: map-get($color_regulation,'blue' );
                font-size: $p;
                overflow:hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                white-space: normal;
            }
        }
    }
    .page4RightText{
        padding: 10px 20px 30px 30px;
        width: 60%;
        text-align: left;
        @include customSize{
            width: 80%;
            padding-right: 10px;
        }
        h5{
            color: map-get($color_regulation, 'blue' );
            font-size: $h5;
            margin: 0;
        }
        .page4Title{
            color: map-get($color_regulation, 'blue' );
            p{  
                margin: 0;
            }
            h5{
                font-size: $h5;
                margin: 0;
            }
            padding-left: 10px;
            border-left: 8px solid map-get($color-regulation, 'yellow' );
        }
        p{
            margin-bottom: 50px;
        }
        a{  
            text-decoration:none;
            float: right;
            margin-right: 15px;
            transition: all 0.3s ease;
            &:hover{
                background-color: map-get($color-regulation,'yellow' );
                color: map-get($color-regulation,'blue' );
                transition: all 0.3s ease;
            }
        }
    }
}