@import '../var';
@import '../all.scss';
//=============共用規格設定如下=============
//font-family
//$font-family:'Arial', '微軟正黑體';
$english: 'Palatino Linotype';
$chinese: 'noto sans tc';
//Header
$navH:66px;
$logoW:50px;
//Footer
$footerH:500px;
// Font Size
$p:15px;
$h1:72px;
$h2:60px;
$h3:48px;
$h4:38px;
$h5:28px;
$h6:22px;
$h7:18px;

$letter-Spacing:2px;//文字間距
$padding-hint:10px;//頁面提示字padding
//Others
$pageW:1200px;//網頁寬
$reserveSide:30px;//左右預留寬度
//Radius
$contentTxt:15px;   //內文字體大小
$btnTxt:15px;   //按鈕字體大小
$regionTxt:28px;//區域性字體
$contentSubTit:22px;//內文副標題
$navTxt:15px;//導覽列文字
$lineHeight:35px;//文字行高
$borderRadius:0px;
$btnRadius:0px;
$inputRadius:0px;
//box-shadow
$box-shadow:1px 1px 6px rgba(0, 0, 0, 0.342);

//敬航
$closeBtn:27px;//關閉紐大小
// header
$navH:66px;
$logoW:50px;
//Footer
$footerH:500px;

//new color
$color_regulation:(
    'red':#EF4325,
    'pink':#FF498C,
    'orange':#FFAE41,
    'lake':#09E4C7,
    'blue':#07082E,
    'black':#1E1E1E,
    'white':#FFFFFF,
    'white-bg':#EEEEEE,
    'gray-hint':#C6C6C6,
    'green-coin':#0e6d41,
    'gray-input-hint':#C2C2C2,
    'blue-input-border':#07082E,
    'blue-activity-nav':#24324B,
  
    'yellow':#FFD241,
    'rankGray':#E3E3EA,
    'memberGray':#181919,
);
// ==============RWD=======================
@mixin pcL {
    @media(max-width:1200px){
        @content;
      }
}
@mixin pc{
    @media(max-width:1024px){
      @content;
    }
}
@mixin pad{
    @media(max-width:768px){
      @content;
    }
}
@mixin mobileL{
    @media(max-width:576px){
        @content;
    }
}
@mixin mobileS{
    @media(max-width:375px){
        @content;
    }
}
// -----for cusblock------------------------------------------
@mixin customSize{
    @media(max-width:850px){
        @content;
    }
}
//=============共用規格設定如上=============
@mixin cartIcon(){
    color: map-get($color_regulation,'blue');
    // float: right;
    background-color: map-get($color_regulation,'yellow');
    height: 35px;
    padding: 0;
    border: none ;
    outline: none;
    cursor: pointer;
    padding: 0 10px;
    width: 150px;
    line-height: 35px;
}

//=========================================

body {
    box-sizing: border-box;
    margin: 0;
    font-family: $english, $chinese;
    background-color: map-get($color_regulation,'white');
}

//左側 直向 麵包條
div.title-block{
    line-height: 20px;
    h5.title {
        line-height: 20px;
        margin-top:$navH;
        position:absolute;
        //top: $navH;
        top: 66px;
        left:0;
        margin:0;
        font-size: 20px;
        font-weight: normal;
        display: inline-block;
        white-space: nowrap;
        padding: 10px;
        transform: rotate(90deg) translateY(-100%);
        transform-origin: 0% 0%;
        color:map-get($color_regulation,'blue');
        span {
            line-height: 20px;
            color:map-get($color_regulation,'gray' );
        }
    }
    @media (max-width:575px){
        line-height: 18px;
        h5.title {
            font-size: 18px;
            line-height: 18px;
        }
    }
}

section {
    letter-spacing:1px;
    margin:0 auto;
    // font-size: 0px;
    text-align: center;
    padding-top:$navH;
    margin-bottom:70px;
}

//header下方背景圖(毛玻璃效果)，此div不占位
section div.content_Mall{
    text-align: left;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    position: relative;
    .yellowBlock{
        position: absolute;
        top: 105px;
        left: 0;
        width: 80%;
        height: 260px;
        background-color: map-get($color_regulation , 'yellow' )
    }
    // div.top_back_img_1 {
    //     position:relative;
    //     width:calc(100% - 60px);
    //     margin: 0 auto;
    //     z-index: -5;
    //     div.top_back_img_2{    
    //         width: 100%;
    //         max-height:426px;
    //         position:absolute;
    //         top:0px;
    //         left:0;
    //         overflow: hidden;
    //         box-shadow: $box-shadow;
    //         img{
    //             width: 105%;
    //             filter: blur(17px); 
    //         }
    //     }
        
    // }
    // @media (max-width:575px){
    //     div.top_back_img_1 {
    //         display: none;
    //     }
    // }
}

//客製商品區塊
section div.content_Mall{
    @media (max-width:575px){
        h5.title_2 {
            font-size: $h6;
            padding-top: 20px;
        }
    }
    div.all{
        padding: 0 30px;
        max-width: 1200px;
        margin: auto;
        // margin: auto;
        // div.CustomizedArea_Block{
        //     margin:0 $reserveSide;
        //     div.CustomizedAreaBox{
        //         display:flex;
        //         flex-direction: row;
        //         flex-wrap: wrap;
        //         justify-content:space-between;
        //         margin:0 auto;
        //         padding-top: 60px;
        //         a.customized{
        //             text-decoration:none;
        //             width:23.5%;
        //             position:relative;
        //             div.DesignIcon{
        //                 height:12%;
        //                 background: rgba(255, 255, 255, 0.781);
        //                 // border-radius: 50px;
        //                 overflow: hidden;
        //                 position: absolute;
        //                 top:7px;
        //                 left:7px;
        //                 padding: 0 10px;
        //                 img.design{
        //                     height:100%;
        //                     display:inline-block;
        //                     vertical-align: top;
        //                 }
        //                 p.designYrStyle{
        //                     font-size: $p;
        //                     font-weight: 550;
        //                     color: map-get($color_regulation,'blue');
        //                     display:inline-block;
        //                     line-height:3;
        //                     margin:0;
        //                     vertical-align: top;
        //                     //display:none;
        //                 }
        //                 @media (max-width:991px){
        //                     p.designYrStyle{
        //                         display:none;
        //                     }
        //                 }
        //             }
        //             div.CustomizedArea{
        //                 box-shadow: $box-shadow;
        //                 overflow: hidden;
        //                 img{
        //                     width:100%;
        //                 }
        //                 div.productInfo{
        //                     width:100%;
        //                     height:33%;
        //                     background-color: rgb(255, 255, 255);
        //                     padding:10px;
        //                     display:flex;
        //                     flex-direction: row;
        //                     flex-wrap: wrap;
        //                     justify-content: space-between;
        //                     p.NameAndPrice{
        //                         font-size: $p;
        //                         font-weight: 550; 
        //                         color:map-get($color_regulation,'blue');
        //                     }
        //                     p.text{
        //                         font-size: $p;
        //                         color:map-get($color_regulation,'blue');
        //                         overflow: hidden;        //內容溢出處理
        //                         text-overflow: ellipsis; //文字溢出處理
        //                         white-space:nowrap;      //文字超出時不換行
        //                         margin:0;
        //                         padding: 0 0 25px 0;
        //                     }
                           
        //                 }
        //             }
        //         }
        //         @media (min-width:992px) and (max-width:1199px){

        //         }
        //         @media (min-width:768px) and (max-width:991px){
        //             a.customized{
        //                 div.CustomizedArea{
        //                     div.productInfo{
        //                         p.NameAndPrice{
        //                             &:first-child{
        //                                 margin-bottom: 0;
        //                                 margin-right: 5px;
        //                             }
        //                         }
        //                     }
        //                 }
        //             }
        //         }
        //         @media (min-width:576px) and (max-width:767px){
        //             a.customized{
        //                 width: calc(50% - 30px);
        //                 margin: 15px 15px;
        //                 div.CustomizedArea{
        //                     div.productInfo{
        //                         p.NameAndPrice{
        //                             &:first-child{
        //                                 margin-bottom: 0;
        //                                 margin-right: 5px;
        //                             }
        //                         }
        //                     }
        //                 }
        //             }
        //         }
        //         @media (min-width:476px) and (max-width:575px){
        //             a.customized{
        //                 width: calc(50% - 30px);
        //                 margin: 15px 15px;
        //                 div.CustomizedArea{
        //                     div.productInfo{
        //                         p.NameAndPrice{
        //                             &:first-child{
        //                                 margin-bottom: 0;
        //                                 margin-right: 5px;
        //                             }
        //                         }
        //                         p.text{
        //                             font-size: 12px;
        //                         }
        //                     }
        //                 }
        //             }
        //         }
        //         @media (max-width:475px){
        //             a.customized{
        //                 width: 60%;
        //                 min-width: 200px;
        //                 margin: 15px;
        //                 div.CustomizedArea{
        //                     div.productInfo{
        //                         p.NameAndPrice{
        //                             &:first-child{
        //                                 margin-bottom: 0;
        //                                 margin-right: 5px;
        //                             }
        //                         }
        //                         p.text{
        //                             font-size: 12px;
        //                         }
        //                     }
        //                 }
        //             }
        //         }
        //     }
        //     @media (min-width:576px) and (max-width:767px){
        //         div.CustomizedAreaBox{
        //             justify-content: center;
        //             padding: 40px 40px;
        //         }
        //     }
        //     @media (max-width:575px){
        //         div.CustomizedAreaBox{
        //             justify-content: center;
        //             padding: 10px 0px;
        //         }
        //     }
        // }
    }
}



//一般商品區塊
section div.content_Mall div.all div.ProductArea_Block{
    margin-top: 30px;
    padding: 30px;
    box-shadow: $box-shadow;
    div.theWayOfSort{
        text-align: right;
        margin-top:30px;
        select.select_sort_way{
            color: map-get($color_regulation,'blue');
            font-size: $p;
            font-weight: 550;
            line-height:33px;
            display:inline-block;
            width:165px;
            height:33px;
            border:1.5px solid map-get($color_regulation,'blue');
            box-shadow: $box-shadow;
            vertical-align: center;
            text-align: center;
            // option.sortWay{
            //     div.sort_0{
            //     } 
            // }
        }
    }
    @media (min-width:576px) and (max-width:767px){
        div.theWayOfSort{
            padding: 20px 20px 10px 0;
        }
    }
    @media (max-width:575px){
        div.theWayOfSort{
            padding: 20px 20px 10px 0;
        }
    }
    h5.title{
        font-size: $h5;
        color:map-get($color_regulation,'blue');
        margin:0;
        padding-bottom:60px;
        text-align: center; 
    }
    @media (min-width:576px) and (max-width:767px){
        h5.title{
            padding-bottom:40px;
        }
    }
    @media (max-width:575px){
        h5.title{
            padding-bottom:40px;
            font-size: $h6;
        }
    }
    div.allProduct{
        font-size: $p;
    }
    
    // 放大顯示區
    div.SpecialBlack{
        width:95%;
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        margin:0 auto;
        margin-bottom:25px;
        a.zoomin{
            width:49%;
            
            
            div.CustomizedAreaA{
                font-size: 0;
                overflow: hidden;
                box-shadow: $box-shadow;
                position: relative;
                img{
                    width:100%;
                }
                div.productInfo{
                    &:hover {
                        button{
                            display: block;
                        }
                    }
                    width:100%;
                    padding:30px;
                    position:absolute;
                    bottom:0%;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color:map-get($color_regulation,'white');
                    box-shadow: $box-shadow;
                    background: hsla(0,0%,100%,.8); 
                    p.NameAndPrice{
                        font-size: $p;
                        font-weight: 550; 
                        color: map-get($color_regulation,'blue');
                        display:inline-block;
                        margin-bottom:10px;
                    }
                    .B{
                        float: right;
                        margin-right: 0;
                    }
                    @media(max-width:767px){
                        p.NameAndPrice{
                            display:block;
                            &:nth-child(2){
                                margin-right: 0;
                            }
                        }
                    }
                    p.text1{
                        font-size: $p;
                        color: map-get($color_regulation,'blue');
                        margin:20px 0;
                        width:100%;
                        height: 50%;
                    }
                    @media (max-width:575px){
                        p.text1{
                            font-size: 12px;
                        }
                    }
                    button{
                        display: none;
                        margin: auto;
                        margin-bottom: 10px;
                        @include cartIcon();
                        i{
                            font-size: 18px;
                            padding-right: 1px;
                        }
                    }
                    @media (max-width:575px){
                        img.cart{
                            bottom:calc(100% - 43px);
                        }
                    }
                }
            }
            @media (max-width:575px){
                div.CustomizedAreaA{
                    margin-bottom: 20px;
                }
            }
        }
        @media (max-width:575px){
            margin-bottom:0px;
            justify-content: center;
            a.zoomin{
                width: 210px;
                // min-width: 210px;
                margin: 0px 10px;
            }
        }
        
    }

    // 一般顯示區
    div.NormalBlack{
        width:95%;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin:0 auto;
        a.normal{
            width:32%;
            div.CustomizedAreaA{
                font-size: 0;
                overflow: hidden;
                box-shadow: $box-shadow;
                position: relative;
                margin-bottom: 25px;
                img{
                    width:100%;
                }
                div.productInfo{
                    &:hover {
                        button{
                            display: block;
                        }
                    }
                    margin: 0 auto;
                    width:100%;
                    padding:10px;
                    position:absolute;
                    bottom:0;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color:map-get($color_regulation,'white');
                    box-shadow: $box-shadow;
                    background: hsla(0,0%,100%,.8);
                    p.NameAndPrice{
                        font-size: $p;
                        font-weight: 550; 
                        color: map-get($color_regulation,'blue');
                        display:inline-block;
                        margin-bottom:10px;
                    }
                    .B{
                        float: right;
                        margin-right: 0;
                    }
                    @media (max-width:575px) {
                        p.NameAndPrice{
                            display: block;
                        }
                    }
                    p.text2{
                        font-size: $p;
                        font-weight: 500;
                        color:map-get($color_regulation,'blue');
                        margin: 10px 0;
                        // width:80%;
                        overflow: hidden; 
                        text-overflow: ellipsis;
                        white-space:nowrap;
                    }
                    @media (max-width:575px){
                        p.text2{
                            font-size: 12px;

                        }
                    }
                    button{
                    display: none;
                    margin: auto;
                    margin-bottom: 10px;

                       @include cartIcon();
                        i{
                            font-size: 18px;
                            padding-right: 1px;
                        }
                    }
                    @media (max-width:575px){
                        img.cart{
                            bottom:calc(100% - 43px);
                        }
                    }
                }
            }
        }
        @media (max-width:575px){
            justify-content: center;
            a.normal{
                width: 40%;
                min-width: 210px;
                margin: 0 10px 20px 10px;
                div.CustomizedAreaA{
                    margin: 0;
                }
            }
        }
    }
}




// -----------------------------------------//

@mixin card(){
    width:260px;
    height:300px;
    position: relative;
    background-size: cover;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
}

.newsPorTitle{
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    p{  
        font-size: $p;
        margin: 0;
        color: map-get($color_regulation , 'blue' );
    }
    h5{
        font-size: $h5;
        margin: 0;
        color: map-get($color_regulation , 'blue' );
    }
    .newProLine{
        margin: auto;
        margin-top: 10px;
        margin-bottom: 30px;
        width:50px;
        height: 8px;
        background-color:map-get($color_regulation , 'yellow' );
    }
}

// -----------------------------------------//

.homePage4__generalBlock{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    .proDetail{
        margin: 10px;
        .page4Pro1{
            background-image: url("../../img/indexFront/bag1.jpg");
            @include card();
        }
        .page4Pro2{
            background-image: url("../../img/indexFront/bag1.jpg");
            @include card();
        }
        .page4Pro3{
            background-image: url("../../img/indexFront/bag1.jpg");
            @include card();
        }
       
        &:hover{
            .page4CardCont{
                opacity: 1;
                transition: .5s ease-in-out;
            }
        }
        .page4CardCont{
            width: 100%;
            opacity: 0;
            transition: .5s ease-in-out;
            overflow: hidden;
            position: absolute;
            bottom: 0px;
            left: 0;
            padding: 10px;
            background-color: rgba(255, 255, 255, 0.774);
            @include pad(){
                width: 100%;
                padding: 0px;
            }
            div{
                display: flex;
                justify-content: space-between;
                @include pad{
                    flex-direction: column;
                    align-items: center;
                }
                @include mobileL{
                    display: none;
                }
                h6{
                    color:map-get($color_regulation, 'blue');
                    margin: 0;
                    font-size: 18px;
                    @include pad{
                        font-size: 15px;
                    }
                    
                }
            }
            p{  
                color:map-get($color_regulation, 'blue');
                overflow:hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                white-space: normal;
                @include pad(){
                    display: none;
                }
            }
            button{
                font-size: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
                border:none;
                background-color:map-get($color_regulation,'yellow' );
                color:map-get($color_regulation, 'blue');
                width: 150px;
                height: 30px;
                margin: 0 auto ;
                margin-bottom: 10px;
                @include pad(){
                    width: 90%;
                }
                p{
                    margin: 0 10px;
                }
                &:focus{
                    outline: 0;
                }
                
            }
            
        }
       
    }
    
}


.homePage4__customerBlock{
    margin:50px 0;
    .cusSwiper{
        display: flex;
    }
    @include customSize{
        .cusSwiper{
            flex-direction: column;
        }
        #cusSwipersBtnR,#cusSwipersBtnL{
            top:75%;
        }
    }
    
    .page4LeftCard{
        margin: auto;
        font-size: 0;
        position: relative;
        cursor: pointer;
        height: 350px;
        width: 300px;
        background-color: map-get($color-regulation,'yellow' );
        box-shadow: $box-shadow;
        img{
            height: 310px;
            width: 300px;
            transition: .5s ease-in-out;
            
        }
        .cusBlock{
                position: absolute;
                left: 10px;
                top: 10px;
                display: flex;
                background-color: rgba(255, 255, 255, 0.774);
                overflow: hidden;
                line-height: 40px;
                width: 40px;
                height: 40px;
                transition: .5s ease-in-out;

            .cusIcon{
                margin: auto 8px;
                padding-left: 0;
                
                width: 30px;
                height: 30px;
            }
            .cusText{ 
                color: map-get($color_regulation,'blue' );
                font-size: $p; 
                margin: 0;
                display: none;
            }
        }
        .page4CardCont{
            opacity: 0;
            transition: .5s ease-in-out;
            position: absolute;
            bottom: 0px;
            left: 0;
            padding: 10px;
            background-color: rgba(255, 255, 255, 0.774);
           
            div{
                display: flex;
                justify-content: space-between;
                
                h6{
                    color: map-get($color_regulation,'blue' );
                    font-size: 18px;
                    margin: 0;
                }
            }
            p{  
                color: map-get($color_regulation,'blue' );
                font-size: $p;
                overflow:hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                white-space: normal;
            }
        }
        &:hover{
            img{
                transform: scale(1.2);
                transition: .5s ease-in-out;
            }
            .cusBlock{
                width: 165px;
                transition: .3s ease-in-out;
            }
            .cusText{
                display: block;
            }
            .page4CardCont{
                opacity: 1;
                transition: .5s ease-in-out;
            }
        }
    }
    .page4RightText{
        padding: 10px 20px 30px 10px;
        width: 60%;
        text-align: left;
        @include customSize{
            width: 100%;
            padding-right: 10px;
        }
        h5{
            color: map-get($color_regulation, 'blue' );
            font-size: $h5;
            margin: 0;

        }
        .page4Title{
            color: map-get($color_regulation, 'blue' );
            p{  
                margin: 0;
            }
            h5{
                font-size: $h5;
                margin: 0;
            }
            padding-left: 10px;
            border-left: 8px solid map-get($color-regulation, 'yellow' );
        }
        
        a{  
            line-height: 35px;
            height: 35px;
            padding: 0 30px;
            float: right;
            margin-right: 15px;
        }
        .colorAll{
            // display: flex;
            // justify-content: space-between;
            overflow: auto;
            height: 160px;
            width: 100%;
            .colorBox{
                display: inline-block;
                box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
                overflow: auto;
                width: 80px;
                height: 110px;
                position: relative;
                &__text{
                    input{
                        cursor: pointer;
                        line-height: 40px;
                        margin-left: 0;
                        label{
                            line-height: 40px;
                        }
                    }
                    position: absolute;
                    line-height: 40px;
                    height: 40px;
                    width: 80px;
                    bottom: 0;
                    text-align: center;
                    background-color: #fff;
                }
                &__Blue{
                    background-color:#f5f5dc;
                    position: absolute;
                    height: 70px;
                    width: 80px;
                }
                &__Red{
                    background-color: #add8e6;
                    position: absolute;
                    height: 70px;
                    width: 80px;
                }
                &__Green{
                    background-color: #66cdaa;
                    position: absolute;
                    height: 70px;
                    width: 80px;
                }
                &__Black{
                    background-color:#ffb6c1;
                    position: absolute;
                    height: 70px;
                    width: 80px;
                }
                &__Yellow{
                    background-color:  #483d8b;
                    position: absolute;
                    height: 70px;
                    width: 80px;
                }
            }
        }
    }
}