//====================  Import   var
@import '../var';
@import '../all.scss';

h1{font-size: 72px;}
h2{font-size: 60px;}
h3{font-size: 48px;}
h4{font-size: 38px;}
h5{font-size: 28px;}
h6{font-size: 22px;}
.h7{font-size: 18px;//
    font-weight: bold;}
p{font-size: 15px;}


.btnConMemInfo{
    background-image: url('../../img/member-1.jpg');
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
}
.btnDisCon2Sty{
    background-image: url('../../img/MemberBgImg.png'),linear-gradient(map-get($map: $color_regulation, $key: 'red'),map-get($map: $color_regulation, $key: 'blue'));
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 40%, 100%;
}


// -----------------------------------------
@mixin pc{
    @media(max-width:1024px){
      @content;
    }
}
@mixin pad{
    @media(max-width:768px){
      @content;
    }
}
@mixin mobileL{
    @media(max-width:576px){
        @content;
    }
}
@mixin mobileS{
    @media(max-width:375px){
        @content;
    }
}


// -----------------------------------------
body{
    background-color: map-get($color_regulation, 'white-bg' );
    color: map-get($color-regulation, 'blue' );
    main{
        margin: 0;
        background-color: #F6F6F6;
        overflow-y: hidden;
        margin-top: 5%;

    }
    
    h5{
        z-index: 2;
        color: map-get($color-regulation, 'blue' );
        top: 93px;
        left: -32px;
        position: absolute;
        transform: rotate(90deg); 
        font-weight: bold;
        font-size: 20px;
        padding: 10px;
        margin-top: 0;
        margin-bottom: 0;
    }
    main{
        padding: 30px;
        display: flex;
        height: 100%;
        max-width: 1200px;
        margin: auto;
        .genInfor{
            min-width:30%;
            .personBlock{
                height:45vh;
                margin-right: 13px;
                margin-bottom:13px;
                padding: 10px;
                border-radius: $borderRadius;
                box-shadow: $box-shadow;
                .proTopBlock{
                    display: flex;
                    align-items: center;
                    height: 50%;
                    position: relative;
                    margin-top: 25px;
                    img{
                        margin:10px;
                        margin-top:10px;
                        border-radius: 50%;
                    }
                    button{
                        position:absolute;
                        bottom: 0px;
                        // transform: translate();
                        left:110px;
                        border-radius: 50%;
                        width: 40px;
                        height:40px;
                        border:none;
                        cursor: pointer;
                        background-color: rgb(240, 240, 240);
                        &:hover{
                            box-shadow:1px 1px 6px rgba(0, 0, 0, 0.342);
                        }
                    }
                    span{
                        font-size: $h7;
                        p{
                            font-size: $p;
                        }
                    }
                }
                .proBtnBlock{
                    width: 317px;
                    position: relative;
                    // background-color:coral;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    textarea{
                        overflow: auto;
                        height:100px;
                        width: 250px;
                        padding: 5px;
                        margin-right: 10%;
                        outline: none;
                        resize:none;
                        border:1px solid #1D1E4C;
                        border-radius: $borderRadius;
                    }
                    button{
                        border: none;
                        appearance: none;
                        background-color: #ffffff00;
                        outline: none;
                        cursor: pointer;
                        border-radius: 50%;
                        width: 40px;
                        height:40px;
                        // border: 1px solid #1D1E4C;
                        background-color: rgb(240, 240, 240);
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        &:hover{
                            box-shadow:1px 1px 6px rgba(0, 0, 0, 0.342);
                        }
                    }
                }
            }
            .cumulativeBlcok{
                padding: 0 3%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: stretch;
                height:40vh;
                margin-right: 13px;
                button{
                    margin-right: 5px;
                    border:1px solid #1D1E4C;
                    border-radius: 15px;
                    padding: 0 5px;
                    height: 30px;
                    outline: none;
                    cursor: pointer;
                }
            }
        }
        .memberContent{
            padding: 30px;
            width:100%;
            border-radius: $borderRadius;
            // background-image: url('./img/MemberBgImg.png'),linear-gradient(map-get($map: $color_regulation, $key: 'blue'),map-get($map: $color_regulation, $key: 'blue'));
            // background-origin: border-box;
            .tab{
                display: flex;
                justify-content: space-around;
                border-bottom: 1px solid #BEBEBE;
                padding-bottom: 30px;
                button{
                    margin-right: 5px;
                    // appearance: none;
                    border:1px solid #1D1E4C;
                    border-radius: 15px;
                    padding: 0 15px;
                    height: 30px;
                    outline: none;
                }
            }
            .expContent{
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: auto;
                .expDescription{
                    font-size: $p;
                    line-height: $lineHeight;
                    width:30%;
                    margin-top: 10%;
                    margin-right: 30px;
                    align-self: flex-start;
                }
                .expExchange{
                    width: 60%;
                    height:450px;
                    // overflow: auto;
                    margin-top: 5%;
                    padding-right: 10px;
                    border-radius: 15px;
                    overflow: auto;
                    .excBlcok{
                        background-color: #A2A2A2;
                        position: relative;
                        max-width: 800px;
                        margin: 0 auto;
                        border-radius: $borderRadius;
                        // 直線
                            &::after{
                                content: '';
                                position: absolute;
                                width: 6px;
                                background-color: white;
                                top: 0;
                                bottom: 0;
                                left: 20%;
                                margin-left: -3px;
                                box-shadow:1px 1px 6px rgba(0, 0, 0, 0.342);

                            }
                        .expPart{
                            padding: 1px 40px;
                            position: relative;
                            background-color: inherit;
                            width: 50%;
                            &::after{
                                content: '';
                                position: absolute;
                                width: 25px;
                                height: 25px;
                                right: -17px;
                                background-color: white;
                                border: 4px solid #EF4325;
                                top: 15px;
                                border-radius: 50%;
                                z-index: 1;
                                box-shadow:1px 1px 6px rgba(0, 0, 0, 0.342);
                            }
                            button.comBtn2{
                                background-color: map-get($map: $color_regulation, $key: 'blue');
                                color: map-get($map: $color_regulation, $key: 'white');
                                border-radius: $borderBtnRadius;
                                outline: none;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}

.expRight {
    left: 20%;
    &::after{
        left: -16px;
    }
}
@media screen and (max-width: 600px) {
    .excBlcok::after {
    left: 31px;
    }
    .expPart {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    .expPart::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
    .expRight::after {
    left: 15px;
    }
    .expRight {
    left: 0%;
    }
  }

#orderRecord{
    .orderBlock{
        // height: calc(80vh - 120px);
        // overflow: auto;
        padding-right: 10px;
        color: map-get($map: $color_regulation, $key: 'blue');
        h3{
            font-size: $h6;
            margin-bottom: 10px;
        }
        p{
            margin-bottom: 5px;
        }
        select{
            border:1px solid #1D1E4C;
            border-radius: 5px;
            outline: none;
        }
        table{
            margin-top: 10px;
            width: 100%;
            text-align: left;
            // border:1px solid#1D1E4C;
            border-radius: 15px;
            padding: 20px;
            border-collapse: collapse;
            th,td{
                text-align: center;
                vertical-align: center;
                // border:1px solid#1D1E4C;
            }
            .proItemDetail{
                height: 300px;
                overflow: hidden;
            }

        }
    }
    
}

#memInfo{
    
    div.memInfoContent{
        display: block;
        height: 100%;
        font-size: $p;
        h3{
            // text-align: center;
            color: map-get($map: $color_regulation, $key: 'white');
            font-size: $h6;
            // padding: 10px 0px 0px 10px;
        }
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            ul{
                list-style-type: none;
                padding: 0;
                li{
                    color: map-get($map: $color_regulation, $key: 'white');
                }
            }
        }    
    }
}

button.tabLinks{
    div.btnDisCon{
        display: flex;
        justify-content: space-between;
        padding: 0 1%;
    }
    span{
        &:active{
            color: map-get($map: $color_regulation, $key: 'white');
        }
        &:first-child{
            flex-grow: 0;
        }
        i{
            background-color: black;
            color: map-get($map: $color_regulation, $key: 'white');
            padding: 5px 7px 4px 7px;
            border-radius: $borderBtnRadius;
        }
       line-height: $lineHeight;
    }
}
button.active{
    background-color: map-get($map: $color_regulation, $key: 'orange1');
    span{
        color: map-get($map: $color_regulation, $key: 'white');
        line-height: $lineHeight;
    }
}

#btnDisCon1, #btnDisCon11{
    span{
        i{
            background-color: map-get($map: $color_regulation, $key: 'btnPink');
        }
    }
}

#btnDisCon2, #btnDisCon22{
    span{
        i{
            background-color: map-get($map: $color_regulation, $key: 'btnBlue');
        }
    }
}

#btnDisCon3{
    span{
        i{
            background-color: map-get($map: $color_regulation, $key: 'btnPeach');
        }
    }
}

#btnDisCon4{
    span{
        i{
            background-color: map-get($map: $color_regulation, $key: 'btnYellow');
        }
    }
}

#btnDisCon5{
    span{
        i{
            background-color: map-get($map: $color_regulation, $key: 'btnRed');
        }
    }
}

#btnDisCon6{
    span{
        i{
            background-color: map-get($map: $color_regulation, $key: 'btnTiffanyGreen');
        }
    }
}
#underNoBorder{
    box-shadow: none;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}


div#memExp{
    h3{
        color: map-get($map: $color_regulation, $key: 'white');
        font-size: $h6;
    }
    div.expContent{
        
        div.expDescription{
            color: map-get($map: $color-regulation, $key: 'white');
            font-size: $p;
            align-self: flex-start;

            h3{
                color: map-get($map: $color-regulation, $key: 'white');
                font-size: 1.17em;
                }
            }
    }
    
}
.bg1img{
    background-image: url('../../img/member-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
div#memInfo{
    width: 60%;
    float: right;
    div.memInfoContent{
        h3{
            text-align: center;
        }
        ul#memInfoContentLft{
            padding:0;
            li{
                // width: 100%;
                height: 60px;
                display: flex;
                justify-content: space-between;
                background-color: rgba(0, 0, 0, 0.377);
                border-radius: $borderRadius;
                margin-bottom: 5%;
                padding: 2% 3%;
                position: relative;
                div{
                    color: map-get($map: $color_regulation, $key: 'white');
                }
            }
        }
    }
}
div#memPage{
    padding-top: 60px;
}
button.tabLinks{
    border-radius: $borderRadius;
    box-shadow: $box-shadow;
    border: none !important;
}
.cumulativeBlcok{
    padding: 0 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    height:40vh;
    margin-right: 13px;
    button{
        margin-right: 5px;
        border:1px solid #1D1E4C;
        border-radius: 15px;
        padding: 0 5px;
        height: 30px;
        outline: none;
        cursor: pointer;
    }
}
.comShape{
    border-radius: $borderRadius;
    box-shadow: $box-shadow;
}

tr#memberTableRowBorder{
    border-top:1px solid map-get($map: $color_regulation, $key: 'gray');
    th{
        padding: 2% 0 0;
    }
}

tbody#memberTableTopBorder{
    tr{
        td{
            padding: 0 0 2%;
        }
    }
}

thead#memberTableLowBlock{
    border-top:1px solid map-get($map: $color_regulation, $key: 'gray');
    tr{
        &:first-child{
            th{
                padding: 3% 0 0;
            }
        }
    }
}

div#participateRecord{
    color: map-get($map: $color_regulation, $key: 'blue');
    h3{
        font-size: $h6;
    }
    p{
        font-size: $p;
        text-align: center;
    }
    table.participateRecordTable{
        // display: block;
        width: 100%;
        margin: 0 auto;
        border-radius: $borderRadius;
        border: 1px solid map-get($map: $color_regulation, $key: 'blue');
        th,td{
            height: 50px;
            text-align: center;
        }
    }
}

div.participateRecordCon{
    display: flex;
    justify-content: center;
}

div#eventManagement{
    color: map-get($map: $color_regulation, $key: 'blue');
    h3{
        font-size: $h6;
    }
    p{
        font-size: $p;
        text-align: center;
    }
    table.eventManagementTable{
        // display: block;
        width: 100%;
        margin: 0 auto;
        border-radius: $borderRadius;
        border: 1px solid map-get($map: $color_regulation, $key: 'blue');
        th,td{
            height: 50px;
            text-align: center;
            width: 20%;
        }
        td{
            button{
                border-radius: $borderBtnRadius;
                color: map-get($map: $color_regulation, $key: 'white');
                background-color: map-get($map: $color_regulation, $key: 'blue');
                cursor: pointer;
            }
        }
    }
}
div#memPage{
    position: relative;
    div#eventManagementCancelModalCon{
        display: none;
        position: absolute;
        background-color: rgba(0,0,0,.6);
        height: 100%;
        width: 100%;
        z-index: 10;
        div#eventManagementCancelModal{
            background-color: map-get($map: $color_regulation, $key: 'white');
            color: map-get($map: $color_regulation, $key: 'blue');
            border-radius: $borderRadius;
            font-size: $p;
            width: 650px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 2%;
            form{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                label{
                    vertical-align: top;
                }
                
                div#eventManagementBtnCon{
                    align-self: flex-end;
                    justify-content: space-around;
                    width: 20%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    button#eventManagementCancel{
                        display: inline-block;
                        margin-right: 15%;
                        border:1px solid map-get($map: $color_regulation, $key: 'blue');
                        border-radius: $borderBtnRadius;
                        outline: none;
                        color: map-get($map: $color_regulation, $key: 'blue');
                        background-color: map-get($map: $color_regulation, $key: 'white');
                        cursor: pointer;
                        padding: 5%;
                    }
                    button#eventManagementSubmit{
                        display: inline-block;
                        border:1px solid map-get($map: $color_regulation, $key: 'blue');
                        outline: none;
                        border-radius: $borderBtnRadius;
                        padding-right: 5%;
                        color: map-get($map: $color_regulation, $key: 'white');
                        background-color: map-get($map: $color_regulation, $key: 'blue');
                        cursor: pointer;
                        padding: 5%;

                    }
                }
            }
        }
    }
}
div#eventManagementCancelModalCloseBtn{
    position: absolute;
    border-radius: 50%;
    border: 1px solid map-get($map: $color_regulation, $key: 'blue');
    background-color: map-get($map: $color_regulation, $key: 'white');
    right: 3%;
    top: 5%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    overflow: hidden;
    padding: 1%;
    span{
        background-color: map-get($map: $color_regulation, $key: 'blue');
        display: inline-block;
        width: 25px;
        height: 3px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        color: map-get($map: $color_regulation, $key: 'blue');
        &:last-child{
            position: absolute;
            transform: translate(-50%, -50%) rotate(315deg);
        }
    }
}

div#eventSave{
    h3{
        font-size: $h6;
    }
    div.owl-theme{
        div.item{
            div.memberCollection{
                display: flex;
                align-items: center;
                flex-direction: column;
                div.memberCollectionPic{
                    height: 60%;
                    img{
                        border-radius: $borderRadius;
                    }
                    margin-bottom: 20px;
                }
                button.memberCollectionCancel{
                    border-radius: $borderBtnRadius;
                    background-color: map-get($map: $color_regulation, $key: 'white');
                    color: map-get($map: $color_regulation, $key: 'blue');
                    padding: 0 2%;
                    outline: none;
                    cursor: pointer;
                    i{
                        color: red;
                    }
                }
            }
        }
    }
}
div#memberContentId{
    color: map-get($color-regulation, 'blue' );
    width: 100%;
    // overflow: hidden;
    div.tab2{
        display: none;
    }
}
::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    border: 1px solid map-get($map: $color_regulation, $key: 'white'); 
    background-color: map-get($map: $color_regulation, $key: 'white');
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #1D1E4C; 
    border-radius: 5px;
  }
#memExp{
    .expContent{
        .expExchange{
            .excBlcok{
                .expPartReceived{
                    padding: 1px 40px;
                    position: relative;
                    background-color: inherit;
                    width: 50%;
                    &::after{
                        content: '';
                        position: absolute;
                        width: 25px;
                        height: 25px;
                        right: -17px;
                        background-color: #EF4325;
                        border: 4px solid #EF4325;
                        top: 15px;
                        border-radius: 50%;
                        z-index: 1;
                        box-shadow:1px 1px 6px rgba(0, 0, 0, 0.342);
                    }
                }
            }
        }
    }
}
button:disabled {
    background-color: rgba(250,250,250,.3);
    color: rgba(29,30,76,.3);
    border-radius: $borderBtnRadius;
    outline: none;
    cursor: pointer;
}
.MemberCollectionHide{
    display: none;
}
div#appMemberBriefIntro{
    span{
        display: none;
    }
}


// @media all and (max-width: 1496px){
//     div#memPage h5{
//         display: none;
//     }
// }

// @media all and (max-width: 1190px){
//     ul#memInfoContentLft{
//         padding: 0 10% !important;
//     }
// }

//開始變橫
// @media all and (max-width: 1295px){
//     main{
//         display: flex;
//         flex-direction: column;
//         padding: 60px;
//         div#memInfo div.memInfoContent h3{
//             display: none;
//         }
//         div#memInfo{
//             flex-grow: 1;
//         }
//         div.genInfor{
//             width: 100%;
//         }
//         div#memberContentId{
//             width: 100%;
//             box-sizing: border-box;
//         }
//         div.personBlock {
//             display: flex;
//             justify-content: center;
//             height: 40vh !important;
//             margin-top: 35px;
//             box-sizing: border-box;
//             width: 100%;
//         }
//         div.proBtnBlock{
//             align-self: flex-start;
//         }
//         div.proTopBlock{
//             span{
//                 display: none;
//             }
//         }
//         div.cumulativeBlcok{
//             display: none !important;
//         }
//         div#appMemberBriefIntro{
//             span{
//                 display: inline-block;
//                 h6{
//                     font-size: $h7;
//                 }
//                 p{
//                     font-size:$p;
//                 }   
//             }
//             p{
//                 white-space: pre-wrap;
//             }
//         }
//         div#memberContentId{
//             display: flex;
//             div.tab2{
//                 display: flex;
//                 justify-content: space-between;
//                 // border-bottom: 1px solid #BEBEBE;
//                 flex-direction: column;
//                 button{
//                     margin-right: 5px;
//                     // appearance: none;
//                     border-radius: 15px;
//                     padding: 0 15px;
//                     height: 30px;
//                     outline: none;
//                     min-width: 185px;
//                 }
//         }
//         }
//     }
// }

// @media all and (max-width: 891px){
//     main div#memberContentId div.tab2 button{
//         min-width: 85px;
//     }
// }