//====================  Import   var
@import '../var';
@import '../all.scss';

h1{font-size: 72px;}
h2{font-size: 60px;}
h3{font-size: 48px;}
h4{font-size: 38px;}
h5{font-size: 28px;}
h6{font-size: 22px;
margin: 0;}
.h7{font-size: 18px;//
    font-weight: bold;}
p{font-size: 15px;}


.btnConMemInfo{
    background-image: url('../../img/member-1.jpg');
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
}
.btnDisCon2Sty{
    background-image: url('../../img/MemberBgImg.png'),linear-gradient(#e27764 ,map-get($color_regulation, 'blue'));
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 46%, 85%;
    background-size: 25%, 100%;
}


// -----------------------------------------
@mixin pcL {
    @media(max-width:1200px){
        @content;
      }
}
@mixin pc{
    @media(max-width:1024px){
        @content;
    }
}
@mixin pad{
    @media(max-width:768px){
        @content;
    }
}
@mixin mobileL{
    @media(max-width:576px){
        @content;
    }
}
@mixin mobileS{
    @media(max-width:375px){
        @content;
    }
}
// -----------------------------------------

.footerTop{
    display: none;
}
// -----------------------------------------
#memPage{
    max-width: 1200px;
    margin: auto;
    padding: 30px;
    padding-top: 60px;
}
body{
    background-color: map-get($color_regulation, 'white-bg' );
    color: map-get($color_regulation, 'blue' );

    h5{
        z-index: 2;
        color: map-get($color_regulation, 'blue' );
        top: 75px;
        left: -33px;
        position: absolute;
        transform: rotate(90deg); 
        font-weight: bold;
        font-size: 20px;
        padding: 10px;
        margin-top: 0;
        margin-bottom: 0;
    }
    main{
        margin: 0;
        display: flex;
        justify-content: center;
        height: 100%;
        @include pc{
            flex-direction: column;
        }
        .genInfor{
            @include pc{
                padding: 0 0 30px 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            min-width:30%;
            .personBlock{
                background: map-get($color_regulation,'memberGray' );
                height:40vh;
                margin-right: 13px;
                margin-bottom:13px;
                padding: 10px;
                box-shadow: $box-shadow;
                color: map-get($color_regulation ,'white' );
                border-bottom: 8px solid map-get($color_regulation, 'yellow' );
                @include pc{
                    height: auto;
                    margin-bottom: 0;

                }
                @include pad{
                    margin-right: 0;
                    flex-direction: column;
                    
                }
                .proTopBlock{
                    @include pc{
                        margin-top: 0px;
                    }
                    @include pad{
                        margin-top: 0;
                        flex-direction: column;
                    }
                    display: flex;
                    align-items: center;
                    height: 50%;
                    margin-top: 15px;
                    .proTopHook{
                        position: relative;
                        img{
                            margin:10px;
                            margin-top:10px;
                            border-radius: 50%;
                            box-shadow:2px 2px 14px #ffdb6663;
                        }
                        button{
                            @include pad{
                            }
                            font-size: 9px;
                            position:absolute;
                            bottom: 15px;
                            right: 11px;
                            border-radius: 50%;
                            width: 30px;
                            height:30px;
                            border:none;
                            cursor: pointer;
                            background-color: map-get($color_regulation, 'yellow' );
                            color:map-get($color_regulation, 'blue');
                            box-shadow:1px 1px 6px rgba(0, 0, 0, 0.342);
                            &:hover{
                                box-shadow:1px 1px 6px rgba(255, 255, 255, 0.541);
                                color:map-get($color_regulation, 'white');

                            }
                        }
                    }
                    
                    span{
                        padding-left: 10px;
                        border-left: 1px solid yellow;
                        font-size: $h7;
                        @mixin pc{
                            margin-left: 30px;
                        }
                        p{
                            font-size: $p;
                            margin-bottom: 0;
                        }
                    }
                }
                .proBtnBlock{
                    margin-top: 25px;

                    #appMemberBriefIntro{
                        @include pad{
                            width: auto;
                        }
                        width: 317px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .textareaHook{
                        position: relative;
                            textarea{
                                @include pc{
                                    height: 100px;
                                }
                                @include pad{
                                    width: 96%;
                                }
                                overflow: auto;
                                // height:100px;
                                width: 250px;
                                padding: 5px;
                                margin-right: 10%;
                                outline: none;
                                resize:none;
                                color: map-get($color_regulation, 'white' );
                                border:1px solid map-get($color_regulation, 'yellow');
                                background-color: map-get($color_regulation,  'memberGray');
                                box-shadow:2px 2px 14px #ffdb6663;
                            }
                            button{
                                position: absolute;
                                border: none;
                                appearance: none;
                                outline: none;
                                cursor: pointer;
                                width: 70px;
                                height:30px;
                                color: map-get($color_regulation,'white');
                                background-color:transparent;
                                right: 0px;
                                bottom: 100px;
                                border-bottom: 2px solid map-get($color_regulation, 'yellow' );
                                @include pc{
                                    bottom: -29px;
                                }
                                @include pad{
                                    right: 16px;
                                    bottom: 12px;
                                }
                                &:hover{
                                    color: map-get($color_regulation, 'blue' );
                                    box-shadow:1px 1px 6px rgba(0, 0, 0, 0.342);
                                    background-color: map-get($color_regulation, 'yellow' )
                                }
                            }
                        }
                    }
                }
            }
            .cumulativeBlcok{
                padding: 0 3%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: stretch;
                height:40vh;
                margin-right: 13px;
                @include pc{
                    height: auto;
                    width: 300px;
                    margin-right: 0;
                    padding-right: 0;
                }
                button{
                    @include mobileL{
                        .btnText{
                            display: none;
                        }
                    }
                    .btnDisCon{
                        @include mobileS{
                            width: auto;
                        }
                        span{
                            &:first-child{
                                @include mobileL(){
                                    margin: auto;
                                }
                            }
                        }
                    }
                    margin-right: 5px;
                    border:1px solid map-get($color_regulation,'blue' );
                    padding: 0 10px;
                    height: 30px;
                    outline: none;
                    cursor: pointer;
                    background-color: map-get($color_regulation, 'white');
                }
            }
        }
        .memberContent{
            width:100%;
            .tab{
                display: flex;
                justify-content: space-around;
                border-bottom: 1px solid #BEBEBE;
                padding-bottom: 30px;
                button{
                    margin-right: 5px;
                    // appearance: none;
                    border:1px solid #1D1E4C;
                    padding: 0 15px;
                    height: 30px;
                    outline: none;
                }
            }
            .expContent{
                padding: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: auto;
                @include pad{
                    flex-direction: column;
                }
                .expDescription{
                    @include pad{
                        width:100%;
                        margin-right: 0px;
                        margin-top: 10px;
                    }
                    font-size: $p;
                    line-height: $lineHeight;
                    width:30%;
                    margin-top: 10%;
                    margin-right: 30px;
                    align-self: flex-start;
                }
                .expExchange{
                    border: 1px solid map-get($color_regulation, 'yellow' );
                    box-shadow: 2px 2px 14px #ffdb6663;
                    width: 60%;
                    .excBlcok{
                        padding: 20px 0px;
                        background-color: map-get($color_regulation,'memberGray' );
                        position: relative;
                        max-width: 800px;
                        margin: 0 auto;
                            &::after{
                                box-shadow: 2px 2px 14px #ffefbd8c;
                                content: '';
                                position: absolute;
                                width: 6px;
                                background-color: white;
                                top: 0;
                                bottom: 0;
                                left: 20%;
                                margin-left: -3px;
                                // box-shadow:1px 1px 6px rgba(0, 0, 0, 0.342);

                            }
                        .expPart{
                            color: map-get($color_regulation, 'white' );
                            padding: 1px 40px;
                            position: relative;
                            background-color: inherit;
                            width: 50%;
                            &::after{
                                box-shadow: 2px 2px 14px #ffdb6678;
                                content: '';
                                position: absolute;
                                width: 25px;
                                height: 25px;
                                right: -17px;
                                background-color: white;
                                border: 4px solid #EF4325;
                                top: 15px;
                                border-radius: 50%;
                                z-index: 1;
                                // box-shadow:1px 1px 6px rgba(0, 0, 0, 0.342);
                            }
                            button.comBtn2{
                                background-color: map-get($map: $color_regulation, $key: 'blue');
                                color: map-get($map: $color_regulation, $key: 'white');
                                outline: none;
                                cursor: pointer;

                            }
                        }
                    }
                }
            }
        }
    }
}

.expRight {
    margin-bottom: 10px;
    left: 20%;
    &::after{
        left: -16px;
    }
}


#orderRecord{
    .orderBlock{
        color: map-get($color_regulation,'blue');
        .orderSelect{
            background-color: #CCCCCC;
            background-image: url('../../img/mbr/memberOrder.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-position: center;
            padding: 30px;
            .h7{
                display: inline-block;
                margin-right: 10px;
                color: map-get($color_regulation, 'white' );
            }
            select{
                display: inline-block;
                box-shadow: 1px 1px 6px rgba(255, 255, 255, 0.548);
                border:none;
                outline: none;
            }
        }
        .page3FormBox{
            padding: 30px;
            #page3form{
                display: none;
                margin:0;
                width: 100%;
                text-align: left;
                th,td{
                    text-align: center;
                    vertical-align: center;
                }
                tr{
                    height: 40px;
                }
            }
        }
        
    }
}

table {
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #1D1E4C;
    tr{
        &:nth-child(odd){
            background-color: rgb(241, 241, 241);
        }
    }
}

#selectDate{
    padding: 7px;
}


#memInfo{
    div.memInfoContent{
        display: block;
        height: 100%;
        font-size: $p; 
    }
}

button.tabLinks{
    div.btnDisCon{
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
    span{
        color: map-get($color_regulation, 'blue');
        &:active{
            color: map-get($map: $color_regulation, $key: 'white');
        }
        &:first-child{
            flex-grow: 0;
        }
        i{
            background-color: black;
            color: map-get($map: $color_regulation, $key: 'white');
            padding: 5px 7px 4px 7px;
            width: 15px;
            margin-right: 5px;
        }
       line-height: $lineHeight;
    }
}
button.active{
    background-color: map-get($map: $color_regulation, $key: 'yellow')!important;
    span{
        color: map-get($map: $color_regulation, $key: 'blue');
        line-height: $lineHeight;
    }
}

#btnDisCon1, #btnDisCon11{
    span{
        i{
            background-color: map-get($map: $color_regulation, $key: 'btnPink');
        }
    }
}

#btnDisCon2, #btnDisCon22{
    span{
        i{
            background-color: map-get($map: $color_regulation, $key: 'btnBlue');
        }
    }
}

#btnDisCon3{
    span{
        i{
            background-color: map-get($map: $color_regulation, $key: 'btnPeach');
        }
    }
}

#btnDisCon4{
    span{
        i{
            background-color: map-get($map: $color_regulation, $key: 'btnYellow');
        }
    }
}

#btnDisCon5{
    span{
        i{
            background-color: map-get($map: $color_regulation, $key: 'btnRed');
        }
    }
}

#btnDisCon6{
    span{
        i{
            background-color: map-get($map: $color_regulation, $key: 'btnTiffanyGreen');
        }
    }
}
#underNoBorder{
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0);
}


div#memExp{
    h3{
        color: map-get($map: $color_regulation, $key: 'white');
        font-size: $h6;
    }
    div.expContent{
        
        div.expDescription{
            color: map-get($map: $color_regulation, $key: 'white');
            font-size: $p;
            align-self: flex-start;

            h3{
                color: map-get($map: $color_regulation, $key: 'white');
                font-size: 1.17em;
                }
            }
    }
    
}

div#memInfo{
    div.memInfoContent{
        padding: 30px;
        h3{
            text-align: left;
        }
        .memInfoBox{
            transition: $transition;
            background-color: rgba(255, 255, 255, 0.753);
            width: 100%;
            .infoBtn{
                padding: 0;
                border: 0;
                height: 25px;
                outline: none;
                background: transparent;
                color: map-get($map: $color_regulation, $key: 'blue');
                cursor: pointer;
                transition: all 0.3s linear;
                &:hover{
                    transform: rotate(90deg);
                }
                i{
                    line-height: 30px;
                }
            }
            .memInfoTop{
                box-shadow: $box-shadow;
                line-height: 30px;
                display: flex;
                justify-content: space-between;
                margin-bottom: 15px;
                padding:15px 15px;
                color: map-get($map: $color_regulation, $key: 'blue');
                .memrInfoLeft{
                    width: 150px;
                }
                .memrInfoMiddle{
                    width: 100px;
                }
            }
            .memInfoBottom{
                padding:5px 15px;
                margin-bottom: 15px;

            }
        }
    }
}
// div#memPage{
//     padding-top: 60px;
// }
button.tabLinks{
    box-shadow: $box-shadow;
    border: none !important;
}
.cumulativeBlcok{
    padding: 0 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    height:40vh;
    margin-right: 13px;
    button{
        margin-right: 5px;
        border:1px solid #1D1E4C;
        padding: 0 5px;
        height: 30px;
        outline: none;
        cursor: pointer;
    }
}
.comShape{
    box-shadow: $box-shadow;
}

tr#memberTableRowBorder{
    background-color: map-get($color_regulation, 'pink2');
    // color: map-get($color_regulation, 'white');
}

#memberTableTitle{
    background-color: map-get($color_regulation, 'pink2')  !important;
}
thead#memberTableLowBlock{
    background-color: map-get($color_regulation, 'pink2' )  !important;
    tr{
        background-color: unset;
    }
}
#memberTableTopBorder{
    tr{
        background-color:  white;
    }
}
#participateRecord{
    color: map-get($map: $color_regulation, $key: 'blue');
    
    p{
        text-align: center;
    }
    table.participateRecordTable{
        
        overflow: hidden;
        width: 100%;
        margin: 0 auto;
        border: 1px solid map-get($map: $color_regulation, $key: 'blue');
        th,td{
            height: 50px;
            text-align: center;
        }
    }
}
// -----------------
.participateTitle{
    height: 50px;
    background-color: map-get($color_regulation,'memberGray' );
    color: map-get($color_regulation, 'white' );
    padding: 15px 0px 0px 30px;
    h6{
        vertical-align: middle;
        margin: auto 0;
        padding-left: 10px;
        border-left: 8px solid map-get($color_regulation, 'yellow' );
    }
}
// -----------------

#participateRecordRow1{
    background-color: map-get($color_regulation,'pink2');
}
.eventManagementRow1{
    background-color: map-get($color_regulation,'pink2')!important;
}

// div.participateRecordCon{
//     display: flex;
//     justify-content: center;
// }
.participateRecordCon{
    width: 90%;
    margin:30px auto;
    
}
div#eventManagement{
    color: map-get($map: $color_regulation, $key: 'blue');
    h3{
        font-size: $h6;
    }
    p{
        font-size: $p;
        text-align: center;
    }
    table.eventManagementTable{
        overflow: hidden;
        width: 100%;
        margin: 0 auto;
        border: 1px solid map-get($map: $color_regulation, $key: 'blue');
        th,td{
            height: 50px;
            text-align: center;
            width: 20%;
        }
    }
}
div#memPage{
    position: relative;
    #delatRemindBlackBox{
        top: 0;
        left: 0;
        display: none;
        position: absolute;
        background-color: rgba(0,0,0,.6);
        height: 100%;
        width: 100%;
        z-index: 10;
        #delatRemindBox{
            border-left: 8px solid map-get($color_regulation,'yellow');
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            background-color: map-get($map: $color_regulation, $key: 'white');
            color: map-get($map: $color_regulation, $key: 'blue');
            font-size: 18px;
            width: 40%;
            height: 30%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 2%;
            align-items: center;
            box-shadow: $box-shadow;
            @include mobileL{
                width: 60%;
            }
            @include mobileS{
                width: 80%;
            }
            .btnCho{
                display: flex;
                justify-content: space-around;
                font-size: 18px;
                @include mobileL{
                    flex-direction: column-reverse;
                }
                #delayYes{
                    background-color:map-get($color_regulation,'yellow' );
                    color:map-get($color_regulation, 'black' );
                    height: 35px;
                    width: 100px;
                    border: none;
                    box-shadow: $box-shadow;
                    margin-left: 20px;
                    cursor: pointer;
                    @include mobileL{
                        margin-left: 0px;
                        margin-bottom: 30px;
                    }
                }  
                #delayNo{
                    background-color: map-get($color_regulation, 'black' );
                    color:map-get($color_regulation, 'white');
                    height: 35px;
                    width: 100px;
                    border: none;
                    box-shadow: $box-shadow;
                    cursor: pointer;
                }
            }
            
        }
    }
    div#eventManagementCancelModalCon{
        display: none;
        position: absolute;
        background-color: rgba(0,0,0,.6);
        height: 100%;
        width: 100%;
        z-index: 10;
        top: 0;
        left: 0;
        div#eventManagementCancelModal{
            box-shadow: $box-shadow;

            background-color: map-get($map: $color_regulation, $key: 'white');
            color: map-get($map: $color_regulation, $key: 'blue');
            font-size: $p;
            width: 60%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include mobileL{
                width: 80%;
            }
            @include mobileL{
                width: 90%;
            
            }
            .titleReasonBox{
                padding-top: 10px;
                height: 40px;
                background-color: map-get($color_regulation , 'memberGray');
                @include mobileL{
                    padding: 10px;
                    height: auto;

                }
                .titleReason{
                    color: map-get($color_regulation, 'white' );
                    margin: 0;
                    border-left: 8px solid;
                    padding-left: 10px;
                    border-color: map-get($color_regulation, 'yellow' );
                    font-size: 18px;
                    line-height: 30px;
                    margin-left: 50px;
                    @include mobileL{
                        margin-left: 10px;
                        font-size: 15px;
                    }
                }
            }
            
            form{
                margin: 30px;
                display: flex;
                justify-content: space-around;
                @include pad{
                    flex-direction: column;
                }
                .CancelReasonTitle{
                    justify-content: center;
                    display: flex;
                    flex-direction: column;
                    label{
                        margin: 10px;
                        border-left: 8px solid yellow;
                        padding-left: 10px;
                    }
                    #eventManagementCancelReason{
                        box-shadow: $box-shadow;
                        border: 1px solid map-get($color_regulation, 'blue' );
                        color: map-get($color_regulation, 'blue' );
                        padding: 6px;
                        resize:none;
                        transition: $transition;

                        &:focus{
                            box-shadow: 1px 1px 17px rgba(0, 0, 0, 0.342);
                            transition: $transition;
                            outline: -webkit-focus-ring-color auto 0px;
                        }
                    }
                }
                
                
                div#eventManagementBtnCon{
                    align-self: center;
                    justify-content: space-around;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    button#eventManagementCancel{
                        box-shadow: $box-shadow;
                        width: 100px;
                        margin-right: 15%;
                        border:1px solid map-get($map: $color_regulation, $key: 'blue');
                        outline: none;
                        color: map-get($map: $color_regulation, $key: 'blue');
                        background-color: map-get($map: $color_regulation, $key: 'white');
                        cursor: pointer;
                        height: 35px;
                    }
                    button#eventManagementSubmit{
                        box-shadow: $box-shadow;
                        width: 100px;
                        margin-bottom: 30px;
                        border:none;
                        outline: none;
                        color: map-get($map: $color_regulation, $key: 'blue');
                        background-color: map-get($map: $color_regulation, $key: 'yellow');
                        cursor: pointer;
                        height: 35px;
                        @include pad{
                            margin-top: 30px;

                        }
                    }
                }
            }
        }
    }
}
div#eventManagementCancelModalCloseBtn{
    position: absolute;
    border-radius: 50%;
    border: 1px solid map-get($map: $color_regulation, $key: 'blue');
    background-color: map-get($map: $color_regulation, $key: 'white');
    right: 3%;
    top: 5%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    // overflow: hidden;
    padding: 1%;
    span{
        background-color: map-get($map: $color_regulation, $key: 'blue');
        display: inline-block;
        width: 25px;
        height: 3px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        color: map-get($map: $color_regulation, $key: 'blue');
        &:last-child{
            position: absolute;
            transform: translate(-50%, -50%) rotate(315deg);
        }
    }
}
// -------------------
// -------------------
// -------------------
// -------------------

.eventSaveBox{
    padding: 30px;
    .warmSaveCard{
        width: 100%;
        margin-bottom: 30px;
        h6{
            display: inline-block;
            line-height: 44px;
        }
        a{  
            i{
                margin-left: 5px;
            }  
            box-shadow: $box-shadow;
            color: map-get($color_regulation, "blue" );
            padding: 10px 30px;
            background-color: map-get($color_regulation, 'yellow' );
            float: right;
            
            margin-left: 10px;
            text-decoration:none;
        }
    }
    @include pc{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}



:root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    --font-sans: "Rubik", sans-serif;
    --font-serif: "Cardo", serif;
}
.page5Card{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../img/act_hist/beach1.jpg');
    position: relative;
    display: inline-block;
    align-items: flex-end;
    overflow: hidden;
    width: 30.33%;
    height: 260px;
    margin-right: 1.15%;
    margin-left: 1.15%;
    margin-bottom:2%;
    @include mobileL{
        width: 100%;
    }
    text-align: center;
    color:map-get( $color_regulation, 'blue');
    background-color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 110%;
        background-size: cover;
        background-position: 0 0;
        transition: transform calc(var(--d) * 1.5) var(--e);
        pointer-events: none;
    }
    &::after{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200%;
        pointer-events: none;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
        transform: translateY(-50%);
        transition: transform calc(var(--d) * 2) var(--e);
    }
    .content {
        padding: 20px 10px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: transform var(--d) var(--e);
        z-index: 1;
        color: map-get($color_regulation, 'white' );
        .title {
            // white-space:pre-wrap;
            font-size: 18px;
            font-weight: bold;
            display: -webkit-box;
            -webkit-line-clamp: 1; //行數
            -webkit-box-orient: vertical;
            white-space: normal;
            overflow: hidden;
        }
        .copy {

            font-family: var(--font-serif);
            font-size: 15px;
            line-height: 35px;
            height: 70px;
            margin: 0 !important;
            display: -webkit-box;
            -webkit-line-clamp: 4; //行數
            -webkit-box-orient: vertical;
            white-space: normal;
            overflow: hidden;
        }
        
        .btn {
            width: 140px;
            cursor: pointer;
            margin-top: 1.5rem;
            height: 30px;
            padding: 0 30px;
            font-size: 0.65rem;
            font-weight: bold;
            letter-spacing: 0.025rem;
            text-transform: uppercase;
            color: white;
            background-color: map-get($color_regulation, 'blue' );
            border: none;
            &:hover{
            outline: 1px dashed  map-get($color_regulation, 'red' );
            outline-offset: 3px;
            }
        }  
        .btn2{
            width: 140px;
            cursor: pointer;
            margin-top: 10px;
            height: 30px;
            padding: 0 30px;
            font-size: 0.65rem;
            font-weight: bold;
            letter-spacing: 0.025rem;
            text-transform: uppercase;
            color: white;
            background-color:map-get($color_regulation, 'yellow' );
            border: none;
            &:hover{
                outline: 1px dashed  map-get($color_regulation, 'red' );
            outline-offset: 3px;
            }
        }
    }
    .content>*+* {
        margin-top: 1rem;
        @include pc{
            margin-top: 5px;
        }
    }
}





// @media (hover: hover) and (min-width: 1200px) {
    .page5Card:after {
        transform: translateY(0);
    }
    .content {
        transform: translateY(calc(100% - 4.5rem));
    }
    .content>*:not(.title) {
        opacity: 0;
        transform: translateY(1rem);
        transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    }
    .page5Card:hover,
    .page5Card:focus-within {
        align-items: center;
    }
    .page5Card:hover:before,
    .page5Card:focus-within:before {
        transform: translateY(-4%);
    }
    .page5Card:hover:after,
    .page5Card:focus-within:after {
        transform: translateY(-50%);
    }
    .page5Card:hover .content,
    .page5Card:focus-within .content {
        transform: translateY(0);
    }
    .page5Card:hover .content>*:not(.title),
    .page5Card:focus-within .content>*:not(.title) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(var(--d) / 8);
    }
    .page5Card:focus-within:before,
    .page5Card:focus-within:after,
    .page5Card:focus-within .content,
    .page5Card:focus-within .content>*:not(.title) {
        transition-duration: 0.3s;
    }
// }

div#memberContentId{
    color: map-get($color_regulation, 'blue' );
    width: 70%;
    @include pc{
    width: 100%;

    }
    // overflow: hidden;
    div.tab2{
        display: none;
    }
}
::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    border: 1px solid map-get($map: $color_regulation, $key: 'white'); 
    background-color: map-get($map: $color_regulation, $key: 'white');
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #1D1E4C; 
    border-radius: 5px;
  }

.expPartReceived{
    padding: 1px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    color: map-get($color_regulation,'footerGray' );
    &::after{
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        right: -17px;
        background-color: #EF4325;
        border: 4px solid #EF4325;
        top: 15px;
        border-radius: 50%;
        z-index: 1;
        box-shadow:1px 1px 6px rgba(0, 0, 0, 0.342);
    }
}
button:disabled {
    background-color: rgba(250,250,250,.3);
    color: rgba(29,30,76,.3);
    outline: none;
    cursor: pointer;
}
.MemberCollectionHide{
    display: none;
}
div#appMemberBriefIntro{
    span{
        display: none;
    }
}
.comBtn3{
    cursor: pointer;
    outline: none;
    color: map-get($color_regulation,'white');
    height: 35px;
    border: none;
    // border-left: 4px solid  map-get($color_regulation,'yellow');
    box-shadow:1px 1px 6px rgba(0, 0, 0, 0.342);
    font-size: 15px;
    background-color: map-get($color_regulation,'memberGray');
    // padding: 0px 30px;
    line-height:35px;
    transition: all 0.3s ease 0s;
    width: 90px;
}
.comBtn4{
    cursor: pointer;
    outline: none;
    color: map-get($color_regulation,'blue');
    height: 35px;
    border:none!important;
    box-shadow:1px 1px 6px rgba(0, 0, 0, 0.342);
    font-size: 15px;
    background-color: map-get($color_regulation,'yellow');
    padding: 0px 30px;
    line-height:35px;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
}

.memInfoBottom{
    display: none;
}
.show-text .memInfoBottom{
    display: block;
}
.minusIcon{
    display: none;
}
.show-text .minusIcon{
    display: block;
}
.show-text .plusIcon{
    display: none;
}

.alertMessage{
    color: map-get($color_regulation, 'red');
    font-size: 15px;
    font-family: bold;
}

@media all and (max-width:1024px){
    main{
        div.genInfor{
            div.personBlock {
                display: flex;
                justify-content: space-around;
                width: calc(100% - 20px);
                margin-right: 0px;
                margin-bottom: 15px;
            }
            div.cumulativeBlcok {
                padding-left: 0px;
                button{
                    margin-right: 0px;
                    width: calc(100%/6);
                }
            }
            div#underNoBorder{
                flex-direction: row;                
                justify-content: space-between;
                width: 100%;
            }
        }
    }
}
@media all and (max-width:937px){
    main{
        div.genInfor{
            div.cumulativeBlcok {
                padding-left: 0px;
                button{
                    margin-right: 0px;
                    width: calc(100%/6);
                    div.btnDisCon{
                        justify-content: center;
                        >span{
                            >span{
                                display: none;
                            }
                            &:last-child{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width:630px){
    div#underNoBorder{
        button.tabLinks{
            padding: 0px 10px;
        }
    }
}




@media all and (max-width:531px){
    body{
        main{
            .memberContent{
                .expContent{
                    .expExchange{
                        width: 95%;
                        .excBlcok{
                            &::after{
                                left: 13%;
                            }
                            .expPart, .expPartReceived{
                                padding: 1px 0px 6px 20px !important;
                                &::after{
                                    left: -22%;
                                }
                            }
                            .expPartReceived{
                                padding: 1px 0px 6px 20px !important;
                                &::after{
                                    left: -22%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}
@media all and (max-width:531px){
    body{
        main{
            .memberContent{
                .expContent{
                    .expExchange{
                        .excBlcok{
                            .expPartReceived{
                                padding: 1px 0px 6px 20px !important;
                                &::after{
                                    left: -24%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}
@media all and (max-width:320px){
    body{
        main{
            .memberContent{
                .expContent{
                    .expExchange{
                        .excBlcok{
                            .expPartReceived{
                                padding: 1px 0px 6px 20px !important;
                                &::after{
                                    left: -25%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}


@media all and (max-width:344px){
    body{
        main{
            .memberContent{
                .expContent{
                    .expExchange{
                        .excBlcok{
                            .expPart, .expPartReceived{
                                width: 60%;
                            }
                        }
                    }
                }
            }
        }
    }

}

@media all and (max-width:382px){
    #orderRecord .orderBlock .page3FormBox{
        padding: 30px 15px;
    }

}

@media all and (max-width:820px){
    .participateRecordCon{
        width: 95%;
    } 
}

@media all and (max-width:655px){
    .comBtn3{
        padding: 0px 10px;
    }
    div#participateRecord{
        div.participateRecordCon{
            table.participateRecordTable{
                .comBtn{
                    padding: 0px 10px;
                }
            }
        }
    }
    div#eventManagement{
        .comBtn{
            padding: 0px 10px;
        }
    }
}

@media all and (max-width:470px){
    div#participateRecord{
        div.participateRecordCon{
            table.participateRecordTable{
                .comBtn{
                    padding: 0px 5px;
                }
            }
        }
    }
}


@media all and (max-width:500px){
    #participateRecord table.participateRecordTable th, #participateRecord table.participateRecordTable td {
        height: 50px;
        text-align: center;
        font-size: 12px;
    }
    .ActLink{
        font-size: 13px;
    }
}

@media all and (max-width:500px){
    .CancelLink{
        font-size: 13px;
    }
    div#eventManagement table.eventManagementTable th, div#eventManagement table.eventManagementTable td {
        font-size: 13px;
    }
}




