@import '../common_backend';

// 結構(右邊部分)
div.bg{
    main#backend{
        div.content{
            section#c2{
                div.flex{
                    width: 100%;
                    justify-content: flex-end;
                    height: 80px;
                }
                // table{
                //     tbody{
                //         tr{
                //             td{

                //             }
                //         }
                //     }
                // }
            }
        }
    }
}


