//@import '../var';
//@import '../all.scss';
//=========================================
//=============共用規格設定如下=============
//font-family
$english: 'Palatino Linotype';
$chinese: 'noto sans tc';
//Header
$navH:66px;
$logoW:50px;
//Footer
$footerH:500px;
// Font Size
$p:15px;
$h1:72px;
$h2:60px;
$h3:48px;
$h4:38px;
$h5:28px;
$h6:22px;
$h7:18px;

$letter-Spacing:2px;//文字間距
$padding-hint:10px;//頁面提示字padding
//Others
$pageW:1200px;//網頁寬
$reserveSide:30px;//左右預留寬度
//Radius
$contentTxt:15px;   //內文字體大小
$btnTxt:15px;   //按鈕字體大小
$regionTxt:28px;//區域性字體
$contentSubTit:22px;//內文副標題
$navTxt:15px;//導覽列文字
$lineHeight:35px;//文字行高
$borderRadius:0px;
$btnRadius:0px;
$inputRadius:0px;
//box-shadow
$box-shadow:1px 1px 6px rgba(0, 0, 0, 0.342);

//敬航
$closeBtn:27px;//關閉紐大小
// header
$navH:66px;
$logoW:50px;
//Footer
$footerH:500px;

//new color
$color_regulation:(
    'red':#EF4325,
    'pink':#FF498C,
    'orange':#FFAE41,
    'lake':#09E4C7,
    'blue':#07082E,
    'black':#1E1E1E,
    'white':#FFFFFF,
    'white-bg':#EEEEEE,
    'gray-hint':#C6C6C6,
    'green-coin':#0e6d41,
    'gray-input-hint':#C2C2C2,
    'blue-input-border':#07082E,
    'blue-activity-nav':#24324B,
  
    'yellow':#FFD241,
    'rankGray':#E3E3EA,
    'memberGray':#181919,
);
// ==============RWD=======================
@mixin pcL {
    @media(max-width:1200px){
        @content;
      }
}
@mixin pc{
    @media(max-width:1024px){
      @content;
    }
}
@mixin pad{
    @media(max-width:768px){
      @content;
    }
}
@mixin mobileL{
    @media(max-width:576px){
        @content;
    }
}
@mixin mobileS{
    @media(max-width:375px){
        @content;
    }
}
// -----for cusblock------------------------------------------
@mixin customSize{
    @media(max-width:850px){
        @content;
    }
}
//=============共用規格設定如上=============

//=============共用規格設定如上=============
@mixin cartIcon2(){
    color: map-get($color_regulation, 'blue');
    background-color: map-get($color_regulation, 'yellow');
    height: 35px;
    padding: 0 30px;
    border-radius: $borderRadius;
    box-shadow: $box-shadow;
    border: none ;
    outline: none;
    line-height: 30px;
    cursor: pointer;
}

@mixin cartIcon(){
    color: map-get($color_regulation,'blue');
    background-color: map-get($color_regulation,'yellow');
    height: 35px;
    padding: 0;
    border: none ;
    outline: none;
    cursor: pointer;
    padding: 0 10px;
    width: 150px;
    line-height: 35px;
}
//=========================================

*{
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: $english, $chinese;
    background-color: map-get($color_regulation,'white' );
}

//左側 直向 麵包條
div.title-block{
    h5.title {
        position:absolute;
        top: $navH;
        left:0;
        margin:0;
        font-size: 20px;
        font-weight: normal;
        display: inline-block;
        white-space: nowrap;
        padding: 10px;
        transform: rotate(90deg) translateY(-100%);
        transform-origin: 0 0;
        color:map-get($color_regulation,'blue');
        @media (max-width:575px){
            font-size: $h7;
        }
        span {
            color:map-get($color_regulation,'gray' );
        }
        @media (max-width:575px){
            font-size: $h7;
        }
    }
}

section.NormalProductPage {
    letter-spacing:$letter-Spacing;
    margin:0 auto;
    font-size: 0px;
    text-align: center;
    margin-top:$navH;
    position: relative;
    div.content_normalProduct {
        text-align: left;
        display: inline-block;
        vertical-align: top;
        width: 100%;
        .customizedTotleBox{
            margin: auto;
            padding: 10px;
            padding-top: 20px;
            height: 100px;
            background-color: map-get($color_regulation, 'yellow' );
            p{  
                color: map-get($color_regulation,'blue');
                font-size: $p;
                text-align: center;
                margin: 0;
            }
            h5.title_2{
                font-size: $h5;
                color: map-get($color_regulation,'blue');
                text-align: center;
                margin: 0;
                padding:0;
                
            }
            .yellowLine{
                margin:10px auto;
                width: 40px;
                height: 8px;
                background-color: map-get($color_regulation,'white' );
            }
        }
    }
}


section.NormalProductPage{
    div.content_normalProduct{
        div.container{
            margin:0 auto;
            margin-top: 30px;
            padding:0;
            width:100%;
            div.all{
                margin:0 auto;
                width:100%;
                padding:0 $reserveSide;
                //左上側 圖片展示&商品解說區==================================================================
                //左上側 圖片展示&商品解說區==================================================================
                //左上側 圖片展示&商品解說區==================================================================
                div.leftarea{
                    margin:0 auto;
                    padding:0;
                    padding-right:15px;
                    @media (max-width:991px) {
                        padding-right: 0;
                    }
                    //左側 (商品展示區)========================
                    //左側 (商品展示區)========================
                    //左側 (商品展示區)========================
                    div.leftarea_blockA{
                        width:100%;
                        padding:0;
                        display: flex;
                        @media (max-width:520px) {
                            display:inline-block;
                        }
                        //左邊單獨show 1張 (占50%)
                        //左邊單獨show 1張 (占50%)
                        //左邊單獨show 1張 (占50%)
                        div.leftarea_blockA_L{
                            cursor: pointer;
                            width:49%;
                            overflow: hidden;
                            border-radius: $borderRadius;
                            position:relative;
                            box-shadow: $box-shadow;
                            margin-right:1%;
                            @media (max-width:520px) {
                                width:100%;
                                margin-right: 0;
                            }
                            img{
                                width:100%;
                                height: 100%;
                            }
                            div.explain{
                                font-size: $p;
                                width:36%;
                                height:33px;
                                line-height: 33px;
                                text-align: center;
                                border-radius: $borderRadius;
                                position:absolute;
                                bottom:15px;
                                right:15px;
                                background-color: map-get($color_regulation,'gray' );
                                color:map-get($color_regulation,'blue');
                                box-shadow: $box-shadow;
                                background: hsla(0,0%,100%,.6); 
                            }
                        } 
                        //右邊區塊show 4張 (共占50%)
                        //右邊區塊show 4張 (共占50%)
                        //右邊區塊show 4張 (共占50%)
                        div.leftarea_blockA_R{
                            cursor: pointer;
                            width:50%;
                            @media (max-width:520px) {
                                width:100%;
                                margin-top: 7px;
                            }
                            div.leftarea_blockA_R1{
                                width:49%;
                                overflow: hidden;
                                display:inline-block;
                                border-radius: $borderRadius;
                                position:relative;
                                box-shadow: $box-shadow;
                                img{
                                    width:100%;
                                }
                                div.explain{
                                    font-size: $p;
                                    width:75%;
                                    height:33px;
                                    line-height: 33px;
                                    text-align: center;
                                    border-radius: $borderRadius;
                                    position:absolute;
                                    bottom:15px;
                                    left:50%;
                                    transform: translateX(-50%);
                                    background-color: map-get($color_regulation,'gray' );
                                    color:map-get($color_regulation,'blue');
                                    box-shadow: $box-shadow;
                                    background: hsla(0,0%,100%,.6); 
                                }
                            }
                            div.leftarea_blockA_R11{
                                margin-top: 3.2%;
                            }
                            div#NP_ZoomIn3, div#NP_ZoomIn5{
                                margin-left:1%;
                            }
                        }
                    }
                    //左側 (商品簡介區)========================
                    //左側 (商品簡介區)========================
                    //左側 (商品簡介區)========================
                    //標題:商品簡介
                    div.leftarea_blockB{ 
                        margin-top:30px;
                        width:100%;
                        padding:30px;
                        border-radius: $borderRadius;
                        box-shadow: $box-shadow;

                        h6.aboutProducts{ 
                            border-left: 8px solid map-get($color_regulation ,'yellow' );
                            padding-left: 10px;
                            font-size: $h6;
                            color:map-get($color_regulation,'blue');
                            margin:0;
                            @media (max-width:991px){
                                padding:0;
                            }
                            @media (max-width:767px){
                                font-size: $h7;
                            }
                        }
                        img#showInfo{
                            width:$h5;
                            height:$h5;
                            border-radius: 50%;
                            box-shadow: $box-shadow;
                            line-height: $h5;
                            display:inline-block;
                            display:none;
                            @media (max-width:991px){
                               display:block; 
                            }
                        }
                        p#showInforHere{
                            font-size: $p;
                            font-weight: 550;
                            color:map-get($color_regulation,'blue');
                            @media (max-width:991px){
                                display:none; 
                            }
                            @media (max-width:575px){
                                font-size: 12px;
                            }
                        }
                    }
                }
                //右側 選擇數量區選擇區=================================================================
                //右側 選擇數量區選擇區=================================================================
                //右側 選擇數量區選擇區=================================================================
                div.rightarea{
                    padding: 30px;
                    height: 50%;
                    color: map-get($color_regulation,'blue' );
                    margin:0 auto;
                    border-radius: $borderRadius;
                    box-shadow: $box-shadow;
                    // background-color: map-get($color_regulation,'white-bg' );
                    background: hsla(0,0%,100%,.6);
                    @media (max-width:991px) {
                        margin-top: 25px;
                    }
                    form.inforOfTheForm{
                        width:98%;
                        margin: 0 auto;
                        //選擇數量區==============================
                        div.qty_block{
                            width:100%;
                            font-size: $p;
                            
                            padding-bottom: 30px;
                            //小標:數量
                            p.stepExplain{
                                border-left: 8px solid map-get($color_regulation , 'yellow' );
                                font-size: $p;
                                font-weight: bold;
                                margin:0;
                                padding-left: 10px;
                                @media (max-width:450px) {
                                    font-size: 12px; 
                                }
                            }
                            div.placememtOfQty{
                                padding-top: 30px;
                                width:100%;
                                margin:0 auto;
                                font-weight: bold;
                                @media (max-width:450px) {
                                    font-size: 12px; 
                                }
                                select.select_qty_pcs{
                                    outline: none;
                                    border-color: map-get($color_regulation , 'blue' )!important;
                                    color: map-get($color_regulation,'blue')!important;
                                    width:100px;
                                    height: 30px;
                                    padding-left: 30px;
                                    border-radius: $inputRadius;
                                    @media (max-width:450px) {
                                        font-size: 12px; 
                                    }
                                }
                            }
                        }
                        //小計區==================================
                        div.tal_block{
                            width:100%;
                            font-size: $p;
                            color:map-get($color_regulation,'blue');
                            //小標:小計
                            p.stepExplain{
                                float: left;
                                font-weight: 550;
                                margin:0;
                                @media (max-width:450px) {
                                    font-size: 12px; 
                                }
                            }
                            div.placementOfTal{
                                width:98%;
                                text-align: right;
                                @media (max-width:450px) {
                                    font-size: 12px; 
                                }
                                label.thePrice{
                                    margin-right: 10%;
                                }
                            }
                        }
                        div.placeOfSubmit{
                            text-align: center;
                            margin-bottom: 30px;
                            button{
                                margin-top:30px;
                                @include cartIcon2();
                            }
                        }
                    }
                }
            }

            div.all_Bottom{
                margin:0 auto;
                width:100%;
                //底部 推薦商品區======================================================================
                //底部 推薦商品區======================================================================
                //底部 推薦商品區======================================================================
                div.bottomarea{
                    padding-bottom: 40px;
                    margin-bottom:70px;
                    margin-top:25px;
                    //標題:熱門推薦商品
                    h5.title_2{
                        font-size: $h5;
                        color: map-get($color_regulation,'blue' );
                        @media (max-width:575px){
                            font-size: $h6;
                            padding:20px;
                        }
                    }
                    div.bottomareaBoxA{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-evenly;
                    }
                }
            }
        }
    }
} 

//燈箱
section.NormalProductPage{
    div#NP_lightBox{
        display:none;
        position: fixed;
        top:$navH;
        left:0;
        width:100%;
        height: calc(100vh - #{$navH});
        background: rgba(0, 0, 0, .75);
        div.NP_showBox{
            width:35%;
            position:absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            @media (max-width:575px){
                width:80%;
            }
            @media (min-width:576px) and (max-width:767px){
                width:55%;
            }
            @media (min-width:768px) and (max-width:991px) {
                width:45%;
            }
            img#NP_showImgHere{
                width:100%;
                overflow: hidden;
                border-radius: $borderRadius;
                box-shadow: $box-shadow;
            }
            img.NP_turnOffBtn{
                width:$closeBtn;
                position:absolute;
                top: #{-$closeBtn};
                right:#{-$closeBtn};
            }
        }
    }
}




.product{
    margin-bottom: 30px;
    width: 275px;
    img{
        width: 275px;
        height: 275px;
    }
    .productInfo{
        color:map-get($color-regulation, 'blue' );
        border-left: 8px solid map-get($color-regulation, "yellow" );
        padding-left: 10px;
        margin-top: 10px;
        p{  
            font-size: 15px;
            margin: 0;
            line-height: 36px;
        }
        button{
            overflow: hidden;
            padding: 0;
            margin: 0;
            float: right;
            height: 35px;
            width:35px;
            line-height: 35px;
            color: map-get($color-regulation,'blue');
            background-color: map-get($color-regulation, 'yellow' );
            border:none;
            box-shadow: $box-shadow;
            white-space:nowrap;
            transition: all 0.3s ease 0s;
            i{
                display: inline-block;
            }
            p{  
                opacity: 0;
                margin: 0;
                display: none;
            }
            &:hover{
                transition: all 0.3s ease 0s;
                width: 150px;
                p{
                    opacity: 1;
                    display: inline-block;
                }
            }
        }
    }
}