@import '../var';
@import '../all.scss';

* {
   box-sizing: border-box;

}

@media (min-width:992px) and (max-width:1199px) {}

@media (min-width:768px) and (max-width:991px) {}

@media (min-width:576px) and (max-width:767px) {}

@media (max-width:575px) {}

div.progress__bar {

   margin-top: 66px;
   margin-bottom: 0px;
   box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.171) inset;
   -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.171) inset;
   -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.171) inset;
   position: relative;
   padding: 10px 0 40px 0;
   flex: 0 0 83.33333%;
   width: 100%;
   background-color: #fafafa;

   .progress {
      margin: 0 auto;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: center;
      text-align: center;
      color: #ffffff;
      text-align: center;
      position: relative;
      font-size: 24px;
      width: auto;

      .progress__item {
         &:nth-child(2) {
            color: map-get($color_regulation,'blue');
            // background-color: map-get($color_regulation, 'yellow');
            z-index: 1;
         }

         width: 30px;
         height: 30px;
         border-radius: 50%;
         position: relative;
         background-color: map-get($map:$color_regulation, $key:'blue');
         line-height: 30px;
         letter-spacing: 0px;
         margin: 0;
         color: #fafafa;

         p.progress__text {
            position: absolute;
            width: 150px;
            top: 50%;
            left: -200%;
            color: map-get($map:$color_regulation, $key:'blue');
            font-size: $h7;
            font-family: $chinese;
         }
      }

      .progress_group_bar {
         height: 12px;
         margin: 10px -5px;
         z-index: 0;

         .progress-bar {
            margin: 0 auto;
            flex-direction: column;
            justify-content: center;
            color: map-get($map:$color_regulation, $key:'blue');
            text-align: center;
            white-space: nowrap;
            background-color: map-get($map:$color_regulation, $key:'blue');
            transition: width .6s ease;
            width: 500px;
            height: 10px;
         }

         @media (min-width:992px) and (max-width:1199px) {
            .progress-bar {
               width: 400px;
            }
         }

         @media (min-width:768px) and (max-width:991px) {
            .progress-bar {
               width: 300px;
            }
         }

         @media (min-width:576px) and (max-width:767px) {
            .progress-bar {
               width: 200px;
            }
         }

         @media (max-width:575px) {
            .progress-bar {
               width: 150px;
            }
         }

      }
   }
}

div.title-block {
   position: absolute;
   display: inline-block;
   vertical-align: top;
   width: $reserveSide;
   //    position: absolute;
   margin-top: 10px;
   margin-left: 10px;
   
   h1.title {
      font-size: 20px;
      color: map-get($map:$color_regulation, $key:'blue');
      display: inline-block;
      white-space: nowrap;
      //  padding: 10px;
      margin: 0 5px 0 0;
       writing-mode: vertical-rl;
       text-orientation: sideways;
       margin: 0;
   }
}

.paymentSection {
   margin: 0 auto;

   div.paymentContent {
      width: $pageW;

      max-width: 100%;
      margin: 0 auto;
      vertical-align: top;
      position: relative;
      // padding: 0 0 0 35px;
      
      div.card{
         // border: 1px solid ;
         margin: 20px 30px;
         box-shadow: $box-shadow;

         @media (min-width:992px) and (max-width:1199px) {
            margin: 20px 35px;

         }

         @media (min-width:768px) and (max-width:991px) {
            margin: 20px 35px;
         }

         @media (min-width:576px) and (max-width:767px) {
            margin: 20px 35px;
         }

         @media (max-width:575px) {
            margin: 20px 35px;
         }


         .card-header {
            button.btn-link {
               box-shadow: $box-shadow;
               border: none;
               background-color: map-get($map:$color_regulation, $key:'yellow');
               margin-bottom: 0px;
               width: 100%;
               height: auto;
               text-align: center;
               align-items: center;
               outline: none;

               h2.btntext {
                  color: map-get($map:$color_regulation, $key:'blue');
               }

            }

         }

         #collapseOne {
            border: 1px solid map-get($map:$color_regulation, $key:'blue');
            display: inline-block;
            margin: 30px;
            width: 95%;
            //   height: 88px;
            align-items: center;

            @media (min-width:992px) and (max-width:1199px) {
               width: 99%;
               margin: 5px auto;
               justify-content: center;

            }

            @media (min-width:768px) and (max-width:991px) {
               width: 99%;
               margin: 5px auto;
               justify-content: center;
            }

            @media (min-width:576px) and (max-width:767px) {
               width: 99%;
               margin: 5px auto;
               justify-content: center;
            }

            @media (max-width:575px) {
               width: 99%;
               margin: 5px auto;
               justify-content: center;
            }

            .item_container {
               &:nth-child(even) {
                  background-color: map-get($map: $color_regulation, $key:'rankGray');
               }

               .item_header {
                  display: flex;
                  margin: 0 auto;
                  height: 30px;
                  height: $line-height*2;
                  align-items: center;
                  vertical-align: middle;
                  @media (min-width:576px) and (max-width:767px) {
                     height: $line-height*3;
                     // width: 99%;
                     // margin: 5px auto;
                     // justify-content: center;
                  }
      
                  @media (max-width:575px) {
                     height: $line-height*4;
                     // width: 99%;
                     // margin: 5px auto;
                     // justify-content: center;
                  }

                  .item_header div {
                     width: 150px;
                     color: map-get($map:$color_regulation, $key:'blue');
                     line-height: $line-height;
                  }

                  .item_detail {
                     width: 35%;
                     display: inline-block;
                     text-align: center;
                     
                     .prodimg{
                      width: 60px;  
                     }

                     //   margin: 10px;
                     @media (min-width:576px) and (max-width:767px) {
                        margin-button: 10px;

                     }

                     @media (max-width:575px) {
                        margin: 10px 0px;

                     }

                  }
               }

               .item_detail .name,
               .item_detail .size {
                  margin-left: 30px;
                  margin-top: 10px;
                  display: inline-block;

                  @media (min-width:576px) and (max-width:767px) {

                     margin-top: 5px;
                     margin-left: 10px;

                  }

                  @media (max-width:575px) {
                     margin-top: 0px;
                     margin-left: 10px;

                  }


               }

               button.round {
                  border-radius: 50%;
                  width: 25px;
                  height: 25px;
                  outline: 0;
                  border: 0;
                  color: #fff;
                  font-size: 18px;
                  background: #c3c3c3;
                  border-radius: 50%;
                  cursor: pointer;
               }

               button.round-cxl {
                  border-radius: 50%;
                  width: 28px;
                  height: 28px;
                  outline: 0;
                  border: 0;
                  color: #fff;
                  font-size: 18px;
                  background: map-get($map:$color_regulation, $key:'blue');
                  border-radius: 50%;
                  cursor: pointer;
               }
            }
         }

         div.payment-totalbody {
            // display: flex;
            // vertical-align: top;
            display: block;
            width: 30%;
            padding: 30px;
            margin: 0 auto;
            text-align: center;
            @media (min-width:992px) and (max-width:1199px) {
               width: 99%;
               margin: 0 auto;
               justify-content: center;
               padding: 20px 0px;

            }

            @media (min-width:768px) and (max-width:991px) {
               width: 99%;
               margin: 0 auto;
               justify-content: center;
               padding: 20px 0px;
            }

            @media (min-width:576px) and (max-width:767px) {
               width: 99%;
               margin: 0 auto;
               justify-content: center;
               padding: 20px 0px;
            }

            @media (max-width:575px) {
               width: 99%;
               margin: 0 auto;
               justify-content: center;
               padding: 20px 0px;
            }

            div.row {
               
               &:nth-child(3) {
                  color: map-get($map: $color_regulation, $key:'red');
                  font-weight: bold;
               }

               clear:both;
               padding:10px;
               margin: 5px auto;

               @media (min-width:992px) and (max-width:1199px) {
                  margin: 0 auto;
                  display: flex;
                  justify-content: center;


               }

               @media (min-width:768px) and (max-width:991px) {
                  margin: 0 auto;
                  display: flex;
                  justify-content: center;
               }

               @media (min-width:576px) and (max-width:767px) {
                  margin: 0 auto;
                  display: flex;
                  justify-content: center;
               }

               @media (max-width:575px) {
                  margin: 0 auto;
                  display: flex;
                  justify-content: center;
               }

               span.label {

                  float: left;
                  width: 160px;
                  text-align: left;
               }

               div.formw {
                  float: right;
                  width: 100px;
                  text-align: right;
               }

               input.formw {
                  float: right;
                  width: 100px;
                  text-align: right;
                  line-height: $line-height;
                  border: 1px solid map-get($map:$color_regulation, $key:'blue');
               }
            }
         }



      }

      .perDetailTitle {

         padding-left: 10px;
         border-left: 8px solid map-get($map:$color_regulation, $key:'yellow');

         h2 {
            color: map-get($map:$color_regulation, $key:'blue');
         }
      }

      .form_wrapper {
         padding: 30px;
         vertical-align: top;
         position: relative;
         width: 48%;
         box-shadow: $box-shadow;
         display: inline-block;
         text-align: center;
         margin: 10px;
         border: none;
         color: map-get($map:$color_regulation, $key:'blue');

         .step_title_box {
            h2 {
               margin: 0;
            }

            .step_title_line {
               margin: 10px auto 30px;
               width: 40px;
               height: 8px;
               background-color: map-get($map:$color_regulation, $key:'yellow');
            }
         }

         @media (min-width:992px) and (max-width:1199px) {
            width: 96%;
            // margin: 20px;
            display: flex;
            flex-direction: column;
            margin: 20px auto;

         }

         @media (min-width:768px) and (max-width:991px) {
            width: 96%;
            display: flex;
            flex-direction: column;
            margin: 20px auto;

         }

         @media (min-width:576px) and (max-width:767px) {
            width: 96%;
            display: flex;
            flex-direction: column;
            margin: 20px auto;

         }

         @media (max-width:575px) {
            width: 96%;
            display: flex;
            flex-direction: column;
            margin: 20px auto;

         }



         .creadDetail,
         .consignee {
            .creadCardimg img {
               width: 60px;
               height: 40px;
               margin: 5px 5px;

               @media (min-width:992px) and (max-width:1199px) {
                  margin: 10px 15px;
               }

               @media (min-width:768px) and (max-width:991px) {
                  margin: 10px 10px;
               }

               @media (min-width:576px) and (max-width:767px) {
                  display: none;

               }

               @media (max-width:575px) {
                  display: none;

               }
            }

            div.row {
               line-height: 30px;
               clear: both;
               padding: 0px;
               margin: 20px auto;
               display: flex;

               .label {
                  margin-right: 10px;
                  float: left;
                  width: 140px;
                  text-align: right;

                  @media (min-width:768px) and (max-width:991px) {
                     width: 140px;
                  }

                  @media (min-width:576px) and (max-width:767px) {
                     width: 140px;
                  }

                  @media (max-width:575px) {
                     width: 140px;
                  }
               }

               .form {
                  height: 30px;
                  float: left;
                  width: 300px;
                  text-align: center;
                  margin: 3px;
                  border: 1px solid map-get($map:$color_regulation, $key:'blue');
                  line-height: 30px;
                  display: block;

                  @media (min-width:992px) and (max-width:1199px) {
                     width: 400px;
                  }

                  @media (min-width:768px) and (max-width:991px) {
                     width: 400px;
                     line-height: $lineHeight*1.5;
                  }

                  @media (min-width:576px) and (max-width:767px) {
                     width: 300px;
                     line-height: $lineHeight*1.5;
                  }

                  @media (max-width:575px) {
                     width: 300px;
                     line-height: $lineHeight*1.5;
                  }

               }

            }

            .input-group {
               position: relative;
               display: block;
               flex-wrap: wrap;
               width: 100%;
            }
         }

         .consignee {

            .member,
            .addAddress {
               padding: 20px 0;
               margin: 20px 0;
               text-align: left;
               div.row {
                  clear: both;
                  // padding: 10px;

                  .label {
                     margin-right: 10px;
                     float: left;
                     width: 130px;
                     text-align: right;

                     @media (min-width:768px) and (max-width:991px) {
                        width: 140px;
                     }

                     @media (min-width:576px) and (max-width:767px) {
                        width: 140px;
                     }

                     @media (max-width:575px) {
                        width: 140px;
                     }

                     label.add {
                        display: inline-block;
                     }
                  }

                  .form {
                     float: left;
                     width: 300px;
                     text-align: left;
                     margin: 3px;
                     border: 1px solid map-get($map:$color_regulation, $key:'blue');
                     line-height: 30px;
                     height: 30px;

                     @media (min-width:992px) and (max-width:1199px) {
                        width: 400px;
                     }

                     @media (min-width:768px) and (max-width:991px) {
                        width: 300px;
                        line-height: $lineHeight*1.5;
                     }

                     @media (min-width:576px) and (max-width:767px) {
                        width: 300px;
                        line-height: $lineHeight*1.5;
                     }

                     @media (max-width:575px) {
                        width: 300px;
                        line-height: $lineHeight*1.5;
                     }
                  }

               }


            }
         }

      }

      .btn_group {
         padding: 0px 30px;
         width: 100%;
         margin: 30px auto;
         text-align: center;

         button:first-child {
            background-color: map-get($map:$color_regulation, $key:'blue');

         }

         button:last-child {
            color: map-get($map: $color_regulation, $key:'blue');
            background-color: map-get($map: $color_regulation, $key: 'yellow');
            width: 200px;
         }

         .btn {
            box-shadow: $box-shadow;
            border: none;
            margin: 10px 50px;
            padding: 0px 30px;
            display: inline-block;
            color: #fafafa;
            text-align: center;
            vertical-align: middle;
            font-size: $btnTxt;
            line-height: $line-height;
            font-family: $chinese;
            outline: none;

            .finshbtn {
               background-color: #EF4325;
               font-size: $btnTxt;
               color: #fafafa;

            }
         }
      }
   }
}


.full-screen {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 999;
   background-color: rgba(5, 5, 5, 0.8);
   display: flex;
   justify-content: center;
   align-items: center;
   display: none;

   .disc {
      width: 600px;
      height: 300px;
      padding: 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: map-get($map:$color_regulation, $key:'blue');
      color: #fafafa;
      text-align: center;
      margin: 50px auto;
      line-height: 100px;

      @media (min-width:992px) and (max-width:1199px) {
         width: 600px;
         height: 300px;
      }

      @media (min-width:768px) and (max-width:991px) {
         width: 500px;
         height: 250px;
         line-height: 50px;

      }

      @media (min-width:576px) and (max-width:767px) {
         width: 500px;
         height: 250px;
         line-height: 50px;

      }

      @media (max-width:575px) {
         width: 300px;
         height: 250px;
         line-height: 50px;


      }

      .step_done_title {
         // margin: 0px 20px 20px 20px;
         text-align: center;
         align-items: center
      }
   }
}