<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>購物車結帳</title>
    <link rel="stylesheet" href="./css/all.css">
    <link rel="stylesheet" href="./css/pages/payment.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <!-- <link rel="stylesheet" href="../css/indexFront.css"> -->
</head>

<body>
    <!-- 樣板 header   -->
    @@include('./layout/header.html')
    <!-- 會員登入 -->
    @@include('./layout/login.html')
    <!-- ------------------------------------------------------- -->
    <div class=" col-lg-6 d-flex justify-content-start progress__bar">
      <ul class="progress ">
        <li class="progress__item" :class=" { 'progress__item--active' : current_section>= 0}">1
          <p class="progress__text ">確認訂單</p>
        </li>
        <li class="progress progress_group_bar">
          <div class="progress-bar" role="progressbar" :class="{done:progress.payby}"></div>
        </li>
        <li class="progress__item " :class=" { 'progress__item--active' : current_section>= 1}">2
          <p class="progress__text ">填寫訂購資料</p>
        </li>
        <li class="progress progress_group_bar">
          <div class="progress-bar" role="progressbar" :class="{done:progress.payby}"></div>
        </li>
        <li class="progress__item " :class=" { 'progress__item--active' : current_section>= 2}">3
          <p class="progress__text ">完成訂單</p>
        </li>
      </ul>
    </div>
     <div class="title-block">
          <h1 class="title">購物車</h1>
     </div>
    <section  class="paymentSection">
        <!-- <div class="product-mb col-lg-12">
          <a  href="#" >1.確認訂單明細</a>
          <span >/</span>&nbsp;
          <a class="active"  >2.填寫付款資料</a>&nbsp;
          <span>/</span>&nbsp;
          <a href="#" >3.訂單完成</a>       
        </div> -->
        <!-- <div class="title-block">
          <h1 class="title">購物車</h1>
        </div> -->
        <div class="paymentContent " >
          <!-- <button class="accordion"><span>訂單總金額</span>{{item.price * item.count}}}</button> -->
          <div class="card">
            <div class="card-header" id="headingOne">
              
              <!-- <button class="accordion"><span>訂單總金額</span>{{item.price * item.count}}}</button> -->
              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <h2 class="btntext" style="color: white;">訂單總金額NT$1600</h2>
              </button>
              
            </div>
            
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              
                <div class="item_container" v-for="(item, index) in itemList" :key="item.id" >
                      <div class="item_header ">
                              <div class="item_detail">
                                  <!-- <img v-bind:src="item.imgUrl" alt=""> -->
                                  <!-- <img src="https://images.unsplash.com/photo-1534961880437-ce5ae2033053?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" alt=""> -->
                                  <!-- <div class="name">{{item.itemName}}</div> -->
                                  <div class="name"><span>品名:</span>優質短袖白T</div>
                                  <div class="size"><span>尺寸:</span>F</div>
                              </div>
                              
                              <!-- <div class="price"><span>$</span>{{item.price}}</div> -->
                              <!-- <div class="price"><span>$</span>500</div> -->
                              <div class="item_detail count">
                                  <!-- <button class="round less"  @click="handleSub(item)">-</button> -->
                                  1
                                  <!-- {{item.count}} -->
                                  <!-- <button class="round add"  @click="handlePlus(item)">+</button> -->
                              </div> 
                              <!-- <div class="amount">{{item.price * item.count}}</div> -->
                              <div class="item_detail amount">500</div>
                              <!-- <div class="operate">
                                  <button class="round-cxl add  @click="handledelete(index)" ><i class="fas fa-trash fa-1x "></i></button>
                              </div>
                      </div>
                </div>
                <div class="item_container" v-for="(item, index) in itemList" :key="item.id" >
                  <div class="item_header ">
                          <div class="item_detail">
                               <img v-bind:src="item.imgUrl" alt=""> -->
                              <!-- <img src="https://images.unsplash.com/photo-1534961880437-ce5ae2033053?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" alt=""> -->
                              <!-- <div class="name">{{item.itemName}}</div> -->
                              <div class="name"><span>品名:</span>優質短袖白T</div>
                              <div class="size"><span>尺寸:</span>F</div>
                          </div>
                          
                          <!-- <div class="price"><span>$</span>{{item.price}}</div> -->
                          <!-- <div class="price"><span>$</span>500</div> -->
                          <div class="item_detail count">
                              <!-- <button class="round less"  @click="handleSub(item)">-</button> -->
                              1
                              <!-- {{item.count}} -->
                              <!-- <button class="round add"  @click="handlePlus(item)">+</button> -->
                          </div> 
                          <!-- <div class="amount">{{item.price * item.count}}</div> -->
                          <div class="item_detail amount">500</div>
                          <!-- <div class="operate">
                              <button class="round-cxl add  @click="handledelete(index)" ><i class="fas fa-trash fa-1x "></i></button>
                          </div>
                  </div>
                </div>
                <div class="item_container" v-for="(item, index) in itemList" :key="item.id" >
                 <div class="item_header ">
                      <div class="item_detail">
                          < <img v-bind:src="item.imgUrl" alt=""> -->
                          <!-- <img src="https://images.unsplash.com/photo-1534961880437-ce5ae2033053?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" alt=""> -->
                          <!-- <div class="name">{{item.itemName}}</div> -->
                          <div class="name"><span>品名:</span>優質短袖白T</div>
                          <div class="size"><span>尺寸:</span>F</div>
                      </div>
                      
                      <!-- <div class="price"><span>$</span>{{item.price}}</div> -->
                      <!-- <div class="price"><span>$</span>500</div> -->
                      <div class="item_detail count">
                          <!-- <button class="round less"  @click="handleSub(item)">-</button> -->
                          1
                          <!-- {{item.count}} -->
                          <!-- <button class="round add"  @click="handlePlus(item)">+</button> -->
                      </div> 
                      <!-- <div class="amount">{{item.price * item.count}}</div> -->
                      <div class="item_detail amount">500</div>
                      <!-- <div class="operate">
                          <button class="round-cxl add  @click="handledelete(index)" ><i class="fas fa-trash fa-1x "></i></button>
                      </div>
                 </div>
                </div>            
              </div>
              <div class="payment-totalbody">
                <div class="row">
                  <span class="label">商品總金額:</span>
                  <div class="formw totalAmount"><span>$</span>{{item.price * item.count}}</div> -->
                  <div class="formw totalAmount"><span>$</span>1600</div>
                  <!-- <span class="formw"><input type="text" size="25" /></span> -->
                </div>
                <div class="row">
                  <span class="label">使用環保幣折扣:</span>
                  <!-- <input class="formw discount" value="$0" readonly > -->
                  <div class="formw discount" ><span>$</span>0</div>
                </div>
                <div class="row">
                  <span class="label">總計：</span>
                  <!-- <input class="formw discount" value="$0" readonly > -->
                  <div class="formw subtotal"><span>$</span>1600</div>
                </div>
              </div>
            
          </div>
          <h2>填寫資料</h2>
          <main class="form_wrapper" v-else-if="progress.steps[progress.currentStep] === 'payment'" key="payment">
            <section class="step step2">
              <h2 class="step_title">填寫付款資訊</h2>
              <form class="creadDetail" novalidate @submit.prevent="validateBeforeSubmit('payment')">
                <div class="form-group row">
                  <label class="label">持卡人:</label>
                  <input class="form-control form" type="text" name="name" v-model="formPayment.name" v-validate="'required|min:1'">
                </div>
                <div class="form-group row">
                  <label class="label">卡號:</label>
                  <div class="form-row">
                    <!-- <div class="col form" v-if="!isMobile" v-for="(number, index) in formPayment.cardNumber">
                      <input class="form-control" type="text" :name="`cardNumber${index}`" ref="cardNumber" v-model="formPayment.cardNumber[index]" v-validate="'required|numeric|length:4'" @input="checkCardNumberInput(formPayment.cardNumber[index], index)">
                    </div> -->
                    <div class="col " v-if="isMobile">
                      <input class="form-control form" type="text" name="cardNumber" :value="formPayment.cardNumberInput" v-validate="{ required: true,	regex: /^([0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4})$/}" @input="formatCreditNumber($event)">
                    </div>
                    <div class="col " v-if="isMobile">
                      <input class="form-control form" type="text" name="cardNumber" :value="formPayment.cardNumberInput" v-validate="{ required: true,	regex: /^([0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4})$/}" @input="formatCreditNumber($event)">
                    </div>
                    <div class="col " v-if="isMobile">
                      <input class="form-control form" type="text" name="cardNumber" :value="formPayment.cardNumberInput" v-validate="{ required: true,	regex: /^([0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4})$/}" @input="formatCreditNumber($event)">
                    </div>
                    <div class="col " v-if="isMobile">
                      <input class="form-control form" type="text" name="cardNumber" :value="formPayment.cardNumberInput" v-validate="{ required: true,	regex: /^([0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4})$/}" @input="formatCreditNumber($event)">
                    </div>
                  </div>
                  <div class="creadCardimg row">
                    <img src="./img/cart/Mastercard.png" alt="">
                    <img src="./img/cart/VISA.png" alt="">
                    <img src="./img/cart/JCB.png" alt="">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="label">到期日期:</label>
                  <div class="form-row  label ">
                    <div class="input-group " >
                      <input class="form-control form" type="text" name="expiredMonth" v-model="formPayment.expiredMonth" v-validate="'required|numeric|min_value:1|max_value:12'"  placeholder="月,ex:2月,請輸入02">
                      
                      <input class="form-control form" type="text" name="expiredYear" v-model="formPayment.expiredYear" v-validate="'required|numeric|min_value:20|max_value:30'" placeholder="年,ex:2027,請輸入27">
                      
                    </div>
                    <!-- <div class="col-6 col-md-3 input-group row">
                      <input class="form-control form" type="text" name="expiredYear" v-model="formPayment.expiredYear" v-validate="'required|numeric|min_value:20|max_value:30'">
                      <div class="input-group-append"><span class="input-group-text">年</span></div>
                    </div> -->
                  </div>
                </div>
                <div class="form-group row">
                  <label class="label">CVV: 
                    <br>(卡片背面末三碼)</label>
                  <div class="form-row">
                    <div class="col-md-3">
                      <input class="form-control form" type="text" name="cvv" v-model="formPayment.cvv" v-validate="'required|numeric|length:3'">
                    </div>
                  </div>
                </div>
                <!-- <div class="form_footer">
                  <div class="btn_group">
                    <button class="btn btn_normal" @click.prevent="resetForm('formPayment')">取消</button>
                    <button class="btn btn_reset" @click.prevent="resetForm('formPayment')">清空重填</button>
                  </div>
                </div> -->
              </form>
            </section>
          </main>
          <main class="form_wrapper" v-else-if="progress.steps[progress.currentStep] === 'payment'" key="payment">
          <section class="step step3">
            <h2 class="step_title">收貨人資料</h2>
            <form class="consignee">
              <div class="member">
              <input type="radio" name="block" class="memberblock" >同會員資料
                <div class="formGroup owner row">
                  <label class="label" for="owner">收件人姓名：</label>
                  <input type="text" class="form-control empty form" id="owner">
               </div>
               <div class="row" id="card-number-field">
                  <label class="label" for="cellPhone">手機號碼：</label>
                  <input type="text" name="cellPhone" class="form-control cellPhone form" maxlength="20"
                      id="cellPhone">
               </div>
               <div class="row" >
                <label class="label" for="phone">市話：</label>
                <input  type="text" name="creditCard" class="form-control phone form" maxlength="20"
                    id="phone">
               </div>
               <div class="row" >
                <label class="label" for="add">地址：</label>
                <input  type="text" name="creditCard" class="form-control add form" maxlength="20"
                    id="cellPhone">
               </div>
              </div>
    
              <div class="addAddress">
              <input type="radio" name="block" class="memberblock">新增收件人資訊
                <div class="formGroup owner row">
                  <label class="label" for="owner">收件人姓名：</label>
                  <input type="text" class="form-control empty form" id="owner">
               </div>
               <div class="row" id="card-number-field">
                  <label class="label" for="cellPhone">手機號碼：</label>
                  <input  type="text" name="cellPhone" class="form-control cellPhone form" maxlength="20"
                      id="cellPhone">
               </div>
               <div class="row" >
                <label class="label" for="Phone">市話：</label>
                <input  type="text" name="creditCard" class="form-control Phone form" maxlength="20"
                    id="Phone">
               </div>
               <div class="row" >
                <label class="label" for="add">地址：</label>
                <!-- <span v-if="receiverRoad.remind!==''" class="form__text form__text--warning"
                                  >{{receiverRoad.remind}}</span> -->
                  <input  type="text" name="creditCard" class="form-control Phone form" maxlength="20"
                  id="address">
               </div>
              </div> 
            </form>
          </section>
          </main>
         
          <!-- <main class="form_wrapper" v-else>
            <section class="step_done">
              <h2 class="step_done_title">您的訂單已完成付款</h2><img class="step_done_img img-fluid my-5" src="./img/2nd-week4/icon-done.png"><span class="step_done_message">恭喜您成功完成訂單，稍後將寄送詳細資訊至您的E-mail。</span>
              <button class="step_done_btn btn btn_primary" @click="resetAllStep">回首頁</button>
            </section>
          </main> -->
          
          <!-- <form class="paymentForm">
            <div class="creditCardForm ">
              <h5 class="writeForm">填寫付款資料</h5>
              <div class="formGroup owner row">
                  <label class="labell" for="owner">持卡人姓名：</label>
                  <input type="text" class="formControl empty formm" id="owner">
              </div>
              <div class="creditInfo1 row" id="card-number-field">
                  <label class="labell" for="cardNumber">信用卡卡號：</label>
                  <input  type="text" name="creditCard" class="creditCard formm" maxlength="20"
                      id="cardNumber">
              </div>
              <div class="creditInfo2">
                  <div class="formGroup row" id="expirationDate">
                      <label class="labell labell">有 效 日 期：</label>
                      <select class="expMonth formm">
                          <option value="01">01</option>
                          <option value="02">02</option>
                          <option value="03">03</option>
                          <option value="04">04</option>
                          <option value="05">05</option>
                          <option value="06">06</option>
                          <option value="07">07</option>
                          <option value="08">08</option>
                          <option value="09">09</option>
                          <option value="10">10</option>
                          <option value="11">11</option>
                          <option value="12">12</option>
                      </select>
                      <label class="labell">月</label>
                      <select class="expYear formm">
                          <option value="20"> 2021</option>
                          <option value="21"> 2022</option>
                          <option value="22"> 2023</option>
                          <option value="23"> 2024</option>
                          <option value="24"> 2025</option>
                          <option value="25"> 2026</option>
                          <option value="26"> 2027</option>
                          <option value="27"> 2028</option>
                          <option value="28"> 2029</option>
                          <option value="29"> 2030</option>
                          <option value="30"> 2031</option>
                      </select>
                      <label class="labell">年</label>
                  </div>
              </div>
              <div id="securityCodeBlock" class="formGroup CVV row">
                      <label class="labell" for="cvv" class="securityCode">背面末三碼：</label>
                      <input  type="text" name="securityCode" class="securityCode1 empty formm" maxlength="3"
                          id="cvv">
              </div>
                   <div class="formGroup" id="creditCards">
                      <img src="../img/16/VISA_300x200.png" id="visa">
                      <img src="../img/16/Master_300x200.png" id="mastercard">
                      <img src="../img/16/AE_300x200.png" id="amex">
                  </div> -->
            <!-- </div> --> 
          <div class="btn_group">  
          <button class="btn btn_primary " type="submit" >回上一頁</button>
          <button class="finshbtn btn" type="submit">確認付款</button>
          </div>
      </div>
      
    </section>

    <section class="finsh wrapper full-screen">
    <main id="finsh_wrapper " v-else>
      <div class="modal__text disc">
        <h1 class="step_done_title step_title">您的訂單已完成付款</h1><span class="step_done_message">恭喜您成功完成訂單，稍後將寄送詳細資訊至您的E-mail。</span>
        <!-- <button class="step_done_btn btn btn_primary" @click="resetAllStep">回首頁</button> -->
      </div>
    </main>
  </section>
   
    <!-- 樣板 footer -->
    @@include('./layout/footer.html')
    <script src="./js/login.js"></script>
</body>
<script src="vendor/jQuery/jquery-3.5.1.min.js"></script>
<script>
  $('.finshbtn').click(function(){
$('.full-screen').css('display','block');

});
 
</script>
<!-- <script>
   $(document).ready(function(){

        // 會員登入
        $(function () {
        $('#finshbtn').click(function () {
            $('#finsh_wrapper').fadeIn();
        });

        $('.step_done_btn').click(function () {
            $('#login-modal').fadeOut();
        });
        })
      })

</script> -->

</html>