<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>購物車結帳</title>
    <link rel="stylesheet" href="./css/all.css">
    <link rel="stylesheet" href="./css/pages/payment.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-twzipcode@1.7.14/jquery.twzipcode.min.js"></script>
    <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script> -->
    <script type="text/javascript" src="http://zip5.5432.tw/js/zip5.js"></script>
    <script src="./js/getOrderinfo.js"></script>
    <script src="./js/orderform_info.js"></script>
    <!-- <link rel="stylesheet" href="../css/indexFront.css"> -->
</head>

<body>
    <!-- 樣板 header   -->
    @@include('./layout/header.html')
    <!-- 會員登入 -->
    @@include('./layout/login.html')
    <!-- ------------------------------------------------------- -->
    <div class=" col-lg-6 d-flex justify-content-start progress__bar">
      <ul class="progress ">
        <li class="progress__item"  style="background-color:#FFD241; color:#07082E;">1
          <p class="progress__text " style="color:#FFD241"></slot>確認訂單</p>
        </li>
        <li class="progress progress_group_bar" style="background-color:#FFD241">
          <div class="progress-bar" role="progressbar" style="background-color:#FFD241"></div>
        </li>
        <li class="progress__item  "   style="background-color:#FFD241;z-index: 1;color: #07082E;">2
          <p class="progress__text " style="color:#FFD241;;" >填寫訂購資料</p>
        </li>
        <li class="progress progress_group_bar">
          <div class="progress-bar" role="progressbar"></div>
        </li>
        <li class="progress__item " >3
          <p class="progress__text ">完成訂單</p>
        </li>
      </ul>
    </div>
     <div class="title-block">
          <h1 class="title">購物車</h1>
     </div>
    <section  id="app"  class="paymentSection">
        
        <div class="paymentContent " >

          <div class="card">
            <div class="card-header" id="headingOne">
              <!-- <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <h2 class="btntext"><p>訂單總金額NT$</p></h2> -->
              <!-- </button> -->
              
            </div>
            
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <form action="" id='orderInfo'>            
                    <div  class="item_container"  v-for="(item, index) in itemList" :key="item.id">
                      <!-- <div class="item_header ">
                                  <div class="item_detail">
                                      <div class="name">
                                        <span>品名:</span>
                                        <span type="text" id="prodName"></span>
                                      </div> 
                                  </div>
                                  <div class="item_detail count"><span type="text" id="count"></span></div>
                                  
                                  <div class="item_detail amount"><span type="text" id="price"></span></div>
                      </div> -->
                  </div>
              </form>
            </div> 
              <div class="payment-totalbody" >
                <!-- <div class="row">
                  <span class="label">商品總金額:</span>
                  <div class="formw totalAmount"><span>$</span>2160</div>
                </div>
                <div class="row">
                  <span class="label">使用環保幣折扣:</span>
                  <input class="formw discount"  value="請登入會員" readonly style="outline: none;border:none;font-size: 16px; " >
                </div>
                <div class="row">
                  <span class="label">總計：</span>
                  <div class="formw subtotal"><span>$</span>2160</div>
                </div> -->
              </div>
          </div>
          <div class="perDetailTitle"><h2>填寫資料</h2></div>
        
          <main class="form_wrapper" v-else-if="progress.steps[progress.currentStep] === 'payment'" key="payment">
            <section class="step step2">
              <div class="step_title_box">
                <h2 class="step_title">填寫付款資訊</h2>
                <div class="step_title_line"></div>
              </div>
              
              <form class="creadDetail" novalidate @submit.prevent="validateBeforeSubmit('payment')">
                <div class="form-group row">
                  <label class="label">持卡人:</label>
                  <input id="name1" class="form-control form name" type="text" name="name" maxlength="16" v-model="formPayment.name" v-validate="'required|min:1'" >
                  <span class="text-danger"></span>
                </div>
                <div class="form-group row">
                  <label class="label">持卡人身分證字號:</label>
                  <input id="idnumber" class="form-control form" type="text" name="name" v-model="formPayment.name" v-validate="'required|min:1'" :class="classes" >
                  <span class="text-danger"></span>
                </div>
                <div class="form-group row">
                  <label class="label ">卡號:</label>
                  <div class="form-row">
                    <!-- <div class="col form" v-if="!isMobile" v-for="(number, index) in formPayment.cardNumber">
                      <input class="form-control" type="text" :name="`cardNumber${index}`" ref="cardNumber" v-model="formPayment.cardNumber[index]" v-validate="'required|numeric|length:4'" @input="checkCardNumberInput(formPayment.cardNumber[index], index)">
                    </div> -->
                    <div class="col " v-if="isMobile">
                      <input id="cardnumber" class="form-control form creadNum cardno" type="text" name="cardNumber" :value="formPayment.cardNumberInput" v-validate="{ required: true,	regex: /^([0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4})$/}" @input="formatCreditNumber($event)" >
                      <span class="text-danger"></span>
                    </div>
                    <!-- <div class="col " v-if="isMobile">
                      <input class="form-control form" type="text" name="cardNumber" :value="formPayment.cardNumberInput" v-validate="{ required: true,	regex: /^([0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4})$/}" @input="formatCreditNumber($event)">
                    </div>
                    <div class="col " v-if="isMobile">
                      <input class="form-control form" type="text" name="cardNumber" :value="formPayment.cardNumberInput" v-validate="{ required: true,	regex: /^([0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4})$/}" @input="formatCreditNumber($event)">
                    </div>
                    <div class="col " v-if="isMobile">
                      <input class="form-control form" type="text" name="cardNumber" :value="formPayment.cardNumberInput" v-validate="{ required: true,	regex: /^([0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4})$/}" @input="formatCreditNumber($event)">
                    </div> -->
                  </div>
                  <!-- <div class="creadCardimg row">
                    <img src="./img/cart/Mastercard.png">
                    <img src="./img/cart/VISA.png" >
                    <img src="./img/cart/JCB.png" >
                  </div> -->
                </div>
                <div class="form-group row">
                  <span class="label">到期日期:</span>
                  <div class="form-row  label ">
                    <div class="input-group " >
                      <input  id="month" class="form-control form" type="text" name="month" v-model="formPayment.expiredMonth" v-validate="'required|numeric|min_value:1|max_value:12'"  >
                      <span class="text-danger"></span>
                      
                      <input id="year" class="form-control form" type="text" name="year" v-model="formPayment.expiredYear" v-validate="'required|numeric|min_value:20|max_value:30'" placeholder="年,ex:2027,請輸入27" >
                      <span class="text-danger"></span>
                    </div>
                    <!-- <div class="col-6 col-md-3 input-group row">
                      <input class="form-control form" type="text" name="expiredYear" v-model="formPayment.expiredYear" v-validate="'required|numeric|min_value:20|max_value:30'">
                      <div class="input-group-append"><span class="input-group-text">年</span></div>
                    </div> -->
                  </div>
                </div>
                <div class="form-group row">
                  <label class="label">CVV:</label>
                  <div class="form-row">
                    <div class="col-md-3">
                      <input id="safe" placeholder="卡片背面末三碼" class="form-control form" type="text" name="cvv" v-model="formPayment.cvv" v-validate="'required|numeric|length:3'">
                      <span class="text-danger"></span>
                    </div>
                  </div>
                </div>
                <!-- <div class="form_footer">
                  <div class="btn_group">
                    <button class="btn btn_normal" @click.prevent="resetForm('formPayment')">取消</button>
                    <button class="btn btn_reset" @click.prevent="resetForm('formPayment')">清空重填</button>
                  </div>
                </div> -->
              </form>
            </section>
          </main>
          <main class="form_wrapper" >
          <section class="step step3">
            <div class="step_title_box">
              <h2 class="step_title">收貨人資料</h2>
              <div class="step_title_line"></div>
            </div>
            <form class="consignee">
              <div class="member">
              <input type="radio" name="block" class="memberblock" id="B1" >收件人資料
                <div class="formGroup owner row">
                  <label class="label" for="owner">收件人姓名：</label>
                  <input type="text" class="form-control empty form name consig" id="owner" >
                  <span class="text-danger"></span>
               </div>
               <div class="row" id="card-number-field">
                  <label class="label" for="cellPhone">手機號碼：</label>
                  <input type="text" name="cellPhone" class="form-control Phone form CONSIGTEL" maxlength="20"
                      id="cellPhone" >
               </div>
               <!-- <div class="row" >
                <label class="label" for="phone">市話：</label>
                <input  type="text" name="creditCard" class="form-control homephone form" maxlength="20"
                    id="phone">
               </div> -->
               <!-- 地區跟郵遞區號串中華郵政 -->
               <div class="row" >
                <label class="label add " for="add">地址：</label>
                <div id="twzipcode"></div>
                <!-- <select  id="county" type="select" name="creditCard" class="form-control add form" style="width: auto;"  >
                    <option value="01" >請選擇縣市</option>
                      <option value="01">基隆</option>
                      <option value="02">台北市</option>
                      <option value="03">新北市</option>
                      <option value="04">桃園市</option>
                      <option value="05">新竹市</option>
                      <option value="06">新竹縣</option>
                      <option value="07">苗栗縣</option>
                      <option value="08">台中市</option>
                      <option value="09">彰化縣</option>
                      <option value="10">南投縣</option>
                      <option value="11">雲林縣</option>
                      <option value="12">嘉義縣</option>
                </select>
                <span class="text-danger"></span>
                <select  type="select" name="creditCard" class="form-control add form" style="width: auto;" >
                  <option value="01">郵遞區號</option>
                    <option value="01">101</option>
                    <option value="02">102</option>
                    <option value="03">103</option>
                    <option value="04">104</option>
                    <option value="05">105</option>
                    <option value="06">106</option>
                    <option value="07">107</option>
                </select>
                <span class="text-danger"></span>
                <select  type="select" name="creditCard" class="form-control add form" style="width: auto;" >
                  <option value="01">鄉鎮縣市</option>
                    <option value="01">大安區</option>
                    <option value="02">中山區</option>
                    <option value="03">松山區</option>
                    <option value="04">信義區</option>
                    <option value="05">北投區</option>
                    <option value="06">南港區</option>
                    <option value="07">萬華區</option>
                </select>   
                <span class="text-danger"></span>   
               </div> -->
               <!-- <div class="row" > -->
                <!-- <label class="label" for="phone"></label> -->
                <input type='text' name='adrs' id='my_adrs' class="form-control form address consigadd">
                <input id="memberadd" type='button' onclick='get_zip6_adrs("my_adrs")'  value='查詢' />
                <!-- <input  type="text" name="phone" class="form-control phone form" maxlength="20" placeholder="請輸入郵寄地址"> -->
               <!-- </div> -->
              </div>
          </section>
          </main>
          <div class="btn_group">  
          <button onclick="location.href='./cart.html'" class="btn btn_primary " type="submit" >回上一頁</button>
          <a class="finshbtn btn" style="background-color:#FFD241;  color: #07082E;">確認付款</a>
          </div>
        </form>
      </div>
      
    </section>

    <section class="finsh wrapper full-screen">
    <main id="finsh_wrapper " >
      <div class="modal__text disc">
        <h1 class="step_done_title step_title">您的訂單已完成付款</h1><span class="step_done_message">恭喜您成功完成訂單，稍後將寄送詳細資訊至您的E-mail。</span>
        <a href="./indexfront.html"><button class="step_done_btn btn btn_primary" @click="resetAllStep">回首頁</button></a>
      </div>
    </main>
  </section>
   
    <!-- 樣板 footer -->
    @@include('./layout/footer.html')
    <script src="./js/login.js"></script>
</body>
<!-- <script src="vendor/jQuery/jquery-3.5.1.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.1.1/cleave.min.js"></script>
<script src="./js/orderform_info.js"></script>



<script>

new Cleave(".creadNum",{
  creditCard: true,
  delimiter: "-",
});

function get_zip6_adrs(a_id) {
    var adrs = document.getElementById(a_id).value;
    var regex01 = new RegExp(/^\d/);
    if ((adrs != "") && (! regex01.test(adrs))) {
        var zip6_url = "https://zip5.5432.tw/zip5json.py?adrs="+adrs;
        $.getJSON(zip6_url,
            function(data) {
                if (data.zipcode6 != "") {
                    document.getElementById(a_id).value = data.new_adrs6;
                } else {
                    document.getElementById(a_id).value = data.new_adrs;
                }
            }
        )
    }
}

</script>

<script>


// 姓名電話地址 信用卡 年月 安全碼
$('.finshbtn').click(function(){
  let name1 = $('#name1').val();
  let id = $('#id').val();
  let cardnumber = $('#cardnumber').val();
  let month = $('#month').val();
  let year = $('#year').val();
  let safe = $('#safe').val();
    if (name1 == '' || id == '' || cardnumber == '' || month == '' || year == '' || safe == '') {
      alert('請輸入正確資料');
      // alert(`${name1}+${id}+${cardnumber}+${month}+${year}+${safe}`)
    

    // }else{
    //       alert('請輸入正確資料');
    //       // $('.full-screen').css('display','block');
    //       // alert('請輸入正確資料');
    // };
    }else{
      if( $('#B1').prop('checked') || $('#B2').prop('checked')){
          $('.full-screen').css('display','block');
      // alert(`${name1}+${id}+${cardnumber}+${month}+${year}+${safe}`)

          // alert('請輸入正確資料');
          // alert('A')
      }
    }


});
$(".finshbtn").click(function(){
    let X = $('#lastTotal').text()
    let cardno = $('#cardnumber').val()
    let consig = $('.consig').val()
    let consigadd = $('.consigadd').val()
    let CONSIGTEL = $('.CONSIGTEL').val()
    let ordertoal = $('.ordertoal').val()
    let discount = $('.discount').val()
    // alert(123)

    
    // sessionStorage.setItem("cardno", cardno);
    // sessionStorage.setItem("consig", consig);
    // sessionStorage.setItem("consigtel", consigtel);
    // sessionStorage.setItem("consigadd", consigadd);
    // sessionStorage.setItem("lastTota", X);
//     let xhr1 = new XMLHttpRequest();
//     let url1 = `./php/5/orderform_info.php`;
//     xhr1.onload = function (){
//       if( xhr1.status == 200 ){
//         console.log(xhr1.responseText);
//         }else{
//         alert( xhr1.status );
//       }
//     }
    xhr1.open("Post", url1, true);
    xhr1.setRequestHeader("content-type","application/x-www-form-urlencoded");
    let data_info = `ordertoal=${ordertoal}&consig=${consig}&consigadd=${consigadd}&CONSIGTEL=${CONSIGTEL}&cardno=${cardno}&discount=${discount}}&propricetotal=${propricetota}`;
    xhr1.send(data_info);
      // location.href = "./initiation_success.html";

});
</script> 


</html>