<footer>
    <div class="frontFooter">
        <div id="footerSide"></div>
        <div class="divLine"></div>
        <ol class="footerOl">
            <li class="footerOl">
                <span class="footerRotate">01</span>
                <span>
                    <a href="#">活動募款參與平台</a>
                </span>
            </li>
            <li class="footerOl">
                <span class="footerRotate">02</span>
                <span>
                    <a href="#">商城</a>
                </span>
            </li>
            <li class="footerOl">
                <span class="footerRotate">03</span>
                <span>
                    <a href=#>歷史活動</a>
                </span>
            </li>
        </ol>
        <div class="social">
            <span><a href="#"><i class="fab fa-facebook"></i></a></span>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <p>淨下塑湲是台灣推廣環保募資品牌。從設計再生材質商品到推廣環保淨灘，希望能藉由這些推廣「一切從簡而起」的理念，將來也提供更多元改變台灣環境的活動募款平台</p>
        </div>
    </div>
    <h2 id="footerMenu" class="footerBg">MENU</h2>
    <h3 id="footerBrand" class="footerBg">淨下塑湲</h3>
    <h2 id="socialMedia" class="footerBg">SOCIAL MEDIA</h2>
    <p id="footerOri" class="footerBg">品牌起源</p>
    <p id="copyRight" class="footerBg">Copyright &#169; 2021 淨下塑湲</p>
</footer>