<footer>
    <div class="footerWrapper">
        <div class="footerBlockTop">
            <div class="footerBox1">
                <div class="footerTOP">MENU</div>
                <div class="footerBottom">
                    <ul>
                        <li><a href="">活動說明</a></li>
                        <li><a href="">活動募款平台</a></li>
                        <li><a href="">活動花絮</a></li>
                        <li><a href="">商城</a></li>
                    </ul>
                </div>
            </div>
            <div class="footerBox2">
                <div class="footerTitle">淨下塑湲</div>
                <button class="goTop">GO TOP</button>
            </div>
            <div class="footerBox3">
                <div class="social">
                    <span>SOCIAL MEDIA</span>
                    <div class="social__Icon">
                        <a href=""><i class="fab fa-facebook"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="orignate">
                    <span>品牌起源</span>
                    <p>淨下塑湲是台灣推廣環保募資品牌。從設計再生材質商品到推廣環保淨灘，希望能藉由這些推廣「一切從簡而起」的理念，將來也提供更多元改變台灣環境的活動募款平台</p>
                </div>
            </div>
        </div>
        <div class="footerBlockbottom">
            Copyright © 淨下塑湲.
        </div>
    </div>
    
    


</footer>
