<header>
    <nav>
        <div id="lftUl">
            <div id="navBurgerBtn">
                <div id="navBurgerBtnClose1"></div>
                <div id="navBurgerBtnClose2"></div>
                <div id="navBurgerBtnClose3"></div>
            </div>
            <ul id="navRList">
                <li><a href="./event.html">活動募款參加平台</a><img src="./img/composting.png" alt=""></li>
                <li><a href="./Guide_RWD.html">活動說明</a><img src="./img/composting.png" alt=""></li>
                <li><a href="./act_hist.html">歷年活動</a><img src="./img/composting.png" alt=""></li>
                <li><a href="./Mall2.html">商城</a><img src="./img/composting.png" alt=""></li>
            </ul>
        </div>
        <div id="navlogo">
            <a href="./indexfront.html"><img src="./img/logoBlue.svg" alt=""></a>
        </div>
        <div id="rgtUl">
            <ul>
                <li id="logRegiCli">
                    <a href="#">
                        <span id="logStat">登入/註冊</span>
                        <i class="fas fa-sign-in-alt fwIcon"></i>
                    </a>
                </li>
                <li>
                    <a href="./cart.html">
                        <i class="fas fa-shopping-cart fwIcon"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="far fa-bell fwIcon"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>