<div id="page1">
    <div id="lightbox">
        <!--燈箱背後陰影-->
        <div id="logWrapper">
            <!--燈箱顯示區-->
            <div id="logCarousel">
                <!--燈箱輪播-->
                <div id="signInCon">
                    <!--登入-->
                    <h3>登入</h3>
                    <form action="#" id="logForm">
                        <label for="memIdCol">
                            <span>輸入帳號</span><br>
                            <input type="email" placeholder="Email" id="memId" required autocomplete="off" name="memId"><br>
                        </label>
                        <label for="memPswCol">
                            <span>輸入密碼<br></span> 
                            <input type="password" placeholder="6-15位的英數混和，英文需區分大小寫" id="memPsw" maxlength="15" required autocomplete="off" name="memPsw"><br>
                        </label>

                        <label for="remMem" id="remember"><input type="checkbox" name="remMem" id="remMem" required>記住我的帳號</label><br>
                        <button type="submit" form="logForm">登入</button>
                    </form>
                    <a href="#" class="forgetPsw">忘記密碼?</a>
                </div>
                <div id="signUpFCon">
                    <!--登入註冊變化-->
                    <h3 id="signUpFConTitle">註冊會員</h3>
                    <ul>
                        <li>加入會員即享更多福利</li>
                        <li>優點1XXXXXXXXXX</li>
                        <li>優點2XXXXXXXXXX</li>
                        <li>優點3XXXXXXXXXX</li>
                    </ul>
                    <button id="signRegFake">建立帳號</button>
                </div>
                <div id="signUpCon">
                    <!--註冊區-->
                    <h3>註冊</h3>
                    <form action="#" id="regForm">
                        <div id="regNameCol">
                            <label for="regName">姓名</label>
                            <input type="text" placeholder="請輸入真實姓名" id="regName" name="regName" required>
                        </div>
                        <div id="regBirthCol">
                            <label for="regBirth">出生日期</label>
                            <input type="date" id="regBirth" name="regBirth" required>
                        </div>
                        <div id="regIdCol">
                            <label for="regId">建立帳號</label>
                            <input type="email" name="regId" id="regId" autocomplete="off" required placeholder="請填寫有效email">
                        </div>
                        <div id="regPswCol">
                            <label for="regPsw">建立密碼</label>
                            <input type="password" name="regPsw" id="regPsw" autocomplete="off" required placeholder="6-15位的英數混和，英文需區分大小寫">
                        </div>
                        <div id="regConPswCol">
                            <label for="regConPsw">確認密碼</label>
                            <input type="password" name="regConPsw" id="regConPsw" autocomplete="off" required placeholder="請再次輸入密碼">
                        </div>
                        <div id="regVerifiCol">
                            <label for="regVerifi">確認驗證碼</label>
                            <input type="password" name="regVerifi" id="regVerifi" autocomplete="off" required placeholder="請輸入驗證碼">
                        </div>
                    </form>
                    <div id="regBtn">
                        <label for="regAgree" id="regAgreeCheck" form="regForm"><input type="checkbox" id="regAgree" name="regAgree" required>我同意淨下塑湲客戶服務條款與客戶隱私政策</label><br>
                        <button type="submit" id="createAcc" form="regForm">建立新帳號</button>
                    </div>
                </div>
            </div>
            <div id="closeBtn">
                <span id="closeSpanOne"></span>
                <span id="closeSpanTwo"></span>
            </div>
        </div>
    </div>

</div>