<div id="page1">
    <div id="lightbox">
        <!--燈箱背後陰影-->
        <div id="logWrapper">
            <!--燈箱顯示區-->
            <div id="logCarousel">
                <!--燈箱輪播-->
                <div id="signInCon">
                    <!--登入-->
                    <h3>登入</h3>
                    <form action="#" id="logForm">
                        <label for="memIdCol">
                            <span>輸入帳號</span><br>
                            <input type="email" placeholder="Email" id="memIdCol" required autocomplete="off" name="memId"><br>
                        </label>
                        <label for="memPswCol">
                            <span>輸入密碼<br></span> 
                            <input type="password" placeholder="6-15位的英數混和，英文需區分大小寫" id="memPswCol" maxlength="15" required autocomplete="off" name="memPsw"><br>
                        </label>

                        <label for="remMem" id="remember"><input type="checkbox" name="remMem" id="remMem" required>記住我的帳號</label><br>
                        <button type="submit" form="logForm">登入</button>
                    </form>
                    <a href="#" class="forgetPsw" id="logForgetCode">忘記密碼?</a>
                </div>
                <div id="signUpFCon">
                    <!--登入註冊變化-->
                    <h3 id="signUpFConTitle">註冊會員</h3>
                    <ul>
                        <li>加入會員享福利</li>
                        <li>優點1商城優惠</li>
                        <li>優點2發起活動</li>
                        <li>優點3參與淨灘</li>
                    </ul>
                    <button id="signRegFake">建立帳號</button>
                </div>
                <div id="signUpCon">
                    <!--註冊區-->
                    <h3>註冊</h3>
                    <form action="#" id="regForm">
                        <div id="regNameCol">
                            <label for="regName">姓名</label>
                            <input type="text" placeholder="請輸入真實姓名" id="regName" name="regName" required>
                        </div>
                        <div id="regBirthCol">
                            <label for="regBirth">出生日期</label>
                            <input type="date" id="regBirth" name="regBirth" required>
                        </div>
                        <div id="regIdCol">
                            <label for="regId">建立帳號</label>
                            <input type="email" name="regId" id="regId" autocomplete="off" required placeholder="請填寫有效email">
                        </div>
                        <div id="regPswCol">
                            <label for="regPsw">建立密碼</label>
                            <input type="password" name="regPsw" id="regPsw" autocomplete="off" required placeholder="6-15位的英數混和，英文需區分大小寫">
                        </div>
                        <div id="regConPswCol">
                            <label for="regConPsw">確認密碼</label>
                            <input type="password" name="regConPsw" id="regConPsw" autocomplete="off" required placeholder="請再次輸入密碼">
                        </div>
                        <div id="regVerifiCol">
                            <label for="regVerifi">確認驗證碼</label>
                            <input type="password" name="regVerifi" id="regVerifi" autocomplete="off" required placeholder="請輸入驗證碼">
                        </div>
                    </form>
                    <div id="regBtn">
                        <label for="regAgree" id="regAgreeCheck" form="regForm"><input type="checkbox" id="regAgree" name="regAgree" required>我同意淨下塑湲客戶服務條款與客戶隱私政策</label><br>
                        <button type="submit" id="createAcc" form="regForm">建立新帳號</button>
                    </div>
                </div>
            </div>
            <div id="closeBtn">
                <svg id="closeBtnBorderSvg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30.31 30.44"><defs><style>.cls-1{fill:#f2f2f2;}</style></defs><title>closeBtnBorder</title><path class="cls-1" d="M5.35,26.49l.63-1a13.87,13.87,0,0,1,15-23l.63-1a15,15,0,0,0-17,24.19C4.84,26,5.09,26.27,5.35,26.49Z"/><path class="cls-1" d="M25.82,4.59q-.36-.36-.74-.69l-.63,1a13.87,13.87,0,0,1-15,23l-.63,1a15,15,0,0,0,17-24.19Z"/></svg>
                <span id="closeSpanOne"></span>
                <span id="closeSpanTwo"></span>
            </div>
        </div>
    </div>

    <div id="lightbox2" style="display: none; opacity: 0;">
        <!--燈箱背後陰影-->
        <div id="logWrapper2">
            <!--燈箱顯示區-->
            <div id="logCarousel2">
                <!--燈箱輪播-->
                <div id="signInCon2">
                    <!--登入-->
                    <h3>忘記密碼</h3>
                    <form action="#" id="logForm2">
                        <label for="memIdCol2">
                            <span>輸入email</span><br>
                            <input type="email" placeholder="Email" id="memId2" required autocomplete="off" name="memId2"><br>
                        </label>
                        <label for="memPswCol2">
                            <span>輸入姓名<br></span> 
                            <input type="text" placeholder="請填寫姓名" id="memPsw2" maxlength="15" required autocomplete="off" name="memPsw2"><br>
                        </label>

                        <button type="submit" form="logForm2" id="sendCodeBack">將密碼發送置信箱</button>
                    </form>
                </div>
                <div id="signUpFCon2">
                    <!--登入註冊變化-->
                    <h3 id="signUpFConTitle2">註冊會員</h3>
                    <ul>
                        <li>加入會員享福利</li>
                        <li>優點1商城優惠</li>
                        <li>優點2發起活動</li>
                        <li>優點3參與淨灘</li>
                    </ul>
                    <button id="signRegFake2">建立帳號</button>
                </div>
                <div id="signUpCon2">
                    <!--註冊區-->
                    <h3>修改密碼</h3>
                    <p>系統已將密碼發送至您的信箱</p>
                    <form action="#" id="regForm2">
                        <div id="regNameCol2">
                            <label for="regName2">輸入舊密碼</label>
                            <input type="password" id="regName2" name="regName2" required placeholder="6-15位的英數混和，英文需區分大小寫">
                        </div>
                        <div id="regBirthCol2">
                            <label for="regBirth2">輸入新密碼</label>
                            <input type="password" id="regBirth2" name="regBirth2" placeholder="6-15位的英數混和，英文需區分大小寫" required>
                        </div>
                        <div id="regIdCol2">
                            <label for="regId2">確認輸入新密碼</label>
                            <input type="email" name="regId2" id="regId2" autocomplete="off">
                        </div>
                    </form>
                    <div id="regBtn2">
                        <button type="submit" id="createAcc2" form="regForm2">確定修改</button>
                    </div>
                </div>
            </div>
            <div id="closeBtn2">
                <svg id="closeBtnBorderSvg2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30.31 30.44"><defs><style>.cls-1{fill:#f2f2f2;}</style></defs><title>closeBtnBorder</title><path class="cls-1" d="M5.35,26.49l.63-1a13.87,13.87,0,0,1,15-23l.63-1a15,15,0,0,0-17,24.19C4.84,26,5.09,26.27,5.35,26.49Z"/><path class="cls-1" d="M25.82,4.59q-.36-.36-.74-.69l-.63,1a13.87,13.87,0,0,1-15,23l-.63,1a15,15,0,0,0,17-24.19Z"/></svg>
                <span id="closeSpanOne2"></span>
                <span id="closeSpanTwo2"></span>
            </div>
        </div>
    </div>

</div>