
<!-- 上block -->
<div class="personBlock comShape">
    <div class="proTopBlock">
        <div class="proTopHook">
            <img id="proIdImg" src="./img/mbr/Propic/p1.jpg" width ="140px" height="140px" alt="">
            <button>
                <i class="fas fa-camera-retro fa-2x"></i>
            </button>
        </div>
        
        <span>
            <input type="hidden" id="custId" name="custId" value="">
            <h7 id="memNAME"></h7>
            <p id="memBirth"></p>
        </span>
    </div>
    <div class="proBtnBlock">
        <div id="appMemberBriefIntro">
            <span>
                <h6>Carman Li</h6>
                <p>生日:1993/01/01</p>
            </span>
            <!-- <input class="comInput" type="text" placeholder="輸入自我介紹吧!"> -->
            <!-- <p>{{MemberBriefIntroMessage}}</p> -->
            <div class="textareaHook">
                <textarea disabled id="memBIO" class="comInput" placeholder="輸入自我介紹吧!" cols="50" rows="5"></textarea>
                <button id="editBreifIntro">
                    編輯<i style="margin-left:10px" class="far fa-edit fa-1x"></i>
                </button>
            </div>
            
        </div>
    </div>
</div>

    
