@import './var';
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

body>*{
    font-family: "Palatino Linotype", "Noto Sans Tc";
}

//======================  footer Mixin ================= JohnLing 2021/04/04
@mixin FooterBtn (){
    background-color: map-get($map: $color_regulation, $key: 'yellow');
    color: map-get($map: $color_regulation, $key:'white');
    outline: none;
    border: none;
    cursor: pointer;
}

// 以下為自訂共用組件-john新增---------------------------------------
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    box-shadow:  0 0 5px #00000081; 
    border-radius: 15px;
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #1D1E4C; 
    border-radius: 15px;
    width: 10px;
}
    /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #EF4325;
    border-radius: 15px;
    width: 10px;
}

.comShape{
    background-color: #fff;
    box-shadow:1px 1px 6px rgba(0, 0, 0, 0.342);
}
.comInput{
    border:1px solid map-get($color_regulation,'blue' );
}

.comBtn{
    cursor: pointer;
    outline: none;
    color: map-get($color_regulation,'blue');
    height: 35px;
    border:none!important;
    box-shadow:1px 1px 6px rgba(0, 0, 0, 0.342);
    font-size: 15px;
    background-color: map-get($color_regulation,'yellow');
    padding: 0px 30px;
    line-height:35px;
    transition: all 0.3s ease 0s;
}

.comBtn2{
    cursor: pointer;
    outline: none;
    color: map-get($color_regulation,'white');
    height: 35px;
    border:none!important;
    box-shadow:1px 1px 6px rgba(0, 0, 0, 0.342);
    font-size: 15px;
    background-color: map-get($color_regulation,'blue');
    padding: 0px 30px;
    line-height:35px;
    transition: all 0.3s ease 0s;
}
//=========================        header new =========
@mixin LogRegBtn {
    font-size: 15px;
    border:none;
    outline:none;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, .342);
    height: 35px;
    cursor: pointer;
    padding: 0px 30px;
}
@mixin ScreenOverLay{
    background-color: rgba(0, 0, 0, .5);
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 6;
    top: 0;
}

@mixin ModalSetting{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 530px;
}

@mixin botEnSmallBarMixin {
    width: 100%;
    height: 8px;
    background-color: #FFD241;
    transform: scaleX(.35);
}



body{
    margin: 0;
    padding: 0;
    header{
        box-sizing: border-box;
        height: 50px;
        position: fixed;
        // background-color: rgba(0, 0, 0,.5);
        background-color: #fff;
        padding: 0px 30px;
        width: 100%;
        top: 0px;
        z-index: 5;
        // overflow: hidden;
        // ==============================================  Nav滑過去那條  JohnLing
        div#SlideNav{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            right: 2000px;
            z-index: 2;
            background-color: #ffffff !important;
        }
        // ==============================================  漢堡選單  JohnLing
        div#All_BgBtnList{
            position: absolute;
            height: 100vh;
            width: 100vw;
            background-color: rgb(86, 218, 174);
            right: 2000px;
            transition: all .6s;
            ul{
                list-style-type: none;
                padding: 0px;
                padding-top: 50px;
                height: calc(100vh) !important;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                // align-items: center;
                background-color: rgba(0, 0, 0,.3);
                margin: 0;
                li{
                    // width: 100%;
                    height: 25%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    line-height: 100%;
                    background-color: blanchedalmond;
                    transition:all 1s ease 0s;
                    
                    &:first-child{
                        background-image: url("../../img/login/banner1.jpg") !important;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: top;
                        &:hover{
                            transition:all 1s ease 0s;
                            background-position: center !important;
                        }
                    }
                    &:nth-child(2){
                        background-image: url("../../img/login/banner2.jpg") !important;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: 40% 75%;
                        &:hover{
                            transition:all 1s ease 0s;
                            background-position: top !important;
                        }
                    }
                    &:nth-child(3){
                        background-image: url("../../img/login/banner3.jpg") !important;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: bottom !important;
                        &:hover{
                            transition:all 1s ease 0s;
                            background-position: top !important;
                        }
                    }
                    &:last-child{
                        background-image: url("../../img/login/banner4.jpg") !important; 
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: bottom!important;
                        
                        &:hover{
                            transition:all 1s ease 0s;
                            background-position: center !important;
                        }
                    }
                    a{
                        font-size: $h2;
                        color: white;
                        text-decoration: none;
                        padding: 82px 0px;
                        &:hover{
                            color: #FFD241;
                            span{
                                transition: all .5s;
                                &:last-child{
                                    border-bottom: 8px solid #FFD241;
                                }
                            }
                        }
                        
                    }
                }
                
            }
        }
        div#All_BgBtnList{
            height: 100vh;
            width: 100vw;
            border: 10px solid ridge;
            
        }
        nav{
            top: 0;
            height: 50px;
            width: 100%;
            display: flex;
            justify-content: space-between;

// ==============================================  漢堡選單按鈕 JohnLing

            div#All_BgBtn{
                width: 35px;
                height: 50px;
                cursor: pointer;
                z-index: 3;
                div{
                    width: 30px;
                    height: 2px;
                    border-radius: 5px;
                    background-color: map-get($map: $color_regulation, $key: 'blue')!important;
                    position: absolute;
                    
                    &:first-child{
                        top: 17px;
                    }
                    &:nth-child(2){
                        top:50%;
                        transform: translateY(-50%);
                    }
                    &:last-child{
                        bottom:16px;
                    }
                    &:nth-child(n){
                        transition: all .4s;
                    }
                }
            }

           div.BgBtnClickedEffect{
               div{
                    &:first-child{
                        transform: rotate(45deg) translateY(10px);
                    }
                    &:nth-child(2){
                        transform: translateX(-20px);
                        opacity: 0;
                    }
                    &:last-child{
                        transform: rotate(315deg) translateY(-10px);
                    }   
               }
           }


            div#All_Logo{
                height: 50px;
                img{
                    height: 50px;
                }
                svg{
                    height: 50px;
                    .st0{
                        transition: all .5s;
                    }
                }
            }
            div#All_RList{
                display: flex;
                align-items: center;
                ul{
                    list-style-type: none;
                    display: inline-block;
                    padding: 0px;
                    margin: 0px;
                    li{
                        padding-right: 15px;
                        display: inline-block;
                        vertical-align: middle;
                        &:first-child{
                            padding-top: 0px;
                        }

                        &:last-child{
                            padding-right: 0px;
                        }
                        a{
                            text-decoration: none;
                            cursor: pointer;
                            i{
                                color: #1d1c4c;
                                font-size: 16px;
                                line-height: 15px;
                            }
                        }
                        // div#LogInPhoto{
                        //         vertical-align: top;
                        //         display: inline-block;
                            img{
                                border-radius: 50%;
                                width: 40px;
                                height: 40px;
                                
                            }
                        // }
                        span{
                            color:map-get($color-regulation, 'blue') !important;
                        }
                    }
                }
            }
        }
        // div#AllOverlay{

        // }
    }
    div#Page1Test{
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)),url('../img/login/banner1.jpg') ;
        background-size: cover;
        background-repeat: no-repeat;
        height: calc(100vh - 50px);
        padding-top: 50px;
        h1{
            margin-top: 0px;
        }
    }
    div#Page2Test{
        height: 100vh;
        background-color: chartreuse;
    }
}

//Before
ul#All_BgBtnListIt{
    li{
        position: relative;
        z-index: 2;
        >span{
            color: map-get($map: $color_regulation, $key: 'white');
            writing-mode: vertical-lr;
            font-size: $h1;
            position: absolute;
            left: 13%;
        }
        a{
            font-size: $h2;
            span{
                &:first-child{
                    writing-mode: vertical-lr;
                    position: absolute;
                    left: 15%;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &:last-child{
                    position: absolute;
                    left: 39%;
                    top: 50%;
                    transform: translateY(-50%);
                    line-height: 100%;
                }
            }
        }
    }
}

body.dialogOpen{
    overflow: hidden;
}

div#wholeScreenOverlay, div.wholeScreenOverlay{
    background-color: rgba(0, 0, 0, .8);
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    transition: all .5s;
    z-index: 6;
    top:0;
    div.LogModalFakeSIze{
        font-size: 0px;
        position: absolute;
        top: 50%;
        left: 50%;
        // height: 530px;
        transform: translate(-50%, -50%);
        width: calc((1/.6)*290px + 40px);
        // border: 1px solid black;
        background-color: #FFD241;
        padding-right: 30px;
    }
}
div#wholeScreenOverlay{
    // display: block;
    div.yellowLeftBar{
        h3{
            margin: 0px;
            padding: 0px;
        }
        p{
            margin-bottom: 0px;
        }
    }
}
div.blackMinorPart{
    width: calc(40% -3 0px);
    h3{
        font-size: $h5;
        // padding-top: 30px;
        margin-top: 0px;
    }
    p{
        font-size: $p;
    }
    h4{
        font-size: $h7;
    }
}
.yellowBotBar{
    border-bottom: 8px solid #FFD241;
}

//===============  關閉按鈕  John Ling 202/04/04
div.LogCloseBtn{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid black;
    position: absolute;
    right: -30px;
    top: -30px;
    cursor: pointer;
    div.LogCloseBtnLine1{
        background-color: black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 18px;
        height: 3px;
    }
    div.LogCloseBtnLine2{
        background-color: black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(315deg);
        width: 18px;
        height: 3px;
    }
}
div.yellowSidePart{
    position: absolute;
    width: 30px;
    height: 100%;
    background-color: #FFD241;
    top: 0;
    right: 30px;
    z-index: -2;
}
div.blackMinorPart{
    color: white;
    background-color: black;
    width: calc(40% - 30px);
}
div.LogModalTrueSIze{
    font-size: 0px;
    background-color: #fff;
    // width: calc(100% - 30px);
    // padding-right: 30px;
    display: flex;
    color: white;
    height: 100%;
}
@media all and (max-width:660px){
    div#wholeScreenOverlay{
        div.LogModalFakeSIze{
            width: 60%;
            top: 51%;
            min-width: 290px;
        }
        div.LogModalTrueSIze{
            flex-direction: column;
            width: 100%;
            div.yellowLeftBar{
                p{
                    display: none;
                }
                
            }
        }
        div.whiteMainPart{
            width: 100% !important;
            h2{
                font-size: $h6;
                margin: 9px 0px;
            }
            form div label{
                font-size: $p;
            }
        }
        div.blackMinorPart{
            width: 100%;
            padding-top: 10px;
        }
        h4#RegToLog{
            margin: 9px 0px 9px;
        }
    }
}
@media all and (max-width:410px){
    div#wholeScreenOverlay{
        div.LogModalFakeSIze{
            left: 44%;
            min-width: 269px;
        }
        div.whiteMainPart{
            form{
                input{
                padding: 5px 5px;
                width: 200px;
                }
                input#BirthYear{
                width: 200px !important;
                }
                input#logMemId{
                    width: 106px;
                    margin-right: 10px;
                }
                input#checkAccountOccupied{
                    width: 88px;
                }
                input#logCertificationNme{
                    width: 106px;
                    margin-right: 6px;
                }
            }
            input#logCertificationNme{
                width: 103px;
                margin-right: 6px;
            }
            button#RegSendCertificationCode{
                width: 95px;
            }
        }
    }
}
div.blackMinorPart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:0px 15px;
    h3, p, h4{
        display: inline-block;
    } 
}
.transformLogReg{
    display: inline-block;
    cursor: pointer;
    // background-color: #FFD241;
    // transform: scaleY(.5);
    position: relative;
    z-index: 3;
    overflow: hidden;
    padding: 5px 0px;
    div{
        position: absolute;
        width: 100%;
        height: 10px;
        background-color: #FFD241;
        transition: all .5s;
        transform: scaleY(1);

    }
    &:hover div{
        transform: scaleY(9);
        z-index: -1;
        transform-origin: 0% 50%;
    }
    
}
div.whiteMainPart{
    color: map-get($map: $color_regulation, $key: 'blue');
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 0px;
    width: 60%;
    form{
        display: flex;
        flex-direction: column;
        align-items: center ;
        div{
            margin-bottom: 10px;
            label{
                display: block;
            }
            input#logCertificationNme{
                margin-right: 28px;
            }
        }
    }
    
}

div.whiteMainPart{
    h2{
        font-size: $h5;
    }
    label{
        font-size: $h7;
    }
}

label#IAgreeLabel, label.ModalRadioStyle{
    font-size: 13px !important;
    margin-bottom: 10px;
}
button.LogModalLowestBtn{
    @include LogRegBtn();
    margin-bottom: 15px;
    background-color: #FFD241;
    color: map-get($map: $color_regulation, $key: 'newBtnBlue')''

}

button#RegSendCertificationCode{
    @include LogRegBtn();
    background-color: map-get($map: $color_regulation, $key: 'newBtnBlue');
    color: white;
    padding:0 12px ;
}
.logRegModalShow{
    display: block !important;
}

div#wholeScreenOverlay2{
    @include ScreenOverLay();
    // display: block;
    z-index: 6;

    div#LogOutCheckModal{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        width: 320px;
        background-color: #fff;
        transition: all .5s;
    }
    div.LogOutCheckModalBlack{
        background-color: map-get($map: $color_regulation, $key: 'newBtnBlue');
        width: 100%;
        height: 30px;
    }
}
div.LogOutCheckModalConfirmContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-left: 30px solid map-get($map: $color_regulation, $key: 'memberGray');
    p{
        font-size: $h6;
        border-left: 8px solid #FFD241;
    }
    button#LogConfirmY{
        @include LogRegBtn();
        margin-right: 30px;
        color: #fff;
        background-color: map-get($map: $color_regulation, $key: 'blue');
        padding: 0px 25px;
    }
    button#LogConfirmN{
        @include LogRegBtn();
        background-color: #FFD241;
        padding: 0px 25px;

    }
}
div#wholeScreenOverlay3{
    @include ScreenOverLay();
    z-index: 6;
    // display: block;
    transition: all .5s;
    div#LogInModal{
        position: absolute;
        left: 47%;
        top:50%;
        height: 530px;
        transform: translate(-50%, -50%);
        display: flex;
        width: calc((1/0.6)*290px + 35px);
    }
    div.blackMinorPart{
        div.yellowLeftBar{
            h3{
                margin: 0px !important;
                padding: 0px  !important;
            }
            p{
                margin: 15px 0px 0px;
            }
        }
    }
    
}
button.LowestBtn{
    margin-bottom: 10px;
}
button#LogInModalLogInBtn{
    @include LogRegBtn();
    background-color: #FFD241;
    margin-top: 10px;
}
p#ForgetPsw, p.ModalRedAlert{
    color: map-get($map: $color_regulation, $key: 'red');
    font-size: $p;
    margin-bottom: 40px;
}
div.whiteMainPart2{
    box-sizing: border-box;
}
div.yellowDecoBar{
    position: absolute;
    background-color: #FFD241;
}
div.DecoSide{
    height: 100%;
    width: 20px;
    left: 0px;
    top: 0px;
}
div.DecoBot{
    width: 100%;
    height: 20px;
    bottom: 0px;
    left: 0px;
}
div.whiteMainPart2{
    position: relative;
}

input{
    padding: 5px 10px;
}
h4#LogToReg{
    font-size: $p;
}

div#wholeScreenOverlay4{
    z-index: 6;
    // display: block;
    div#ForgetModal{
        display: flex;
        width: calc((1/.6)*290px);
        @include ModalSetting();
        button#SendPswToMailBtn{
            @include LogRegBtn();
            background-color: #ffffff;
            color: map-get($map: $color_regulation, $key: 'blue');
        }
    }
}
div.blackMinorPart4, div.whiteMainPart4{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
input#ForgetMemId{
    margin-bottom: $p;
}
.ModalRedAlert{
    color: map-get($map: $color_regulation, $key: 'redBtn');
    cursor: pointer;
}
div#wholeScreenOverlay5{
    z-index: 6;
    // display: block;
    h2{
        margin-bottom: 0px;
    }
    div#ModifiedModal{
        width: calc((1/.6)*290px);
        @include ModalSetting();
        display: flex;
        p.ModalRedAlert{
            margin: 0px;
            cursor: text;
        }
    }
}
div.whiteMainPart5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p.ModalRedAlert{
        margin: 10px 0px !important;
    }
}
#All_RListUL{
    display: flex;
    align-items: center;
    li#LogInMemIdPhoto{
        padding-top: 5px !important;
        border: none !important;
        margin-bottom: 0px !important;
    }
    li#All_RListUL_lastLi{
        position: relative;
        div#notificationDot{
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #FFD241;
            top: -5px;
            right:-5px;
        }
    }
    i{
        transition: all .5s;
    }
}


// =========== header滑出RWD

@media all and (max-width:1015px){
    ul#All_BgBtnListIt{
        li{
            a{
                span{
                    font-size: $h3;
                }
            }
        }
    }
}
@media all and (max-width:975px){
    ul#All_BgBtnListIt{
        li{
            a{
                span{
                    &:first-child{
                        left:10%;
                    }
                }
            }
        }
    }
}
@media all and (max-width:845px){
    ul#All_BgBtnListIt{
        li{
            a{
                span{
                    font-size: $h4;
                }
            }
        }
    }
}
@media all and (max-width:750px){
    ul#All_BgBtnListIt{
        li{
            a{
                span{
                    &:last-child{
                        left:37%;
                    }
                }
            }
        }
    }
}

@media all and (max-width:660px){
    ul#All_BgBtnListIt{
        li{
            a{
                span{
                    &:last-child{
                        left:32%;
                    }
                }
            }
        }
    }
}

@media all and (max-width:600px){
    ul#All_BgBtnListIt{
        li{
            a{
                span{
                    &:last-child{
                        left:26%;
                    }
                }
            }
        }
    }
}

@media all and (max-width:510px){
    ul#All_BgBtnListIt{
        li{
            a{
                span{
                    &:first-child{
                        left: 5%;
                    }
                    &:last-child{
                        left:20%;
                    }
                }
            }
        }
    }
}

@media all and (max-width:480px){
    ul#All_BgBtnListIt{
        li{
            a{
                span{
                   
                    &:last-child{
                        left:18%;
                    }
                }
            }
        }
    }
}

@media all and (max-width:460px){
    ul#All_BgBtnListIt{
        li{
            a{
                span{
                   font-size: $h5;
                   &:last-child{
                       left: 25%;
                   }
                }
            }
        }
    }
}

@media all and (max-width:382px){
    ul#All_BgBtnListIt{
        li{
            a{
                span{
                   font-size: $h5;
                   &:last-child{
                       left: 18%;
                   }
                }
            }
        }
    }
}
@media all and (max-width:382px){
    ul#All_BgBtnListIt{
        li{
            a{
                span{
                    &:first-child{
                        display: none;
                    }
                    &:last-child{
                        left: 30px;
                    }
                }
            }
        }
    }
}

@media all and (max-width:320px){
    ul#All_BgBtnListIt{
        li{
            a{
                span{
                    &:last-child{
                        left: 24px;
                    }
                }
            }
        }
    }
}

@media all and (max-width:500px){
    body header nav div#All_Logo img{
        width: 150px;
    }
    body header{
        padding: 0px 15px;
    }
}

ul#AccountList{
    position: absolute;
    // top:-200px;
    right: 0px;
    // display: none;
    opacity: 0;
    list-style-type: none;
    background-color: #fff;
    padding-left: 0px;
    width: 230px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    transition: all 1s;
    border: 2px solid map-get($map: $color_regulation, $key: 'blue');
    
    li{
        &:last-child, &:first-child{
            padding-bottom: 0px;
        }
        &:first-child{
            margin-top: 20px;
        }
        &:first-child{
            margin-bottom: 0px;
        }
        
    }
    a{
        text-decoration: none;
        color: map-get($map: $color_regulation, $key: 'blue');   

    }
    li#LogInMemIdPhoto{
        border: 1px solid map-get($map: $color_regulation, $key: 'blue');
        color: map-get($map: $color_regulation, $key: 'blue');   
        display: flex;
        align-items: center;
        padding: 5px 25px;
        // margin-bottom: 0px;
        img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }
    li#LogInMemIdIt{
        span{
            background-color: #000;
            color: white;
        }
    }
    li#hrline{
        width: 100%;
        background-color: map-get($map: $color_regulation, $key: 'blue');   
        height: 3px;
    }
}

.yellowLeftBar{
    border-left: 8px solid #FFD241;
    padding-left: 6px;
}
div#logCertificationNmeRow{
    display: flex;
    justify-content: space-between;
}
div#logCertificationDis{
    width: 100%;
}
.yellowLeftBar2{
    border-left: 8px solid #FFD241;
}
div.flexBoxModel{
    display: flex;
    flex-direction: column;
    align-items: center;
    h3{
        margin: 0px;
        border-left: 8px solid #FFD241;
    }
}
div#flexChange{
    justify-content: space-around;
    h3{
        margin-bottom: 0px;
    }
}
div.whiteMainPart4{
    justify-content: center;
    h2{
        margin-bottom: 0px;
    }
}
div.botEnSmallBar{
    @include botEnSmallBarMixin();
}
button#ModfiedPswBtn{
    @include LogRegBtn();
    background-color: #FFD241;
}
h3.paddingWelcomeJoin{
    padding-left: 6px;
}
button.createNewAcc{
    @include LogRegBtn();
    background-color: #FFd241;
}
button#AccountListRegBtn, button#AccountListLogBtn{
    @include LogRegBtn();
    background-color: #FFD241;
    
}
#AccountListRegBtn,#AccountListReg,#AccountListLog,#AccountListLogBtn{
    width: 100%;
}
button#AccountListLogBtn{
    background-color: map-get($map: $color_regulation, $key: 'blue');
    color: white;
}
span#LogInMemId{
    padding-left: 10px;
}
ul.AccountListToggle{
    top:50px !important;
    opacity: 1 !important;
    display: inline-flex !important;
    transition: all 1s;
}
li#GoMemberCenter{
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom:2px solid #FFD241;
}
@media all and (max-width:350px){
    div#All_Logo{
        width: 150px;
    }
    svg{
        width: 150px;
    }
}

@media all and (max-width:620px){
    div#LogOutCheckModal{
        left: 45% !important;
    }
    div.LogOutCheckModalConfirmContent{
        border-left: 25px solid #181919;
        padding: 15px 0px;
    }
}

@media all and (max-width:380px){
    div#wholeScreenOverlay2 div#LogOutCheckModal{
        width: 260px;
    }
}

@media all and (max-width:380px){
    div#wholeScreenOverlay2 div#LogOutCheckModal{
        width: 260px;
    }
}

@media all and (max-width:608px){
    div#wholeScreenOverlay3{
        div#LogInModal{
            flex-direction: column;
            width: 80%;
            div#flexChange{
                padding: 15px 0px;
            }
            div.whiteMainPart2, div#flexChange{
                width: 100%;
            }
            div.whiteMainPart2{
                order: 1;
            }
        }
    }
}
@media all and (max-width:400px){
    div#wholeScreenOverlay3{
        input#LogInModalMemId, input#LogInModalMemPsw{
            // width: 20px;
            width: 89%;
        }
        div.yellowDecoBar {
            background-color: transparent;
        }
        form{
            div{
                padding-left: 2px;
            }
        }
    }
}

@media all and (max-width:640px){
    div#wholeScreenOverlay4{
        div#ForgetModal{
            left: 48%;
        }
    }
}

@media all and (max-width:550px){
    div#wholeScreenOverlay4{
        div#ForgetModal{
            flex-direction: column;
            width: 290px;
        }
        div.blackMinorPart4, div.whiteMainPart4{
            width: 100%;
        }
        div.whiteMainPart4{
            order:1;
        }
        div.blackMinorPart{
            padding: 15px 0px 0px;
        }
    }
}

@media all and (max-width:375px){
    div#wholeScreenOverlay4{
        div#ForgetModal{
            left: 45%;
            width: 273px;
        }
    }
}

@media all and (max-width:695px){
    div#wholeScreenOverlay5{
        div#ModifiedModal{
            flex-direction: column;
            width: 350px;
            div.blackMinorPart5, div.whiteMainPart5{
                width: 100%;
            }
            div.blackMinorPart5{
                padding: 15px 0px 0px;
            }
        }
    }
}

@media all and (max-width:455px){
    div#wholeScreenOverlay5{
        div#ModifiedModal{
            left: 45%;
        }
    }
}

@media all and (max-width:404px){
    div#wholeScreenOverlay5{
        div#ModifiedModal{
            left: 45%;
            width: 273px;
        }
    }
}
input#checkAccountOccupied{
    width: 90px;
    @include LogRegBtn();
    padding: 0px;
    color: white;
    background-color: map-get($map: $color_regulation, $key: 'blue');
}
input#logMemId{
    width: 105px;
    margin-right: 28px;
}
//=========================        header new end =========


body div#page2 {
    height: 100vh;
    background-color: burlywood;
}


/* 切換按鈕 原+方 參考https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}


/* 切換按鈕 原+方 參考https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

button#createAcc2 {
    width: 100%;
    border-radius: 15px;
    background-color: #1d1e4c;
    color: #f2f2f2;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 10%;
}


//======================= Footer New=========================== John Ling 2021/04/04
div#footerTestPage{
    height: 100vh;
    background-color: navy;
}



div.footerTop{
    color: map-get($map: $color_regulation, $key: 'white');
    text-align: center;
    background-image: url('../../img/login/reibanner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding:30px;
    
    h6{
        margin: 0;
        margin-top: 50px;
    }
    .h7{
        margin: 30px;
    }
    button#FooterRegBtn{
        @include FooterBtn();
        color: map-get($map: $color_regulation, $key: 'blue');
        height: 35px;
        padding: 0px 10px;
        line-height: 35px;
        width: 200px;
        margin-bottom: 50px;
    }
}
.blackBg{
    background-color: black;
}
.FooterDarkPattern{
    color: map-get($map: $color_regulation , $key:'footerGray');
}

div#footerMiddle{
    display: flex;
    justify-content: space-around;
    padding: 78px 30px 30px;
    position: relative;
    #footerMiddleLeft,#footerMiddleRight{
        text-align: center;
        flex-grow: 1;
    }
    #footerMiddleLeft{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 5%;
        h1{
            font-size: 40px !important;
            margin: 0;
        }
        h2{
            color: map-get($map: $color_regulation , $key:'white');
            font-size: 45px;
            margin:20px auto 0px;
            &::before{
                content: '01 |';
            }
            &:hover{
                color: map-get($map: $color_regulation , $key:'yellow');
            }
        }
    }
    div#footerBackTop{
        box-shadow: $box-shadow;
        position: fixed;
        bottom: 15%;
        right: 6%;
        z-index: 3;
        color: map-get($map: $color_regulation , $key:'white') ;
        width: 30px;
        height: 30px;
        background-color: map-get($map: $color_regulation , $key:'yellow');
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        a{
            text-decoration: none;
        color: map-get($map: $color_regulation , $key:'white') ;

        }
    }
}
#footerMiddleRight{
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h2{
        font-size: 40px !important;
        margin-top: 0;
        margin-bottom: 20px;
    }
    p{
        width: 70%;
        color: map-get($map: $color_regulation , $key:'white');
        margin-top: 0px;
    }
    a{
        padding-right:20px;
    }
}

.st0{
    fill: map-get($color_regulation, 'footerGray' ) !important;
}
#footerMiddleLeft{
    a{
        text-decoration: none;
        &:nth-child(3){
            h2{
                &::before{
                    content: '02 | ' !important;
                }
            }
        }
        &:nth-child(4){
            h2{
                &::before{
                    content: '03 | ' !important;
                }
            }
        }
        &:nth-child(5){
            h2{
                &::before{
                    content: '04 | ' !important;
                }
            }
        }
    }
}
i.fab{
    color: map-get($map: $color_regulation, $key: 'white');
}

div#footerBottom{
    background-color: #000;
    position: relative;
    height: 53px;
    div#footerIcon{
        position: absolute;
        left: 80px;
        top: 50%;
        transform: translateY(-50%);
        svg{
            width: 140px;
            font-weight: bold;
            color:#2A323D;
        }
    }
    div.FooterDarkPattern{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        p{
            color: map-get($map: $color_regulation, $key: 'footerGray');
        }
    }
    
}
@media all  and (max-width:1135px){
    div#footerMiddle{
        flex-direction: column;
        div#footerMiddleLeft, div#footerMiddleRight{
            align-items: center;
        }
        div#footerMiddleRight{
            width: 100%;
            h2{
                margin-top: 20px;
            }
            p{
                width: 50%;
            }
        }
    }
    div#footerMiddle div#footerBackTop{
        bottom: 46px;
    }
}
#footerMiddleRight p{
    text-align: initial;
    text-shadow: 2px 2px 2px black;
}


@media screen and (max-width:800px){
    div#footerBottom div#footerIcon{
        left: 30px;
    }
}

@media screen and (max-width:640px){
    div.footerTop h3{
        font-size: $h4;
    }
    div.footerTop h4{
        font-size: $h5;
    }
}

@media screen and (max-width:565px){
    div#footerMiddle #footerMiddleLeft h2{
        font-size: $h3;
    }
    div#footerBottom div#footerIcon svg{
        width: 100px;}
}

@media screen and (max-width:520px){
    div.footerTop h3{
        font-size: $h5;
    }
    div.footerTop h4{
        font-size: $h6;
    }
    div#footerMiddle #footerMiddleLeft h2{
        font-size: $h4;
    }
}

@media screen and (max-width:440px){
    #footerMiddleRight h2{
        font-size: 40px;
    }
    div#footerMiddle div#footerMiddleRight p{
        width: 65%;
    }
    div#footerMiddle div#footerBackTop{
        width: 43px;
        height: 43px;
    }
}
@media screen and (max-width:385px){
    div#footerMiddle #footerMiddleLeft h2{
        font-size: $h5;
    }
    div.footerTop h3{
        font-size: $h6;
    }
    div.footerTop h4{
        font-size: $h7;
    }
    i.fab{
        font-size: $h5;
    }
}
@media all and (max-width:483px){
    p#footerTurnToBlock{
        word-wrap: break-word;
    }
}

/* ========================john add 2021/03/13====================================================== */
#Log_RegBtn{
    position: relative;
  }
#memberBell{
    display: none;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #a0ecdc;
    top: -5px;
    left: 8px;
}
  
  /* =============================================================================================== */