@import 'var';
body {
    margin: 0px;
}

body header {
    background-color: map-get($map: $color_regulation, $key: 'blackGray');
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
    position: fixed;
    top: 0;
    font-family: "Palatino Linotype", "Noto Sans TC";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0;
    width: 100%;
    z-index: 50;
}

body header nav {
    height: 66px;
    padding-left: 60px;
    position: relative;
}

body header nav div#lftUl {
    width: calc((100% - 66px)/2);
    display: inline-block;
    vertical-align: top;
    line-height: 66px;
}

body header nav div#lftUl ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    justify-content: space-between;
}

body header nav div#lftUl ul li {
    display: inline-block;
    font-size: 15px;
    vertical-align: bottom;
    transition: all 1s ease;
}

body header nav div#lftUl ul li:nth-child(n+1) {
    margin-left: 40px;
}

body header nav div#lftUl ul li:hover img {
    opacity: 1;
}

body header nav div#lftUl ul li a {
    margin-right: 5px;
    color: #f2f2f2;
}

body header nav div#lftUl ul li img {
    opacity: 0;
    transition: all 1s ease;
    width: 20px;
}

body header nav div#lftUl ul li:first-child {
    margin-left: 0;
}

body header div#navlogo {
    display: inline-block;
    height: 66px;
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body header div#navlogo img {
    height: 66px;
    vertical-align: center;
}

body header div#rgtUl {
    width: calc((100% - 66px)/2);
    display: inline-block;
    line-height: 66px;
    vertical-align: top;
}

body header div#rgtUl ul {
    display: flex;
    flex: row nowrap;
    list-style: none;
    padding: 0;
    justify-content: flex-end;
}

body header div#rgtUl ul li {
    font-size: 15px;
    align-content: center;
    padding-right: 30px;
}

body header div#rgtUl ul li:nth-child(3) {
    padding-right: 60px;
}

body header div#rgtUl ul li i.fwIcon {
    vertical-align: baseline;
}

body header a {
    text-decoration: none;
    cursor: pointer;
    color: #f2f2f2;
}

body header i.fwIcon {
    vertical-align: text-top;
}

body div#page1 {
    height: calc(100vh - 66px);
    position: fixed;
    z-index: 100;
}

body div#page1 div#lightbox {
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    white-space: nowrap;
    width: 100%;
    height: 100%;
    position: fixed;
    font-size: 0;
}

body div#page1 div#lightbox div#logWrapper {
    font-size: 0;
    width: 50%;
    height: 70%;
    position: absolute;
    vertical-align: top;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    color: #1d1e4c;
    background-color: #f2f2f2;
    background-image: linear-gradient(#ccb0ac, #8b7b5d);
    overflow: hidden;
}

body div#page1 div#lightbox div#logWrapper button:focus {
    outline: 0;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel {
    width: 160%;
    height: 100%;
    position: relative;
    font-size: 0;
    top: 0;
    left: 0;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signInCon {
    display: inline-block;
    padding: 10px auto;
    width: calc(100%*0.6/1.6);
    margin: 0 auto;
    height: 100%;
    font-size: 0;
    background-image: url(../../img/logo3.png), linear-gradient(#ccb0ac, #8b7b5d);
    background-position: center center, center center;
    background-size: 35%, cover;
    background-repeat: no-repeat, no-repeat;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signInCon h3 {
    text-align: center;
    font-size: 22px;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signInCon form#logForm {
    font-size: 18px;
    padding: 0% 15%;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signInCon form#logForm label input {
    width: 100%;
    margin-bottom: 5%;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signInCon form#logForm label#remember {
    width: 100%;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signInCon form#logForm label#remember input {
    width: auto;
    margin: 10% 5px 10% 0px;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signInCon form#logForm button {
    width: 100%;
    border-radius: 15px;
    background-color: #1d1e4c;
    color: #f2f2f2;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 10%;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signInCon a {
    display: block;
    text-align: center;
    color: #d71212;
    font-size: 15px;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signUpFCon {
    display: inline-block;
    height: 100%;
    width: calc(100%*0.4/1.6);
    font-size: 0;
    vertical-align: top;
    text-align: center;
    color: #f2f2f2;
    background-color: #1d1e4c;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signUpFCon h3 {
    font-size: 22px;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signUpFCon ul {
    padding: 0;
    list-style-type: none;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signUpFCon ul li {
    font-size: 22px;
    margin-bottom: 3%;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signUpFCon button#signRegFake {
    border-radius: 15px;
    background-color: #1d1e4c;
    color: #f2f2f2;
    margin-top: 10%;
    width: 50%;
    cursor: pointer;
    border: 1px solid #f2f2f2;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signUpCon {
    font-size: 0;
    vertical-align: top;
    display: inline-block;
    height: 100%;
    width: calc(100%*0.6/1.6);
    text-align: center;
    background-image: url(../../img/logo3.png), linear-gradient(#ccb0ac, #8b7b5d);
    background-position: center center, center center;
    background-size: 35%, cover;
    background-repeat: no-repeat, no-repeat;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signUpCon h3 {
    font-size: 22px;
    margin-bottom: 1%;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signUpCon form {
    padding: 0% 15%;
    font-size: 18px;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signUpCon form div {
    text-align: left;
    width: 100%;
    margin-bottom: 2%;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signUpCon form div label {
    display: block;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signUpCon form div input {
    width: 100%;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signUpCon div#regBtn {
    width: 100%;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signUpCon div#regBtn label#regAgreeCheck {
    font-size: 15px;
    width: auto;
    display: block;
    margin: 0 auto;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signUpCon div#regBtn label#regAgreeCheck {
    display: inline-block;
    margin: 3% auto;
}

body div#page1 div#lightbox div#logWrapper div#logCarousel div#signUpCon div#regBtn button {
    border-radius: 15px;
    color: #f2f2f2;
    background-color: #EF4325;
    font-size: 15px;
    width: 70%;
    display: block;
    margin: 0 auto;
    margin-top: 1%;
}

body div#page1 div#lightbox div#logWrapper div#closeBtn {
    width: 27px;
    height: 27px;
    background-color: #f2f2f2;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
    cursor: pointer;
}

body div#page1 div#lightbox div#logWrapper div#closeBtn span#closeSpanOne {
    width: calc(27px - 2px);
    height: 2px;
    display: inline-block;
    background-color: #2c2b2b;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    position: absolute;
}

body div#page1 div#lightbox div#logWrapper div#closeBtn span#closeSpanTwo {
    width: calc(27px - 2px);
    height: 2px;
    display: inline-block;
    background-color: #2c2b2b;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

body div#page2 {
    height: 100vh;
    background-color: chartreuse;
}

body div#page3 {
    background-color: cornflowerblue;
    height: 100vh;
}

body footer {
    overflow: hidden;
    position: relative;
    background-color: #0e1018;
    z-index: 1;
    height: 500px;
}

body footer div.frontFooter div#footerSide {
    width: 60px;
    background-color: #424f5f;
    height: 500px;
    display: inline-block;
}

body footer div.frontFooter div.divLine {
    background-color: #bebebe;
    height: 500px;
    width: 5px;
    display: inline-block;
}

body footer div.frontFooter ol {
    list-style: none;
    padding: 0;
    color: #f2f2f2;
    font-size: 48px;
    display: inline-block;
    vertical-align: top;
    margin-left: 10%;
}

body footer div.frontFooter ol li.footerOl span.footerRotate {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    border-bottom: 3px solid white;
    margin-right: 150px;
    padding-top: 5px;
    padding-bottom: 15px;
    margin-top: 10px;
}

body footer div.frontFooter div.social {
    font-size: 48px;
    display: inline-block;
    vertical-align: top;
    margin-top: calc(38px + 93px - 45px);
    margin-left: 10%;
    width: 30%;
}

body footer div.frontFooter div.social span {
    cursor: pointer;
}

body footer div.frontFooter div.social a {
    font-weight: 100;
    display: inline-block;
    margin-bottom: 15%;
    cursor: pointer;
}

body footer div.frontFooter div.social a:nth-child(2n) {
    margin-left: 10%;
}

body footer div.frontFooter div.social a:nth-child(n+3) {
    margin-bottom: 20%;
    margin-left: 10%;
}

body footer div.frontFooter div.social p {
    letter-spacing: 7px;
    font-size: 15px;
    text-align: justify;
    color: #f2f2f2;
    width: 80%;
}

body footer h2#footerMenu {
    font-size: calc(72px*2);
    writing-mode: vertical-lr;
    left: 16%;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
}

body footer h3#footerBrand {
    font-size: calc(60px*2);
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body footer h2#socialMedia {
    font-size: 60px;
    top: 5%;
    right: 13%;
}

body footer p#footerOri {
    font-size: 38px;
    bottom: 30%;
    right: 35%;
    transform: rotate(270deg);
}

body footer p#copyRight {
    font-size: 15px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    color: #424f5f;
    font-weight: 800;
}

body footer .footerBg {
    position: absolute;
    color: #424f5f;
    z-index: -1;
    margin: 0;
}

body a {
    text-decoration: none;
    color: #f2f2f2;
}

body div#page2 {
    height: 100vh;
    background-color: burlywood;
}


/*# sourceMappingURL=style.css.map */