//=============共用規格設定如下=============
//font-family
//$font-family:'Arial', '微軟正黑體';
$english: 'Palatino Linotype';
$chinese: 'noto sans tc';
//Header
$navH:66px;
$logoW:50px;
//Footer
$footerH:500px;
// Font Size
$p:15px;
$h1:72px;
$h2:60px;
$h3:48px;
$h4:38px;
$h5:28px;
$h6:22px;
$h7:18px;

$contentTxt:15px;   //內文字體大小
$btnTxt:15px;   //按鈕字體大小
$regionTxt:28px;//區域性字體
$contentSubTit:22px;//內文副標題
$navTxt:15px;//導覽列文字
//$paddingSide:50px;  //文字邊框內距(舊)
//$lineHeight:30px;//文字行高(舊)
$line-height:30px;//文字行高
$padding-hint:10px;//頁面提示字padding
$letter-Spacing:2px;//文字間距

//Others
$pageW:1200px;//網頁寬
//$reserveSide:60px;//左右預留寬度(舊)
$reserveSide:30px;//左右預留寬度
//Radius
$borderRadius:15px;
$btnRadius:15px;
$inputRadius:5px;

//box-shadow
$box-shadow:1px 1px 6px rgba(0, 0, 0, 0.342);

//new color
$color_regulation:(
    'btnPink': #FF9898,
    'btnBlue': #1654FF,
    'btnRed': #EF4325,
    'orange':#FFAE41,
    'pink':#FF498C,
    'lake':#09E4C7,
    'black':#1E1E1E,
    'blue':#1D1E4C,//主要色
    'white':#fafafa,//需要(白色)統一用這一個
    'white-bg':#F6F6F6,//背景為暗色需改成白色(背景底色)
    'red':#EF4325,//警示色
    'green':#0e6d41,//環保幣顏色
    'gray-input-hintText':#C2C2C2,//input的提示顏色
    'blue-input-border':#1D1E4C,//input的邊框顏色
    'gray':#C6C6C6,// 頁面提示字顏色(灰色)
    'blackGray':#0D1017,//footer背景: 黑灰色
    'footerGray':#2A323D,//footer背景字體色、nav顏色(黑灰色)
    'footerSide':#161c24,//footer旁邊顏色
    'footerGray2':rgba(66, 79, 95,.1),
);

//敬航
$closeBtn:27px;//關閉紐大小
// header
$navH:66px;
$logoW:50px;

//Footer
$footerH:500px;
//=============共用規格設定如上=============
//=========================================

body {
    box-sizing: border-box;
    margin: 0;
    font-size: 0;
    font-family: $english, $chinese;
    background-color: map-get($color_regulation,'white-bg' );
}

//左側 直向 麵包條
h5.title {
    position:absolute;
    top:0;
    left:0;
    margin:0;
    border:1px solid red;
    font-size: $h5;
    display: inline-block;
    white-space: nowrap;
    padding: 10px 0;
    transform: rotate(90deg) translateX(-60px);
    transform-origin: 0% 100%;
    /* transform: rotate(270deg) translateX(-100%); */
    /* transform-origin: 0% 0%; */
    color:map-get($color_regulation,'blue');
    span {
        color:map-get($color_regulation,'gray' );
    }
}


section {
    max-width:$pageW;
    margin:0 auto;
    font-size: 0px;
    text-align: center;
    position: relative;
    z-index: 1;
    div.title-block {
        display: inline-block;
        vertical-align: top;
        width: $reserveSide;
        // h5.title {
        //     border:1px solid red;
        //     font-size: $h5;
        //     display: inline-block;
        //     white-space: nowrap;
        //     padding: 10px 0;
        //     // transform: rotate(90deg) translateX(-60px);
        //     // transform-origin: 0% 100%;
        //     /* transform: rotate(270deg) translateX(-100%); */
        //     /* transform-origin: 0% 0%; */
        //     color:map-get($color_regulation,'blue');
        //     span {
        //         color:map-get($color_regulation,'gray' );
        //     }
        // }
    }
}

//header下方背景圖(毛玻璃效果)，此div不占位
section div.content {
    border:2px solid blue;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 0 30px;
    div.top_back_img_1 {
        position:relative;
        width:100%;
        z-index: -5;
        div.top_back_img_2{    
            width: 100%;
            height:421px;
            position:absolute;
            top:0;
            left:0;    
            border-radius: 0 0 $borderRadius $borderRadius;
            overflow: hidden;
            box-shadow: $box-shadow;
            img{
                width: 105%;
                filter: blur(4px); 
            }
        }
    }
}

//標題:客製商品-產品名稱
section div.content h5.title_2 {
    font-size: $h5;
    color: map-get($color_regulation,'blue');
    margin:0;
    padding: 60px;
    text-align: center;
}

section div.content{
    //頁面上半部:左圖 右購物
    div.all{
        width:100%;
        padding:0 53px;
        display: flex;
        //左側圖片與商品解說區
        div.leftarea{
            width:65%;
            // ===================================================================
            //左側 最上方 第一區
            div.leftarea_blockA{
              display:flex;
              width:100%;
              //左側 最上方 第一區 左邊
              div.leftarea_blockA_L{
                  width:50%;
                  overflow: hidden;
                  border-radius: $borderRadius;
                  position:relative;
                  box-shadow: $box-shadow;
                  img{
                      width:100%;
                  }
                  div.explain{
                      font-size: $p;
                      width:100px;
                      height:33px;
                      line-height: 33px;
                      text-align: center;
                      border-radius: $borderRadius;
                      position:absolute;
                      bottom:15px;
                      right:15px;
                      background-color: map-get($color_regulation,'white-bg' );
                      color:map-get($color_regulation,'blue');
                      //font-weight: 900;
                      box-shadow: $box-shadow;
                      background: hsla(0,0%,100%,.3); 
                  }
                } 
              //左側 最上方 第一區 右邊
              div.leftarea_blockA_R{
                width:50%;
                div.leftarea_blockA_R1{
                    display:inline-block;
                    width:48%;
                    overflow: hidden;
                    border-radius: $borderRadius;
                    margin-left: 2%;
                    position:relative;
                    box-shadow: $box-shadow;
                    img{
                        width:100%;
                    }
                    div.explain{
                        font-size: $p;
                        width:100px;
                        height:33px;
                        line-height: 33px;
                        text-align: center;
                        border-radius: $borderRadius;
                        position:absolute;
                        bottom:15px;
                        right:15px;
                        background-color:map-get($color_regulation,'white-bg');
                        color:map-get($color_regulation,'blue');
                        //font-weight: 900; 
                        box-shadow: $box-shadow;
                        background: hsla(0,0%,100%,.3); 
                    }
                }
                div.leftarea_blockA_R11{
                    margin-top: 3.2%;
                }
              } 
            }
            // ===================================================================
            //左側 上方 第二區 (客製商品區)
            div.leftarea_blockB{
                margin-top: 25px;
                width:100%;
                overflow: hidden;
                border-radius: $borderRadius;
                box-shadow: $box-shadow;
                padding:40px;
                // text-align: center;
                p.urstyle{
                        font-size: $h6;
                        color:map-get($color_regulation,'blue');
                        //font-weight: 900;
                        margin:0;
                        padding-top: 10px;
                }
                div.customized_area{
                    position: relative;
                    border-radius: $borderRadius;
                    // box-shadow: $box-shadow;
                    width:98%;
                    margin:0 auto;
                    margin-bottom: 25px;
                    margin-top:20px;
                    border:2px solid lightgray;
                    text-align: center;
                    overflow: hidden;
                    img.customized_img{
                        width:100%;
                    }
                    //上傳正面圖案
                    div.image_front{
                        width:26%;
                        height:35%;
                        position:absolute;
                        top:45%;
                        left:16.5%;
                    }
                    //上傳背面圖案
                    div.image_back{
                        width:13%;
                        height:17%;
                        position:absolute;
                        top:45%;
                        left:66%;
                    }
                    p.front{
                        font-size: 15px;
                        color:map-get($color_regulation,'blue');
                        display:inline-block;
                        margin:0 12% 10px auto;
                    }
                    p.back{
                        font-size: 15px;
                        color:map-get($color_regulation,'blue');
                        display:inline-block;
                        margin:0 auto 10px 12%;
                    }    
                }
                //左側 上方 第三區 (商品簡介區)
                p.aboutProducts{
                    font-size: $h6;
                    color:map-get($color_regulation,'blue');
                    //font-weight: 900;
                    margin:0;
                    padding-top: 40px;

                }
                div.leftarea_blockC{
                    margin-top: 20px;
                    width:100%;
                    // border-radius: $borderRadius;
                    // box-shadow: $box-shadow;
                    padding:10px;
                    // text-align: center;
                    p.textaboutProducts{
                        font-size: 15px;
                        color:map-get($color_regulation,'blue');
                    }
                }
            }
            // ===================================================================
            // ===================================================================
        }
        //右側選數量 上傳圖片 加入購物車區
        div.rightarea{
            width:34%;
            margin-left:1%;
            border-radius: $borderRadius;
            box-shadow: $box-shadow;
            background-color: map-get($color_regulation,'white-bg' );
            background: hsla(0,0%,100%,.6); 
            h5{
                font-size: $h5;
                color:map-get($color_regulation,'blue');
                margin:0;
                padding: 30px;
            }
            form.inforOfTheForm{
                width:80%;
                height:300px;
                margin: 0 10%;
                // 選色區
                div.color_block{
                    width:100%;
                    border-bottom: 1px solid map-get($color_regulation,'gray');
                    margin-bottom: 30px;
                    p.stepExplain{
                        font-size: $p;
                        font-weight: 900;
                        color:map-get($color_regulation,'blue');
                        display:block;
                    }
                    div.color_block1{
                        width:100%;
                        display:flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        div.ProductColor{
                            width:30%;
                            height:105px;
                            border-radius: $borderRadius;
                            box-shadow: $box-shadow;
                            overflow: hidden;
                            margin-bottom: 18px;
                            margin-right:3%;
                            div.theColor{
                                width:100%;
                                height:68%;
                                font-size: $p;
                                color:map-get($color_regulation,'blue');
                                .circleBtn{
                                    margin-top: 105%;
                                    display:inline-block;
                                }
                            }
                            div.theColor1{
                                background-color: lightyellow;
                            }
                            div.theColor2{
                                background-color: lightblue;
                            }
                            div.theColor3{
                                background-color: lightgreen;
                            }
                            div.theColor4{
                                background-color: pink;
                            }
                            div.theColor5{
                                background-color: map-get($color_regulation,'blue');
                            }
                        }
                    }
                }
                //上傳圖片區
                div.picture_block{
                    width:100%;
                    border-bottom: 1px solid map-get($color_regulation,'gray');
                    font-size: $p;
                    color:map-get($color_regulation,'blue');
                    //font-weight: 800;
                    margin-bottom: 30px;
                    p.stepExplain1{
                        color:map-get($color_regulation,'red');
                    }
                    div.picture_block2{
                        margin: 0px auto;
                        div.placement_of_product{
                            width:98%;
                            margin:0 auto;
                            padding:10px;
                            // margin-top: 20px;
                            div.placememtOfInput{
                                height:35px;
                                line-height: 35px;
                                background-color: map-get($color_regulation,'gray-input-hintText' );
                                color:map-get($color_regulation,'white-bg' );
                                border-radius: $inputRadius;
                                box-shadow: $box-shadow;
                                input.theFileBtn{
                                    width:100%;
                                    margin-left: 3%;
                                    height:32px;
                                    line-height: 32px;
                                    border-radius: $inputRadius;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
                //========================
                div.qty_block{
                    width:100%;
                    font-size: $p;
                    border-bottom: 1px solid map-get($color_regulation,'gray');
                    margin-bottom: 30px;
                    div.placememtOfQty{
                        width:98%;
                        margin:0 auto;
                        padding:10px;
                        select.select_qty_pcs{
                            width:100px;
                            height: 30px;
                            padding-left: 30px;
                            border-radius: $inputRadius;
                        }
                    }
                }
                //========================
                div.tal_block{
                    width:100%;
                    font-size: $p;
                    color:map-get($color_regulation,'blue');
                    margin-bottom: 30px;
                    div.placementOfTal{
                        width:98%;
                        text-align: right;
                        label.thePrice{
                            margin-right: 10%;
                        }
                    }
                }
                div.placeOfSubmit{
                    text-align: center;
                    button.btn_shopping_cart{
                        box-shadow: $box-shadow;
                        border-radius: $inputRadius;
                        width:145px;
                        height:35px;
                        line-height: 35px;
                        background-color:map-get($color_regulation,'blue');
                        color:map-get($color_regulation,'white');
                        position:relative;
                        padding-right: 10%;
                        cursor: pointer;
                        img{
                            height:90%;
                            border-radius: 50%;
                            position:absolute;
                            top:50%;
                            right:8%;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }


        // ===================================================================
        // ===================================================================
    }


    //頁面下半部:推薦商品區
    div.bottomarea{
        margin-bottom: 112px;
        width:100%;
        border-radius: $borderRadius;
        box-shadow: $box-shadow;
        margin-top: 25px;
        padding-bottom: 25px;
        div.recommendProductBox{
            width:95%;
            margin:0 auto;
            display:flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content:space-around;
            div.recommendProduct{
                width:22%;
                // display:inline-flex;
                border-radius: $borderRadius;
                box-shadow: $box-shadow;
                margin:0 auto;
                overflow: hidden;
                position:relative;
                img{
                    width:100%;
                }
                div.productInfo{
                    width:100%;
                    height:43%;
                    position:absolute;
                    bottom:0;
                    left:0;
                    background-color: map-get($color_regulation,'white-bg' );
                    background: hsla(0,0%,100%,.4);
                    padding:5%; 
                    p.NameAndPrice{
                        font-size: $p;
                        //font-weight: 900; 
                        color:map-get($color_regulation,'blue');
                        display:inline-block;
                        margin:3% 10% 3% 0;
                    }
                    p.text{
                        font-size: $p;
                        color:map-get($color_regulation,'blue'); 
                        margin-top: 0;
                        overflow: hidden;        //內容溢出處理
                        text-overflow: ellipsis; //文字溢出處理
                        white-space:nowrap;      //文字超出時不換行
                    }
                    img.cart{
                        position:absolute;
                        bottom:15px;
                        right:15px;
                        width:33px;
                        height:33px;
                        border-radius: 50%;
                        box-shadow: $box-shadow;
                    }
                }
            }
            div.B{
                margin-left: 1.33%;
            }
        }
    }
}


    
