//====================  Import   var
@import 'var';

body{
    main{
        margin: 0;
        background-color: #F6F6F6;
        overflow-y: hidden;
        margin-top: 5%;

    }
    
    h5{
        position: absolute;
        transform: rotate(90deg); 
        font-weight: bold;
        font-size: $h4;
    }
    main{
        padding: 60px;
        display: flex;
        height: 100%;
        max-width: 1280px;
        margin: auto;
        .genInfor{
            width:30%;
            .personBlock{
                height:40vh;
                margin-right: 13px;
                margin-bottom:13px;
                padding: 10px;
                border-radius: $borderRadius;
                box-shadow: $box-shadow;
                .proTopBlock{
                    display: flex;
                    align-items: center;
                    height: 50%;
                    position: relative;
                    margin-top: 25px;
                    img{
                        margin:10px;
                        margin-top:10px;
                        border-radius: 50%;
                    }
                    button{
                        position:absolute;
                        bottom: 0px;
                        // transform: translate();
                        left:110px;
                        border-radius: 50%;
                        width: 40px;
                        height:40px;
                        border:none;
                        cursor: pointer;
                        background-color: rgb(240, 240, 240);
                        &:hover{
                            box-shadow:1px 1px 6px rgba(0, 0, 0, 0.342);
                        }
                    }
                    span{
                        font-size: $h7;
                        p{
                            font-size: $p;
                        }
                    }
                }
                .proBtnBlock{
                

                    // background-color:coral;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 50%;
                    textarea{
                        overflow: auto;
                        height:100px;
                        width: 250px;
                        padding: 5px;
                        margin-right: 10%;
                        outline: none;
                        resize:none;
                        border:1px solid #1D1E4C;
                        border-radius: $borderRadius;
                    }
                    button{
                        border: none;
                        appearance: none;
                        background-color: #ffffff00;
                        outline: none;
                        cursor: pointer;
                        border-radius: 50%;
                        width: 40px;
                        height:40px;
                        // border: 1px solid #1D1E4C;
                        background-color: rgb(240, 240, 240);
                        &:hover{
                            box-shadow:1px 1px 6px rgba(0, 0, 0, 0.342);
                        }
                    }
                }
            }
            .cumulativeBlcok{
                padding: 0 3%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: stretch;
                height:40vh;
                margin-right: 13px;
                button{
                    margin-right: 5px;
                    border:1px solid #1D1E4C;
                    border-radius: 15px;
                    padding: 0 5px;
                    height: 30px;
                    outline: none;
                    cursor: pointer;
                }
            }
        }
        .memberContent{
            padding: 30px;
            width:100%;
            border-radius: $borderRadius;
    //         background-image: url('../img/MemberBgImg.png'),linear-gradient(map-get($map: $color_regulation, $key: 'blue'),map-get($map: $color_regulation, $key: 'blue'));
    // background-origin: border-box;
            .tab{
                display: flex;
                justify-content: space-around;
                border-bottom: 1px solid #BEBEBE;
                padding-bottom: 30px;
                button{
                    margin-right: 5px;
                    // appearance: none;
                    border:1px solid #1D1E4C;
                    border-radius: 15px;
                    padding: 0 15px;
                    height: 30px;
                    outline: none;
                }
            }
            .expContent{
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: auto;
                .expDescription{
                    width:30%;
                    margin-right: 30px;
                }
                .expExchange{
                    width: 60%;
                    height:450px;
                    // overflow: auto;
                    margin-top: 5%;
                    padding-right: 10px;
                    border-radius: 15px;

                    .excBlcok{
                        background-color: #A2A2A2;
                        position: relative;
                        max-width: 800px;
                        margin: 0 auto;

                        // 直線
                            &::after{
                                content: '';
                                position: absolute;
                                width: 6px;
                                background-color: white;
                                top: 0;
                                bottom: 0;
                                left: 20%;
                                margin-left: -3px;
                                box-shadow:1px 1px 6px rgba(0, 0, 0, 0.342);

                            }
                        .expPart{
                            padding: 1px 40px;
                            position: relative;
                            background-color: inherit;
                            width: 50%;
                            &::after{
                                content: '';
                                position: absolute;
                                width: 25px;
                                height: 25px;
                                right: -17px;
                                background-color: white;
                                border: 4px solid #EF4325;
                                top: 15px;
                                border-radius: 50%;
                                z-index: 1;
                                box-shadow:1px 1px 6px rgba(0, 0, 0, 0.342);
                            }
                        }
                    }
                }
            }
        }
    }
}

.expRight {
    left: 20%;
    &::after{
        left: -16px;
    }
}
@media screen and (max-width: 600px) {
    .excBlcok::after {
    left: 31px;
    }
    .expPart {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    .expPart::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
    .expRight::after {
    left: 15px;
    }
    .expRight {
    left: 0%;
    }
  }

#orderRecord{
    .orderBlock{
        height: calc(80vh - 120px);
        overflow: auto;
        padding-right: 10px;
        select{
            border:1px solid #1D1E4C;
            border-radius: 5px;
            outline: none;
        }
        table{
            margin-top: 30px;
            width: 100%;
            text-align: left;
            border:1px solid#1D1E4C;
            border-radius: 15px;
            padding: 10px;
            .thead{
                text-align: center;
            }
            .proItemDetail{
                height: 300px;
                overflow: hidden;
            }
        }
    }
    
}

#memInfo{
    div.memInfoContent{
        display: block;
        height: 100%;
        font-size: $p;
        h3{
            text-align: center;
            color: map-get($map: $color_regulation, $key: 'white');
            font-size: $h5;
            padding: 10px 0px 0px 10px;
        }
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            ul{
                list-style-type: none;
                padding: 0;
                li{
                    color: map-get($map: $color_regulation, $key: 'white');
                }
            }
        }    
    }
}

button.tabLinks{
    div.btnDisCon{
        display: flex;
        justify-content: space-between;
        padding: 0 1%;
    }
    span{
        &:active{
            color: map-get($map: $color_regulation, $key: 'white');
        }
        &:first-child{
            flex-grow: 0;
        }
        i{
            background-color: black;
            color: map-get($map: $color_regulation, $key: 'white');
            padding: 5px 4px 4px 7px;
            border-radius: $borderBtnRadius;
        }
       line-height: $lineHeight;
    }
}
button.active{
    background-color: map-get($map: $color_regulation, $key: 'orange1');
    span{
        color: map-get($map: $color_regulation, $key: 'white');
        line-height: $lineHeight;
    }
}

#btnDisCon1{
    span{
        i{
            background-color: map-get($map: $color_regulation, $key: 'btnPink');
        }
    }
}

#btnDisCon2{
    span{
        i{
            background-color: map-get($map: $color_regulation, $key: 'btnBlue');
        }
    }
}

#btnDisCon3{
    span{
        i{
            background-color: map-get($map: $color_regulation, $key: 'btnPeach');
        }
    }
}

#btnDisCon4{
    span{
        i{
            background-color: map-get($map: $color_regulation, $key: 'btnYellow');
        }
    }
}

#btnDisCon5{
    span{
        i{
            background-color: map-get($map: $color_regulation, $key: 'btnRed');
        }
    }
}

#btnDisCon6{
    span{
        i{
            background-color: map-get($map: $color_regulation, $key: 'btnTiffanyGreen');
        }
    }
}
#underNoBorder{
    box-shadow: none;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

.btnDisCon2Sty{
    background-image: url('../../dist/img/MemberBgImg.png'),linear-gradient(map-get($map: $color_regulation, $key: 'blue'),map-get($map: $color_regulation, $key: 'blue'));
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 35%, 100%;
}
div#memExp{
    div.expContent{
        div.expDescription{
            color: map-get($map: $color-regulation, $key: 'white');
            font-size: $p;

            h3{
                color: map-get($map: $color-regulation, $key: 'white');
                font-size: 1.17em;
                }
            }
    }
}
.btnConMemInfo{
    background-image: url('../../dist/img/member-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
div#memInfo{
    div.memInfoContent{
        ul#memInfoContentLft{
            padding:0 20%;
            li{
                display: flex;
                justify-content: space-between;
                background-color: rgba(0, 0, 0, 0.3);
                border-radius: $borderRadius;
                margin-bottom: 5%;
                padding: 2% 3%;
                position: relative;
                div{
                    color: map-get($map: $color_regulation, $key: 'white');
                }
            }
        }
    }
}
div#memPage{
    padding-top: 60px;
}
button.tabLinks{
    border-radius: $borderRadius;
    box-shadow: $box-shadow;
    border: none !important;
}
.cumulativeBlcok{
    padding: 0 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    height:40vh;
    margin-right: 13px;
    button{
        margin-right: 5px;
        border:1px solid #1D1E4C;
        border-radius: 15px;
        padding: 0 5px;
        height: 30px;
        outline: none;
        cursor: pointer;
    }
}
